[2020-02-23 21:57] #229 closed, assigned to meenakshi-dhanani

[2020-02-23 22:01] #191 closed, assigned to nobody

[2020-02-24 09:31] sara-02 commented on #233
@BadduCoder I did the same. But something did not work, I finally had to switch off the 2 step Auth.
Do look into it and see if these steps work as expected.

[2020-02-24 12:52] srivastava9 commented on #424
Can I work on this @isabelcosta ?

[2020-02-24 23:23] isabelcosta commented on #359
No idea of how this can be done, but if anyone wants to try 🤷🏾‍♀️ you go ahead!

[2020-02-25 06:38] naveennvrgup commented on #419
@isabelcosta  Is this issue still open? I would like to work on this (I am a first timer)

[2020-02-25 12:13] Prakash-sa opened #458 "fix: TypeError: can't concat Nonetype to bytes when you request for sign up."
**Describe the bug**
When you request for sign up you get  TypeError: can't concat Nonetype to bytes .

**To Reproduce**
Steps to reproduce the behavior:
1. Run server locally.
2. Request from mobile app in Sign up activity.
3. Click on Signup button
4. See error

**Expected behavior**
Response code should be 200.

**Screenshots**

![IMG_20200225_100806](https://user-images.githubusercontent.com/3

[2020-02-25 12:32] srivastava9 commented on #437
@isabelcosta could you please review the pr :)

[2020-02-25 14:10] sPredictorX1708 commented on #447
@isabelcosta  can I work on this issue?

[2020-02-25 15:18] naveennvrgup commented on #420
Please assign this issue to me

[2020-02-25 17:26] Shashankjain12 commented on #432
hello @isabelcosta  can i work on this issue?

[2020-02-25 18:14] isabelcosta commented on #458
@Prakash-sa for another contributor to be able to reproduce your bug, they will need to use the same request body you used to sign up a user and mimic the same conditions. can you please provide more context?

[2020-02-25 18:20] isabelcosta commented on #419
@naveennvrgup Yes, you can work on this :) I'm glad you notice the `First Timers Only` label and understand what it is about :)
I will review your PR, once I have the chance

[2020-02-25 18:32] Prakash-sa commented on #458
@isabelcosta done.

[2020-02-25 18:41] isabelcosta commented on #458
@Prakash-sa what I meant by request body is the payload:
[code]
So what are the values of this request body. I know you did this through the android application, so so if you could let us know about the input you've given to the Register screen, that would be great :)
As of now, I don't know how to reproduce your bug right now, since I want to test with the same exact data you did.

[2020-02-25 18:47] isabelcosta commented on #448
@BadduCoder i don't understand anymore, should it be 200 or 201? 😅 what should we add to the issue?

[2020-02-25 18:51] isabelcosta commented on #432
Sure go ahead @Shashankjain12 :)

[2020-02-25 18:55] isabelcosta commented on #447
@dubesar sure you can :)

[2020-02-25 19:05] Prakash-sa commented on #458
@isabelcosta  my bad.
This is the request code :-
{
   "email":"prakashuu@gmail.com",
   "terms_and_conditions_checked":true,
   "available_to_mentor":true,
   "name":"Prakash Saini",
   "need_mentoring":false,
   "password":"123456789",
   "username":"sainiit"
}

[2020-02-25 19:12] isabelcosta commented on #458
that info should be on the issue description ;)
I just tested `develop` branch code locally, with your data and I have not got an error 🤔
You must have received an email recently, pointing to localhost:5000.

![image](https://user-images.githubusercontent.com/11148726/75279000-c0708580-5802-11ea-8545-20fa27537367.png)

[2020-02-25 19:34] Prakash-sa commented on #458
@isabelcosta I am trying to figure out why i am geting error with the same response code.
![Screenshot from 2020-02-26 00-51-36](https://user-images.githubusercontent.com/35262074/75280046-b9fa0200-5832-11ea-93ab-eab876c743a9.png)

[2020-02-25 20:02] isabelcosta commented on #458
I suspect that you may have your environment variables wrongly set. Here's the documentation:https://github.com/anitab-org/mentorship-backend/wiki/Environment-Variables @Prakash-sa

[2020-02-25 20:05] sumit-badsara commented on #458
Yes @isabelcosta @Prakash-sa this is definitely issue due to empty value of env variables.
@Prakash-sa Just create .env from the .env.template provided and assign them the values otherwise export them in the environment. Documentation link is provided by @isabelcosta. Check that out!

[2020-02-25 20:07] Prakash-sa commented on #458
@isabelcosta @BadduCoder thanks I got he error. My email password is wrong. Thanks for figure this out.

[2020-02-25 20:07] #458 closed, assigned to nobody

[2020-02-25 20:09] sumit-badsara commented on #448
What I wanted to point out was `Creating Task` and `Creating Task Comment`, both should return 201 instead they both return 200.
But this issue only pointed out one out of these. It can be changed to include both the changes.

Creation of any resource should result in status code 201 (Be it task or task comment).
Does this make sense? I hope I am not over complicating this :sweat_smile:

[2020-02-25 20:43] isabelcosta commented on #458
Glad you solved the issue here on GitHub! This can be very useful for future contributors 🤗

[2020-02-25 21:37] sumit-badsara commented on #233
@sara-02 could you tell me what error are you getting and what steps have you followed ?

[2020-02-26 06:56] Prakash-sa commented on #458
😊 Thanks.

[2020-02-26 11:03] jotharman commented on #343
@isabelcosta I am a first-timer. Can I take up this issue?

[2020-02-26 15:30] lorryaze commented on #403
Hi @isabelcosta can I work on this issue?

[2020-02-26 20:19] SanujBansal commented on #449
@isabelcosta I tried returning a dictionary with error message stated but while debugging i found that due to us using mashal_list_with functionality from flask for returning json array of mentorship relations we cannot do much about it without replacing the logic for returning relations.
![Screenshot from 2020-02-27 01-42-17](https://user-images.githubusercontent.com/32351832/75383513-779ff600-59

[2020-02-26 20:40] SanujBansal commented on #447
@isabelcosta can i take up this issue?

[2020-02-26 20:42] srivastava9 commented on #448
@BadduCoder @isabelcosta Can I update the pr to also return 201 for creating task also?

[2020-02-27 00:23] mtreacy002 opened #461 "Prevent user data to be written to database when POST Register User Failed"
**Describe the bug**
Create user using POST Register adds data to database when the HTTP response is not 200. This is found when local database is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you set FLASK_ENVIRONMENT_CONFIG to local in ".env".
2. Run python run.py from the terminal.
3. Go to the link created by step above.
4. Go to 'POST/register' and add user (that is no

[2020-02-27 00:44] isabelcosta commented on #461
@mtreacy002 I knew this issue already but did not have time to report the issue.
So thank you so so much for reporting this bug, following our template to the fullest and providing the detailed context of the problem! 🎉 🙌  Very good issue description 👏

[2020-02-27 00:47] mtreacy002 commented on #461
Thanks for the comment, @isabelcosta. I'm glad I could give a bit of support.

PS: When I tried to Login using the wrong credentials that created from the process above, it responded with HTTP 403 as email is not yet confirm. This email I believe will never be sent to the user as the registration process is failed.
![Screen Shot 2020-02-27 at 11 41 51 am](https://user-images.githubusercontent.com/

[2020-02-27 00:48] mtreacy002 commented on #461
@isabelcosta, Is it ok if I try to work on this issue?

[2020-02-27 00:49] isabelcosta commented on #461
@mtreacy002 go ahead :D thank you so much for contributing 🙌

[2020-02-27 01:43] mtreacy002 commented on #461
@isabelcosta, can I confirm that currently we don't have password validation stated anywhere in the project? I have checked 'app/utils/validation_utils.py' and can't see one that check password pattern/regex. It seems like we only consider the length of the password (between 8-25). Is it intended or should I add some regex validation for password. If we choose the later, what would the requirement

[2020-02-27 04:13] lorryaze commented on #428
Hi @isabelcosta can I take up this issue?

[2020-02-27 04:20] lorryaze commented on #428
Hi @isabelcosta  can I take up this issue?

[2020-02-27 06:20] SanujBansal commented on #444
@isabelcosta can I work on this issue?

[2020-02-27 14:24] mtreacy002 commented on #461
@isabelcosta, after debugging the code I found out that the culprit is not on the data creation itself, but when sending email confirmation.

<img width="713" alt="Screen Shot 2020-02-28 at 1 13 50 am" src="https://user-images.githubusercontent.com/29667122/75453213-aaf88880-59c7-11ea-99be-5ff9a9206d59.png">

The error was caused by the Gmail '**Less secure app access**' was set to 'OFF' (I had al

[2020-02-27 22:32] isabelcosta commented on #428
@lorryaze sure you can work and submit a pull request

[2020-02-27 22:45] isabelcosta commented on #444
Sure @SanujBansal :)

[2020-02-27 23:09] mtreacy002 commented on #461
I was curious and looked at Front-End. It seems like this issue also related to [issue#105](https://github.com/anitab-org/mentorship-android/issues/105) on Front-End. It will be helpful if we could send error message to user to inform them why they haven't received the email (which 2 settings above being the potential issue).

[2020-02-27 23:10] isabelcosta commented on #461
I understand this as an issue (documented on #233), but this is on the developer's gmail account settings. So the error being on the server's part, the user should not be created if the "email sending" functionality is failing. So I think we do have to avoid that the user creation if we detect, email failed to be sent.

About this I think we should not return a error message mentioning the setup o

[2020-02-27 23:12] isabelcosta commented on #461
What do you think should be done?

[2020-02-27 23:14] isabelcosta commented on #447
@dubesar are you going to work on this? If yes, I can wait for your submission, if not let us know so other contributors can work on it.
cc @SanujBansal

[2020-02-27 23:16] isabelcosta commented on #448
@BadduCoder Makes total sense :) thank you for clarifying, I learned something new here :)
I think you have write access to change the issue description, or am I wrong? I can change though

[2020-02-27 23:16] isabelcosta commented on #448
Sure, do that as @BadduCoder said ;)

[2020-02-27 23:25] mtreacy002 commented on #461
Yep, I agree that preventing user from being recorded is the way to go. I think we might have to swift the data validation fields to the front-end so only correct data will be process by the backend (maybe like disabling Register button until the correct data are inserted). Once the data is correct, user is allowed to click Register (Register button enabled). This also helps reduce server workload

[2020-02-27 23:32] mtreacy002 commented on #233
@sara-02, I came across this issue as well (issue #461) and found out that the problem lies with the 'Less secure app access" need to be 'ON'. I'm not sure if this is the same in your case, you might want to give it a try.

[2020-02-27 23:37] mtreacy002 commented on #233
@sara-02, I had this issue as well (#461) and switching 'OFF' 2 step verification and switch 'ON' Less secure app access fixed it for me. But I noticed you mentioned this already been done in your previous post.

[2020-02-28 00:27] mtreacy002 commented on #461
On second thought, we might not need to test send email at all, but just catch the error received as the result of sending verification email and show error message as you said. If this is pass, then we record the data.

Sorry for all the long posts above. Just thinking outloud here, 😄. I'll start doing the work now... 😊

[2020-02-28 00:58] mtreacy002 commented on #461
Done. The server now won't record data when verification email failed to send.
An error message also will be displayed to user. Will push this to repo soon.

<img width="567" alt="Screen Shot 2020-02-28 at 11 59 13 am" src="https://user-images.githubusercontent.com/29667122/75500671-c6907d00-5a21-11ea-9462-75acb94e4b06.png">

[2020-02-28 01:11] lorryaze commented on #428
Isabel, as I can't open a pull request for the mentorship-backend wiki and I'm not allowed to change it on the master, I thought about making the wiki changes in another repository and then merge it. Do you think this is a good idea? I'm asking this because I belive that I need change the [Fork, Clone & Remote
](https://github.com/anitab-org/mentorship-backend/wiki/Fork,-Clone-&-Remote) for exampl

[2020-02-28 03:57] sPredictorX1708 commented on #447
@isabelcosta  I am not able to give time. It's okay if somebody wants to work on it.

[2020-02-28 12:12] isabelcosta commented on #447
No problem at all! You can help on other issues later if you want to :)
Thank you so much for letting us know @dubesar. I really do appreciate it 🙌

[2020-02-28 12:54] isabelcosta commented on #428
No need to worry about the Wiki, for this issue :) You can just edit the README.md for now and send a Pull Request for it @lorryaze
Thank you for clarifying your doubts 🙌

[2020-02-28 13:04] mtreacy002 opened #464 "Add Black to help simplify code refactoring to PEP8 standard"
**Is your feature request related to a problem? Please describe.**
I'm wondering if we could implement a reformatting tool to help refactor code to comply with pycodestyle (aka PEP8) standard. This will help save time and make us more productive in our app development.

**Describe the solution you'd like**
We could try adopting [black](https://github.com/psf/black) that not only can help us check

[2020-02-28 14:28] mtreacy002 commented on #464
I have tested and created PR with codes refactored using black.

- codacy - number of issued before refactoring:

<img width="807" alt="Screen Shot 2020-02-29 at 1 16 45 am" src="https://user-images.githubusercontent.com/29667122/75556674-bfee1e00-5a92-11ea-8309-bb5d6a183934.png">

- codacy - number of issues after refactoring:

<img width="814" alt="Screen Shot 2020-02-29 at 1 06 26 am" src="http

[2020-02-28 14:29] mtreacy002 commented on #464
@isabelcosta, can you please share your thoughts on this? Thanks.

[2020-02-28 20:21] srivastava9 commented on #424
Hey @isabelcosta ,could you please confirm may i work on this issue ?
Thanks :)

[2020-02-28 20:23] isabelcosta commented on #424
Sure @srivastava9 go ahead :)

[2020-02-28 20:43] sumit-badsara commented on #448
@isabelcosta Updated the PR comment. :+1:

[2020-02-29 21:48] yukienomiya commented on #428
Hi, is this issue still taken? Can I work on it?

[2020-03-01 06:06] SanujBansal commented on #447
@isabelcosta Thank you for letting me work on this as my first contribution. Please check the PR #460  linked to this issue.

[2020-03-01 20:09] vatsalkul opened #466 "Setup instructions are not clear for hosting server locally"
## Description
As a developer, I need to setup the working environment, so that I can play with code and suggest some features/updates in the project

As of now, It is not clear in README.md file that how can we host the backend server as well as build the android app locally.

## Acceptance Criteria
### Update [Required]
- [x] Update Readme file
- [x] Also add relevant links to learn about projec

[2020-03-02 20:44] isabelcosta commented on #428
@lorryaze do you have any update about your work? Have you started already?
@yukienomiya lets see if we get an answer, and if not, then you can work on it

[2020-03-02 20:47] lorryaze commented on #428
I'm sorry for the delay Isabel, I will submit my PR today.

Em seg, 2 de mar de 2020 17:44, Isabel Costa <notifications@github.com>
escreveu:

[2020-03-02 21:36] isabelcosta commented on #428
No problem @lorryaze , just wanted to know if you were still interested. If you were not, I just would need you to let me know, but I would find no problem with that :)

[2020-03-02 21:40] isabelcosta opened #468 "Remove unecessary comments"
## Description

There is some unnecessary comment in `app/schedulers/complete_mentorship_cron_job.py` file.
These should be removed

## Acceptance Criteria
### Update [Required]
- [ ] Remove uncessary comments from `app/schedulers/complete_mentorship_cron_job.py`

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
30 min

[2020-03-02 21:49] #383 closed, assigned to nobody

[2020-03-03 16:55] sumit-badsara commented on #233
Ohkay!
@mtreacy002 just try this once and tell me if this works:
1. Go to https://myaccount.google.com/
2. Go to **Security**
3. Turn on **2-Step Verification**
4. Come back to **Settings**
5. Go to **App Passwords**
6. **Generate** a new password (app: *Mail*, device:*Any*)
7. Copy that **password** and use it as password in .env file.

LESS SECURE APPS: **OFF**
2 FACTOR AUTH: **ON**

Just try th

[2020-03-03 17:01] satya7289 commented on #449
@isabelcosta I want to work on this issue.

[2020-03-03 17:03] satya7289 commented on #444
@isabelcosta Is the issue available? I want to work on this

[2020-03-03 17:05] satya7289 commented on #420
@isabelcosta I want to work on this issue

[2020-03-03 18:10] isabelcosta commented on #420
@naveennvrgup i'm sorry for my delay in responding. Are you working on this or still interested? If not, since you were the first asking, you can work on this if you wish. If you won't work on this, please let me know so @satya7289 can work on it.

[2020-03-03 18:15] #428 closed, assigned to nobody

[2020-03-03 18:39] sayashraaj commented on #468
I am interested

[2020-03-03 18:42] isabelcosta commented on #468
Go ahead @sayashraaj :)

[2020-03-03 18:43] #454 closed, assigned to isabelcosta

[2020-03-03 18:56] isabelcosta opened #471 "Create Quality Assurance table for Email Confirmation API"
## Description

As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table to the docs in the `/docs` folder.

## Acceptance Criteria
### Update [Required]
- [ ] Add test c

[2020-03-03 18:58] isabelcosta opened #472 "Create Quality Assurance table for Create Task API"
## Description

As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table to the docs in the `/docs` folder.

## Acceptance Criteria
### Update [Required]
- [ ] Add test c

[2020-03-03 18:59] isabelcosta opened #473 "Create Quality Assurance table for Update Task API"
## Description

As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table to the docs in the `/docs` folder.

## Acceptance Criteria
### Update [Required]
- [ ] Add test c

[2020-03-03 19:02] isabelcosta opened #474 "Create Quality Assurance table for Delete User API"
## Description

As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table to the docs in the `/docs` folder.

## Acceptance Criteria
### Update [Required]
- [ ] Add test c

[2020-03-03 19:04] isabelcosta opened #475 "Create Quality Assurance table for Refresh token API"
## Description

As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table to the docs in the `/docs` folder.

## Acceptance Criteria
### Update [Required]
- [ ] Add test c

[2020-03-03 19:05] isabelcosta opened #476 "Create Quality Assurance table for Delete task API"
## Description

As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table to the docs in the `/docs` folder.

## Acceptance Criteria
### Update [Required]
- [ ] Add test c

[2020-03-03 22:21] lorryaze commented on #344
Can I work on this?

[2020-03-03 22:26] isabelcosta commented on #344
@lorryaze I am noticing now that i think this was solved with PR #405 , I can leave this open for you to improve even more. Is there anything you think could be added to the file mentioned in the issue?

[2020-03-03 22:52] lorryaze commented on #344
No problem, I will take a look and if I find something that can be included I will let you know! :)

[2020-03-03 22:53] lorryaze commented on #471
Can I try this?

[2020-03-03 23:12] isabelcosta commented on #471
@lorryaze thank you for your interest here. Because you already did a contribution to this project, it would be best to leave this to new contributors (because of the "First timers only" label). But if you have something in mind that could help the next contributor feel free to share it here.

[2020-03-04 00:05] #419 closed, assigned to nobody

[2020-03-04 01:13] mtreacy002 opened #477 "Bug: mismatch mentor/mentee availability on My Profile and Send Request"
**Describe the bug**
When user A is mentee and want to send request to user B who is a mentor, an error message will appear and states that the request is not possible as both users are a mentor.

Related to issue [#614 Android](https://github.com/anitab-org/mentorship-android/issues/614)
**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 users, A available to mentee only the B availabl

[2020-03-04 05:12] mtreacy002 commented on #233
Thanks, @BadduCoder. I gave it a try as you suggested above, and it works!! 👍.

[2020-03-04 13:21] isabelcosta commented on #471
@lorryaze I thought about this, I think it would be useful to have a first example of how this type of documentation contribution would work, and serve as an example for future contributors. So i removed the first timers only label. Do you still want to contribute to this? Feel free to do so and ask any questions you might have about how to come up with such example :)

[2020-03-04 15:26] srivastava9 commented on #448
I have made the pr could you please review it? Changes as suggested by @BadduCoder such as updating docs and test was also there

[2020-03-04 15:28] srivastava9 commented on #448
I have made the pr could you please review it.Changes suggested by @BadduCoder such as updating docs and test cases have already been made.
@isabelcosta @BadduCoder Could you please review it?

[2020-03-04 15:29] srivastava9 commented on #437
@isabelcosta  I have again tested as you said could you review the pr once again. Thanks :)

[2020-03-04 18:53] satya7289 commented on #420
@isabelcosta I have created a pull request 479 for this issue. Please review

[2020-03-04 19:08] #468 closed, assigned to sayashraaj

[2020-03-04 21:26] isabelcosta commented on #464
I agree with anything that makes the code better to read and according to best practices.
I am currenlty testing the PR. @mtreacy002

[2020-03-04 21:28] isabelcosta commented on #464
I had no idea about this `black` tool. I totally learned something new here :D @mtreacy002

[2020-03-04 21:51] #464 closed, assigned to nobody

[2020-03-04 22:40] isabelcosta commented on #233
@BadduCoder @mtreacy002 @sara-02 @ashar-7 I was thinking that there are some issues that could be documented in a doc as markdown file inside the docs folder. Something dedicated to troubleshooting some common problems developers face. I see this as one of them. I will create an issue for it.

[2020-03-04 22:46] isabelcosta opened #480 "Create document for troubleshooting problems, starting with email setup of backend"
## Description

As a developer,
I need to be aware of common issues faced with setting up the project,
so that I can quickly troubleshoot these issues.

This #233 currently documents common issue developers face when setting up the email for the backend to email users.

There could be a file called `troubleshoot.md` under `/docs` folder.

## Acceptance Criteria
### Update [Required]
- [ ] Create `

[2020-03-04 22:50] isabelcosta commented on #403
Sorry for the delay in my response @lorryaze I think you are already occupied with other issues, so I will keep this available. Also because there are no updates from @Juhi-Purswani

[2020-03-05 03:02] lorryaze commented on #471
Yes I will try work on this, I sorry for the delay.

[2020-03-05 05:05] satya7289 commented on #403
May I work on this issue @isabelcosta

[2020-03-05 08:13] Juhi-Purswani commented on #403
@isabelcosta apologies for the dealy, wasn't able to work due to some reasons. But i have worked on the issue, will submit the PR in a day

[2020-03-05 19:17] isabelcosta commented on #471
no worries at all @lorryaze :)

[2020-03-05 20:03] isabelcosta opened #481 "API versioning"
## Description

initially brought up by @annabauza

Before implementing this I think it's important to think about this solution, so before submitting a PR for this, please let us know what you intend to do for this.

Flask RESTplus allows using Blueprints: https://flask-restplus.readthedocs.io/en/stable/scaling.html#use-with-blueprints

## Acceptance Criteria
### Update [Required]
- [ ] Come with

[2020-03-05 20:45] m-murad commented on #476
Closing this.
Refer to [this](https://github.com/anitab-org/mentorship-android/issues/212#issuecomment-595430447) for more info.

[2020-03-05 20:45] #476 closed, assigned to nobody

[2020-03-05 20:45] m-murad commented on #474
Closing this.
Refer to [this](https://github.com/anitab-org/mentorship-android/issues/212#issuecomment-595430447) for more info.

[2020-03-05 20:46] #474 closed, assigned to nobody

[2020-03-05 22:36] isabelcosta opened #482 "Improve the description of the app on the Swagger UI docs"
## Description

As a contributor,
I need some more description on Swagger docs,
so that I can easily understand what the app is about.

Maybe you could add the link to the wiki, and the full description of the app, link to Android app.
These are just ideas.. I'm not sure what is the best, but I know this can definitely contain some more information.

## Mocks

I tried this out myself, staying some

[2020-03-06 19:56] #312 closed, assigned to nobody

[2020-03-07 12:23] isabelcosta commented on #420
@satya7289 I edited the description so it's more clear just like I told you in your PR ;)

[2020-03-07 20:36] mtreacy002 opened #483 "Adding black command to docker-travis script to run automatically on each commit"
## Description
As a developer, I would like it if code can be refactored to PEP8 standard automatically every time I commit.
I need to add black to the script within docker/travis,
so that I can ensure code quality of my code changes.
Note: Good reference to start with: https://docs.travis-ci.com/user/docker/#pushing-a-docker-image-to-a-registry

## Mocks)

If we can do this, we can prevent issues

[2020-03-08 16:54] isabelcosta opened #484 "Add environment variables documentation from wiki to docs folder"
## Description

As a developer,
I need know what every environment variable means and what is it used for,
so that I can properly set them up.

The idea is to add the documentation about the [environment variables](https://github.com/anitab-org/mentorship-backend/wiki/Environment-Variables) on the repo itself instead of just the Wiki, so that is can be modified by contributors easily.

## Acceptan

[2020-03-08 23:21] #198 closed, assigned to nobody

[2020-03-09 00:15] bartekpacia opened #486 "Figure out how to write tests database migrations"
**Is your feature request related to a problem? Please describe.**
As the title says. We need some way to make sure that database migrations won't corrupt data in any way.

**Additional context**
see #335 which added basic support for db migrations.

[2020-03-09 00:17] isabelcosta commented on #486
indeed we need!

[2020-03-09 00:56] isabelcosta opened #487 "http 500 when sending an request without containing the logged user"
**Describe the bug**

When I tried sending a mentorship request, where the user was not involved not as a mentor nor as a mentee, I got the error 500.

**To Reproduce**

Have at least 3 users signed in.
Make User 1 send request with mentor and mentee id, of User 2 and User 3 (not including User 1)

Steps to reproduce the behavior:
1. Log in as User 1
2. Send request using IDs from existing users (

[2020-03-09 05:47] naveennvrgup commented on #420
Sorry for the delayed response. I am happy that @satya7289 did the task

[2020-03-09 05:50] naveennvrgup commented on #487
I would like to work on this issue

[2020-03-09 09:50] isabelcosta commented on #487
sure @naveennvrgup go ahead :)

[2020-03-09 09:52] isabelcosta commented on #420
@naveennvrgup no problem! you were assigned another issue you commented on :)

[2020-03-09 12:59] sumit-badsara commented on #480
I can add the section, which troubleshoots the signin attempt blocked by google.
and provide alternate options for it maybe.

[2020-03-09 13:23] isabelcosta commented on #480
Sure @BadduCoder I will assign this to you :) Looking forward to seeing this troubleshoot documentation that can help future contributors 🎉

[2020-03-09 22:53] isabelcosta commented on #233
OMG I just found another little step that made this go away at least for my Heroku deployment. Its here: https://www.twilio.com/blog/2018/03/send-email-programmatically-with-gmail-python-and-flask.html 🙌

These 2 steps

![image](https://user-images.githubusercontent.com/11148726/76264132-c6318680-6258-11ea-88a6-33725a31ed11.png)

[2020-03-10 07:46] naveennvrgup commented on #487
@isabelcosta I have tried to reproduce the bug by creating 3 users and doing the request as u have described in the issue. But everthing seems to work fine.

**I got the exact same error message  when i tried to make the request with a user that doesnot exist in the database.**  I feel like the description and what I have found doesn't match. Please correct me if I am wrong. :)

[2020-03-10 09:42] naveennvrgup commented on #487
I have added a check to find wheather the user_id actually exists in the database. This fixes the above error. Also no testcases are available for the **/mentorship_relation/send_request** API. So, I will write write the test cases for that also.

[2020-03-10 13:57] naveennvrgup commented on #487
I think I found the root cause please check my PR. @isabelcosta @mayburgos

[2020-03-10 15:58] lorryaze commented on #471
@isabelcosta can you explain me how the table should look? I alredy identifed the test cases.

[2020-03-10 21:52] isabelcosta commented on #471
That is great 👏 It could be similar to the other tables that are in the quality assurance docs. So it should follow this structure: https://github.com/anitab-org/mentorship-backend/blob/develop/docs/quality-assurance-test-cases.md#revoke-an-admin-role @lorryaze

[2020-03-10 22:28] isabelcosta commented on #487
the tests thing was a really nice catch 🎉 Thank you so much for mentioning it. I will review/run/test your PR once I have some time. Thank you for looking thoroughly into this :)

[2020-03-10 23:49] isabelcosta opened #490 "Create a Wiki page for mentors/maintainers"
## Description
As a new maintainer/mentor with merge capabilities,
I need to know what is the maintainer workflow according to contributing guidelines,
so that I can help maintaining consistency on the way a project is maintained.

## Acceptance Criteria
### Update [Required]
- [ ] Create Wiki page and send link to GSoC mentors

## Definition of Done
- [ ] All of the required items are completed.

[2020-03-10 23:51] isabelcosta commented on #490
![image](https://user-images.githubusercontent.com/11148726/76369025-06146e80-632a-11ea-922a-c28073539125.png)

![image](https://user-images.githubusercontent.com/11148726/76369258-e598e400-632a-11ea-8904-f0216ae734f3.png)

![image](https://user-images.githubusercontent.com/11148726/76369362-33155100-632b-11ea-90d1-879dbecfb059.png)

[2020-03-11 00:13] isabelcosta commented on #490
Done for:
- backend: https://github.com/anitab-org/mentorship-backend/wiki/Maintainer-Guidelines
- android: https://github.com/anitab-org/mentorship-android/wiki/Maintainer-Guidelines

[2020-03-11 00:13] #490 closed, assigned to isabelcosta

[2020-03-11 19:46] EfthymiaKostaki commented on #482
Hello, this is my first time contributing to a project, can I work on this issue as a beginning?

[2020-03-11 19:52] isabelcosta commented on #482
@EfthymiaKostaki sure, go ahead :)

[2020-03-11 21:16] isabelcosta commented on #233
To fix the issue of the email internal server error, that i am getting from using a Gmail address to send email (caused by the security that Gmail provides), I will use another email.
I created a new email on https://www.mail.com/mail/

I am letting you know so you can also check this out for testing, I tested locally and so far, no issues. I will update the environment variables on Heroku app and

[2020-03-12 12:39] StergiosSozos commented on #432
Hello, this issue is not available as i can see, so maybe the label should be removed?

[2020-03-12 12:46] StergiosSozos commented on #343
Hello!
This is my first time contributing to an open source project. Can I work on this issue?

[2020-03-12 12:48] StergiosSozos commented on #248
Hello!
This is my first time contributing to an open source project. In order to get familiar with the procedure can i additionaly take this issue?

[2020-03-12 12:53] StergiosSozos commented on #142
Hello, is this issue still open? I can work on it , it will be my first contribution to an open source project.

[2020-03-12 13:32] geekayush opened #491 "Backend Service is not working"
**Describe the bug**
The backend service is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the apk
2. Try signing up or logging in
3. It says "Internal Server Error"

**Expected behavior**
I should have been on board

**Smartphone (please complete the following information):**
 - Device: Samsung
 - OS: Android 9

**Additional context**
I want to go through the Android

[2020-03-12 14:42] jotharman commented on #475
@isabelcosta I would like to work on this as a first-timer issue.

[2020-03-12 18:27] EfthymiaKostaki commented on #482
Thank you! I will try to work on this as soon as possible and to have finished by next week!

[2020-03-12 18:29] StergiosSozos commented on #473
Hello, i'm interested in working on this issue. I am not experienced in test cases but I am willing to do my best and spend the time needed to solve this issue. I will do both the test cases and the quality table.

[2020-03-12 19:46] isabelcosta commented on #475
@jotharman go ahead :) let me know if you have any doubt about this

[2020-03-12 19:49] isabelcosta commented on #473
@StergiosSozos sure :) Do you feel you understand this issue description? What we want here is a table to be added regarding this specific API, to the [Quality Assurance Docs](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/quality-assurance-test-cases.md) on `/docs` folder.
The format should be the same as the other tables in that Markdown file.

[2020-03-12 20:03] isabelcosta commented on #491
This is a known issue @geekayush  :) Thank you for reporting this, in this way I can explain this on GitHub.

So there is an entire Zulip topic on this, among other messages.
- [Initial Zulip message about this (non-persistent-db topic)](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/non-persistent-db/near/188831229)
- [fixing-backend topic on Zulip](https://anitab-

[2020-03-12 21:23] isabelcosta commented on #483
interesting point by @ramitsawhney27 👉 [Zulip message](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Code.20Quality/near/190438725)

[2020-03-12 21:42] isabelcosta commented on #432
@StergiosSozos thank you for pinging me about it! let me check with @Shashankjain12 since we don't have updates as of 16 days.

@Shashankjain12 are you still working or planning to work on this? If not, let us know so we can open this for contributors please :)

[2020-03-12 22:05] isabelcosta commented on #248
I think you are already assigned to an issue right @StergiosSozos ? If yes, then please finish that work first if not, let me know and I can assign this to you

[2020-03-12 22:12] isabelcosta commented on #343
i think you both were assigned issues already right? @jotharman @StergiosSozos :) Let me know if this is not the case please

[2020-03-13 06:49] geekayush commented on #491
Thanks, @isabelcosta. It sums up well. As I don't know much about Android I guess I would wait for the PR to get merged.

[2020-03-13 11:41] jotharman commented on #475
6c261cd26300cee550df841f39c85f94c91209b0 @isabelcosta Please let me know if anything else is required.

[2020-03-13 11:50] jotharman commented on #343
yes, I have been assigned issue #475  and I have made required changes for that and I am looking for another one :)

[2020-03-13 15:43] StergiosSozos commented on #473
@isabelcosta  Hello again and sorry for the late response. As i undestand i have to run the tests from https://github.com/anitab-org/mentorship-backend/tree/develop/tests/tasks and then create the table , just like the other tables in the folder you linked. The problem is i can't find a test for Update Task, so i understood that i also need to write the test (As mentioned in the required criteria)

[2020-03-13 17:20] AjayThakur12 commented on #472
@isabelcosta please assign it to me

[2020-03-13 22:50] isabelcosta commented on #475
@jotharman the commit you are showing sounds good in terms of structuring and where you placed the information. Thank you for updating us about your progress :) Regarding the content, can you please submit a pull request so I can properly review it?

[2020-03-13 22:51] isabelcosta commented on #472
Sure @AjayThakur12 :)

[2020-03-13 22:54] isabelcosta commented on #491
@geekayush it will soon be merged :)

[2020-03-13 23:01] #487 closed, assigned to naveennvrgup

[2020-03-13 23:09] isabelcosta commented on #473
@StergiosSozos oh, what I mean by "Add test cases for Update Task API", is not to write test cases, in fact this is just about understanding what are some test scenarios you could evaluate either manually, or writing tests, that would fail or be successful. So you don't need to understand the code to write code, but to understand the logic and what are some general scenarios you could add to the M

[2020-03-14 08:47] #484 closed, assigned to isabelcosta

[2020-03-14 10:20] jotharman commented on #475
I have generated the pull request #492. Could you please review it?

[2020-03-14 10:30] isabelcosta opened #493 "Add documentation about database environment variables"
## Description

As a developer,
I need to understand the environment variables I need to set,
so that I can successfully run and test the backend API.

Environment Variables markdown file is missing information regarding the Database environment variables that you have to set to connect the backend to a remote database. There are at least 5
You may have to mention that these are used only when the

[2020-03-14 10:40] isabelcosta opened #494 "Change link to Environment Variables documentation on README"
## Description
As a developer,
I need to have the updated version of environment variables documentation,
so that I can be up to date on how to run the project.

Change on README the links to Environment Variables on Wiki, to the Environment Variables file stored in the repository.

## Acceptance Criteria
### Update [Required]
- [ ] Change links to Environment Variables on README

## Definition of

[2020-03-14 11:12] isabelcosta commented on #403
@Juhi-Purswani are you still working on this? 9 days have passed and you haven't created a PR still. I have no problem with that :) it's better if you update us if you can or cannot work on this than to block the issue for you and not letting other contributors working on this.

We just want some transparency. If you cannot work on this let us know so we can assign it to another contributor.

[2020-03-14 12:12] Juhi-Purswani commented on #403
@isabelcosta due to some socio-political reasons there is too much network issue in my area. I may not be able to work for coming 1 week more. Please assign the issue to any other contributor.

[2020-03-14 13:33] ibLeDy commented on #248
Hi, i would love to work on this issue!

[2020-03-14 14:18] isabelcosta commented on #403
Thank you so much for the update @Juhi-Purswani . I'm sorry to know about that. I will leave this specific issue available for other contributors then.
Although, I will keep creating issues for first timers so once you are able to contribute you will have issues ;)

[2020-03-14 14:26] isabelcosta commented on #248
@StergiosSozos since you already are assigned to one issue, I won't consider you to work on this issue.
@alexlee311 are you still interested in working on this issue since the GCI contest is over now?
@ibLeDy if we don't get an answer from @alexlee311 during this weekend, then let me know so I can assign this to you.

[2020-03-14 15:25] StergiosSozos commented on #473
@isabelcosta Okay now i undestand better what's needed. So i can try this issue (I'm aldready assinged to this one so no more actions needed)
I will also create the issue fot the missing Update task.

[2020-03-15 06:55] bera5186 commented on #494
@isabelcosta can you review my [pull request](https://github.com/anitab-org/mentorship-backend/pull/496)

[2020-03-15 07:01] bera5186 commented on #493
@isabelcosta can I work on this issue !!

[2020-03-15 07:12] bera5186 commented on #472
@AjayThakur12 are you working on it

[2020-03-15 07:34] bera5186 commented on #343
@isabelcosta if this issue is not assigned to anyone please assign this to me

[2020-03-15 07:37] bera5186 commented on #483
@isabelcosta I would like to work upon this issue

[2020-03-15 08:59] AjayThakur12 commented on #472
yes @bera5186
today will share screenshot of table before committing changes

[2020-03-15 10:16] isabelcosta commented on #493
@bera5186 yes you can work on this issue. I will assign this to you.

[2020-03-15 10:19] isabelcosta commented on #494
I closed the PR since you did not wait to get assigned to it. I assigned you another issue you claimed.

[2020-03-15 10:26] isabelcosta commented on #483
@bera5186 I assigned you an issue already so I won't assign you this one.

[2020-03-15 10:44] isabelcosta commented on #343
@bera5186 you were assigned an issue already (one you asked for), so I won't assign you this one.

[2020-03-15 13:59] isabelcosta commented on #281
I don't quite understand if this is really needed.
From what I know when I run the flask app the variables are automatically imported. I only use `.env` to import the variables. @bartekpacia

Maybe I am not aware of something about my configuration that allows that 🤔

[2020-03-15 14:03] bartekpacia commented on #281
Hmm...
From what I remember, thorough the whole GCI I kept pasting this 2 lines to every new branch when I needed to access env variables. I guess it didn't work for me in the same way it works for you.
If you think everything's fine, feel free to close it.

[2020-03-15 14:36] isabelcosta commented on #248
@ibLeDy I will assign this to you :)

[2020-03-15 15:33] AjayThakur12 commented on #472
@isabelcosta  I created this table need your review
![Creat table ](https://user-images.githubusercontent.com/29337604/76704640-69bee300-6700-11ea-8b9e-49529f5f5e44.png)

[2020-03-15 15:35] isabelcosta commented on #472
@AjayThakur12 can you please send a PR with this table there so I can properly review your work?

[2020-03-15 17:35] ibLeDy commented on #248
Thank you!

I see that the issue is a bit old and some of the lines mentioned now have periods ([L42](https://github.com/systers/mentorship-backend/blob/develop/app/messages.py#L42)) and i think i remember seeing one that was not listed when i first looked at the issue, so looking at the entire file would be good, just in case.

*Edit: i see that a formatter was used so maybe the line numbers don'

[2020-03-15 18:01] StergiosSozos opened #497 "Create [Update task] Test"
## Description
The update task procedure is missing a test case. The test should be added in the task folder: (https://github.com/anitab-org/mentorship-backend/tree/develop/tests/tasks)

## Definition of Done
- [ ] At least one test case tested.
- [ ] Approval by 1 mentor.

## Estimation
[Cannot estimate] hours

[2020-03-16 05:30] bera5186 commented on #493
@isabelcosta I have sent a pull request 😊 can you please review it.

[2020-03-16 15:29] bera5186 commented on #483
@isabelcosta I have sent a [Pull request](https://github.com/anitab-org/mentorship-backend/pull/500) to previously assigned [Issue](https://github.com/anitab-org/mentorship-backend/issues/493) to me. Till you review my pull request I would love to work upon this issue. Can you assign me this.

[2020-03-16 18:18] #448 closed, assigned to srivastava9

[2020-03-16 18:56] StergiosSozos commented on #473
@isabelcosta I started working on this issue, and I realised that the "Update task" is actually "complete task"
Please confirm this, so i can continue working on this, and also close the issue I opened #497 (as the complete task test exists.

[2020-03-16 19:12] Adarsh-NP commented on #494
@isabelcosta so is this closed because @bera5186  did it already?
If not can I work on this?

[2020-03-16 19:22] Adarsh-NP commented on #482
Can I work on this?

[2020-03-16 20:59] #248 closed, assigned to ibLeDy

[2020-03-16 21:12] isabelcosta commented on #494
@Adarsh-NP the PR is closed because of the reason I mentioned above. @bera5186 did not wait to be assigned to work on the issue and additionally was already assigned a first timers only issue.
You can work on it. I will assign it to you.

[2020-03-16 21:29] isabelcosta commented on #482
@EfthymiaKostaki is working on it. (right?)
I already assigned you another issue :)

[2020-03-16 22:18] EfthymiaKostaki commented on #482
Yes I am currently working on that!

[2020-03-16 22:44] isabelcosta commented on #491
@geekayush I think this issue is solved :D Can you please check it for yourself: https://github.com/systers/mentorship-android/raw/apk/app-debug.apk?

If you confirm this successfully, can you close this issue then?

[2020-03-16 23:33] isabelcosta opened #501 "Add necessary files to allow deployment on Heroku?"
## Description
As a developer,
I need a couple of configurations,
so that I can deploy the app to Heroku.

I want to empower anyone who wished to deploy the project on heroku to do so. To do this I needed 2 files to be added, here are the [2 latest commits I did in my repository](https://github.com/isabelcosta/mentorship-backend/commits/heroku) `heroku` branch.

I am in doubt if this is something

[2020-03-16 23:34] isabelcosta commented on #501
@m-murad @sara-02 @ramitsawhney27 do these files being added to the repository make sense? I needed them to deploy the project into Heroku

[2020-03-16 23:47] Abdelaty opened #504 "Email length limitation"
**Describe the bug**
An Internal server error happens when I'm trying to make a signup with my email which is longer than 30 letter 😄

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Signup Screen'
2. Enter any email more than 30 letter.
4. See error

**Expected behavior**
A normal registration.

**Screenshots**
![WhatsApp Image 2020-03-17 at 01 21 31](https://user-images.githubusercon

[2020-03-16 23:50] Abdelaty commented on #504
Thanks for @isabelcosta for bringing the error log 😄

[2020-03-17 02:29] ashokrayal commented on #403
Hi @isabelcosta,

Can you please assign this to me? I will submit the PR in 1-2 days.
Thanks.

[2020-03-17 05:31] Adarsh-NP commented on #494
Hello @isabelcosta ma'am, I updated readme.md kindly have a look at the aforementioned link to the pull request.
Thanks

[2020-03-17 08:34] m-murad commented on #501
I guess heruko is a temporary solution. Does CD on a temporary server make sense/do we need it?
If yes then files should be pushed else we don't need those files.

Maybe May can give clarity on the time it will take to deploy the project back in AWS

[2020-03-17 09:50] geekayush commented on #491
@isabelcosta Yes! It works totally fine now.

[2020-03-17 09:50] #491 closed, assigned to nobody

[2020-03-17 12:38] ashokrayal commented on #403
I was trying to setup the project but I am getting some errors on my system. I will let you know.

[2020-03-17 13:02] ashokrayal commented on #403
I am getting errors for pypiwin32==200
![image](https://user-images.githubusercontent.com/26453959/76858443-787ed480-687d-11ea-9df7-f7d1a2006a2c.png)

[2020-03-17 14:08] ashokrayal commented on #403
I am using any random values for the environment variable SECRET_KEY and SECURITY_PASSWORD_SALT and dev for FLASK_ENVIRONMENT_CONFIG. Is this setting ok?

[2020-03-17 14:23] ashokrayal commented on #403
I also tried with docker but :(
![image](https://user-images.githubusercontent.com/26453959/76865621-fd232000-6888-11ea-9e56-9a939a13d87e.png)

[2020-03-17 14:26] ashokrayal opened #503 "Error in packages installation for first time project setup"
While installing packages to work on the project. Package installation is failing on the windows system.

Step 3 of run app.
below command is resulting in error for pypiwin32==200
`pip install -r requirements.txt`

![image](https://user-images.githubusercontent.com/26453959/76865373-a4538780-6888-11ea-938f-dc8034ee1526.png)

[2020-03-17 21:17] isabelcosta commented on #504
@Abdelaty I just want to let you know that you created this issue in the wrong repository. I am sorry if I was not clear, but this issue resides on the backend code and not the Android one. So it makes sense that this is here :)

[2020-03-17 21:28] #475 closed, assigned to jotharman

[2020-03-17 22:31] #331 closed, assigned to bartekpacia

[2020-03-17 22:50] isabelcosta opened #505 "Add remaining type hints"
## Description
As a developer,
I need type hints to be added to the code,
so that I can improve developers' experience.

Some type hints were added in this PR #354 , in this issue you should add all the remaining type hints you may find.

helpful resources:
- [PEP 484 -- Type Hints](https://www.python.org/dev/peps/pep-0484/)
- [PR #354 that added type hints to the project](https://github.com/anita

[2020-03-17 22:53] isabelcosta commented on #501
@m-murad it is temporary and I have no idea about when AWS issue will be resolved (cc @mayburgos ). These files do not change anything on the production code. My idea was that instead of just me having these files configured on my fork, everyone else could benefit from this if they wanted to do the same setup as me on heroku. Either way I am fine.

[2020-03-17 22:57] isabelcosta opened #506 "Update Environment Variables documentation to mention local config setting"
## Description

As a developer,
I need to understand the environment variables I need to set,
so that I can successfully run and test the backend API.

So the [docs/environment-variables.md](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/environment-variables.md) file needs to be updated to reflect that one should set the `FLASK_ENVIRONMENT_CONFIG ` as `local` if they do not wa

[2020-03-17 23:00] isabelcosta commented on #403
@Ashokrayal could you check [this topic on Zulip](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Troubleshoot) to see if anyone went through the same issue as you?
Could you also post your problem there, in that way most of the community will be aware and can also help you.

[2020-03-17 23:33] isabelcosta opened #507 "Missing logic to ask if user is in relation before creating a new task"
**Describe the bug**

So... I noticed that it is possible to create a task in a mentorship relation in which I am not involved.
I looked into this, while reviewing PR #499 🙈

**To Reproduce**

Assuming you have at least 3 users, 1 mentorship relation, the user you login with could be involved in one of the relations, but will not be in the other mentorship relation.

Potential scenario:
- Users: U

[2020-03-18 15:09] Abdelaty commented on #504
@isabelcosta Oh, Thank you for transfering it.

[2020-03-18 17:07] StergiosSozos commented on #473
@isabelcosta when you have some time please check my previous question, thank you

[2020-03-18 22:32] StergiosSozos commented on #503
Hey @Ashokrayal , try removing all the lines that have "docker" in them ( in the txt) , and run the command again.

[2020-03-19 09:57] AjayThakur12 commented on #505
@isabelcosta I can work on a specific module or for complete project

[2020-03-21 16:30] ashokrayal commented on #503
Thanks @StergiosSozos.

I also had to remove below line from requirement file.
PyYAML==3.13

I have made some code changes and now I want to test the API. Can you please also help me to find out how I can get the Bearer access token?

[2020-03-21 18:19] ashokrayal commented on #503
I can get the access token using swagger.  Thanks. Closing the issue.

[2020-03-21 18:19] #503 closed, assigned to nobody

[2020-03-21 18:32] rahulshah456 opened #510 "Internal Server Error in localhost"
**Describe the bug**
Internal Server error when registering a new user in the localhost server for 1st time. after clicking the execute button again error shows the message **A user with that email already exists**.
No confirmation mail is received and I have tried to resend confirmation mail but it also shows **Internal Server Error**.
I'm using FLASK_ENVIRONMENT_CONFIG=local

**To Reproduce**
St

[2020-03-21 18:39] ashokrayal commented on #507
Hi @isabelcosta

Are mentee and mentor both allowed to create a task in one Relation?

Please assign this to me.

[2020-03-22 01:58] isabelcosta commented on #507
@Ashokrayal you are correct.
I will assign it to you :)

[2020-03-22 02:24] isabelcosta commented on #510
@rahulshah456 it would be great if you could put the error logs here. Just the Swagger UI with the 500 error does not provide me enough context to understand what might be happening.
Also, you could provide the exact dummy data you provided, it's hard to understand just from the message.

[2020-03-22 02:25] isabelcosta commented on #503
Cool! problem solved!

[2020-03-22 06:13] rahulshah456 commented on #510
Dummy data I'm using:
{
  "name": "hello",
  "username": "hello123",
  "password": "12345678",
  "email": "hello123@gmail.com",
  "terms_and_conditions_checked": true,
  "need_mentoring": true,
  "available_to_mentor": true
}

Console Error:

![Capture2](https://user-images.githubusercontent.com/41780639/77243571-817ef580-6c31-11ea-9179-bacd6d5349b7.JPG)

Console Logs: And after executing the erro

[2020-03-22 10:26] isabelcosta commented on #510
@rahulshah456 the error log would be more verbose than that. Like what really appears on the terminal after you run the project.
I see the response you show in the comment is different than the one showed on the PR description, so you may be showing me 2 different test scenarios.

I would like to see a log similar to this structure:
![image](https://user-images.githubusercontent.com/11148726/76807

[2020-03-22 11:12] rahulshah456 commented on #510
Is this is the log you asked for...

![Capture](https://user-images.githubusercontent.com/41780639/77247934-b43de380-6c5b-11ea-9106-0e6573ab2780.JPG)

[2020-03-22 13:27] isabelcosta commented on #510
Yes @rahulshah456 that is actually very helpful :) So I think that you did not set the SECRET_KEY environment variable. This can be a random string. Here's it is the guide for [exporting environment variables](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/environment-variables.md)

[2020-03-22 14:03] rahulshah456 commented on #510
This is my .env template and still getting the same error, how to generate working SECRET_KEY and
SECURITY_PASSWORD_SALT

FLASK_ENVIRONMENT_CONFIG = test
SECRET_KEY = '38AF0B8DC326F180BD1822B86F61CA95C6A82F28A0946ED755EDC8D9BFF891D9'
SECURITY_PASSWORD_SALT = '11629f3c3243c120d8c2b0e0fcf5c89298efc0a2cea7d4d3'
MAIL_DEFAULT_SENDER = droid2developers@gmail.com
MAIL_SERVER = smtp.gmail.com
APP_MAIL_USE

[2020-03-22 14:29] isabelcosta commented on #505
I actually prefer on a specific module for eas of review, which module do you wish to add type hints to? @AjayThakur12 Can you create an issue for the specific module you wish to solve and add a reference to this issue, for you to focus your work on that module?

[2020-03-22 14:40] isabelcosta commented on #510
No need to be working secret key, you can put a simple string there @rahulshah456 🤔 but I see you have the `FLASK_ENVIRONMENT_CONFIG` to test. Can you set it to `local`?

[2020-03-22 15:46] manasec commented on #504
I want to work on this issue.

[2020-03-22 16:12] rahulshah456 commented on #510
I was just experimenting on changing the `FLASK_ENVIRONMENT_CONFIG` to test. While It is local already and this is my updated .env template.
And Still facing same error :disappointed:

[code]

[2020-03-22 16:50] isabelcosta commented on #504
@manasec thank you for posting here. We really want contributors to follow our project guidelines for maintainers to be able to manage the projects and also help guide contributors on issues they can work on.

[2020-03-23 18:40] #504 closed, assigned to manasec

[2020-03-23 19:31] isabelcosta commented on #279
This issue is available for any contributor. This feature was almost completed with PR #294
If you want to continue this work feel free to use this solution or propose other. As you wish!
But before sending a PR, please let us know you want to work on this, so we can assign this to you.

[2020-03-24 12:24] mtreacy002 commented on #510
@rahulshah456. Is that a real email address? What is the security settings of the email? I'm asking because last time this happened to me was because the 2 steps verification and allow less app settings of gmail. [Here](https://github.com/anitab-org/mentorship-backend/issues/233#issuecomment-594054365)'s the discussion we had that time. Give it a try, let us know what happened. 😉

[2020-03-24 12:30] mtreacy002 commented on #233
Hi @isabelcosta, just curious, I can't reproduce the same error (internal server error) that caused by this Gmail blocking. I now need it to be blocked to test my #463 PR 🤣. I've [posted](https://github.com/anitab-org/mentorship-backend/pull/463#issuecomment-603134878) a comment on that PR. And I also have pushed the changes requested by @ramitsawhney27 even though I couldn't test it coz that Gmai

[2020-03-24 12:40] mtreacy002 commented on #483
@bera5186, have you started working on this issue? If you haven't, then I would like to give it a try (I have a bit more time now since I'm almost done with my proposal - I hope 🤞- just waiting for mentors/admins feedback). Please let me know. 😉

[2020-03-24 12:57] mtreacy002 commented on #510
Also, if it says the email already exist, try to delete the user from the database. You said you're using the local database. If you use sqlite, then try the steps I posted on [Zulip](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Troubleshoot/near/191570789).

[2020-03-24 13:33] rahulshah456 commented on #510
Yes, it is a real email address and I have enabled 2 step auth because SMTP message not sending due to some updated google security. But I have followed the instructions to generate an app-specific password from Gmail and it is working in sending an SMTP message because I have tested it already.
The problem is different I think. But for now, I am going to manually test the SQL database in every qu

[2020-03-24 14:38] rahulshah456 commented on #506
@isabelcosta
Can I work on this issue? Assignee to me, please...

[2020-03-24 18:43] isabelcosta commented on #506
Sure @rahulshah456 :) I will assign this to you

[2020-03-25 07:45] yashikabaan commented on #343
@isabelcosta
Is this issue still open?
I am a first timer and would like to work on this issue

[2020-03-25 10:51] isabelcosta commented on #483
I will assign this to you as mentioned on the Ask Me Anything session @mtreacy002

[2020-03-25 10:52] mtreacy002 commented on #483
Thanks, @isabelcosta . Actually I have just pushed a PR #511 for this. can you pls check?

[2020-03-25 10:53] isabelcosta commented on #483
Later in the day I can

[2020-03-25 10:53] mtreacy002 commented on #483
The thing is, for it to work on your Travis, you need to set the Travis environment for the DOCKER_USERNAME and DOCKER_PASSWORD

[2020-03-25 11:11] mtreacy002 commented on #477
Hi @isabelcosta , while waiting for you or other mentors to review my PR #511 , can I please work on this issue now? 😀

[2020-03-25 16:11] #510 closed, assigned to nobody

[2020-03-28 05:01] mtreacy002 opened #514 "Added option for Postgres Database_uri for local testing"
I would like to use PostgreSQL for my local testing. This will very useful for when we want to extend the database to multiple schemas. There is also a UI friendly support to check what's in the database using [pgadmin](https://www.pgadmin.org) or to query database which will give options to people who'd prefer GUI compared to SQL shell on the terminal.

**Describe the solution you'd like**
I adde

[2020-03-28 08:00] aparnavadlamani commented on #403
Hi @isabelcosta. I am new to open source. Can I work on this issue?

[2020-03-28 12:13] EfthymiaKostaki commented on #482
@isabelcosta Hey, I will submit a pull request regarding this issue during the day. I wanted to ask even though it's not included in this issue is the "default Default namespace" API category needed on the initial page? Because I don't see any content in it. If it is not maybe this should be altered?

[2020-03-28 15:18] EfthymiaKostaki commented on #418
Hello, I have some ideas on this issue can I start working on that?

[2020-03-28 17:42] isabelcosta commented on #482
@EfthymiaKostaki the default namespace is not needed, I just don't know how to take it out from the Swagger UI. Do you know how to do it? If so can you please create an issue, and then I can approve and assign it to you?

[2020-03-28 17:43] isabelcosta commented on #418
@EfthymiaKostaki please address what I asked on your current PR, and then I can assign this to you, while you wait for PR review :)

[2020-03-28 17:49] isabelcosta commented on #403
@Juhi-Purswani are you still interested on working on this issue? Please let me know so that I can know to whom I should assign this.

If you feel you won't be able to work on this, please let us know. I will have to assign this to someone else within the next 24h if you aren't available to work on this. There are plenty of issues available you can work on, when you become available.

[2020-03-28 18:14] StergiosSozos commented on #473
@isabelcosta I have submitted a PR for this issue.
Please check my comments above too.

[2020-03-29 14:25] EfthymiaKostaki commented on #482
Okay, I have updated my pull request regarding this issue and I think I resolved the default Namespace issue. Here's a preview of how it turns out:
![default namespace](https://user-images.githubusercontent.com/43841219/77851471-03e35880-71e2-11ea-8d2e-d63029bcf990.png)

[2020-03-29 15:42] isabelcosta commented on #482
@EfthymiaKostaki i just quickly checked your PR and it does not have any new commit that would fix what you mentioned

[2020-03-29 17:59] isabelcosta commented on #473
@StergiosSozos will look as soon as I can. I have been busy reviewing GSoC proposals.

[2020-03-29 19:57] EfthymiaKostaki commented on #482
I haven't included it in the original pull request. I thought you mentioned it should be in a different one solving a different issue. If you want I can add it to the existing pull request

[2020-03-30 04:13] Ruchika06 commented on #402
Hi, @daksha-aeer
I went through this issue, and I've thought of the following changes:
1. We may migrate to No-SQL database, it stores data in JSON format, so switching would be easier, alongwith the problem of unique ID will also get Resolved.
2. To tackle many:one comment relations, we can create a separate camments table referenced with the users table to maintain data-integrity

[2020-03-30 04:22] Ruchika06 commented on #211
Hey @BadduCoder is this issue available?

[2020-03-30 16:06] Ruchika06 commented on #395
@isabelcosta Is this issue available?

[2020-03-30 19:21] isabelcosta commented on #482
Once you showed you could do it... this can be done in the same PR :) It is part of improving the Swagger docs :) @EfthymiaKostaki

[2020-03-30 19:55] isabelcosta opened #519 "Use HTTPStatus instead of hard coded HTTP status code"
## Description

As a developer,
I need explicit HTTP status codes,
so that I can improve coding experience.

The idea is to use http.HTTPStatus values instead hardcoded values in the whole app

https://docs.python.org/3/library/http.html#http.HTTPStatus

This values without a clear description, can be easily overlooked. With `HTTPStatus.CREATED` we can easily understand that we are using the right

[2020-03-30 21:08] nandini45 commented on #519
can i work on this issue?

[2020-03-30 21:24] isabelcosta commented on #519
Yes you can @nandini45

[2020-03-31 10:45] EfthymiaKostaki commented on #482
@isabelcosta I have updated the pull request adding the commit for the default namespace issue.

[2020-03-31 18:41] lmcicat commented on #424
Hey @isabelcosta . @brianguo98 and I need to make open source contributions for our final homework assignment in one of our college classes. We were hoping to contribute to this repo! We both have taken college courses about web dev which focused on python / flask. Would it be possible for us to work on this issue?

[2020-03-31 18:48] isabelcosta commented on #424
@lmcicat since we have no updates here for a while, I will assume @srivastava9 is not working on this, go ahead @lmcicat :) I will assign this to you.

@brianguo98 may you can look into another issue, there are several issue open. Can you check this filter of available issues: https://github.com/anitab-org/mentorship-backend/labels/Status%3A%20Available

[2020-03-31 18:53] lmcicat commented on #424
thanks @isabelcosta !! @brianguo98 is my partner for the homework assignment, so we were hoping to tag along on the same issues. Is it possible for him to be assigned to this one too? We are going to try to tackle multiple issues in the repo before the assignment is due.

[2020-03-31 19:38] ashokrayal commented on #403
Hi @isabelcosta,

I was working on this issue. I have also submitted PR.

[2020-03-31 19:42] ashokrayal commented on #507
Hi @isabelcosta, @sara-02, @ramitsawhney27

Please review and merge.  I was working on this issue. I had code ready form 6 days back but I waiting for my PR #513 to be merged. I also mentioned the same in that PR.

Also, my implementation is slightly better and passed all checks.

I am interested in contributing but to get a PR reviewed and merged has become hard. I don't know but maybe It is beca

[2020-03-31 20:52] isabelcosta commented on #395
@Ruchika06 I forgot to update the assignee, this is assigned to @arpitjadiya :)

[2020-03-31 22:46] isabelcosta commented on #403
@satya7289 are you still interested in contributing to this PR? If yes please let me know so I can assign it to you.

[2020-03-31 22:48] isabelcosta commented on #403
Ok I jsut noticed you are assigned to another issue @satya7289 .
@cs17b005 are you interested in this issue? I can assign this to you if you are.

[2020-03-31 22:55] isabelcosta commented on #507
You can submit a PR to issues that are assigned to you. So because of that, I had to close the other PR, I will review the one you sent for this issue as soon as I can and let you know about it. @Ashokrayal

[2020-03-31 23:08] isabelcosta commented on #256
@bartekpacia do you still want to work on this issue, which was approved already? Let me know so I can assign it to you ^^ Only then I can review. Trying to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md) 🙃

[2020-03-31 23:34] isabelcosta commented on #424
@lmcicat just don't forget to follow the [Contributing Guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md) ;) Very important step from contributing in open source

[2020-03-31 23:35] bartekpacia commented on #256
@isabelcosta I think it's done in #333

[2020-03-31 23:44] isabelcosta commented on #256
@bartekpacia Indeed it is, but I am trying to start practicing better the guidelines, and I need issues to be assigned. I will assign this to you then, since we discussed this so much. I just wanted to know, if I start requesting changes if you wanted to fix them or leave it for other contributor

[2020-03-31 23:45] isabelcosta commented on #256
oh wait...

[2020-03-31 23:45] isabelcosta commented on #256
oK forget, I got it, the description is not up to date with what is really going to be done here. all good

[2020-03-31 23:50] bartekpacia commented on #256
sure!
I will try fixing merge conflicts first

[2020-04-01 00:11] mtreacy002 commented on #483
Update.
@ramitsawhney27 and @isabelcosta.

I have to close this issue as I found out when I worked through PR #511, Black actually removing few important things we want to be in our codes. Here are the examples of what it did:

- it removed the parameters specification variables which is allowed by [PEP612](https://www.python.org/dev/peps/pep-0612/) and the type hint for TypedDict which is allowed

[2020-04-01 00:25] #483 closed, assigned to mtreacy002

[2020-04-01 00:51] hk-mp5a3 opened #522 "docs: Typos in documentations"
**Describe the bug**
There are a few typos in `docs/environment-variables.md` and `docs/quality-assurance-test-cases.md`.

Details can be found in:
https://github.com/anitab-org/mentorship-backend/pull/521

**To Reproduce**
Not Applicable

**Expected behavior**
Not Applicable

**Screenshots**
Not Applicable

**Desktop (please complete the following information):**
Not Applicable

**Smartphone (ple

[2020-04-01 01:44] mtreacy002 opened #523 "CI: Build Docker image in Travis CI and push it to update repository"
## Description
As a developer,
I need to speed up the development process by having ready to pull docker image from the AnitaB (upstream) repo. For this, I need to have Travis CI build a docker image when the commit being merged and push that new image to the upstream repository (docker hub and github),
so that I can run and test application simply by pulling that docker image from central repo an

[2020-04-01 11:23] mtreacy002 commented on #477
The issue is actually caused by a bug in the Android UI. Here's a video  made on the existing code showing user testone logged-in and tried to send request to user testthree. But on the debug mode, the btnSendRequest shows that only user testthree is the one got recognised as both logged-in user and member that the request is addressed to. I'll try to trace where this bug is originated from.

![MS

[2020-04-01 20:06] naveennvrgup opened #524 "Mock sending email for developers"
**Is your feature request related to a problem? Please describe.**
New developers to the mentorship backend often have trouble with setting up the email server settings right. (Mainly due to 2 factor authentication). Also it is nice to have the feature to mock email sending.

**Describe the solution you'd like**
Create a environment variable MOCK_EMAIL which if set to true will print the **email p

[2020-04-01 20:07] naveennvrgup commented on #524
I would like to contribute to this issue

[2020-04-01 20:42] isabelcosta commented on #524
This is very very interesting 🤔 thank you for proposing this.
The email feature active can actually complicate the local development right? I agree with this. I just need a second opinion. And the default value (in case the variable is not set) could be false? What do you think @naveennvrgup ?

cc @m-murad

[2020-04-01 20:44] isabelcosta commented on #524
I will assign this to you, so you can start woking on this :)

[2020-04-01 21:01] naveennvrgup commented on #524
Yes, that is a great addition. Will add that too.

[2020-04-01 21:29] nandini45 commented on #519
i am working on the issue. but i am new to github and facing some issues can you help me out?

[2020-04-01 21:29] nandini45 commented on #519
i am working on the issue. but i am new to github and facing some issues can you help me out?

@isabelcosta

[2020-04-01 21:31] isabelcosta commented on #519
@nandini45 sure! What is your problem?

[2020-04-01 21:32] nandini45 commented on #519
actually i had some basic questions can i mail them to u?

[2020-04-01 21:33] nandini45 commented on #519
@isabelcosta

[2020-04-02 08:37] aparnavadlamani commented on #403
Yeah! I am interested. But someone else told they have already submitted a pull request?

[2020-04-02 15:35] gaurivn commented on #432
In case no one is working on this issue, please can it be assigned to me.

[2020-04-02 17:41] nandini45 commented on #519
@isabelcosta
i am not able to read any values in the swagger.json file

[2020-04-03 04:42] mtreacy002 commented on #449
@isabelcosta, I don't know if this can be considered as a bug. Because perhaps relation_id = 2 (Accepted) is considered not a request anymore? I tried to run this on the Android UI and it doesn't seem to be anything wrong.
So, this is what I've done.
- user testtwo sent request to testone and got accepted, they are now in relationship
- as user testtwo, if I look at my Requests tab, I have options

[2020-04-03 05:28] mtreacy002 commented on #449
But then I noticed this, for a user who has no current relation and tried to send requests to more than one person (to widen their chance perhaps... 😀 ), only the last request got recorded and the previous one didn't (in my test I sent 2 requests).  I think we can consider this as a bug then, coz the expected behaviour is for the all requests to be shown in 'Pending' and 'All' list.

![Screen Shot

[2020-04-03 13:46] vkWeb opened #526 "[Production Bug] Migration script is missing"
**Describe the bug**
Recently @isabelcosta and team talked about developing the mentorship project ready for production. The most critical problem I see as of now is, we don't have scripts for database migrations. Without scripts, we won't be able to migrate new models to the database in production.

Also, GSoC students might bring in some new models this year which should be carefully migrated to

[2020-04-03 20:04] jotharman commented on #444
@isabelcosta can I work on this?

[2020-04-05 19:23] isabelcosta opened #528 "Create a bulleted list of features the app has on the README"
## Description
As a contributor,
I need to know the app's features,
so that I can know more about the app before working on it.

The README has practical information on how to contribute to the app and a small description of the app, but misses some information about the features it has, like see members of the app, send mentorship request.

## Acceptance Criteria
### Update [Required]
- [ ] Add a

[2020-04-05 19:44] isabelcosta commented on #519
@nandini45 please use GitHub or Zulip public forum for questions regarding our open source projects. In our open source community, we practice as much as transparency as we can, so that we can open discussions and questions and answers to other contributors.

I think I [already answered on Zulip](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Troubleshoot/near/19297

[2020-04-05 19:46] isabelcosta commented on #444
@jotharman lets me just know if anyone else that requested to work on this is working on it.
@SanujBansal are you interested in working on this? If not please let us know so we can assign this to another contributor.
cc @satya7289

[2020-04-05 19:49] isabelcosta commented on #522
@yzhu01 step 1 done :) Step 2 was following one of our issue templates 🙃 That would make this perfect!
You can send a PR again to fix this issue @yzhu01 :)

[2020-04-05 19:51] isabelcosta commented on #497
@StergiosSozos can you please say in the issue description which test case is missing exactly, so that a contributor can solve this issue?

[2020-04-05 20:12] hk-mp5a3 commented on #522
@isabelcosta Thank you for your review. I have made a modification to the issue description. Would this be better? The new PR is at https://github.com/anitab-org/mentorship-backend/pull/529. Thank you for your time and consideration.

[2020-04-05 20:21] isabelcosta commented on #522
@yzhu01 its good as it is, and it was good as it was, I know this is a very very small tiny issue. I will review shortly

[2020-04-05 20:37] isabelcosta commented on #403
According to our Community Guidelines, you can only submit a pull request once issue is approved and you are assigned to it. I will assign this to you, as I checked the order of requests to work on this @cs17b005

@Ashokrayal can you please look into other issues, there are plenty here :)

[2020-04-05 20:38] isabelcosta commented on #403
@cs17b005 you can submit an PR whenever you want to fix this :)

[2020-04-05 21:09] isabelcosta commented on #449
(...)

Can you clarify what happened? there are 2 requests in the pending state but only one is shown both in the Pending and All tabs? @mtreacy002

[2020-04-05 21:16] isabelcosta commented on #449
So right now, a user can only be in only mentorship relation at a time (in the ACCEPTED state). And if I am not mistaken from the backend API, all requests should be fetched including the Accepted one, but in the Android UI we may filter the current one, since its shown in a specific screen.

@mtreacy002 from the message above the one I quoted, what are yous suggestions?

[2020-04-05 22:10] isabelcosta commented on #211
@Ruchika06 it is not available, I updated the assignee now.
If you want to contribute you can look to the available issues, there are plenty I'm sure :)

[2020-04-05 22:31] isabelcosta commented on #432
I think no one is interested on this issue, so I will assign this to you @gaurivn :)

[2020-04-05 22:34] isabelcosta commented on #523
@mtreacy002 I don't quite understand the issue. Initially, I thought it was about running docker when deploying with TravisCI what do you mean by this?

[2020-04-06 09:25] jotharman commented on #444
Sure @isabelcosta

[2020-04-06 11:04] isabelcosta commented on #522
Solved with #529

[2020-04-06 11:04] #522 closed, assigned to VVVENIIDIICI

[2020-04-06 11:59] mtreacy002 opened #530 "docs: Add diagrams to Wiki to help visualise Backend system"
## Description
As a new contributor of the open source project,
I need to be able to see a visual overview of the existing system that I am going to work on,
so that I can quickly gain an understanding of the system current state.

## Mocks
<img width="888" alt="Screen Shot 2020-04-06 at 9 44 55 pm" src="https://user-images.githubusercontent.com/29667122/78555305-15ff6f80-7850-11ea-9a11-1fd050a7ce

[2020-04-06 12:20] mtreacy002 commented on #530
@isabelcosta, [here's the editable link](https://drive.google.com/open?id=1ELZ4Ym7tCeJXILrcubEFmE717Ns8Zkua) for the document. I already have another copy so, feel free to make adjustment if needed. 😉

[2020-04-06 12:22] mtreacy002 commented on #530
Or you can also let me know what needs to be changed, and I can make the adjustment from my end. 😉

[2020-04-06 13:20] vibhuti019 commented on #343
@isabelcosta  I wish to work on this issue.

[2020-04-06 15:07] nandini45 commented on #528
@isabelcosta
can i try and work on it?

[2020-04-06 16:23] #22 closed, assigned to nobody

[2020-04-06 16:53] isabelcosta commented on #528
sure @nandini45 :) will assign it to you

[2020-04-06 17:45] isabelcosta commented on #343
@vibhuti019 before assigning to you I would like to ask @yashikabaan
@yashikabaan sorry for the delay in my response, are you still interested? I can assign it to you still :)

[2020-04-06 20:11] isabelcosta commented on #528
@nandini45 sorry I had to unassign you here, since you as a first-timer you are already working on issue #519 . I missed this detail when I assigned this to you. We only allow contributors to be working on an issue at a time (if not waiting for reviews). Can you please send a PR just for the first issue you were working on?

[2020-04-06 20:12] nandini45 commented on #528
i send the PR already on my first issue and i made the commit for this issue too
@isabelcosta

[2020-04-06 20:17] isabelcosta commented on #519
Can you please send a PR just with code for this issue? @nandini45 I can guide you on the PR by reviewing it :) I noticed in the other PR that the implementation did not fulfill the requirements of this issue, so I really want to help you get it right :)

[2020-04-06 20:42] nandini45 commented on #519
ok @isabelcosta i am trying to pull open a new request. i am facing some network issues. sorry!

[2020-04-06 20:53] isabelcosta commented on #519
No worries @nandini45 :) you have plenty of time, send when you can

[2020-04-07 01:14] mtreacy002 commented on #523
Sorry, @isabelcosta. You are right, it is about building docker with travisCI. The mentioning of scalability in the issue description is just one of the advantage of docker (which I wrote here to link with the conversation brought up on the [#make project production ready](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Make.20project.20production.20ready/near/192182

[2020-04-07 02:23] mtreacy002 commented on #523
I've updated the issue description. Hopefully it's not as ambiguous on what it is aiming like it was before... ☺️

[2020-04-07 08:07] mtreacy002 commented on #523
Hi @isabelcosta. I have tested this using the image I built and pushed to my own docker hub repo last time (the one with automatic black runs from within docker) just for testing. I managed to pull the image and run the application on a totally new virtual environment that has no pip dependencies installed and inside a folder that has no mentorship-backend git been cloned 🎉 🎊 .

So, what I've done

[2020-04-07 08:11] mtreacy002 commented on #523
Now I just need to learn how to debug with docker and trace where it had stored the data.... hehehe 😂

[2020-04-07 08:27] aparnavadlamani commented on #403
I am working on it. But when I try to run it I get the following error. Could you help me solve it? sqlalchemy.exc.NoSuchModuleError

[2020-04-07 08:30] pknotfound commented on #403
Hey @cs17b005
I am not very good in flask, but I too came through this error when I started with the language.
I referred to [this](https://github.com/miguelgrinberg/Flask-Migrate/issues/197) to solve the issue
Hope this helps.

[2020-04-07 08:35] sihhub opened #533 "Add misplaced values to error message"
**Describe the bug**
If I put values other than "prod", "test", "dev", "local", and "stag" in the FLASK_ENVIRONMENT_CONFIG environment variable, the error message excluding local and stag are printed.

**Screenshots**
![image](https://user-images.githubusercontent.com/59594931/78647916-2f5af700-78f6-11ea-8be2-d577b6307cb9.png)

[2020-04-07 09:18] aparnavadlamani commented on #403
I have referred to it and many of them say it was caused due to a typing error in spelling of sqllite but I didn't find that anywhere in this code. @Ashokrayal could you please tell me how you solved the errors you got in your machine and also can you help me on this one?

[2020-04-07 09:25] isabelcosta commented on #533
@hongsungin92 very nice catch :)
Although, according to our CONTRIBUTING.md guidelines, you have to wait until approval and assignment before sending a PR @hongsungin92 . Are you interested in working on this issue?

[2020-04-07 09:42] sihhub commented on #533
@isabelcosta thanks.  I'll try to remember that from now on.
Yes, I'd like to be in charge of this.

[2020-04-07 09:47] isabelcosta commented on #533
oki :) I will assign this to you and re open your PR @hongsungin92

[2020-04-07 11:29] StergiosSozos commented on #497
I think it was a misunderstanding. The procedure "Update task" is also reffered as "Complete task"
So there is a test about "complete task", but in other places (for example #473) it is reffered as "update task"
I hope you undestand what I'm trying to say.

[2020-04-07 12:38] mtreacy002 commented on #523
Mmmm,....seems like the db needs to be dealt with differently. As soon as I stopped docker, the data also disappeared. I''ve used the postgreSql before with docker-compose but not sqlite-docker combo. Would this be an option we should explore (postgre-docker-compose)? Since I think we're also currently using postgre with the Heroku, aren't we? Pls let me know what you think, @isabelcosta 😉.

[2020-04-07 13:42] #533 closed, assigned to sih99

[2020-04-07 19:34] Juhi-Purswani commented on #403
@isabelcosta Yes I am still interested and I will be available to work but since this issue has already been assigned I will search for some other issues. Thanks.

[2020-04-07 19:36] isabelcosta commented on #403
@Juhi-Purswani oh ok! I am sure we have plenty of issues for you to work on, let me know if you need any help.

[2020-04-07 19:46] developer22-university commented on #528
you can assign it to me @isabelcosta

[2020-04-07 19:50] isabelcosta commented on #528
Sure :) @developer22-university

[2020-04-08 17:17] jotharman commented on #170
@isabelcosta Can I work on this issue?

[2020-04-08 17:26] jotharman commented on #170
@isabelcosta Can I work on this issue if @chahat99 is not working?

[2020-04-08 18:46] chahat99 commented on #170
Hi @jotharman I was working on this issue and have done quite a bit of work. I couldn't finish it as I got busy in proposal submission. I am working on it currently and will soon send the PR.

[2020-04-09 06:07] jotharman commented on #170
Thanks, @chahat99 for letting me know :) Please continue.

[2020-04-09 11:55] isabelcosta commented on #170
@jotharman thank you for asking the contributor assigned :)
@chahat99 thank you for the update, although please let us know when you cannot work on an issue you have been assigned to. I properly assigned this to you.

[2020-04-09 12:16] chahat99 commented on #170
@isabelcosta I am sorry for the delay. I'll keep you updated now onwards.

[2020-04-09 15:18] lmcicat commented on #424
Hey @isabelcosta ! @brianguo98 and I just submitted a PR for this found here: https://github.com/anitab-org/mentorship-backend/pull/535 . What are the next steps? Do we just wait until someone reviews it?

[2020-04-09 16:57] isabelcosta commented on #444
I can assign this to you @jotharman :) if you are not working on any other issue currently. Can you please confirm?

[2020-04-09 16:58] jotharman commented on #444
I am not working on any other issue presently :)

[2020-04-09 16:59] isabelcosta commented on #444
you are assigned ;) feel free to send a PR on it

[2020-04-09 17:04] jotharman commented on #444
Yeah Thank you @isabelcosta :))

[2020-04-09 20:41] developer22-university commented on #528
hi, @isabelcosta  i am facing some problems in setting the environment variables , i will keep you updated with the work, i hope to finish it soon

[2020-04-09 20:43] isabelcosta commented on #528
Thank you so much for your update @developer22-university please let us know if we can help you :) Usually the problem comes from using the FLASK_CONFIGURATION as `dev` instead of `local`. Are you using local?

[2020-04-09 20:46] developer22-university commented on #528
actually , i think i will work tommorow i have early morning classes,  yes i am using local , by

[2020-04-10 19:22] developer22-university commented on #528
@isabelcosta  yes we can discuss can u share some link i m using ubuntu

[2020-04-11 14:32] robotjellyzone commented on #530
Wow!! @mtreacy002 that's really amazing and beginner-friendly diagrams and will surely be useful for others. great work  👍

[2020-04-11 14:40] EfthymiaKostaki commented on #418
Hello since you have accepted my changes in the pull request can I start working on this issue? Will I need to update the test cases for validation or make sure that all the current test cases are passing? Do you have any other requirements I should keep in mind?

[2020-04-11 18:28] brianguo98 commented on #279
Hi @isabelcosta, @lmcicat and I are happy to pick up the work here, we have a couple of ideas and would like to get started while we wait for our other PR to be reviewed. Thank you :)

[2020-04-11 20:10] isabelcosta commented on #279
Sure @brianguo98 and @lmcicat. I will assign this to you

[2020-04-12 03:15] mtreacy002 commented on #530
Thanks, for your compliment @robotjellyzone. @isabelcosta, let me know if you approve the issue so I can start working on it and send a PR. 😉

[2020-04-12 03:16] mtreacy002 commented on #530
no hurry... 👌

[2020-04-12 07:17] sumit-badsara commented on #480
I am a bit busy for time being, So adding back the available tag.

[2020-04-12 12:26] #211 closed, assigned to gowriprathap

[2020-04-12 12:39] isabelcosta commented on #480
Thank you @BadduCoder for the update 🙌 , I was intending on doing that, but then I just forgot.

[2020-04-12 12:44] #482 closed, assigned to EfthymiaKostaki

[2020-04-12 12:47] #494 closed, assigned to Adarsh-NP

[2020-04-12 12:50] StergiosSozos opened #537 ""Complete task" not including all the necessary information when request id is not in accepted mode"
## Description
As a user,when i try to complete a task I need to know what I did wrong and why what I expected did not happen.

I observed that when a request id is not accepted and a user tries to complete a task (which does not exist, as a task cannot be created) the message is about the wrong task, but it should show the initial problem too, that the relationship is not accepted.

**To Reproduc

[2020-04-12 12:50] StergiosSozos commented on #537
@isabelcosta  Can i work on this issue?

[2020-04-12 12:51] isabelcosta commented on #528
@developer22-university which link do you need?

[2020-04-12 13:22] nandini45 commented on #530
Maya if u need any help in reviewing or making the diagrams. i will be more than happy to help.
@mtreacy002

[2020-04-12 15:08] isabelcosta commented on #418
@EfthymiaKostaki sure you can work on this :) I will assign this to you. I would say you have to optimize the code and fix any tests if needed. Although I think this does not affect the way the API is called. So you have to be certain that the tests are running successfully as they were before your change.

[2020-04-12 15:39] #472 closed, assigned to AjayThakur12

[2020-04-12 18:14] lmcicat commented on #279
Hey @isabelcosta . we have locally implemented pagination for /users. would you like this issue / PR also include pagination for /users/verified?

Also, how many users do you want to be in each page? We have it set to 10 right now, but want to know if you had another value in mind.

[2020-04-12 19:19] isabelcosta commented on #279
Hum, we intend to deprecate /users/verified, but until we do, if you could do this for that endpoint as well, that would be great. The android client uses `GET /users/verified`

@lmcicat I have no idea as of now 🤔 10 sounds good :)

[2020-04-12 19:19] robotjellyzone commented on #461
Hi @mtreacy002 @isabelcosta as said in the PR of this issue also that i am unable to reproduce this error , i don't know why you are getting this error, as i have registered the user successfully !! .As can be seen from below screenshots :

Using swagger to register :-

![2020-04-13](https://user-images.githubusercontent.com/36916536/79077571-53686f00-7d20-11ea-9b48-c7437c8d8799.png)

Using sqlite

[2020-04-12 19:22] #506 closed, assigned to rahulshah456

[2020-04-12 19:51] isabelcosta commented on #170
@chahat99 any update? Do you need any help with the issue?

[2020-04-13 00:21] mtreacy002 commented on #530
That'll be great, @nandini45. I'd really appreciate it 😉

[2020-04-13 11:08] chahat99 commented on #170
@isabelcosta I am working. I'll send the pull request by tonight .I'll contact you if I need any help.

[2020-04-14 08:44] jotharman commented on #444
@isabelcosta If we add additional fields of "name" and "photo_url" in the tasks_comments table, we would be violating the DRY principles. We have the user_id in the data which I think we can use for directly accessing these variables from the users' table in the frontend. Please correct me if I am wrong :)

[2020-04-14 12:48] isabelcosta commented on #444
@jotharman interesting point 🤓 Although, in the frontend, we don't have the user data like that. We don't have user data stored there. Here's something to have in consideration, comments within a task can be from at least 2 members (so not only the logged-in user, which we could have the details). If we want to show the user display name and picture in the frontend, we have to send that in the res

[2020-04-14 14:43] jotharman commented on #444
@isabelcosta Can we access the data from 'users' table (in frontend)using the id of the user which we already have in the tasks_comments table? The way we are accessing the comment and user_id of the user stored in the tasks_comments table, we can get the name and photo_url of the same user using the user_id.
I hope it make sense :)

[2020-04-15 00:50] isabelcosta opened #539 "MarkupSafe needs update otherwise I am unable to install requirements"
**Describe the bug**

At least MarkupSafe requirement needs to be updated, as at the moment setting up the project from clean slate does not allow me to install this specific requirement.

Output to the console:

![image](https://user-images.githubusercontent.com/11148726/79287260-23090800-7ebb-11ea-9e0c-0d86111653bd.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install a new virtual

[2020-04-15 15:26] brianguo98 commented on #279
@isabelcosta PR is up at #541. Thanks!

[2020-04-15 19:17] mtreacy002 commented on #480
Hi @isabelcosta, if this issue is still available, may I work on it?

[2020-04-15 20:14] lmcicat commented on #411
Hey @isabelcosta ! Can @brainguo98 and I work on this while we wait for our other PRs to be reviewed?

[2020-04-16 08:47] hongsungin92 commented on #449
hello @isabelcosta ! have you not solved this issue yet?

[2020-04-16 09:05] hongsungin92 commented on #449
I think I fixed the code a little bit and solved this problem, can you check it? @isabelcosta

[2020-04-16 10:20] StergiosSozos commented on #537
@isabelcosta

[2020-04-16 11:14] sihhub commented on #359
hello @isabelcosta! I want to give this issue a try because nobody seems interested. There are so many things I don't know yet. so I don't know if I can solve this problem. But if i want to give up, I'll tell you right away!

Oh, and I'm trying to add logout endpoint in backend system instead of mobile app. Is this the right direction for this issue?

[2020-04-16 11:14] EfthymiaKostaki commented on #418
Hello again, @isabelcosta while running the tests with no changes to the code and as it is updated now on GitHub I am seeing this:

![testoutcome](https://user-images.githubusercontent.com/43841219/79449673-5303f880-7fec-11ea-817d-e79bf74636d9.png)

Is this the correct outcome I should be seeing? And after making the changes in the code I am expecting it to remain the same?

Thanks again!

[2020-04-16 11:56] isabelcosta commented on #359
Hey @hongsungin92 there is no problem if you don't know exactly how to solve this issue, research is part of your work. I don't know either how to this :P

One of the things that come to my mind is invalidating the user access token, so if you logout from mobile app, the app exits, but if you would use the token that was being used... on the backend, it would still be valid to return user data. So

[2020-04-16 12:40] sihhub commented on #449
@isabelcosta   I would like to work on this!

I have solved this problem now. So I can send the PR right away!

[2020-04-16 12:42] sihhub commented on #359
okay thank you @isabelcosta ! I will research and share the progess

[2020-04-16 13:05] isabelcosta commented on #449
@hongsungin92 this is not assigned to you yet, and I see I lost some messages from previous contributors who are interested, let me ask them first if they still wish to work on this.

[2020-04-16 13:11] isabelcosta commented on #449
@PratibhaShrivastav are you still interested in working on this issue? I forgot to assign this to you at the time. let me know if this is not the case and I can assign it to someone else.

@srivastava9 @SanujBansal are you still interested?

[2020-04-16 13:18] sihhub commented on #449
oh I see..! please check and let me know :)

[2020-04-17 18:18] chahat99 commented on #170
@isabelcosta I sent the pull request #538 few days back. Could you please review it?

[2020-04-17 21:08] isabelcosta opened #542 "Create guide on how to test PRs and backend with Swagger UI"
## Description

As a contributor for testing,
I need a guide to help me understand how Swagger UI works and how to use multiple APIs from the project,
so that I can properly test pull requests from contributors that solve issues for the project.

Idea is to create a Markdown-based guide on the repository to help guide testers. [Conversation started here on Zulip](https://anitab-org.zulipchat.com/#

[2020-04-18 08:56] jotharman commented on #444
@isabelcosta then should I go ahead with creating new fields(two columns "name" and "photo_url") in the table "tasks_comments" for accessing them directly?

[2020-04-18 10:09] #539 closed, assigned to isabelcosta

[2020-04-18 10:31] rpattath commented on #542
@isabelcosta can you assign this to me?

[2020-04-18 12:54] #524 closed, assigned to naveennvrgup

[2020-04-18 16:26] ashokrayal commented on #403
@cs17b005 I have commented few packages in requirement file which were related to docker. I found this solution on tulip app.

[2020-04-18 21:38] chahat99 commented on #449
@isabelcosta can I work on this issue?

[2020-04-18 21:41] chahat99 commented on #411
@isabelcosta Can I work on this issue?

[2020-04-18 23:10] rpattath commented on #542
![Screenshot from 2020-04-17 12-32-42](https://user-images.githubusercontent.com/26095715/79673496-488e5e00-81a8-11ea-8daf-714949e111f2.png)
![Screenshot from 2020-04-17 12-32-33](https://user-images.githubusercontent.com/26095715/79673497-488e5e00-81a8-11ea-852d-e361e422b3aa.png)
![Screenshot from 2020-04-17 12-31-39](https://user-images.githubusercontent.com/26095715/79673498-4926f480-81a8-11ea-

[2020-04-19 13:00] isabelcosta commented on #449
@hongsungin92 are you still interested? Since I got no answers so far, I can totally assign this to you :)

@chahat99 let me check first with @hongsungin92

[2020-04-19 15:43] sihhub commented on #449
@isabelcosta yes!  I am still interested in this issue:)

[2020-04-20 18:28] StergiosSozos commented on #537
@isabelcosta can i be assigned please?

[2020-04-20 18:31] isabelcosta commented on #537
Hi @StergiosSozos sure I approve this. So if I understand correctly, your idea here is to first respond with the highest level of what went wrong, and in this case was that the request is not in the accepted state. Is this correct?

[2020-04-20 18:39] isabelcosta commented on #480
I would say yes, in case you are waiting for the review on your PRs :)

[2020-04-20 18:45] StergiosSozos commented on #537
Exactly! Now, we inform the user that there is not task, but there is no point in this as the user cannot create a task, he first needs to have an accpeted relationship. I already worked on that so I will create a PR when it's ready! Sorry for working before getting assigned.

[2020-04-20 21:51] mtreacy002 commented on #480
Thanks, for assigning this issue to me, @isabelcosta. I'll work on it today. 😉

[2020-04-20 23:14] mtreacy002 commented on #480
Hi @isabelcosta, I have created and pushed the troubleshoots.md doc in PR#546. Please check when you have time. Thanks 😉

PS: It would be great if we could upload images on the doc as well but since I don't have permission to upload files on AnitaB repo, so, just the written steps provided. 😆

[2020-04-20 23:19] mtreacy002 commented on #480
@mayburgos and @isabelcosta, maybe admins can open permission access to contributors to one particular folder where we contributors can upload our images or relevant things. So when contributors working on .md we can make it a bit more attractive by inserting these images.
This (using images) would also be a better and more informative way in the case of troubleshoots.md doc.
Just a suggestion...

[2020-04-20 23:31] isabelcosta commented on #480
You can upload images in a comment on GitHub, and then you can the link from the image hosted :) That is what I usually do. You can also see that in this PR #543. When you upload you can see the link. @mtreacy002 what do you think?

![image](https://user-images.githubusercontent.com/11148726/79809001-51795e00-8367-11ea-8f2c-fee2ded96122.png)

[2020-04-21 01:41] mtreacy002 commented on #480
mmm... interesting. Let me try uploading them to my PR branch. Maybe it wasn't allowed coz I tried to upload on develop branch before. 😂

[2020-04-21 10:11] isabelcosta commented on #477
I just read this now, I will close the issue then :) Thank you for letting me know about this, I am now reviewing the android PR :) @mtreacy002

[2020-04-21 10:11] #477 closed, assigned to nobody

[2020-04-22 05:48] mtreacy002 commented on #480
Done. I squashed commit the changes to now using permalink of images uploaded to [PR#546](https://github.com/anitab-org/mentorship-backend/pull/546) branch. Hope this works. Please let me know if it doesn't. 😉

[2020-04-23 11:36] jotharman commented on #444
@isabelcosta I have created the pull request for this issue. Can you please review the same?

[2020-04-24 14:06] sihhub commented on #359
First of all, I've made up logout endpoint!
referring to https://flask-jwt-extended.readthedocs.io/en/stable/blacklist_and_token_revoking/

if use the logout endpoint,
all of access tokens and refresh tokens of user will be invalidated(revoked) on the backend.
so no one can use the access tokens and the refresh tokens if user logout
(on backend)

but I haven't solved that "once called in the front

[2020-04-25 17:03] isabelcosta commented on #501
2 files I commits I did for this to work was:
https://github.com/isabelcosta/mentorship-backend/commit/9904252dad53e4a72e62e7f90d6b1bd8cee05024

cc @mtreacy002 is this what you mentioned on Zulip? I had to install gunicorn package and add the .profile file

[2020-04-27 06:16] robotjellyzone opened #551 "Create Backend Endpoints For recover password option on Sign In Screen"
**Is your feature request related to a problem? Please describe.**
The mobile app does not have a forgot password option, so for that we need to first add the backend api/endpoints and then we can move on to create it on android/frontend part which will fix this issue [#59](https://github.com/anitab-org/mentorship-android/issues/59) of android

**Describe the solution you'd like**
We need to add t

[2020-04-27 06:18] robotjellyzone commented on #551
Since , i have already shared the solution for this with @isabelcosta in the AMA session and in the comment section of [#59](https://github.com/anitab-org/mentorship-android/issues/59) which i am alreday assigned with so, i will adding its solution immediately now.

[2020-04-27 06:28] robotjellyzone commented on #551
I have added the PR for this issue without being assigned again as i have already told this to @isabelcosta that i will adding this issue for solving this issue -- [#59](https://github.com/anitab-org/mentorship-android/issues/59) which requires the backend endpoints at the backend side first then i can add the code for front end side for this . I am alreday assigned this in android side [as a proo

[2020-04-28 17:04] EfthymiaKostaki opened #553 "Change Test Structure for app/api/dao/task_comment.py"
## Description
I want to change the structure of the /tests/task_comments/test_dao.py tests so as to follow the test structure of the rest of the tests in the project.
The link to this file is this:
https://github.com/anitab-org/mentorship-backend/blob/develop/tests/task_comments/test_dao.py

Each method should be tested in a specific class with different methods testing each test case. For exampl

[2020-04-28 20:29] isabelcosta commented on #553
Its a bit confusing your description @EfthymiaKostaki you don't want to just rename a file right? Could you include the link to the file you plan to change here? I can assign this to you also, since we spoke in the Zulip.

[2020-04-29 15:56] StergiosSozos opened #554 "Fix description messages on Mentorship Relation"
## Description
As a developer, i need to see the same way for displaying messages on the backend server. so that i can follow the same pattern on the messages im writing. Right now the messages are shown in 2 ways:
![image](https://user-images.githubusercontent.com/44146773/80616049-1c48cc00-8a49-11ea-9d46-33518902c3c5.png)
![image](https://user-images.githubusercontent.com/44146773/80616700-e35d2

[2020-04-29 15:57] StergiosSozos commented on #554
@isabelcosta can you suggest one of the 2 ways?
And can i be assgined to this issue?

[2020-04-30 09:02] mtreacy002 opened #555 "Replace datetime.now() with datetime.utcnow() to match global users base"
## Description
As a developer,
I need to use datetime.utcnow() for dealing with date/time
so that I can make sure the data on dates is stored correctly according to their timezones.

## Mocks
N/A
## Acceptance Criteria
- [ ] Change datetime.now() to datetime.utcnow() in all occurrences in the existing code.

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 m

[2020-04-30 09:08] isabelcosta commented on #555
Thank is a very good catch 👏 Thank you for reporting it @mtreacy002 . Could you follow the user story template for consistency of issues and for whoever takes on this, is able to understand the user story and definition of done? From what I understand what we can do for future data is to use `datetime.utcnow()` in every place it uses date, right?

[2020-04-30 09:10] mtreacy002 commented on #555
So, should I close this issue and use the user story template? I'm currently using the feature request template... 😂 Wasn't sure which one to use, but definitely don't think it's a bug.

[2020-04-30 09:12] isabelcosta commented on #555
I also don't think it is a bug 😆 But its definitely something that was overlooked and should be fixed?! Its an inconsistency of data issue. No need to close the issue, you can edit it and copy the markdown format of user-story.md inside the .github/ISSUE_TEMPLATE on this repository @mtreacy002

[2020-04-30 09:13] mtreacy002 commented on #555
Ok, will do that now 😉

[2020-04-30 09:27] mtreacy002 commented on #555
@isabelcosta, is this ok now? I'm not sure what to put the title tag as - User story: seems to be too long for the title heading or would that be fine? Also, yes, the future data is to use the datetime.utcnow().

[2020-04-30 09:31] mtreacy002 commented on #555
Can I work on this issue tomorrow? I have a plan tonight with the family. If I'm able to finish  early with them, I'll try to work on this issue tonight.

[2020-04-30 10:48] isabelcosta commented on #555
@mtreacy002

It's perfect :)

I will assign this to you. No need to explain you unavailability for today, take your time! I hope you enjoy your time with your family, these are tough times and nothing is more important than to spend time with your loved ones 🤗

[2020-04-30 15:23] robotjellyzone commented on #554
Hi @StergiosSozos that's quite interesting issue and really a good catch you have done !! Actually, as far as i remember [as i have gone through the entire backend code earlier this week] this is due to the fact that somewhere  we were using fstring for responses and on other places we were just printing / returning the JSON responses but i think its good to use the fstring one as it follows the n

[2020-04-30 21:37] mtreacy002 commented on #555
Thanks, @isabelcosta. I have one other question. For registration, we're using time.time() instead of datetime.now(). Do you want me to replace this with datetime.utcnow() too or keep It as it is?

[2020-05-01 17:51] isabelcosta commented on #411
@lmcicat do you still wish to work on this? Or can I leave it to @chahat99 ?

[2020-05-01 19:13] isabelcosta commented on #555
@mtreacy002 it should be done the same way everyday. Does `datetime.utcnow()` return a UNIX timestamp or a datetime obj representation?

[2020-05-01 21:26] StergiosSozos commented on #554
Thank you very much, @isabelcosta when you have time, please let me know which style to keep!

[2020-05-02 01:04] lmcicat commented on #411
@isabelcosta I'd love to do it :)

[2020-05-02 13:56] snitin315 opened #559 "API: typo present in task.py"
**Describe the bug**

presence of some typos.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/mentorship-backend/blob/dfecaec198db134bed32b7d3232b9c62791d84c6/app/api/dao/task.py#L28

https://github.com/anitab-org/mentorship-backend/blob/dfecaec198db134bed32b7d3232b9c62791d84c6/app/api/dao/task.py#L95

https://github.com/anitab-org/mentorship-backend/blob/

[2020-05-02 13:59] isabelcosta commented on #559
Could we leave this PR for another first-timer and you would do the PR template one? @snitin315

[2020-05-02 14:00] snitin315 opened #560 "imporve issue templates and pull request templates"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The description like above should be commented as they are for Author's eye only. and hence they will not be seen in preview.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

``

**Describe

[2020-05-02 14:02] snitin315 commented on #559
Let's leave this for the First timer. I will go ahead with the PR template one.

[2020-05-02 14:24] isabelcosta commented on #559
Thank you @snitin315 :) Its a great catch and thank you for following the bug report template

[2020-05-02 14:44] isabelcosta commented on #554
@StergiosSozos this issue is valid, thank you for providing the screenshots, it was very helpful!
If the JSON response, is `{’message’: 'User is already an Admin.’}`, then that should appear there. I can assign this to you :)

[2020-05-02 14:47] #560 closed, assigned to snitin315

[2020-05-02 14:58] isabelcosta commented on #411
Assigned to you @lmcicat :)

[2020-05-02 15:23] #542 closed, assigned to rpattath

[2020-05-02 15:44] faznan3nazer opened #561 "400 Responses does not list "Terms and conditions is false" message"
When registering a new user , if Terms and conditions is set to false then we see the expected error message "Terms and conditions are not checked." but this message is not listed under the list of 400 responses.

Steps to reproduce the behavior:

1. Go to 'Users- register'
2. {
  "name": "testua",
  "username": "testua",
  "password": "testua123",
  "email": "voxij69223@mailop7.com",
  "terms_and

[2020-05-02 15:50] isabelcosta commented on #561
this is amazing @faznan3nazer thank you so much for creating this bug report!

[2020-05-02 15:59] faznan3nazer opened #562 "400 Responses does not list "Your email is invalid." message."
When we register a new user, if we entered  an invalid email address then we see the expected error message "Your email is invalid." but this message is not listed under 400 Responses.

Steps to reproduce the behavior:

1. Go to 'User-Register'
2. {
  "name": "testua",
  "username": "testua",
  "password": "testua123",
  "email": "voxij69223mailop7.com",
  "terms_and_conditions_checked": true,
  "

[2020-05-02 16:40] StergiosSozos commented on #554
Thank you for the immediate response. So we do need the {’message’: to appear. I'm fixing the changes on my previous PR and I will start this one next.

[2020-05-02 16:55] faznan3nazer opened #563 "error message for missing required fields under user registration"
If ne of the required field is missing in the input an appropriate error message should be showned and listed under the 400 Responses.

Steps to reproduce the behavior:

1. Go to 'User-Register'
2. {
  "name": "testua",
  "username": "testua",
  "password": "testua123",
  "email": "voxij69223@mailop7.com",
  "need_mentoring": true,
  "available_to_mentor": true
}
3. Click on 'Execute'
4. Scroll do

[2020-05-03 02:13] mtreacy002 commented on #555
@isabelcosta. Similar to datetime.now() we've use in our existing code, the datetime.utcnow() also returns a datetime obj representation. But I can see in our code that we're using .timestamp() to change it to UNIX form. I think the reason we're using time.time() for registration is more for the 30 days cron job on automatic delete if email didn't get verified. So, I think in this sense it's ok to

[2020-05-03 03:00] mtreacy002 commented on #555
Also, I'm still learning about this date and time concepts. But I noticed that we're currently using the naive objects of the datetime (regardless of .now() or .utcnow()). The suggestions I've read so far (e.g. one example [here](https://medium.com/@eleroy/10-things-you-need-to-know-about-date-and-time-in-python-with-datetime-pytz-dateutil-timedelta-309bfbafb3f7)) incline towards using the timezon

[2020-05-03 04:19] snitin315 opened #565 "Wiki(Fork, Clone & Remote): outdated links and screenshots"
**Describe the bug**

In the wiki, the reference links and screenshots are still for `systers`. Which new contributors may find confusing.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to [Fork, Clone & Remote](https://github.com/anitab-org/mentorship-backend/wiki/Fork,-Clone-&-Remote)
2. See error

**Expected behavior**

The links and Screenshots should be updated to reflect the late

[2020-05-03 13:32] sankha555 commented on #559
Hello @isabelcosta !
Hope you are in the best of health. I was going through the repository and have found it to a really great one and I wish to contribute to it in future. If no one else is working on it, can I take up this issue and fix it as a starting issue?

I am new to the repository and if there is any pre-requirements to be fulfilled before working, can you please guide me a bit on them.

[2020-05-03 13:47] snitin315 commented on #559
@sankha555 Yes you can take this up :tada:

You can go through the `README` file and our [contributing guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).

[2020-05-03 13:48] snitin315 commented on #559
@sankha555 I have assigned you this issue.

Let us know if you need any help and thank you for working on this.

[2020-05-03 13:56] sankha555 commented on #559
Thanks a lot ! I will go through the guidelines and will let you know in case I need any help in the task.

[2020-05-03 14:47] #480 closed, assigned to mtreacy002

[2020-05-03 15:17] #559 closed, assigned to sankha555

[2020-05-03 15:38] sankha555 commented on #565
Hello @snitin315 ,
I am interested in working on this issue. If there is no one else working on it, could you please assign it to me? Thanks

[2020-05-03 15:57] snitin315 commented on #565
@sankha555 Thank you for showing interest, but I guess only those with `write access` to the repository can edit the wiki.

/cc @isabelcosta

[2020-05-03 16:03] sankha555 commented on #565
Oh, I see. I'll look for another issue to work then. Thanks for pointing it out all the same :)

[2020-05-03 19:40] sankha555 commented on #561
Hello @isabelcosta and @faznan3nazer,
I am interested in working on this issue. If no one else is working on it, could you please assign it to me? Thanks!

[2020-05-03 19:55] isabelcosta commented on #561
@sankha555 can you leave this up for a first timer / newcomer (as it is labeled with "First Timers Only")? This is a really simple issue (1 - 2 lines of code) that someone could use to get acquainted with our open source workflow. I can redirect you to other issues if you would like

[2020-05-03 19:56] isabelcosta commented on #403
@cs17b005 are you still in need of help for this issue?

[2020-05-03 19:58] sankha555 commented on #561
Sure @isabelcosta , I can leave this issue for a first timer then. Yes, I would be grateful to you if you could kindly redirect to some other issues. Thanks again :)

[2020-05-03 20:02] isabelcosta commented on #530
@mtreacy002 it would be great if someone could review this. As far as I know you can add this to wiki right?

[2020-05-03 20:04] isabelcosta commented on #561
@sankha555 would this be interesting for you https://github.com/anitab-org/mentorship-backend/issues/505?
I have no idea about the size of work here, it would be great if this could be split into modules. But I had no time to do that.

[2020-05-03 20:09] sankha555 commented on #561
@isabelcosta Thanks for mentioning this issue to me. I am interested to work on it and will take a look at it. Could you assign this to me then? And if I need any help, I hope I can reach out on this thread for any assistance? Thank You :)

[2020-05-03 20:12] isabelcosta commented on #505
Yes I can assign to you :) and yes, of course, you can reach out @sankha555

[2020-05-03 20:12] isabelcosta commented on #505
Can you comment here, so I can assign you here?

[2020-05-03 20:16] sankha555 commented on #505
@isabelcosta You can assign me the issue. Hoping to resolve this issue as quick as posssible :)

[2020-05-03 20:17] isabelcosta commented on #505
Done @sankha555

[2020-05-03 23:37] mtreacy002 commented on #530
@isabelcosta. Yes, we can add this to wiki, but I have no access to anitab-org wiki so can't create a page for this. Should I just add it to docs folder as .md file for maintainers to upload to wiki?

[2020-05-04 07:02] EfthymiaKostaki commented on #553
@isabelcosta Hello, I just saw your comment. The file I am referring to is this: https://github.com/anitab-org/mentorship-backend/blob/develop/tests/task_comments/test_dao.py

I intend to break the file into separate files for each method and create a setup test case for that since all the methods use the create comment.

[2020-05-04 09:05] EfthymiaKostaki commented on #553
I spent some time on this issue and I managed to create a test case and split the files of the mentioned files in separate files. By creating this test case we don't have to use the create comment every time since it is in the setup test case.
@isabelcosta  I was wondering if you think it is worth the time to expand the task_comment test base I created so we don't have to have a setup method in th

[2020-05-04 14:39] #411 closed, assigned to lmcicat

[2020-05-04 15:45] isabelcosta commented on #493
This PR #500 was quite close to solving this issue, I welcome anyone who wishes to contribute here

[2020-05-04 15:53] sankha555 commented on #505
Hello @isabelcosta,
I have added typehints to a few modules (which I have mentioned in the above commit #569). Could you please review my work and tell me if the changes made are okay? Based on your feedback, I would resume adding the remaining typehints to the rest of the modules.

Thanks!

[2020-05-04 16:06] isabelcosta commented on #553
If you wish, I don't mind if you submit a PR in WIP (work in progress), so that I can understand what you did. Not sure if it's worth doing that now, but I can tell you that there are other issues with higher priority.

What do you think @EfthymiaKostaki ?

[2020-05-05 00:11] mtreacy002 opened #571 "Bug: Dev server GET all users 503 error response"
When I tried to get list of all users on the dev server, it returned 503 error response 'Service Unavailable'. This doesn't happen when the same request is done on the local server.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to dev server Swagger UI https://mentorship-backend-temp.herokuapp.com.
2. Login and get the access token.
3. Scroll down to GET users and use the token to get

[2020-05-05 00:25] mtreacy002 commented on #571
@isabelcosta, I'm not sure if just anyone can work on this issue, because the code change needs to be tested on dev server (which means after the code change got merged). Will you be ok if this PR is assigned to you? Alternatively, we can assume the issue is related to #279 which hopefully after the PR is approved and merged, the issue should disappear 😉

[2020-05-05 09:34] sankha555 commented on #505
Hello @isabelcosta ,
First of all I deeply regret and apologise for all the inconvenience caused to you yesterday due to errors made by me in making a correct PR. I am absolutely a newbie to open-source contributions and it took me some time to figure out what's going wrong. I hope you would understand my situation.

I request you to kindly review my PR (#572)  made from a new branch. I hope this

[2020-05-05 12:25] isabelcosta commented on #505
No need to apologize at all! Newbie to open source? That is exciting! I will be happy if after this issue you feel more comfortable in this space :) I can guide you with no problem if you have doubts and questions just ask. So no need to apologize, no inconvenience was caused 🤗

I will do as soon as I get some time :)
Already some good 🍪 points:
- you followed the PR template
- you created a separ

[2020-05-05 12:29] sankha555 commented on #505
Thanks a lot for the motivation @isabelcosta 🙂! I hope to make more contributions to the codebase( without the goof-ups this time onwards 😅). Would wait for you to review my work. Meanwhile,  if you think here are more issues that I can solve, please mention me in those. I would be eager to work on them. Thanks again :)

[2020-05-05 15:56] CharityKithaka commented on #561
Hey can I work on this?

[2020-05-05 16:42] isabelcosta commented on #561
Yes, go ahead :) @CharityKithaka

[2020-05-05 19:53] faznan3nazer opened #573 "Error message for field 'name' is not filled"
If the field 'name' is not filled in the input an appropriate error message should be showned and listed under the 400 Responses.
**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'User-Register'
2.  {
             "name": "",
             "username": "testua",
             "password": "testua123",
             "email": "voxij69223@mailop7.com",
             "terms_and_conditions_checke

[2020-05-05 19:55] sankha555 commented on #505
@isabelcosta, I request you to not review PR #572. I think I have discovered an issue in my code which might prove problematic. I would close this PR and make a new one. I would notify here about the same. Please review that PR and not this one(#572), whenever you may find time. Thanks!

[2020-05-05 20:18] faznan3nazer opened #574 "Error message for field 'username' is not filled."
If the field 'username' is not filled in input an appropriate error message should be showned and listed under the 400 Response.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'User-Register'
2.   {
             "name": "testua",
             "username": "",
             "password": "testua123",
             "email": "voxij69223@mailop7.com",
             "terms_and_conditions_check

[2020-05-05 20:21] isabelcosta commented on #505
@sankha555 on this note, I want to ask you something. From what I saw from the PRs you sent, is thst they do the right thing. For the next PR you send, could you only commit changes for a specific module. This makes the code review a bit more easier to do, since it's less code to look at and the commits have a logical scope, per module. For example send a PR just for type ints in the utils module.

[2020-05-05 20:31] sankha555 commented on #505
@isabelcosta I get your point. I will stick to lesser no. of changes from next time onwards. So if you say that my code was fine, shall I reopen the PR then?

[2020-05-05 20:34] isabelcosta commented on #505
Yes, in my opinion you can open your PR for sure :)

[2020-05-05 20:35] faznan3nazer opened #575 "Error message for field 'password' is not filled."
If the field 'password' is not filled in input an appropriate error message should be showned and listed under the 400 Response.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'User-Register'
2.   {
              "name": "testua",
              "username": "testua",
              "password": "",
              "email": "voxij69223@mailop7.com",
              "terms_and_conditions_che

[2020-05-05 20:37] sankha555 commented on #505
Done @isabelcosta . Another thing I wanted to know is that in future if I need to change something in my PR, which would be a better method to do so in your opinion? Should I make a new commit to the current branch or revert all commits in the branch and make a new branch altogether?

[2020-05-05 20:47] isabelcosta commented on #505
Simply create new commits, it's the simplest way to do it, and a correct way :) @sankha555

[2020-05-05 20:50] sankha555 commented on #505
Sure @isabelcosta , I will take care of these things from the next time. So are my current PR contributions okay completely by what you reviewed? I was quite eager to know if I have made my first code contribution correctly :)

[2020-05-05 21:03] isabelcosta commented on #505
I haven't yet make time to check it properly, and since it's so much code it's a bit time consuming to check it all. I will as soon as I have time for it. @sankha555

[2020-05-05 21:08] sankha555 commented on #505
Sure, @isabelcosta :)

[2020-05-05 21:39] isabelcosta commented on #573
This is awesome @faznan3nazer 👏 thank you for creating these issues as separates 🙌

[2020-05-05 21:48] isabelcosta commented on #563
This issue I am in doubt if we should put that on the swagger docs, if we can get that in a way that is not hardcoded (using a function from Flask-RESTPlus) or if we should rewrite that in the backend, and send the message formatted the way we want like, HTTP Status 400 and the following JSON response:
[code]

[2020-05-05 21:56] isabelcosta commented on #571
@mtreacy002 No problem in getting this assigned to me. However, I am pretty sure that this is solved with some pagination, it's not scalable to fetch every user (e.g.: 200+) in the database whenever a client (e.g.: Android app, Swagger UI) calls that endpoint.

For reference, here are the Heroku logs I shared on Zulip:

![image](https://user-images.githubusercontent.com/11148726/81119676-2d02b180-

[2020-05-06 05:33] sankha555 commented on #376
Hello @daksha-aeer and @bartekpacia,
I am interested in working on this issue. If it's still under consideration, can you please assign it to me? Thanks!

[2020-05-06 08:17] abha224 commented on #574
@isabelcosta Can i take up this issue?

[2020-05-06 08:20] isabelcosta commented on #574
Sure @abha224 :) go ahead!

[2020-05-06 11:12] EfthymiaKostaki commented on #553
@isabelcosta I created a pull request. I didn't label it as WIP since you said that probably it is not worth expanding on this issue now further than I have already worked on but I would really like to hear your input!

[2020-05-06 13:49] StergiosSozos opened #577 "Fix description messages on Backend Server"
## Description
As a developer, i need to see the same way for displaying messages on the backend server. so that i can follow the same pattern on the messages im writing.

## Acceptance Criteria
### Update
The following methods should include:
![image](https://user-images.githubusercontent.com/44146773/81184653-52da9580-8fb9-11ea-9287-5ad911cfbfb2.png) before the message itself.

Users
- [ ] GET /

[2020-05-06 13:50] StergiosSozos commented on #577
Since I'm working with @EfthymiaKostaki and she is interested in this issue can she be assigned to this issue?

[2020-05-06 17:01] SanketDG opened #578 "Remove cffi from dependencies"
**Describe the bug**

When installing dependencies `pip install -r requirements.txt`, it fails on Python 3.8.2

**To Reproduce**

Steps to reproduce the behavior:

- Try to setup the project on Python version 3.8.2
- `pip install -r requirements.txt` fails on installing `cffi`

**Expected fix**
Remove cffi from dependencies and make sure our tests work.

**Additional context**
https://bitbucket.or

[2020-05-06 17:26] SanketDG opened #579 "Upgrade to flask-restx"
**Describe the bug**

`flask-restplus` is not maintained anymore, it's best we move to [flask-restx](https://github.com/python-restx/flask-restx)

A lot of modules break on newer Python versions because of `flask-restplus` staying unmaintained.

This is a big change, but it's a change in the right direction.

Relevant links:
https://github.com/noirbizarre/flask-restplus/issues/593

[2020-05-06 20:13] faznan3nazer opened #580 "400 Response does not list "Terms and Conditions is not of type 'boolean'" message."
When registering a new user, if Terms and condition is not filled then we see expected error message  "terms_and_conditions_checked": "'' is not of type 'boolean'". But this message is not listed under 400 Responses.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'User-Register'.
2. {
  "name": "testub",
  "username": "testub",
  "password": "testub123",
  "email": "tajof47157@coala

[2020-05-07 06:54] siddhipandare commented on #577
I tried finding her @ in the assignees but couldn't find her as she's not a member of the organization on GitHub

[2020-05-07 06:56] siddhipandare commented on #577
@StergiosSozos I tried finding her @ in the assignees but couldn't find her. Is she a member of the org on GitHub? Let me know.

[2020-05-07 08:08] StergiosSozos commented on #577
She hasn't be assigned yet in this issue but she has worked on this project, for example PR #545

[2020-05-07 18:55] SanketDG commented on #577
@StergiosSozos Given that it's publicly documented that you guys want to work on this issue, please feel free and start work on this. Even though you are not _oficially_ assigned, it should be fine to go ahead with fixing this.

[2020-05-07 19:13] Vuyanzi commented on #575
I would like to be assigned this please

[2020-05-07 19:25] SanketDG commented on #575
@Vuyanzi There you go, let us know if you have any questions!

[2020-05-08 12:52] isabelcosta commented on #579
Wow I had no idea about this 😱 I was aware of the issue you mentioned, but I did not know about this at all. This is awesome, how a group of people joined to continue the project and keep it alive ❤️
@SanketDG thank you so much for bringing this to our attention.

[2020-05-08 13:01] isabelcosta commented on #579
@SanketDG can you estimate the time?! the complexity of doing this? I am asking because since this is a fork, maybe it's not that complex?

[2020-05-08 13:21] isabelcosta commented on #578
Thank you for creating this @SanketDG !

[2020-05-08 14:06] SanketDG commented on #579
@isabelcosta

I did take a rough look at the estimation, and it seems like they have tried and maintained 100% compatilibity as much as they can. The only change that seems immediate is the package name i.e. `flask_restplus` -> `flask_restx`. There can be other small changes, but I am hoping there won't be any major breaking changes.

I will be taking this up and doing this over the weekend, but s

[2020-05-08 14:42] #473 closed, assigned to StergiosSozos

[2020-05-08 15:44] Vuyanzi commented on #575
ok, thank you

[2020-05-08 18:19] Ritika5901234 commented on #573
Hi @faznan3nazer and @isabelcosta
I am interested in working on this issue. If no one else is working on it, could you please assign it to me? Thanks!

[2020-05-08 20:21] SanketDG commented on #573
@Ritika5901234 There you go!

[2020-05-08 21:20] Ritika5901234 commented on #573
thanks

[2020-05-09 10:57] robotjellyzone commented on #580
Hi @faznan3nazer would you like to work on it's solution ? I can assign it to you !

[2020-05-09 23:56] isabelcosta commented on #580
this is actually a response that is created by FlaskRESTPlus, so I am not sure if we should  put this on our Swagger UI as it is or create a response of ours 🤷‍♀️

[2020-05-10 05:35] Vuyanzi commented on #575
Hello am still working on this and will push soon. Sorry for any inconvenience caused.

[2020-05-11 16:09] aparnavadlamani commented on #403
Yes I am still unable to find the issue even on Zulip.

[2020-05-11 18:29] isabelcosta commented on #403
@cs17b005 Could you please share your issue again, here or on Zulip (tagging me there)?

[2020-05-11 19:17] aparnavadlamani commented on #403
Actually it's the same issue which @Ashokrayal posted above and as he suggested when I removed some packages related to docker the app was up and running. Thank you for the support! I'll complete it as soon as possible. Will let you know if I come across anything else.
The changes I made to the requirements doc are:
I upgraded the MarkupSafe package and also I removed the docker related packages f

[2020-05-11 19:58] isabelcosta commented on #403
@cs17b005 yey! glad you solved the problem you were having :D

[2020-05-11 20:48] #554 closed, assigned to StergiosSozos

[2020-05-12 11:03] garimasingh128 opened #585 "Setting relative paths to repository files on the README.md file."
## Description

Setting relative paths to repository files on the README,
so that I can see them properly on my fork README rendering.

On README the links to LICENSE, CONTRIBUTING.md, etc located within the repo, have absolute links to this organization repo, this causes to within our forks, it is linked to these files in the anitab-org organization files instead of on my fork's files.

## Accept

[2020-05-12 11:04] garimasingh128 commented on #585
@faznan3nazer  @isabelcosta  Can I be assigned this issue?

[2020-05-12 17:47] Ritika5901234 commented on #562
Hi @isabelcosta and @faznan3nazer - although I have been working on the similar issue #573 , can I get this issue assigned to me as well, if not its absolutely fine :-)

[2020-05-12 17:52] sankha555 commented on #393
@Hardik0403 @isabelcosta If this issue is still open, can I please work on it? Thanks!

[2020-05-12 18:18] Ritika5901234 opened #586 "Upgrade psycopg2-binary to the latest version"
**Describe the bug**

When installing dependencies pip install -r requirements.txt, it fails on Python 3.8.2

**To Reproduce**

Steps to reproduce the behaviour:

Try to setup the project on Python version 3.8.2
`pip install -r requirements.txt` fails on installing `psycopg2-binary`

**Expected behavior**
Upgrade `psycopg2-binary` to the latest version and make sure our tests work.

**Screenshots*

[2020-05-12 18:25] Ritika5901234 commented on #586
Hi, I have created an issue here for first time, can I be assigned this issue? I plan to upgrade the version from 2.8.3 to 2.8.5 which eliminates the error, please let me know your suggestions.

[2020-05-12 22:30] vkWeb commented on #586
@Ritika5901234 Welcome to the community.

I have assigned you this issue. You can start working on this :)

[2020-05-12 22:35] vkWeb commented on #579
@SanketDG I think let's get this in as soon as we can. There won't be a lot of conflicts I believe if flask-restx is compatible with flask-restplus.

What do you all think?

[2020-05-13 04:02] Ritika5901234 commented on #586
@vkWeb - thanks for assigning the issue (P.S. - I have worked on one existing issue but I have created an issue for the first time)

[2020-05-13 09:13] sankha555 commented on #393
I am facing a problem in this issue. Although I have figured out where the bug in the code lies, I am unable to test it as I cannot gain access to the account of any of the test users (user1, user2, etc). I tried logging in using use1 as username and user1_pwd as password, but it shows wrong username and password. Any help on this??

[2020-05-14 14:21] rpattath opened #590 "Add PR test report template to PR testing doc."
**Describe the bug**

Update [PR testing doc](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/test-pr-guide.md) to add PR test report template

**Expected behavior**
[PR testing doc](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/test-pr-guide.md) should have PR test report template.

[2020-05-14 17:02] SanketDG opened #591 "Postman collection does not seem to work"
**Describe the bug**

When I run the postman collection in `docs/`, it seems to fail for the first request and all the subsequent requests after that.

**To Reproduce**

Steps to reproduce the behavior:

- Install `newman` from `npm`
- Run the collection using `newman`
- You can also use `Postman`.

**Expected behavior**

They should run gracefully.

**Additional context**

Probably needs to be up

[2020-05-14 17:55] SanketDG commented on #393
I am not sure what test users mean here but you can just create a new user and work with that. It also gives you enough some experience to work with the existing APIs.

[2020-05-15 14:42] sankha555 commented on #393
@SanketDG  I have made a PR regarding the issue. Could you kindly review it and let me know if some changes are required? Thanks!

[2020-05-15 15:09] abha224 commented on #574
@isabelcosta could you pls unassign me from this issue? I may not be able to complete it on time, as Im occupied with some college work. I want to leave it for other first-timers for now. :see_no_evil:

[2020-05-15 19:51] vj-codes commented on #523
Heyy @mtreacy002 are you working on this as of now ?

[2020-05-15 23:25] mtreacy002 commented on #523
Hi @vj-codes. I was waiting for @isabelcosta to respond on the comment I posted above. But feel free to work on it coz I too want to know if there's a different way to approach this 😉. cc @isabelcosta

[2020-05-15 23:36] vj-codes commented on #523
Ahhh no I was asking so as to label it as available or not🤦‍♀️ I'll remove the status available. Thanks! @mtreacy002

[2020-05-16 11:45] EllieMwangi commented on #574
@isabelcosta Can I take up this issue?

[2020-05-16 14:46] EfthymiaKostaki opened #595 "Add only Python3 support in tests"
## Description
I was working on an issue to alter the test structure of the project and discussing with a maintainer we found out that the project should only support python 3 but in some tests, this is not achieved. For example, in tasks_base_setup this is happening:
![image](https://user-images.githubusercontent.com/43841219/82122417-4cf46980-979c-11ea-9660-e98f777e6192.png)
The setup method sho

[2020-05-16 17:00] SanketDG commented on #523
@mtreacy002

If this issue is about setting up a docker development through Docker, I think we should not worry about database persistence. What we can do is to mention this in the docs that if you stop the container, you lose the data (even though this is implicit)

[2020-05-16 19:37] vanshikagoell commented on #493
Please assign me this issue, I wish to contribute this is my first time!

[2020-05-16 21:09] SanketDG commented on #493
@vanshikagoell There you go!

[2020-05-17 17:12] faznan3nazer opened #596 "Update the user with existing name and username."
When you are updating the user with existing name and username, you are getting an error message "A user with that username already exists."
**To Reproduce**

Steps to reproduce the behavior:

Current username: zxcvbnm
Updating username to: zxcvbnm,
Current name: zxcvbnm
Updating name to: zxcvbnm,

1. Go to 'User-update user profile'.
2. Provide the access token.
3. .{
  "name": "zxcvbnm",
  "user

[2020-05-17 17:58] isabelcosta commented on #279
@robotjellyzone gave me a great idea! 🎉 To document why this is needed!

Here's the current problem that can be solved by this pagination feature:
![image](https://user-images.githubusercontent.com/11148726/82155926-19830f00-9870-11ea-8b03-58dccf53aaa3.png)

Heroku logs:

![image](https://user-images.githubusercontent.com/11148726/82155947-41727280-9870-11ea-9dc5-55d5778e7d6b.png)

[2020-05-17 19:02] faznan3nazer opened #597 "Error message for missing all fields under update user profile."
When we delete all fields in input, an appropriate error message should be showned and listed under Responses.
**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'User-update user profile'.
2. Provide authorization access token.
3.  Input playload:
 {
  }
4.  Click on 'Execute'
5. Scroll down to 'Respense.'
6.
![Screenshot (72)](https://user-images.githubusercontent.com/50888936/82156969

[2020-05-17 19:40] bartekpacia commented on #279
So basically, sometimes it takes too much time to query all the users, right?

[2020-05-17 19:48] aparnavadlamani commented on #403
I have made few changes but when I try to register a user it gives me Internal Server error. I have searched for this issues in the Issues already posted and found related issues but I didn't find a solution. I have tried one of the solutions which says enable 2-step verification and then generate a password and use the generated password but this doesn't work for me either. Could you help me with

[2020-05-17 20:13] faznan3nazer opened #598 "Updating an user with empty username and name should give an error message"
When updating an user with empty username and name should give an error message.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'User-update user profile'.
2. Provide authorization access token.
3. {
  "name": "",
  "username": "",
  "bio": "string",
  "location": "string",
  "occupation": "string",
  "organization": "string",
  "slack_username": "string",
  "social_media_links": "s

[2020-05-17 22:04] techno-disaster commented on #279
yep

[2020-05-18 15:55] annabauza opened #599 "Community Bonding"

[2020-05-18 15:56] annabauza opened #600 "First Coding Period"

[2020-05-18 15:57] annabauza opened #601 "Second Coding Phase"

[2020-05-18 15:58] annabauza opened #602 "Final Coding Phase"

[2020-05-18 16:05] snitin315 commented on #599
Will be great if you can add some description.

[2020-05-18 21:13] faznan3nazer opened #603 "Error message for entering less than 4 characters for username under update user profile."
When we enter username less than 4 character, the error message should be listed under Responses.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'user-update user profile'
2. provide authorization access token
3. {
  "name": "123”,
  "username": "123",
  "bio": "string",
  "occupation": "string",
  "organization": "string",
  "slack_username": "string",
  "social_media_links": "stri

[2020-05-19 10:22] meenakshi-dhanani commented on #574
@EllieMwangi I have unassigned the previous assignee. Assigned it to you  :)

[2020-05-19 11:56] meenakshi-dhanani commented on #142
Hi @StergiosSozos, would you still like to work on this issue?

[2020-05-19 12:49] EllieMwangi commented on #574
Thanks @meenakshi-dhanani

[2020-05-19 19:25] #590 closed, assigned to rpattath

[2020-05-19 19:50] #575 closed, assigned to Vuyanzi

[2020-05-19 21:05] isabelcosta commented on #599
@annabauza can you please add some description like @snitin315 mentioned

[2020-05-19 21:16] isabelcosta commented on #574
@EllieMwangi feel free to let us know if you need any help :)

[2020-05-20 04:49] EllieMwangi commented on #574
@isabelcosta I have submitted a pull request, awaiting review.

[2020-05-21 13:51] StergiosSozos commented on #142
No, I wasn't assigned to this issue, I am working on a different issue. You can ask @isabelcosta to be assigned

[2020-05-21 15:08] faznan3nazer opened #606 "Error message mismatch under update user profile."
When we enter numericals instead of characters for name, the error message mismatches.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'user-update user profile'.
2. Provide authorization access token.
3. {
  "name": "1234567",
  "username": "1234567",
  "bio": "string",
  "occupation": "string",
  "organization": "string",
  "slack_username": "string",
  "social_media_links": "strin

[2020-05-21 15:27] vanshikagoell commented on #493
Sorry I am not able to do it!

[2020-05-21 17:05] faznan3nazer commented on #606
When we enter special characters instead of characters, it is showing same error as above.

[2020-05-21 19:56] faznan3nazer opened #607 "Delete the error message "The authorization token is missing" from the response."
When we click execute without providing any token, it doesn't execute. Which is a correct behaviour. But if that's the case you have to remove that response from the response list.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'user-update user profile'.
2. Authorization access token is not provided.
3. Click on 'Execute'.
4.
![Screenshot (88)](https://user-images.githubusercontent

[2020-05-22 18:34] rpattath opened #608 "Refactor to use one type of time - time.time() - and also using UNIX timestamp everywhere."
`creation_date` in the mentorship relation (app/api/dao/mentorship_relation.py line) which is using .timestamp() after datetime.utcnow() where as in the `email verification date` for user register (app/api/dao/user.py), only uses datetime.utcnow() without .timestamp().

**To Reproduce**

Steps to reproduce the behavior:

[This PR comment](https://github.com/anitab-org/mentorship-backend/pull/556#i

[2020-05-23 11:27] isabelcosta commented on #608
Thank you @rpattath for bringing up this issue. I talked with @mtreacy002 now in our GSoC 1:1, and we thought to make this issue about refactoring the whole code to use one type of time - `time.time()` - and also using UNIX timestamp everywhere (data models and all).
Would you mind if I changed the issue description and title to reflect this? In that way we would not close this.

[2020-05-23 12:56] evangelisilva commented on #562
@Ritika5901234 Go ahead!

[2020-05-23 13:20] Ritika5901234 commented on #562
@EvangeliSilva - thanks :-)

[2020-05-23 15:19] sahil9001 commented on #607
Can I take up this issue?

[2020-05-23 15:27] SanketDG commented on #607
There you go, Sahil!

[2020-05-24 13:01] isabelcosta commented on #562
@Ritika5901234 since you are already assigned to another first timer only issue, could you please leave this to another newcomer. You can help them solve the issue if needed and review the PR :) I can create other non newcomer issues so you can try those out.

@EvangeliSilva thank you for being so quick to help and respond, I'm just intervining here because this is a first timer only issue, having

[2020-05-24 13:03] Ritika5901234 commented on #562
@isabelcosta - sure :-)

[2020-05-24 19:11] rpattath commented on #608
@isabelcosta @mtreacy002 does the title look good now?

[2020-05-24 19:15] SanketDG commented on #607
@faznan3nazer Could you explain me this issue? I am not able to understand from the description.

[2020-05-24 20:17] sahil9001 commented on #607
She was saying that in the POSTMAN UI the user has to put the Authorization token before accessing the GET request, so the message "The authorization token is missing" makes no sense because you have to enter that first before accessing the GET request.

[2020-05-25 01:59] mtreacy002 commented on #608
Looks good to me, @rpattath. Thanks for the change 😉

[2020-05-25 02:01] snitin315 commented on #608
I think we should follow Semantic naming

[2020-05-25 04:01] SanketDG commented on #607
@sahil9001 Well, one can send the request without the authorization token, and then the right error mesage appears

[code]

[2020-05-25 10:41] isabelcosta commented on #608
We just need to also change the description to reflect what the title says @rpattath

What do you mean? Can you elaborate? @snitin315

[2020-05-25 10:51] snitin315 commented on #608
Like `fix, feat, chore, refactor`, etc in PR titles, commit messages as well if possible. Most open-source projects use this convention.
for example->
[https://github.com/webpack/webpack-cli/pulls?q=is%3Apr+is%3Aclosed](https://github.com/webpack/webpack-cli/pulls?q=is%3Apr+is%3Aclosed)
[https://github.com/webpack/webpack-cli/commits/next](https://github.com/webpack/webpack-cli/commits/next)

More

[2020-05-25 12:49] #279 closed, assigned to brianguo98, lmcicat

[2020-05-25 13:02] isabelcosta opened #610 "Add flutter client to API Swagger description"
## Description
As a contributor,
I need information accessible in the Swagger UI,
so that I can get to know more about mentorship system projects.

The idea is to add an extra line mentioning the flutter client and its URL

## Mocks

This is how the description looks like at the moment:

![image](https://user-images.githubusercontent.com/11148726/82814944-0daad480-9e90-11ea-8a69-7f3d5b2250ab.png)

[2020-05-25 13:34] isabelcosta opened #611 "Optimize query of unverified users in scheduler"
## Description

The idea is to optimize query of unverified users, so that these are fetched directly from the database instead of fetching all and then filtering with python code.

In this line https://github.com/anitab-org/mentorship-backend/blob/develop/app/schedulers/delete_unverified_users_cron_job.py#L20 you can see the code fetches the all users fro `UserModel` and only then it filters non

[2020-05-25 13:41] isabelcosta commented on #403
@cs17b005 I am sorry for the delay in my response, could you tell me if you still have your a problem with the development environment setup.

[2020-05-25 13:52] isabelcosta opened #612 "Mention on Swagger UI the default values regarding pagination"
## Description

As a developer/tester,
I need to know what I should expect as default values of pagination,
so that I can properly test is or understand the values used if I don't give any.

## Mocks

Here's an example of how the default values could appear there:

![image](https://user-images.githubusercontent.com/11148726/82818641-eefc0c00-9e96-11ea-8b88-4d3b72c1b655.png)

## Acceptance Criteria

[2020-05-26 17:06] annabauza commented on #599
It should not land in backend, it's a [roadmap period](https://app.zenhub.com/workspaces/anitab-org--mentorship-5ae233db7f2fb6269bd5630a/roadmap)

[2020-05-28 15:07] aparnavadlamani commented on #403
Yes, I am still facing the issue. No problem you might have been busy. I have seen similar issues with some other user but I couldn't get any help from that post.

[2020-05-28 20:13] faznan3nazer opened #613 "Responses does not list "Notes field is missing." error message."
When we update an user profile, if the filed notes is removed from the inputs then we see the expected error  "Notes field is missing." but this not listed under responses.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Mentorship relation- send request'.
2. Provide authorization access token.
3.   {
     "mentor_id": 271,
     "mentee_id": 272,
     "end_date": 1598400000
      }

[2020-05-28 20:19] SanketDG commented on #403
@cs17b005 Can you post the issue on Zulip and tag me? I might be able to help you here with the dev setup.

Please paste the complete error messages using Github's gists and then paste the link there. Also list down the exact steps that you followed from the setup guide.

[2020-05-28 20:41] faznan3nazer opened #614 "Responses does not list "Mentor ID field is missing." error message."
When we update an user profile, if the filed Mentor ID is removed from the inputs then we see the expected error "Mentor ID field is missing." but this not listed under responses.
**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Mentorship relation- send request'.
2. Provide authorization access token.
3. {
    "mentee_id": "272",
    "end_date": 1598400000,
    "notes": "string"
   }

[2020-05-29 06:06] faznan3nazer opened #615 "Responses does not list "Mentee ID field is missing." error message."
When we update an user profile, if the filed notes is removed from the inputs then we see the expected error  "Mentee ID field is missing." but this not listed under responses.
**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Mentorship relation- send request'.
2. Provide authorization access token.
3.  {
     "mentor_id": "271",
     "end_date": 1598400000,
     "notes": "string"

[2020-05-29 07:36] faznan3nazer opened #616 "Responses does not list "End date field is missing." error message."
When we update an user profile, if the filed notes is removed from the inputs then we see the expected error "End date field is missing." but this not listed under responses.

**To Reproduce**

Steps to reproduce the behavior:

1 .Go to 'Mentorship relation- send request'.
2. Provide authorization access token.
3.
[code]
4. Click on 'Execute'.
5. Scroll down to 'Responses'.
6.
![Screenshot (123)](

[2020-05-29 09:25] Tahanima commented on #142
Hi @meenakshi-dhanani
Please assign me this issue as discussed with you in Zulip. Thank You.

[2020-05-29 10:03] faznan3nazer opened #617 "sending request for mentorship relation with incorrect end date, an appropriate error message is generated."
When we send request for mentorship relation, an appropriate error message is generated.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Mentorship relation- send request'.
2. Provide authorization access token.
3. {
  "mentor_id": "271",
  "mentee_id": "272",
  "end_date": 11598400000,
  "notes": "string"
}
4. Click on 'Execute'.
5. Scroll down to 'Responses'.
6.
![Screenshot (118)

[2020-05-29 14:04] meenakshi-dhanani commented on #142
Thank you @sidvenu :)

[2020-05-29 21:14] #617 closed, assigned to nobody

[2020-05-29 21:15] rpattath commented on #617
Closing the issue because this is not an issue and it is an expected behavior.

[2020-05-29 21:58] sumit-badsara opened #618 "OSError in Windows not being caught"
**Describe the bug**

When there is some invalid argument, we expect it to be caught by python under ValueError.
But In the case of passing invalid timestamp in test `test_dao_create_mentorship_relation_with_good_args_but_invalid_timestamp`.
It get's caught on other OS, but for Windows It throws OSError (Another Exception) which is not getting caught by ValueError.

**To Reproduce**
(Steps for win

[2020-05-29 22:01] sumit-badsara commented on #66
@isabelcosta Updated the PR! 😄

[2020-06-03 08:48] mtreacy002 opened #619 "Fix: refactor HTTP error codes POST /register for Users service"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to POST /register request,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 201: Created need to be returned instead of 200: OK if the p

[2020-06-03 09:22] meenakshi-dhanani commented on #619
Isn't there also a 404 being returned that should be 401? Is that a separate issue?

[2020-06-03 09:26] mtreacy002 commented on #619
Yeah. That will be on separate issue (POST /login) 😉
<img width="580" alt="Screen Shot 2020-06-03 at 7 25 24 pm" src="https://user-images.githubusercontent.com/29667122/83619998-068e6f80-a5d0-11ea-9485-f0c8d1b7535d.png">

[2020-06-03 13:59] nandini45 commented on #619
@mtreacy002  are you working on this issue or i can work on it?
btw i think this can be a first timer issue .. its quite easy right?

[2020-06-03 14:00] nandini45 commented on #619
btw i think this can be a first timer issue if you want?

[2020-06-03 14:01] mtreacy002 commented on #619
Hi @nandini45 . You are most welcome to work on it. Please feel free to ask me anything if you have unclear off.... 😉

[2020-06-03 14:10] nandini45 commented on #619
yeah sure.!!
i had a question i have to update the 200 httpcodes with 201 but can you elaborate a bit more under what criteria? or i just have to update all the 200 httpcodes?

[2020-06-03 14:17] mtreacy002 commented on #619
so, since we're sending a POST /register request, which means we ask a user to be created by the system, the system then should return HTTPStatus.CREATED to confirm that the user has been created. HTTPStatus.OK only means a process requested is successful, but not specific to what process itself. So, this is why we need the 201 instead of 200 (it's much closer in reflecting to what the process is)

[2020-06-03 14:24] mtreacy002 commented on #619
The same as 409: Conflict. Since the user trying to register with using an existing user data in the database, the system should notify the user that trying to register that the action they requested has raised a `conflict` with existing data.

[2020-06-03 14:28] mtreacy002 commented on #619
We actually want someone to work on this issue asap as this issue is blocking the bridge-in-tech progress for GSoC. That's why we don't label it first-timer issue, coz we need someone to do it `reasonably` quickly 👌 😃

[2020-06-03 14:32] nandini45 commented on #619
yeah i understand i will do it asap

[2020-06-03 14:35] mtreacy002 commented on #619
Thank you soooooo much for your help, @nandini45 ❤️ . You're the BEST!!! 🤗 😘

[2020-06-03 15:00] nandini45 commented on #619
@mtreacy002 @isabelcosta  During updating the values in app/api/dao/task there is a httpcode for whose code value is returned instead of the httpcode
![image](https://user-images.githubusercontent.com/62046625/83653075-f7f88600-a5d8-11ea-8e42-0e4bd5711ee7.png)

so should i change it or a separate issue can be created???

[2020-06-03 15:17] nandini45 commented on #619
although i have replaced all the 200 and 400 codes. do tell me if i can change 403 also!!

[2020-06-03 21:17] adi-001 commented on #618
Hi @anitab-org/mentorship-managers,  please have a look at this issue
I'm having some prob with my laptop so check it out

[2020-06-03 21:19] adi-001 commented on #618
Hi @anitab-org/mentorship-managers , please have a look at this issue
I'm facing some issue while checking it out on my laptop

[2020-06-03 22:16] sumit-badsara commented on #618
@isabelcosta I would like to work on this issue!

[2020-06-03 22:36] SanketDG commented on #618
@BadduCoder I have assigned you, let me know if you have any questions.

[2020-06-04 09:00] nandini45 opened #622 "Fix:replace httpcode(403) with httpstatus code"
## Description
a minor change is required(replace the httpcode with httpstatuscode)

## Mocks
![image](https://user-images.githubusercontent.com/62046625/83736662-98998500-a66f-11ea-8a36-574b84cc795f.png)

## Acceptance Criteria
### Update [Required]
- [ ] replace 403 with its httpstatuscode

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estim

[2020-06-04 09:02] nandini45 commented on #622
@isabelcosta  is this relevant or i should make the changes myself?

[2020-06-04 13:44] mtreacy002 opened #623 "Fix: refactor HTTP error codes GET/users/{user_id}"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to GET /users/{user_id},
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA
## Acceptance Criteria
### Update [Required]
- [ ] 200: OK needs to be returned instead of 201: Created if the pro

[2020-06-04 13:50] mtreacy002 opened #624 "Fix: refactor HTTP error codes POST /login for Users service"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to POST /login,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 401: Unauthorized needs to be returned instead of 404: Not Found if the

[2020-06-04 13:53] mtreacy002 opened #625 "Fix: refactor HTTP error codes POST /user/resend_email for Users service"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to POST /user/resend_email request,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 409: Conflict need to be returned instead of 403: F

[2020-06-04 13:55] mtreacy002 opened #626 "Fix: refactor HTTP error codes POST /mentorship_relation/send_request"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to POST /mentorship_relation/send_request,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 201: Created need to be returned instead of

[2020-06-04 14:00] mtreacy002 opened #627 "Fix: refactor HTTP error codes PUT / mentorship_relation/{request_id}/accept"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to PUT / mentorship_relation/{request_id}/accept,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 403: Forbidden need to be returned in

[2020-06-04 14:04] mtreacy002 opened #628 "Fix: refactor HTTP error codes PUT /mentorship_relation/{request_id}/reject"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to PUT /mentorship_relation/{request_id}/reject,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 403: Forbidden need to be returned ins

[2020-06-04 14:10] mtreacy002 opened #629 "Fix: refactor HTTP error codes PUT /mentorship_relation/{request_id}/cancel"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to PUT / mentorship_relation/{request_id}/accept,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users .

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 403: Forbidden need to be returned i

[2020-06-04 14:21] PareenKarpe commented on #624
@mtreacy002 If this issue is open. Can I work on this one?

[2020-06-04 14:29] mtreacy002 opened #630 "Fix: refactor HTTP error codes DELETE /mentorship_relation/{request_id}"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to DELETE /mentorship_relation/{request_id},
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 403: Forbidden need to be returned instead

[2020-06-04 14:33] mtreacy002 opened #631 "Fix: refactor HTTP error codes POST /mentorship_relation/{request_id}/task"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to POST /mentorship_relation/{request_id}/task,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 201: Created needs to be returned inste

[2020-06-04 14:36] mtreacy002 opened #632 "Fix: refactor HTTP error codes PUT /mentorship_relation/{request_id}/task/{task_id}/complete"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to PUT /mentorship_relation/{request_id}/task/{task_id}/complete,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 409: Conflict need to

[2020-06-04 14:39] mtreacy002 opened #633 "Fix: refactor HTTP error codes POST /mentorship_relation/{request_id}/task/{task_id}/comment"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to POST /mentorship_relation/{request_id}/task/{task_id}/comment,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 201: Created needs to

[2020-06-04 14:41] mtreacy002 opened #634 "Fix: refactor HTTP error codes PUT /mentorship_relation/{request_id}/task/{task_id}/comment/{comment_id}"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to PUT /mentorship_relation/{request_id}/task/{task_id}/comment/{comment_id},
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 403: Forb

[2020-06-04 14:43] mtreacy002 opened #635 "Fix: refactor HTTP error codes DELETE /mentorship_relation/{request_id}/task/{task_id}/comment/{comment_id}"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to DELETE /mentorship_relation/{request_id}/task/{task_id}/comment/{comment_id},
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA
## Acceptance Criteria
### Update [Required]
- [ ] 403: Fo

[2020-06-04 14:45] mtreacy002 opened #636 "Fix: refactor HTTP error codes GET /mentorship_relation/{request_id}/task/{task_id}/comments"
## Description
As a GSoC student,
I need the correct HTTP error response code to be returned accordingly by Mentorship System API in relation to GET /mentorship_relation/{request_id}/task/{task_id}/comments,
so that I can represent the error message accordingly to both Mentorship System and Bridge In Tech users.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] 403: Forbidden needs

[2020-06-04 20:04] isabelcosta commented on #622
@nandini45 if you want to contribute with this issue by solving it, go ahead :) do you want me to assign you?

[2020-06-04 20:26] nandini45 commented on #622
yeah i can make change but beforehand Isabel my travis check is failing idk what to do. can you help me. it is saying use version 3.6 of python i have downloaded but now still i am not able to run the project on that version

[2020-06-04 23:35] #586 closed, assigned to Ritika5901234

[2020-06-05 07:23] nandini45 commented on #622
yes

[2020-06-05 12:46] PareenKarpe commented on #611
@isabelcosta If this issue is available. Can I work on it?

[2020-06-05 14:49] isabelcosta commented on #611
@PareenKarpe yes you can :) I just assigned this to you

[2020-06-05 19:34] PareenKarpe commented on #611
@isabelcosta  I am replacing the above query with the below
[code]

[2020-06-06 12:55] satya7289 commented on #623
I want to work on the issue. @anitab-org/mentorship-managers

[2020-06-06 13:06] satya7289 commented on #624
Yes @PareenKarpe

[2020-06-06 23:49] mtreacy002 commented on #624
thanks, @PareenKarpe for helping with This issue 🥰

[2020-06-06 23:51] mtreacy002 commented on #624
sorry, accidentally hit closed button when trying to select emoji icon 😊

[2020-06-06 23:52] mtreacy002 commented on #623
Thanks, @satya7289 for helping with this issue 🙂

[2020-06-07 04:23] satya7289 commented on #625
I want to work on this issue. @anitab-org/mentorship-managers

[2020-06-07 06:59] vj-codes commented on #625
Assigning you @satya7289
Happy coding!

[2020-06-08 15:54] PareenKarpe commented on #611
@isabelcosta I have committed the changes on my fork branch. But I am not sure how exactly I can test it as its a cron job. Can you help me with it? So after testing I can create a pull request for my committed changes

[2020-06-08 22:16] isabelcosta commented on #611
@PareenKarpe your code suggestion is totally correct :D
If you wish you can already send the PR, even if in a work in progress state.

In terms of testing, I would say you can reduce the timing of the cron job for 1 min for example, and have a couple of users verified and not verified in the database (e.g.: 1 user with email verified and 2 with email not verified, after that cron job execution you

[2020-06-08 22:58] isabelcosta opened #639 "Change __repr__ strings format to f-strings"
## Description
As a developer,
I need to have code using f-strings,
so that I can promote coding style consistency.

Coding standards 👉 https://github.com/anitab-org/mentorship-backend/wiki/Coding-Standards

## Mocks

Some of the places to change are:
- https://github.com/anitab-org/mentorship-backend/blob/develop/app/database/models/user.py#L115
- https://github.com/anitab-org/mentorship-backend/

[2020-06-08 23:09] isabelcosta commented on #622
@nandini45 why status on hold? do you need any help here?

[2020-06-09 09:53] aadityamp01 commented on #562
Hello, @faznan3nazer and @isabelcosta  I am interested to work on this issue. If no one is working on it, will you please assign it to me?
Thanks.

[2020-06-09 12:33] evangelisilva commented on #562
@aadityamp01 You are assigned 😊

[2020-06-09 13:16] aadityamp01 commented on #562
@EvangeliSilva Thanks.

[2020-06-09 17:54] vj-codes commented on #639
@isabelcosta I would like to work on this

[2020-06-09 18:02] evangelisilva commented on #639
@vj-codes You are assigned 😊

[2020-06-09 19:08] PareenKarpe commented on #611
@isabelcosta Sure it sounds good. I am trying to test it. But every time I am registering a user I get 500 response and  this error at the terminal
`   return self.digest_method(salt + b"signer" + self.secret_key).digest()
TypeError: can't concat NoneType to bytes
`
I am missing something with this. Can you help me with it?

[2020-06-09 19:23] isabelcosta commented on #611
@PareenKarpe have you set the environment variables? That might be the issue.
👉 https://github.com/anitab-org/mentorship-backend/blob/develop/docs/environment-variables.md

[2020-06-09 22:41] PareenKarpe commented on #611
@isabelcosta I am doing it the same way mentioned in the link. I will check it again

[2020-06-10 01:04] techno-disaster opened #641 "XMLHttp Request Error"
**Is your feature request related to a problem? Please describe.**
For the flutter web mentorship client, i keep getting a XMLHTTP Error. This is the exact error.
``` Access to XMLHttpRequest at 'https://mentorship-backend-temp.herokuapp.com/login' from origin '<myurl>' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin

[2020-06-10 04:06] Techno-Disaster commented on #641
after reading the error again i found out that cors was already enabled and thats why I'm getting the error smh.

So the solution would be to remove Access-Control-Allow-Origin to * from server.
cc @isabelcosta @anitab-org/coding-team  Am i correct?

[2020-06-10 07:48] ApheleiaS commented on #627
@isabelcosta can I work on this issue?

[2020-06-10 14:55] PareenKarpe commented on #611
@isabelcosta Thank a lot for helping. I was passing in the wrong format without the quotes. The query works and only deletes users who are not with verified emails. I am sending the PR request for the commit.

[2020-06-10 17:13] isabelcosta commented on #611
Yey! 🎉  I'm so happy you managed to do this and test it properly 👏 👏 @PareenKarpe

[2020-06-10 17:27] isabelcosta commented on #627
@ApheleiaS yes for sure :) I just assigned it to you

[2020-06-10 22:27] #585 closed, assigned to garimasingh128

[2020-06-10 22:38] isabelcosta commented on #607
Ah I think @rpattath mentioned this issue to me previously. It's true that you can use a different client than Swagger UI and eventually get that response. So I think this issue is not valid.
Thank you @SanketDG for the explanation

[2020-06-10 22:40] isabelcosta commented on #607
I am closing this issue because of the previous comments ^^
@sahil9001 feel free to pick another issue that is available, we have plenty ;)

[2020-06-10 22:40] #607 closed, assigned to sahil9001

[2020-06-10 22:42] isabelcosta commented on #577
@EfthymiaKostaki you have to express interest in this issue, for us to be able to use the username when assigning. Can you please leave a comment here?

[2020-06-11 03:32] sahil9001 commented on #607
okay

[2020-06-11 06:24] EfthymiaKostaki commented on #577
@isabelcosta Heyy, I didn't do that because we are working together with @StergiosSozos and we wanted to have similar difficulty in issues. I am interested in this issue!

[2020-06-11 19:42] isabelcosta commented on #577
Cool @EfthymiaKostaki :) I couldn't assign you because GitHub would not allow me unless you would participate in this discussion.

[2020-06-11 21:33] #562 closed, assigned to aadityamp01

[2020-06-12 12:54] vj-codes commented on #639
@EvangeliSilva I have changed the strings mentioned in the mocks , do I have to change only those or I have to look for more in the code and change them too?

[2020-06-12 21:20] #501 closed, assigned to isabelcosta

[2020-06-13 14:11] isabelcosta commented on #639
@vj-codes if you find more which could use f-strings its fine :) But for this specific issue i would keep the PR specific to this issue, so if you are thinking about f-strings in other parts of the code as API resources, I would say to create an issue for you to focus on those. Where did you see you could do more?

Also feel free to submit the PR already regarding this issue so we can give you fee

[2020-06-13 14:46] vj-codes commented on #639
@isabelcosta thanks.I'll submit the PR soon!

[2020-06-14 12:03] techno-disaster opened #644 "Search users function with pagination does not work as expected"
**Describe the bug**

Currently when we try and search a user and if he/she is not on the first page, we get an empty list. A proper search function should search the whole db and give the result without being dependent on the page number

**To Reproduce**
 Search the following in the search field
```urs``` or ```tech```  (ursula and technouser exist so they should be listed)
![image](https://user

[2020-06-14 12:34] nandini45 commented on #622
oh no . i was doing my design work so i couldnt update my work here. i didn't mean to delay my work. my travis build was failing again and again. so i had to setup the whole environment again. i did that, i will do it by today. @isabelcosta

[2020-06-14 14:14] isabelcosta commented on #622
No problem @nandini45 :) Thank you for the update. All good.

[2020-06-14 19:53] PareenKarpe commented on #624
@mtreacy002 Sorry I started working on this issue late as I was working on another issue. I have changed the response type for the login post user service. Now I am getting a 401 response type as shown in the attached image.

![image](https://user-images.githubusercontent.com/47460401/84602660-1e2ee900-ae57-11ea-8d21-89963747cb12.png)

[2020-06-14 22:27] #622 closed, assigned to nandini45

[2020-06-15 07:19] mtreacy002 commented on #624
Thank you, @PareenKarpe for your contribution. @anitab-org/bridgeintech-maintainers or @anitab-org/coding-team , can you please help review this PR? 😉

[2020-06-15 07:21] mtreacy002 commented on #624
Btw, @PareenKarpe , have you sent the PR? Or you're about to? Don't forget to tag this issue in the PR you're going to open so we're aware.

[2020-06-15 11:25] PareenKarpe commented on #624
@mtreacy002 I will raise the PR now. I want to confirm that do we need to do it for any other service other than the Post method of Login User Service?

[2020-06-15 15:58] satya7289 commented on #641
I want to work on this. @Techno-Disaster

[2020-06-15 16:00] snitin315 commented on #641
Go ahead.

[2020-06-15 18:31] rpattath opened #646 "Improve existing test documentation"
## Description
Currently we have [this doc](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/quality-assurance-test-cases.md) to record tests under each api. We need an improved way/tool to document/record integration test.

## Definition of Done
- [ ] The tool should be easy for collaboration among team members
- [ ] Easy to integrate with github and Travis CI and heroku (or whi

[2020-06-15 22:24] isabelcosta commented on #646
This sounds good @rpattath 🎉 I cannot wait to learn about this. To understand this better I would like to know:
- what is the purpose/goal... pros and cons
- which tool we could use, what is it improving in our current workflow
- one or more use cases of why we need this tool (e.g.: like a user story, where you give an example of how a QA person would use this and collaborate with the team)
- how

[2020-06-16 18:46] rpattath commented on #644
For more clarity adding a few more screenshots:

technodisaster4 user exists but seeing the following
![Screenshot from 2020-06-16 14-42-11](https://user-images.githubusercontent.com/26095715/84814671-cf608b00-afdf-11ea-9867-2cddac277b2e.png)

And if we try with page number
![Screenshot from 2020-06-16 14-42-31](https://user-images.githubusercontent.com/26095715/84814785-f919b200-afdf-11ea-9b6e-a0

[2020-06-16 19:01] nandini45 commented on #632
can i work on it?

[2020-06-17 15:52] satya7289 commented on #626
I want to work on this. @anitab-org/mentorship-managers

[2020-06-17 18:00] adi-001 commented on #618
Hey @BadduCoder  , what's the status for your PR?

[2020-06-17 18:09] adi-001 commented on #644
Hey @anitab-org/coding-team , anyone up for this?

[2020-06-20 11:59] rashikaqureshi commented on #598
Hi is this bug still open. I want to work on this.

[2020-06-20 15:39] rpattath commented on #646
Thank you for this amazing list of questions @isabelcosta
1. what is the purpose/goal... pros and cons?
Pros: QA team has been working on testing the whole project from the staged branch on heroku. We have been using google docs to document the tests which is not an ideal tool for test documentation of integration tests.
The test documentation tool that would be identified here would help with the

[2020-06-20 16:42] rashikaqureshi commented on #563
Hi is this open. can i take this up ?

[2020-06-20 22:18] vj-codes commented on #639
Update on my PR:
Was facing a few issues which is solved now and will send a PR tomorrow.

[2020-06-21 01:28] mtreacy002 commented on #624
@PareenKarpe, sorry for the late response and thanks for picking up this issue.

For POST methods other than POST /login user service, I've opened separate issues to distribute the tasks into smaller ones so it won't burden one contributor to do all required changes in one issue. Once you've finished with this, feel free to work on the other similar ones on different PR (once @anitab-org/coding-te

[2020-06-21 21:54] rpattath commented on #646
https://www.testim.io/ was a tool suggested by @isabelcosta which can be considered for comparison as well.

[2020-06-22 12:27] Sheetalsingh23 commented on #598
I would like to work on this issue.

[2020-06-22 21:33] PareenKarpe commented on #624
Thank you for your help throughout 👍

[2020-06-22 22:30] #626 closed, assigned to satya7289

[2020-06-22 23:26] isabelcosta commented on #646
Thank you @rpattath for coming with all these responses and ideas! 🎉
I learned a lot from you in our discussion about QA 🤗 (in the Office hour).

[2020-06-24 04:21] sumit-badsara commented on #618
@adi-001 You can work on this issue if you want, I am pretty busy with multiple things on my hand.

[2020-06-25 18:29] Ritika5901234 commented on #636
Hi @mtreacy002 - I am interested, can you assign this to me :-)

[2020-06-25 20:55] #624 closed, assigned to PareenKarpe

[2020-06-25 21:38] #639 closed, assigned to vj-codes

[2020-06-25 21:46] #619 closed, assigned to nandini45

[2020-06-27 15:17] isabelcosta opened #652 "Update TravisCI badge and Development server link on README"
## Description
As a contributor,
I need README updated with the project deployment status,
so that I can be up to date.

Some links are not up to date, which can lead to confusion, like the Travis CI badge for develop branch, and the Development server link.

## Acceptance Criteria
### Update [Required]
- [ ] Change Travis CI develop badge link to https://travis-ci.org/anitab-org/mentorship-backen

[2020-06-27 19:12] isabelcosta commented on #644
@rpattath thank you for testing this and helping making the issue more clear

[2020-06-28 04:13] mtreacy002 opened #653 "Bug: HTTPStatus CONFLICT is returned instead of BAD_REQUEST for invalid input POST /register"
**Describe the bug**

HTTPStatus.CONFLICT is returned for invalid input instead of HTTPStatus.BAD_REQUEST

**To Reproduce**

Steps to reproduce the behavior:

1. Run `python run.py` command
2. Go to Swagger UI and try to register new user with invalid input
3. You will see error message with 409 CONFLICT instead of BAD_REQUEST 400 being returned.
You can also see the expected response on Swagger U

[2020-06-28 04:33] mtreacy002 commented on #653
@anitab-org/bridgeintech-maintainers and @anitab-org/coding-team . Just want to report a bug that is raised by the recent merged PR #650 . The PR was supposed to refactor 400 response to 409 on the events where user inserted existing username or email only.
Despite the code being refactored correctly on the app/api/dao/user.py,

<img width="1448" alt="Screen Shot 2020-06-28 at 2 17 14 pm" src="htt

[2020-06-28 07:16] nandini45 commented on #653
@mtreacy002  testcases have to be added can i do the work?

[2020-06-28 07:20] mtreacy002 commented on #653
Sure, @nandini45 . You can add the test cases in this same issue instead of having them separately. Let me know if you are unclear of the task required here. 😉

[2020-06-28 07:22] mtreacy002 commented on #653
Before working on the test cases. Make sure you make the relevant changes mentioned in the issue description and my comment above.

[2020-06-29 07:23] mtreacy002 commented on #636
I'd be glad to if I have authority to assign you (unfortunately I don't). But, I'll pass this on to @anitab-org/coding-team and @anitab-org/bridgeintech-maintainers . Can anyone in the team please assign this issue to @Ritika5901234? Thanks, heaps.

[2020-06-29 10:11] Ritika5901234 commented on #636
Thanks @meenakshi-dhanani and @mtreacy002 !

[2020-06-29 18:08] TrojanTarun commented on #574
@isabelcosta
hii is this issue still open.this is my first time open source contribution if you give me the permission for working on this issue.

[2020-06-29 23:01] #611 closed, assigned to PareenKarpe

[2020-06-30 19:33] vj-codes commented on #628
I would like to work on this @mtreacy002 @gaurivn @nandini45

[2020-07-01 10:18] nandini45 commented on #653
@mtreacy002  i will update my work asap.. sorry for the delay..i am working on it

[2020-07-02 17:27] gaurivn commented on #628
Sure @vj-codes, assigning to you

[2020-07-03 03:14] mtreacy002 commented on #653
No worries, @nandini45 , take your time. Let me know if there's anything you're not sure of.

[2020-07-04 18:59] vj-codes commented on #628
Is the test case to be included in the PR too? @gaurivn

[2020-07-06 08:45] Neilblaze commented on #652
@isabelcosta Can you assign me this?

[2020-07-06 11:49] gaurivn commented on #631
@anitab-org/mentorship-managers, I would like to work on this issue.

[2020-07-06 14:44] gaurivn commented on #628
Yes, it would be better to include that too, sorry for the delay.

[2020-07-06 21:09] isabelcosta commented on #574
@TrojanTarun this issue was already solve by PR #604 . Could you please look into another one? I can point your to some, which may not have the first timers only label, but they are very easy to pick and similar to this one :)
- https://github.com/anitab-org/mentorship-backend/issues/616
- https://github.com/anitab-org/mentorship-backend/issues/633
- https://github.com/anitab-org/mentorship-backen

[2020-07-06 23:18] #652 closed, assigned to Neilblaze

[2020-07-07 08:40] vj-codes commented on #631
Sure assigning you @gaurivn
Happy coding:)

[2020-07-07 08:42] vj-codes commented on #632
@nandini45 Are you available to work on this?

[2020-07-10 20:13] vj-codes commented on #628
Update : I have changed error code on my system just searching few more resources about test cases.Will create a PR soon!

[2020-07-11 17:13] Tlazypanda opened #659 "Migrate to Github actions and add codecov bot"
**Is your feature request related to a problem? Please describe.**
As per our meeting discussions migration of Travis to Github actions as a long-term goal and adding coverage support for mentorship-backend was critical.

**Describe the solution you'd like**

- Migration of travis to Github actions
- Adding coverage support using codecov bot

[2020-07-12 01:42] divyanshugit commented on #493
Hey, I would like to work on this issue. Can you suggest me ways to get started ?

[2020-07-12 13:04] nandini45 commented on #653
![image](https://user-images.githubusercontent.com/62046625/87246910-05255200-c46e-11ea-8469-7e0a32a0369c.png)

  i was trying to test the code after making the changes but an error raised. what am i doing wrong?
@satya7289

[2020-07-12 15:14] isabelcosta opened #660 "Migrate some docs from Wiki to /docs folder and improve them"
## Description

As a contributor,
I need to have a available documentation to know enough about the project and its history,
so that I can help the project move forward.

I have still some knowledge with me that contributors keep asking me about, which means that current documentation is lacking some information. I want to add as much information as I can to the project to help other members under

[2020-07-12 15:34] yugantarjain opened #661 "Bug: POST Task Comment API doesn't works for some tasks"
**Describe the bug**

The API to POST a task comment returns Internal Server Error (500) for some tasks and works as it should for some other.

Old Theory (most probably wrong):
This seems to be an issue with the hosting of the API on the server rather than the API itself. It has been observed that the API works perfectly when tested on a local server, and is only giving Internal Server Error on o

[2020-07-12 15:44] isabelcosta commented on #661
Thank you @yugantarjain I just checked the logs, and I was able to see this:
![image](https://user-images.githubusercontent.com/11148726/87250738-f2efe780-c45e-11ea-8ead-470ac73ffe71.png)

[2020-07-12 15:58] isabelcosta commented on #661
I noticed in this line of code that this feature does not seem to be implemented correctly. That is my first impression. So the `task_id` is not the same as `task_list_id`. I think this s a bug, so I will make this available for people to work on.

Line: https://github.com/anitab-org/mentorship-backend/blob/2f21124a7394e486f2432defcd039d9bb8c0f4a1/app/database/models/task_comment.py#L25

[2020-07-12 16:16] isabelcosta commented on #493
@divyanshugit this PR https://github.com/anitab-org/mentorship-backend/pull/500 was almost finished, so you can just follow this :)

[2020-07-13 06:16] yugantarjain commented on #661
Okay, thanks a lot for exploring the problem so swiftly! I'll try to test a little more on the local server and see if this causes any issues.

[2020-07-13 06:58] vj-codes commented on #628
@satya7289 @gaurivn   can you help me about creating a test for this PR , I don't quite understand it. I saw an existing test in the folder and how should this one be different from the existing one as both are for rejecting mentorship relations.

[2020-07-14 07:18] PrashanthPuneriya opened #663 "Add a missing environment config value to .env.template"
[environment-variables.md](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/environment-variables.md) doc specifies that the run configuration has 4 options: `dev`, `local`, `test` and `prod` values to be loaded. But, **FLASK_ENVIRONMENT_CONFIG** variable under [.env.template](https://github.com/anitab-org/mentorship-backend/blob/develop/.env.template) file doesn't include `local

[2020-07-14 07:21] PrashanthPuneriya commented on #663
I would like to fix this issue if this is approved by mentors.

[2020-07-14 08:28] PrashanthPuneriya opened #664 "Bug: pip package manager related commands raises error"
**Describe the bug**

`pip freeze`, `pip install` and other various pip related commands doesn't work and raises error due to the `six` older version package.
It raises `ImportError: cannot import name 'ensure_str' from 'six'`

**To Reproduce**

Steps to reproduce the behavior:

1. If you have a virtualenv folder then delete it and recreate the virtual environment as specified in the [docs](https:

[2020-07-14 08:29] PrashanthPuneriya commented on #664
I would like to take up and fix this bug.

[2020-07-14 08:49] vj-codes commented on #664
Heyy @PrashanthPuneriya this issue does not seem to be valid as pip freeze does work with me .Can you see the Mentorship System API at local host on your computer?Might be a setup error from your side.I have approved the other issue!

cc : @anitab-org/mentorship-managers
![Screenshot (18)](https://user-images.githubusercontent.com/60894542/87405303-e1cce500-c5dc-11ea-8fdb-0fdfc482cbb6.png)

[2020-07-14 08:51] vj-codes commented on #663
Assigning you @PrashanthPuneriya
Happy coding!

[2020-07-14 08:52] PrashanthPuneriya commented on #664
@vj-codes I think you haven't ran `pip install -r requirements.txt` command. Your virtual environment doesn't have all the requirements as specified in the requirements.txt file.

[2020-07-14 09:01] vj-codes commented on #664
I did that when I first setup the repo .Can you run the project loacally? @PrashanthPuneriya

[2020-07-14 09:04] PrashanthPuneriya commented on #664
@vj-codes Please follow the procedure to reproduce the bug. You need to recreate the virtual environment again.

[2020-07-14 09:37] SanketDG commented on #664
@PrashanthPuneriya Last I checked, `mentorship-backend` does not work with 3.8. Were you able to run the application atleast once successfully?

[2020-07-14 09:42] PrashanthPuneriya commented on #664
@vj-codes @SanketDG  No, I couldn't run the project locally. Not even once.

[2020-07-14 09:54] SanketDG commented on #664
@PrashanthPuneriya I would say try with 3.7 then, if you want to set up the environment now.

[2020-07-14 09:58] vj-codes commented on #664
Its working properly with me  for 3.8 on windows @SanketDG
@PrashanthPuneriya You are on Ubuntu so dont have much idea, however I had faced issue #212 but the solution worked.

[2020-07-14 10:03] PrashanthPuneriya commented on #664
@SanketDG @vj-codes I think I have fixed this issue and #212 . I would confirm my hypothesis and let you know.

[2020-07-14 10:33] PrashanthPuneriya commented on #664
@vj-codes @SanketDG
I am posting this comment as a new comer to this project. So, please review and give feedback. I am using `Python 3.8.2`.

## To fix #664 we got two work-arounds

### Method-1 (Temporary work-around) :-

- Upgrade `six` to 1.14.0
- Upgrade `werkzeug` to >= 0.16.1

### Method-2 (Permanent work-around) :-

- #605 fixes this issue
- `flask-restplus` (which this project uses) creat

[2020-07-14 10:45] SanketDG commented on #664
#605 doesn't fix all the dependency bugs, it just upgrades to `flask-restx`.

It's a pretty common library to be used by packages that are written in C and have python bindings, so it's probably installed as a dependency of some other package.

Can you do an audit of all packages in requirements to make sure no unneeded dependency is present? Then please open a PR with all dependencies updated to

[2020-07-14 10:58] PrashanthPuneriya commented on #664
@SanketDG Okay! But, I think before auditing the dependencies for this project we must fix #400 (#400 removes major unrequired dependencies which makes the work much easier).
Aren't we using python3 already? If we are using python3 then we must move from virtualenv to venv i.e. fix #400.

[2020-07-14 11:50] PrashanthPuneriya commented on #664
@SanketDG @vj-codes @isabelcosta I did some dig up in commits to find out when `cffi` package was first included in the `requirements.txt` file. #207 was the pull request when it was first included.
I haven't seen any code in that particular pull request which are dependent on the following packages:- `cffi`, `asn1crypto`, `cryptography` and these packages are not futher required by other packages

[2020-07-14 11:53] vj-codes commented on #664
@SanketDG  so this issue is valid right?
If yes then,
@PrashanthPuneriya you can only work for one issue at a time. So, which one of the two issues would you like to fix first?

[2020-07-14 11:56] vj-codes commented on #664
Remember that the other issue is for first timers only so you can't work on that later @PrashanthPuneriya

[2020-07-14 12:06] PrashanthPuneriya commented on #664
@vj-codes I would like to fix #663 issue first

[2020-07-14 14:31] PrashanthPuneriya commented on #635
@isabelcosta @mtreacy002 I am interested to fix this bug. Can you assign this to me?

[2020-07-14 19:19] isabelcosta commented on #663
@PrashanthPuneriya this is a great issue 🎉 Next time could you please follow one of the templates suggested? You can use perhaps "User Story" :)

[2020-07-14 19:22] #663 closed, assigned to PrashanthPuneriya

[2020-07-15 06:16] mtreacy002 opened #667 "DEV: Refactoring MS for BIT integration"
**Is your feature request related to a problem? Please describe.**
To achieve the target of 2 REST APIs (MS and BIT APIs) with one database (bit_schema database), MS schema needs to be refactored to accommodate BIT.

**Describe the solution you'd like**
- [ ] Refactor one of the UserModel field from `organization` to `current_organization` to remove ambiguity with `Organization` table reference us

[2020-07-15 06:19] mtreacy002 commented on #667
@anitab-org/mentorship-android-maintainers and @anitab-org/coding-team , this issue is a cross-project issue to prepare for BIT - MS integration.
Can you please add `BIT` label to this issue and assign it to me. I'll push a PR for this issue.

[2020-07-15 07:31] mtreacy002 commented on #667
Thanks @vj-codes 👍

[2020-07-15 08:34] PrashanthPuneriya commented on #664
### Update
@vj-codes @SanketDG @anitab-org/mentorship-managers I have updated the [above comment](https://github.com/anitab-org/mentorship-backend/issues/664#issuecomment-658105326). Please go through it once again and review it.

@isabelcosta If you review this [comment](https://github.com/anitab-org/mentorship-backend/issues/664#issuecomment-658135641) then we can proceed futher.

Thanks!

[2020-07-15 09:22] PrashanthPuneriya opened #669 "Bug: Fix inconsistent format of comments present in task_comment.py file"
**Describe the bug**

The comments of TaskCommentModel present in [task_comment.py](https://github.com/anitab-org/mentorship-backend/blob/develop/app/database/models/task_comment.py#L8) file are not formatted correctly.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to [task_comment.py](https://github.com/anitab-org/mentorship-backend/blob/develop/app/database/models/task_comment.py) f

[2020-07-15 12:20] SanketDG commented on #664
@PrashanthPuneriya Feel free to do any of the above, what ultimately matters is that we upgrade each and every dependency and then automate it using https://github.com/marketplace/dependabot-preview

Please don't selectively upgrade, upgrade every dependency and see what breaks. We can iterate from there.

And yes, you can choose to not upgrade anything involves `flask-restplus`. since my PR alrea

[2020-07-15 13:51] vj-codes commented on #669
@PrashanthPuneriya the issue should be first approved , then assigned and then the PR is sent.Please don't send PRs unless a specific issue is assigned to you.Will be closing that PR for now, if this issue is approved you may reopen it:)

[2020-07-15 13:55] vj-codes commented on #669
@PrashanthPuneriya follow the issue template please and add some solution , alternative and resources for the right format.

[2020-07-15 14:58] PrashanthPuneriya commented on #669
@vj-codes Sorry! Won't happen again. I thought that the formatting won't require alternatives, resources and other things so I removed them. Can you please tell me what kind of templates and what should I fill in that template in cases similar to this?

[2020-07-15 15:46] vj-codes commented on #669
No problem! @PrashanthPuneriya
I would suggest following the feature template,adding solutions/advantages in such cases and providing resources like the correct format to follow in this case and if applicable attaching a screenshot.
It's easy for others to understand and review then as compared to just mentioning the problem in short.

[2020-07-15 23:19] isabelcosta commented on #635
Sure @PrashanthPuneriya  :) I will assign this to you

[2020-07-16 19:40] #659 closed, assigned to nobody

[2020-07-16 20:54] techno-disaster opened #673 "Members end pages when querying last page of users"
**Describe the bug**
The last few pages, give an empty list when requested for 20 members.
For example page 13 with 20 users gives an empty list but both 13 and 14 (even 15), have 10 members in them when the number of members per page is not specified.
I was not able to figure out why this happened but attaching screenshot below.

![image](https://user-images.githubusercontent.com/52817235/8772166

[2020-07-17 08:14] PrashanthPuneriya commented on #669
@vj-codes As you have guided me I have edited this issue to follow the issue template. I have used the bug template as it made sense to me. Please review it.
If it is good then assign me this issue so I could reopen the PR.

[2020-07-17 11:15] vj-codes commented on #669
Thanks for changing, its so good now @PrashanthPuneriya .
I see that you are assigned another issue currently and this seems good for  a first timers issue.
I'll ask other managers and if no one responds in 2 days ,it'll be assigned to you.

[2020-07-17 11:16] vj-codes commented on #669
@anitab-org/mentorship-managers Is this a good first timer's issue?Please confirm.Thanks!

[2020-07-17 11:32] PrashanthPuneriya commented on #669
@vj-codes Okay! No problem

[2020-07-18 11:00] isabelcosta opened #679 "Stop exposing expiry timestamp"
## Description
As a developer,
I need to deprecate `expiry` timestamp,
so that I can remove misleading information fro API definition.

I confirmed that the `expiry` field is not being used

## Mocks

![image](https://user-images.githubusercontent.com/11148726/87850999-7d679980-c8ec-11ea-9c91-50201ebd85a0.png)

## Acceptance Criteria
### Update [Required]
- [ ] Remoove references to `expiry` times

[2020-07-18 14:43] vj-codes commented on #629
I would like to work on this @nandini45 @gaurivn

[2020-07-18 18:08] isabelcosta opened #680 "Create a user journey test from sending a mentorship request until the mentee completes a task"
## Description

As a developer,
I need to test a specific user path,
so that I can make sure a specific path can be executed usefully in a deterministic way.

This test should be located in a specific folder for separation concerns, it could be called `tests/user_journey`.
Next, I'll define a very broad scenario, but simple enough for you to start.

**Scenario:** User A (mentor) and User B (mentee

[2020-07-18 18:09] isabelcosta commented on #680
@rpattath first steps into more automated tests 😄

[2020-07-18 18:35] isabelcosta opened #681 "Fix wrong usage of f-strings in a test"
## Description
As a developer,
I need to have code consistent with standards,
so that I can have better readability.

Some parts of the code are not using f-strings in a consistent way to the standard.

Example:
[code]

There should be 1 f-string instead of 2, so instead of `f"mentorship_relation/{self.relation_id}/task/{self.task_id}" f"/comment"` it should be `f"mentorship_relation/{self.relatio