[2021-02-23 20:55] epicadk commented on #1006
@isabelcosta 😅 Thankyou : ) . I have linked the library in the issue however I haven't used it much so I don't really have any more information about it. We also need to discuss the limit or the amount of times that a user should be allowed to query the backend.

[2021-02-23 21:34] isabelcosta commented on #1006
thank you so much @epicadk !

[2021-02-24 04:26] epicadk commented on #596
Actually this is working just fine. The documentation is not clear enough maybe you only have to send the data you want to change. So say you only want to change location from Perth to Sydney then you would only send
`{"location" : "Sydney"}` and nothing else. Do we want to change this behavior and expect the user to send all fields or should I keep it like this?

[2021-02-24 10:05] b-thebest commented on #1009
@epicadk Private message is not allowed in Zulip for organization. I have mailed to opensource@anitab.org

[2021-02-24 13:09] NenadPantelic commented on #297
No prob, can I take this in that case? :smile:

[2021-02-24 13:10] devkapilbansal commented on #297
Sure @NenadPantelic

[2021-02-24 19:45] isabelcosta commented on #1009
@b-thebest regarding our projects, the best way to reach out to us in on Zulip or tag us on GitHub (in my case: @isabelcosta). Talking about project development is supposed to happen in our community in the open (public) :) So that everyone can benefit from the questions you have and the answers you get. So feel free to post on the [#mentorship-system](https://anitab-org.zulipchat.com/#narrow/stre

[2021-02-24 19:46] isabelcosta commented on #1009
@epicadk about this issue 🤔 I agree. so this data can be taken from the token right? Also, these fields are not yet being used by any frontend right? Will make available then

[2021-02-24 19:47] epicadk commented on #1009
Yep , it can .

[2021-02-24 19:48] isabelcosta commented on #1009
Ok, will assign the issue to @b-thebest then :)

[2021-02-24 19:50] epicadk commented on #1009
Sorry accidentally closed it. I'm still getting use to GitHub mobile 😅

[2021-02-25 01:20] b-thebest commented on #1009
Thank you for assignment and kind information about reaching anitab
contributors.
From next time onwards I will be reaching out only through Zulip.

On Thu, Feb 25, 2021, 1:20 AM Aditya Kurkure <notifications@github.com>
wrote:

[2021-02-25 09:59] s4-2 commented on #1013
I have read the doc provided in the above link but I was unable to understand.
As I am new in contributing, so can you please help me out what I should do to contribute.

[2021-02-25 10:13] s4-2 commented on #1010
This is my first commit, I read the issue but somewhat I understood. So can someone help me out what is the issue.
Thank you

[2021-02-25 13:46] Sejalcodes commented on #1013
can i work on this issue?

[2021-02-25 18:22] epicadk opened #1019 "Bug : Race conditions in register endpoint."
**Describe the bug**

If two users send requests to the register endpoint at the same time and both have the same username/emailID then the backend will crash.

**To Reproduce**
Kind of hard to do this however it can be done programmatically as explained [here](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/mentorship-backend/near/227497628)

**Expected behavior**

[2021-02-26 04:30] b-thebest commented on #1009
Hello @epicadk Please review pull request made by me and merge it.

[2021-02-26 14:47] epicadk commented on #596
Un-assigning  myself as the required behavior needs to be discussed before changes are made. The endpoint does what is claims to do. If we do expect all the user data to be present then the documentation needs to be changed as well. Adding this to the mentorship system agenda. cc @isabelcosta

[2021-02-26 15:11] epicadk commented on #1019
Can I work on this issue?

[2021-02-26 15:59] ashwinijha6 commented on #993
@devkapilbansal I have created a  `.coveragerc`  which omits the `test/*` & on running the `coverage report`  I get 41% (as shown in the screenshot) but it takes in the virtual environment as well
![venv1](https://user-images.githubusercontent.com/45794450/109323620-aa642d80-7879-11eb-8f99-56576b90d93c.JPG)

[2021-02-27 11:12] saurabh-shetty commented on #1013
Can I work on this issue?

[2021-02-27 11:24] epicadk commented on #1013
Since @s4-2 commented first I will ask if they'd like to work on this. If there is no response I'll assign @Sejalcodes .

[2021-02-27 11:31] saurabh-shetty commented on #1013
Let @s4-2 and @Sejalcodes try fixing this. If they are not able to fix, I have already submitted a pull request you can review that.

[2021-02-27 11:46] saurabh-shetty commented on #1013
Okay no problem. If they are not able to solve the issue try considering my
PR.

On Sat, Feb 27, 2021 at 4:54 PM Aditya Kurkure <notifications@github.com>
wrote:

[2021-02-27 12:16] s4-2 commented on #1013
Thank you @epicadk  for giving me this chance to fix it. But can anyone guide me as this is my first contribution. I really want to do, but little confuse where from start.
Thank you

[2021-02-27 12:24] epicadk commented on #1013
@s4-2 That's okay we all have to start somewhere. You can ask doubts here or on zulip . We have a great community that is always willing to help. : ) I'll assign it to you I'm sure you can figure it out or ask for some help . Goodluck : )

[2021-02-27 12:32] s4-2 commented on #1013
Thank you @epicadk. I will definitely try my best. I want to know what I have to do or learn to fix it, I just want to start that is why need some help.

[2021-02-27 13:12] s4-2 commented on #1013
Thank You @epicadk .

[2021-02-27 13:22] #1009 closed, assigned to b-thebest

[2021-02-27 14:58] epicadk commented on #1013
You don't have to learn anything. You can setup the project using the instructions given in the readme and then you just have to delete the specified folder. If you are facing problems feel free to ask on zulip or over here.

[2021-02-27 15:20] s4-2 commented on #1013
Please check @epicadk  I have created a PR . Please guide me if I need to do some correction.
Thank You

[2021-02-27 15:46] epicadk commented on #1013
You haven't created a PR on this repository but instead on your fork. Please create a pull request on this repo.

[2021-02-27 16:05] s4-2 commented on #1013
Okay.

[2021-02-27 16:25] s4-2 commented on #1013
Please check @epicadk if  I have successfully created PR or not . I have also merged it because it was showing me the option to merge. Please guide me if now also I haven't created a PR.

[2021-02-27 16:43] isabelcosta commented on #1013
@s4-2 when creating a PR you have to make sure the **"base repository" mentions "anitab-org" repo**, take a look at this, which showed up when I went to your fork and tried to create a pull request there:

![image](https://user-images.githubusercontent.com/11148726/109393635-cbc92600-791a-11eb-8d5f-30a1f97b4b9e.png)

Is it clearer now?

[2021-02-27 17:06] s4-2 commented on #1013
Yes I understood. Thank you for your guidance

On Sat, 27 Feb 2021, 22:13 Isabel Costa, <notifications@github.com> wrote:

[2021-02-27 17:17] #1010 closed, assigned to Ishaandham19

[2021-02-27 17:23] #235 closed, assigned to vj-codes

[2021-02-27 17:35] s4-2 commented on #1013
Thank You @isabelcosta . I have created a PR according to your guidance. Its now asking for Review is required.

[2021-02-27 19:57] epicadk commented on #1013
Hey sorry I have my tests so I couldn't respond. Glad everything worked out. Good work : ).

[2021-02-27 19:59] isabelcosta commented on #1013
Totally ok @epicadk that is why we are in a community so that multiple people can help ;) hope tests went well 💪🏾

[2021-02-28 05:02] s4-2 commented on #1013
Sorry for the late response, I have fixes the description with issue no. #1013.
Thank you  @vj-codes for your help :)

[2021-02-28 05:23] epicadk commented on #1013
Closing as #1021 was merged.

[2021-02-28 10:49] epicadk commented on #1014
Linking to this issue [that](https://github.com/anitab-org/bridge-in-tech-backend/issues/196) is open on the bridge in tech backend.

[2021-02-28 12:28] devkapilbansal commented on #993
@ashwinijha6 create your virtualenv outside this directory. Go out of root directory and create virtualenv. Then cd in the directory and test the coverage.Also, you can omit `venv/*` too if you want

[2021-02-28 12:29] isabelcosta commented on #1014
As I said in the Bridge in Tech session, there is actually a use case / need for having this token entry for each endpoint. Mentorship system requires interactions between users, when I test only using the API: User A sends request and User B accepts request, I need to use 2 different JWT tokens. So having 1 time input of the JWT token, would not allow us to test on Swagger UI these interactions.

[2021-02-28 12:29] #1014 closed, assigned to nobody

[2021-02-28 12:42] devkapilbansal commented on #898
@isabelcosta putting this `on hold` as what needs to be done not seems to be clearly mentioned in this issue.

[2021-02-28 13:28] epicadk commented on #933
@kartikeysaran any updates here?

[2021-02-28 15:39] kartikeysaran commented on #933
Sorry, was busy with other issues will work on this

[2021-02-28 18:28] sahil9001 commented on #1014
Okay @isabelcosta ! I get you, thanks!

[2021-02-28 20:45] vj-codes commented on #1019
Assigning you @epicadk
Happy coding!

[2021-03-01 09:33] b-thebest commented on #563
Can I work on issue, I have worked on login and refresh API earlier, so I find myself best fit.
thank you

[2021-03-01 09:35] b-thebest commented on #933
@isabelcosta Can I work on this issue?

[2021-03-01 09:50] kartikeysaran commented on #933
I am busy with other issues you can work on this ! 🍻 @b-thebest

[2021-03-01 10:07] devkapilbansal commented on #933
Sure @b-thebest assigning you 👍

[2021-03-02 03:04] jalajcodes commented on #1006
I'd like to work on it
I'll be in the next open session to discuss about this issue.

[2021-03-02 04:03] epicadk commented on #1006
I think we already discussed it. Since Isabel has approved I'll assign you. Happy coding : ) .

[2021-03-02 07:04] jalajcodes commented on #1006
Ohk! Do you mind sharing the meeting docs link? I'd like to go through the discussion.

[2021-03-02 09:02] epicadk commented on #978
@devkapilbansal can you confirm this.

[2021-03-02 09:12] epicadk commented on #1006
I went through the docs and didn't find any thing related to this issue so maybe I was mistaken. But isabel has apporved it so you can work on it. What we need to discuss is the rates for each endpoint. You can still work on it and submit a pr. Although you might have to change only the rates later on so up to you.

[2021-03-02 09:31] devkapilbansal commented on #978
Valid issue :heavy_check_mark:

[2021-03-02 09:32] jalajcodes commented on #1006
Ok cool I'll start working on it then ;)

[2021-03-02 12:06] b-thebest commented on #933
Do we need to limit expiry time of refresh token also ?

[2021-03-02 12:30] epicadk commented on #933
No.

[2021-03-02 12:30] epicadk commented on #933
Unassigning @b-thebest as this is marked first timers only.

[2021-03-02 12:32] devkapilbansal commented on #933
Ohh, I didn't noticed that he already made a PR. Thanks for this @epicadk

[2021-03-02 12:33] b-thebest commented on #297
Can I take up this issue in case of not completed

[2021-03-02 12:33] b-thebest commented on #636
Can I take up this issue

[2021-03-02 12:34] b-thebest commented on #537
Can I work on this issue

[2021-03-02 12:37] b-thebest commented on #933
Okay, no Worries, I will try to contribute other issues.

Thanks

On Tue, Mar 2, 2021, 6:03 PM Kapil Bansal <notifications@github.com> wrote:

[2021-03-02 13:28] NenadPantelic commented on #297
I'm working on it, was a bit busy with some private things these days

[2021-03-02 13:47] vj-codes commented on #636
Assigning you @b-thebest
Happy coding!

[2021-03-02 13:51] ashwinijha6 commented on #993
@devkapilbansal & @isabelcosta , could u'll pls review my pull request

[2021-03-02 19:45] devkapilbansal commented on #1013
Reopening as ISSUE_TEMPLATE file is available in `.github` folder.

We need to remove this [file](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/ISSUE_TEMPLATE.md) as well.

Cc:- @epicadk @isabelcosta

[2021-03-02 20:06] vj-codes commented on #1013
@devkapilbansal also the link needs to be updated under bug_report in contributing.md
it returns a 404 error right now due to the merging of the previous PR .

[2021-03-02 23:02] mtreacy002 opened #1027 "Doc: Add the "bit" branch to the "Branches" section on README.md"
### Is your feature request related to a problem? Please describe.
There is a newly created branch `bit` for ms-backend version specific to BridgeInTech project (https://github.com/anitab-org/mentorship-backend/tree/bit). The contributors need to be made aware of this so they can contribute to the BIT-MS integration related issues.

### Describe the solution you'd like
The `bit` branch needs to be

[2021-03-03 00:47] Sejalcodes commented on #1013
Can I work on this issue?

[2021-03-03 06:16] mtreacy002 opened #1028 "Dev: Initial BIT-MS integration - CORS and Postgresql | CROSS PROJECT ISSUE"
## Description
As a contributor and the BridgeInTech maintainer,
I need to integrate the mentorship backend version for BridgeInTech project to the main Mentorship System repository,
so that I can invite more contributors to work on the BIT-MS integration related issues.

## Mocks
NA

## Acceptance Criteria
- [ ] Add CORS to allow communication between MS backend and BIT backend servers
- [ ] Chan

[2021-03-03 13:31] devkapilbansal commented on #1013
@Sejalcodes have you contributed before in the project??

[2021-03-03 13:57] Sejalcodes commented on #1013
@devkapilbansal No, I haven't. I am a beginner. This will be my first PR.

[2021-03-03 14:18] vj-codes commented on #1013
Assigning you @Sejalcodes
Happy documenting!
Make sure to remove the templates from .github folder and update the link in contributing.md as mentioned in comments above :)

[2021-03-04 08:11] Sanika1999 commented on #990
I have created a draft pr for this and Iam constantly updating it. Please do check  Incorrect end time test case that is where Iam making some mistake. Thanks

[2021-03-05 07:13] Sejalcodes commented on #1013
I have removed the ISSUE_TEMPLATE file from the .github folder and made a PR for the same. Could you please check and inform if it's fine? Also, I wanted to know that the link in contributing.md needs to be updated to which new link?

[2021-03-05 07:22] Aayush-hub commented on #996
@isabelcosta Can I work on this?

[2021-03-05 07:25] Aayush-hub commented on #1027
@mtreacy002 Can I take up this issue??

[2021-03-05 07:28] Aayush-hub commented on #978
@devkapilbansal @epicadk Can I work on this?

[2021-03-05 07:42] epicadk commented on #978
@Aayush-hub Assigning you , Good luck : ).

[2021-03-05 07:48] epicadk commented on #1027
You are already assigned a different first timer issue : ).

[2021-03-05 07:55] epicadk commented on #1013
Can you please link this issue to the pr?

[2021-03-05 08:08] Sejalcodes commented on #1013
@epicadk Oh okay, I linked it. Is it fine now?

[2021-03-05 08:25] b-thebest commented on #636
@vj-codes @mtreacy002  Could you please review my PR

[2021-03-05 08:51] Aayush-hub commented on #1027
@epicadk @vj-codes Yes, but I have solved that and made a PR. Hope I could work on it now.

[2021-03-05 09:00] vj-codes commented on #1013
@Sejalcodes in contributing.md , under last point update bug_report  to this link https://github.com/anitab-org/.github/blob/main/.github/ISSUE_TEMPLATE/bug_report.md

[2021-03-05 09:13] vj-codes commented on #1027
@Aayush-hub you can't be assigned to this as you have made your first contribution through #1034
Do go through other available issues :)

[2021-03-05 12:13] Sejalcodes commented on #1013
I "THINK" I have completed the task. Can someone please confirm? :)

[2021-03-05 13:41] vj-codes commented on #1013
@Sejalcodes yes you have 🎉
Although you've created 2 PRs for the same issue, it's advisable to do it in one only.
It's okay for now but remember while working on future issues :)

[2021-03-05 13:45] keshavagarwal17 commented on #1027
@mtreacy002 I would like to work on this issue.

[2021-03-05 14:29] Sejalcodes commented on #1013
Oh my god, thankyou so much for all the help, everyone!
@vj-codes Right, I didn't know how that, will make sure not to repeat this in the future, thankyou!

[2021-03-05 15:03] epicadk commented on #1027
@The-Keshav-Agarwal assigning you. Good luck 👍: )

[2021-03-05 17:53] nlok5923 commented on #996
@isabelcosta i would like to work on it.

[2021-03-05 18:27] epicadk commented on #996
Sure assigning you @nlok5923 : ). Good luck.

[2021-03-06 07:25] vj-codes commented on #1006
@jalajcodes hey any updates?

[2021-03-06 09:07] epicadk commented on #1006
@mtreacy002 I think this issue can cause problems for BIT. we'll have to exclude the BIT server from the rate limiting.

[2021-03-06 09:09] jalajcodes commented on #1006
I'll create PR tomorrow or if time permits, today

[2021-03-06 09:14] vj-codes commented on #1006
@jalajcodes take your time, just update the progress after every 3 days if it's taking long

[2021-03-06 09:26] Aayush-hub opened #1037 "Create the greeting.yml file for the Welcome Bot"
### Is your feature request related to a problem? Please describe.
The first time contributors should be greeted by a welcome message and link to code of conduct and contribution guidelines, so that they can follow them.

### Example:
![1](https://user-images.githubusercontent.com/65889104/110202009-18b57b00-7e8c-11eb-8617-3916a58ac023.png)

[2021-03-06 09:31] epicadk commented on #1037
Duplicate of https://github.com/anitab-org/mentorship-backend/issues/717.

[2021-03-06 09:32] #1037 closed, assigned to nobody

[2021-03-06 09:39] Aayush-hub commented on #717
@isabelcosta @epicadk Can I work on this issue, if still not solved?

[2021-03-07 02:21] mtreacy002 commented on #1006
@epicadk , I agree, this could cause issue if the rate limiter sets the amount of requests BIT can do, since in BIT-MS integration the number of requests sent would be extensive 🤣🤣.
If possible, @jalajcodes, please share the approach you're thinking of doing (e.g. what type of limiter you will apply here), so we can assess the impact to BIT better. Perhaps we should add CROSS-PORJECT ISSUE on the

[2021-03-07 05:14] jalajcodes commented on #1006
As we haven't decided rates for specific endpoints yet, I am thinking of adding a generous rate limit globally for all endpoints and exempt it for those endpoints which don't need to be rate limited like `login` etc.

regarding the BIT-MS integration, I think `flask-limiter` allows us to customize rate limits to be based on characteristics of the incoming request. I am not sure but I guess we coul

[2021-03-07 05:39] epicadk commented on #1006
Login is probably the endpoint we want to rate limit first. 😄 .

[2021-03-07 06:05] jalajcodes commented on #1006
@epicadk 😂😅 my bad, just assume any other endpoint that doesn't require limiting

[2021-03-07 11:10] NenadPantelic commented on #297
I was occupied with other issues these days, hope to the PR in next two days.

[2021-03-08 09:29] b-thebest commented on #608
Can I work on this issue ? I have worked with timestamps in my past projects also.

[2021-03-08 10:04] jalajcodes commented on #1006
@epicadk Is it alright if I create a WIP pull request for this?

[2021-03-08 10:26] b-thebest commented on #141
Anyone working on this ?

[2021-03-08 10:34] epicadk commented on #141
Nope it is marked as status available would you like to work on it?

[2021-03-08 12:26] b-thebest commented on #141
Okay, please assign this issue to me @epicadk

[2021-03-08 20:47] devkapilbansal commented on #990
Reviewed and asked for changes there.

P.S.:- Consider tagging me there once you made changes and needs any other help

[2021-03-08 22:27] devkapilbansal commented on #393
Adding `first timers only` as it is relatively easy

[2021-03-09 05:42] HeroicHitesh commented on #933
@epicadk @isabelcosta @devkapilbansal I would like to work on this

[2021-03-09 05:52] epicadk commented on #933
Would this be your first contribution to this repository?

[2021-03-09 06:00] HeroicHitesh commented on #933
Yes @epicadk

[2021-03-09 06:15] epicadk commented on #933
Assigning you. Happy coding : ).

[2021-03-09 06:55] vj-codes commented on #326
Closing as other approaches also need to be discussed and aws cannot be used right now

[2021-03-09 06:55] #326 closed, assigned to nobody

[2021-03-09 06:57] vj-codes commented on #761
Closing as duplicate of #341

[2021-03-09 06:57] #761 closed, assigned to titiksha01

[2021-03-09 07:04] vj-codes commented on #149
@isabelcosta I looked through the code and can see that docstrings is used, although I don't see any merged PRs
Can this be closed then?

[2021-03-09 07:07] vj-codes commented on #530
Making it available as the discussion in PR linked shows very in-depth diagrams and not sure if they can be placed in wiki
Maybe different contributors can add simple ones

[2021-03-09 07:16] vj-codes commented on #497
Closing as the issue is not valid , the test case is present in test_api_complete_task.py

[2021-03-09 07:16] #497 closed, assigned to nobody

[2021-03-09 07:29] vj-codes commented on #486
#996 issue is more descriptive so closing this

[2021-03-09 07:29] #486 closed, assigned to nobody

[2021-03-09 14:04] epicadk opened #1040 "Feat : Create Makefile"
### Is your feature request related to a problem? Please describe.

As a developer having a [Makefile](https://makefiletutorial.com/) will make it easier to run different commands.

### Describe the solution you'd like

Create a Makefile containing the commands to builds and test the application.

### Additional context

You could also include additional ones such as format and running the app wit

[2021-03-09 18:09] epicadk commented on #523
Not sure about debugging but if you mount want the data that is stored in the docker container then you should read up on docker volumes.

[2021-03-09 18:10] epicadk commented on #523
For debugging I found [this link](https://code.visualstudio.com/docs/containers/debug-common)

[2021-03-09 18:35] epicadk opened #1041 "Feat: Create file for docker compose"
### Is your feature request related to a problem? Please describe.

Currently we do not have a `docker-compose.yml` setup. This would be particularly useful when we move away from sqllite and start storing data on another type of database.

### Describe the solution you'd like

Create `docker-compose.yml` that will help in run multiple docker containers/services at the same time.
For example, one

[2021-03-09 19:50] isabelcosta commented on #1040
Which are the commands you would like to have there?
How compatible is this with contributors who have Windows file?

Is this an alternative https://flask.palletsprojects.com/en/1.1.x/cli/?

Example:
- run tests
- run flake8
- etc

Anddd thank you so much for bringing this conversation to today's Mentorship System sync up session 🙏🏾

[2021-03-10 04:28] epicadk commented on #1040
@isabelcosta Yes this would help with the examples you mentioned. The alternative you mentioned doesn't seem to allow running black and running tests so I guess a Makefile would be a better alternative. I think any c/c++ compiler would be sufficient to run make so it should be possible in linux and macos without much hassel however windows contributors would need to install mingw or other such sof

[2021-03-10 21:54] isabelcosta commented on #149
@vj-codes is it used everywhere? I guess we can close :) Thank you for the triage 🙏🏾

[2021-03-10 21:54] #149 closed, assigned to nobody

[2021-03-10 22:01] #1027 closed, assigned to keshavagarwal17

[2021-03-10 22:02] isabelcosta commented on #978
awesome leaders work here @devkapilbansal @epicadk 👏🏾

[2021-03-10 22:03] #978 closed, assigned to Aayush-hub

[2021-03-10 22:05] #993 closed, assigned to ashwinijha6

[2021-03-10 22:08] #1013 closed, assigned to Sejalcodes

[2021-03-11 05:46] Aayush-hub commented on #717
@isabelcosta @epicadk @vj-codes Can I work on this issue, if still not solved?

[2021-03-11 12:08] vj-codes commented on #632
I would like to work on this :)

[2021-03-13 03:58] Anmollenka commented on #1006
I would like to take up this issue if it's available.

[2021-03-13 04:05] Anmollenka commented on #872
I would like to take up this issue.

[2021-03-13 04:06] Anmollenka commented on #929
I would like to take up this issue.

[2021-03-13 04:26] epicadk commented on #929
Assigning you. Good luck : ).

[2021-03-13 06:57] Aayush-hub commented on #577
@isabelcosta Can you please assign me this?

[2021-03-13 07:14] epicadk commented on #577
@Aayush-hub Assigning you good luck : ).

[2021-03-13 07:59] Aayush-hub commented on #577
@epicadk Can you please tell the steps how to get to this part?

[2021-03-13 09:49] epicadk commented on #577
I think it is just a change to swagger ui. You can take a look at the pr by @EfthymiaKostaki sent above I think it almost solves the issue.

[2021-03-14 01:34] jalajcodes commented on #1006
I'll create PR today

[2021-03-14 16:40] Aayush-hub commented on #577
@epicadk Sir, can you please help me after trying very hard I am still coming with error `sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:None` after running `run.py`. I have made .env file and setted  FLASK_ENVIRONMENT_CONFIG=local .

[2021-03-16 16:15] Aayush-hub commented on #577
@isabelcosta Can you please help me after trying very hard I am still coming with error
`sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:None` after running `run.py`.
I have made .env file and setted FLASK_ENVIRONMENT_CONFIG=local .

[2021-03-17 19:43] epicadk commented on #641
Not sure why this happens. Does flutter library you are using make some sort of pre-flight request as well?

[2021-03-17 20:26] vj-codes commented on #632
Update changes done will send a PR tomr

[2021-03-17 21:48] techno-disaster commented on #641
The flutter client is no longer in development, closing this issue now

[2021-03-17 21:48] #641 closed, assigned to satya7289

[2021-03-20 08:49] devkapilbansal commented on #634
Adding `first-timers-only` as this is relatively easy issue

[2021-03-20 08:53] devkapilbansal commented on #598
May be this issue was resolved earlier :thinking:
Removing `Available` for now.

[2021-03-20 08:58] devkapilbansal commented on #673
@vermastuti any updates

[2021-03-20 18:57] #555 closed, assigned to mtreacy002

[2021-03-21 20:33] devkapilbansal opened #1049 "Tests: Add tests for User file"
## Description
Coverage ensures that the code we have in our project is tested and working fine. But `app/api/dao/user.py` has least coverage percentage, i.e. 85% till now dropping overall coverage to 93 %

We need to ensure that code changes done are covered by test cases correctly.

## Acceptance Criteria
### Update [Required]
- [ ] Ensure all cases are covered and get 100% on codecov for this p

[2021-03-22 19:49] vj-codes commented on #929
@Anmollenka hey any updates?

[2021-03-22 19:50] vj-codes commented on #141
@b-thebest hey any updates?

[2021-03-23 03:24] Anmollenka commented on #929
@vj-codes  sorry for the delay.My laptop had crashed few days ago and I had given for repair.Will raise a pr within 2 3 days.

[2021-03-23 04:22] b-thebest commented on #141
Sory for being late, I am working on this issue

On Tue, Mar 23, 2021, 1:21 AM Vaishnavi Joshi ***@***.***>
wrote:

[2021-03-23 22:00] Jasmine9003 commented on #528
Hi @isabelcosta Can I work on this issue?

[2021-03-24 08:31] 17sushmita commented on #1049
May I work on this issue?

[2021-03-24 08:44] epicadk commented on #1049
Good luck 😄 @17sushmita .

[2021-03-25 19:57] devkapilbansal commented on #748
@isabelcosta This issue was supposed to be a continuation of #747 But  all necessary changes are taken in consideration in first issue only.
Closing it as all necessary changes have been covered in #841 itself.

[2021-03-25 19:57] #748 closed, assigned to Abjcodes

[2021-03-26 06:41] devkapilbansal commented on #393
Some tests are needed too to ensure the changes done here are correct.

[2021-03-27 13:20] #747 closed, assigned to codesankalp

[2021-03-27 13:44] vj-codes commented on #618
@devkapilbansal @gaurivn can you reproduce this issue locally , I don't get this error .

[2021-03-27 21:00] isabelcosta opened #1051 "Add all-contributors bot configuration"
## Description

As a maintainer,
I need to configure [all-contributors](https://allcontributors.org/) bot,
so that I can better recognize contributors and leaders of this project.

- https://allcontributors.org/docs/en/bot/configuration

## Acceptance Criteria
### Update [Required]
- [ ] Add configuration to project https://allcontributors.org/docs/en/bot/configuration
- [ ] Add first contributors

[2021-03-27 21:17] #1051 closed, assigned to isabelcosta

[2021-03-27 21:18] isabelcosta commented on #1051
@all-contributors please add @isabelcosta for maintenance

[2021-03-27 21:38] isabelcosta commented on #1051
@all-contributors please refresh table

[2021-03-27 21:42] isabelcosta commented on #1051
@all-contributors please add @vj-codes for maintainance

[2021-03-27 21:42] isabelcosta commented on #1051
@all-contributors please add @vj-codes for maintenance

[2021-03-27 21:46] isabelcosta commented on #1051
@all-contributors please add @vj-codes for maintenance

[2021-03-27 21:47] isabelcosta commented on #1051
@all-contributors please add @vj-codes for design

[2021-03-27 22:25] isabelcosta commented on #1051
@all-contributors please add @epicadk for code, maintainance and test
@all-contributors please add @devkapilbansal for code, maintainance and test

[2021-03-27 22:26] isabelcosta commented on #1051
@all-contributors please add @epicadk for code, maintenance and test
@all-contributors please add @devkapilbansal for code, maintenance and test

[2021-03-27 22:27] isabelcosta commented on #1051
@all-contributors please add @epicadk for code, maintenance and test

[2021-03-27 22:27] isabelcosta commented on #1051
@all-contributors please add @devkapilbansal for code, maintenance and test

[2021-03-27 22:28] isabelcosta commented on #1051
@all-contributors please add @gaurivn for code and maintenance

[2021-03-27 22:37] #577 closed, assigned to Aayush-hub

[2021-03-27 22:49] #632 closed, assigned to vj-codes

[2021-03-27 23:33] isabelcosta commented on #1051
@all-contributors please add @vj-codes for code, maintenance, test, doc and design

[2021-03-28 00:24] isabelcosta opened #1062 "Add Docusaurs link to README"
## Description

Add https://anitab-org.github.io/mentorship-backend to link README.
Perhaps add a badge for this, along with adding this to the documentation section.

## Acceptance Criteria
### Update [Required]
- [ ] Add https://anitab-org.github.io/mentorship-backend to README

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
30 min

[2021-03-28 23:26] isabelcosta commented on #528
Sure @Jasmine9003 :) i will assign this to you. Feel free to continue the previous PRs that had some useful code for this already.

[2021-03-28 23:34] #987 closed, assigned to devkapilbansal

[2021-03-29 13:37] codesankalp opened #1065 "Improvement: Refactor code to use dict.get() method"
## Description
As a developer,
I need code to be consistent and error-free.

## Mocks
https://github.com/anitab-org/mentorship-backend/blob/d52d77706aad4a486f2417419bb4c4c6d2ace3a6/app/api/dao/user.py#L42-L46
For example this can be replaced by the get method i.e. `data.get("KEY", "DEFAULT_VALUE")` to avoid KeyError

## Acceptance Criteria
### Update [Required]
- [ ] Use get method in all code to

[2021-03-29 14:56] harsh7in commented on #1065
hey @codesankalp can i work on this ?

[2021-03-29 15:04] codesankalp commented on #1065
Sure @harsh-9in :smile:. Assigning you!

[2021-03-29 15:26] vj-codes commented on #1049
@17sushmita any updates?

[2021-03-29 15:54] vj-codes commented on #929
@Anmollenka the community guidelines mention updating your progress every 3 days if it's taking long otherwise issue will be unassigned, any updates for this?

[2021-03-29 16:03] Anmollenka commented on #929
Will create a pull request by tomorrow.

[2021-03-29 16:07] vj-codes commented on #1065
@codesankalp hey was this issue update discussed anywhere?

[2021-03-29 16:10] vj-codes commented on #726
I would like to work on this @devkapilbansal  :)

[2021-03-29 16:12] Anmollenka commented on #929
@vj-codes as my exams are going on I am unable to work on this.It would be okay if someone else works on it.Will start contributing from april .

[2021-03-29 16:18] vj-codes commented on #929
@Anmollenka thanks for letting us know, I will make the issue available and if it's not claimed by anyone after your exams you can reclaim and continue also :)

[2021-03-29 16:38] codesankalp commented on #1065
@vj-codes This is the referenced comment: https://github.com/anitab-org/stem-diverse-tv/issues/146#issuecomment-808977826

[2021-03-29 22:46] 17sushmita commented on #1049
I'm working on it

[2021-03-30 08:06] vj-codes commented on #297
@NenadPantelic any updates?
If there's no response from @NenadPantelic ,
@b-thebest are you still interested to work on this?

[2021-03-30 12:55] Bhavani-Somanchi commented on #1062
Hi Isabel! This link is already available in the documentation section(The first line). If a badge is needed can you assign it to me. Thank you.

[2021-03-31 05:57] Jasmine9003 commented on #528
@isabelcosta I have created a PR with list of features in read me file, kindly review.

[2021-03-31 09:33] NenadPantelic commented on #297
Hey @vj-codes. Sorry, my timetable is full, I have a lot of things I'm working on at the moment. If @b-thebest  or someone else is willing to, go ahead, the issue is yours. I'll ping you when I got some time if the issue is not solved at that point.

[2021-04-02 06:31] vj-codes commented on #618
Closing as the issue no longer exists

[2021-04-02 06:36] vj-codes commented on #618
Reopening as the error still exists 👀

[2021-04-02 07:03] epicadk opened #1067 "Improve Github actions"
### Is your feature request related to a problem? Please describe.

Currently we have two separate workflows for lint and build/tests

### Describe the solution you'd like

Have them in the same workflow. Run the lint check before the tests.

[2021-04-02 12:40] isabelcosta commented on #1065
@vj-codes thank you for confirming it! I saw the issue being created on stem diverse and thought it could be a little improvement here :)

cc @codesankalp

[2021-04-02 12:41] isabelcosta commented on #726
yours @vj-codes 🤗

[2021-04-02 17:21] #528 closed, assigned to Jasmine9003

[2021-04-02 17:26] epicadk commented on #528
Hey just a suggestion instead of tagging a maintainer individually you can tag the testers at anitab-org/testers for a quicker response.

[2021-04-02 17:49] isabelcosta commented on #528
yes and also @anitab-org/mentorship-maintainers :) I will also properly setup this.

[2021-04-03 15:17] #989 closed, assigned to PratibhaShrivastav

[2021-04-03 15:19] isabelcosta commented on #1067
@epicadk would they show up as different checks in here?

![image](https://user-images.githubusercontent.com/11148726/113482819-3defd600-9498-11eb-8d64-b3b74d72513d.png)

Because I think they should appear separately like that, I don't mind gathering in the same workflow file, I just want them to show separately. Would that still show like that?

[2021-04-03 18:16] epicadk commented on #1067
Nope they wouldn't. I just think that if the lint check fails then we shouldn't waste resources.

[2021-04-04 22:01] devkapilbansal commented on #726
Didn't see that issue is already assigned :grimacing:

[2021-04-05 06:18] vj-codes commented on #786
Closing as PR is closed as well

[2021-04-05 06:18] #786 closed, assigned to ashwinijha6

[2021-04-05 06:25] vj-codes commented on #1065
@harsh-9in any updates on this?

[2021-04-05 06:28] vj-codes commented on #565
Will close this and open a new one for updating links and screenshots in docusaurus

[2021-04-05 06:28] #565 closed, assigned to nobody

[2021-04-05 07:55] epicadk commented on #1067
So basically if there is a way to cancel the build tests if the lint check fails I would be open to that solution as well.
If this is better then I'll update the issue. However won't be a good first issue so I'll remove that tag.

[2021-04-06 09:02] devkapilbansal commented on #1049
@17sushmita are you working on this?

[2021-04-06 20:26] 17sushmita commented on #1049
I'm sorry, I was busy with some other commitments. I can work on it in next week. Meanwhile, If anyone is interested to work on it. feel free to assign them.

[2021-04-08 18:14] vj-codes commented on #1067
@epicadk there is a way but both checks should be included in one workflow,
if we keep linting code as the first step and use `if statement` and when true, it'll run the next step, [check ref here](https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#job-status-check-functions)
However, I'm not sure if it will work as the documentation for black clearly men

[2021-04-08 18:18] vj-codes commented on #1065
@harsh-9in if you have any questions about the issue or setting up the project, you can ask us here in comments or on [zulip](http://anitab-org.zulipchat.com) too :)

[2021-04-08 18:35] epicadk commented on #1067
That is very strange I don't think the name of the workflow file should not matter. Can you link the doc here?

[2021-04-08 18:41] vj-codes commented on #1067
Even I thought the same as the basic requirement is just a yaml file but it's mentioned there https://github.com/psf/black#github-actions

[2021-04-08 18:42] epicadk commented on #1067
It should work with any other name. Or we could just do pip install black.

[2021-04-08 18:47] vj-codes commented on #1067
ohhh then I can give it a try , if it works we can make a decision in the sync up session
Can you assign this to me please :)

[2021-04-08 18:50] epicadk commented on #1067
Done : ). Good luck.

[2021-04-11 06:30] epicadk commented on #1067
@vj-codes can you send in the pr. We can ask isabel to take a look there.  Also include `cancel previous` if possible.

[2021-04-11 07:01] vj-codes commented on #1067
@epicadk can you send a resource for it , because the one I [read](https://github.com/marketplace/actions/cancel-previous-workflow-runs) says we can't use it if the PR comes from a fork branch

[2021-04-11 07:39] #461 closed, assigned to mtreacy002

[2021-04-11 11:42] mtreacy002 commented on #1028
Closing this issue now as we're moving to BIT-MS full integration as per discussed on BIT Open Session 11th Apr.

[2021-04-11 11:42] #1028 closed, assigned to mtreacy002

[2021-04-11 11:48] Bhavani-Somanchi commented on #1062
@isabelcosta  Hi Isabel! This link is already available in the documentation section(The first line). If a badge is needed can you assign it to me. Thank you.

[2021-04-11 13:18] isabelcosta commented on #1062
@Bhavani-Somanchi thank you for confirming it 🤗 I think adding a badge for docusaurus/documentation would be amazing :) I will assign this to you.
I will remove the first timers only label, as this will be good for newcomers

[2021-04-11 13:24] isabelcosta commented on #867
@pbgurav thank you for suggesting an improvement to the app 🤗
At the moment, we have other features in higher priority, this issue if we choose to do it, would include some thought put into how to change the model for this. Right now skills is just a string, that can have any text on it.
I will put this with the potential future idea label and close this. cc @anitab-org/mentorship-maintainers

[2021-04-11 13:24] #867 closed, assigned to nobody

[2021-04-11 16:36] vj-codes commented on #1067
Update : will create a PR tomr without cancel previous

[2021-04-11 19:25] #871 closed, assigned to khushishikhu

[2021-04-12 08:39] vj-codes commented on #1062
@isabelcosta this was the first-timers issue and @Bhavani-Somanchi has already contributed to the repository before
Ideally, the assignment is removed but a PR has already been made now should it be made available again or not
@anitab-org/mentorship-maintainers thoughts?

[2021-04-12 08:50] #899 closed, assigned to sankha555

[2021-04-12 08:51] #785 closed, assigned to Anmollenka

[2021-04-12 08:51] #756 closed, assigned to pavani-17

[2021-04-12 08:52] #341 closed, assigned to nobody

[2021-04-12 08:53] #768 closed, assigned to SHITIZ-AGGARWAL

[2021-04-12 08:54] #769 closed, assigned to vj-codes

[2021-04-12 08:54] #770 closed, assigned to titiksha01

[2021-04-12 23:27] isabelcosta commented on #1062
@vj-codes I knew about it, I decided here to make it an exception since this can help newcomers finding documentation faster. And no one else had claimed it before. That is what I meant here https://github.com/anitab-org/mentorship-backend/issues/1062#issuecomment-817306864

How does it sound?

[2021-04-12 23:39] #1067 closed, assigned to vj-codes

[2021-04-13 15:14] #777 closed, assigned to nobody

[2021-04-14 07:58] devkapilbansal commented on #141
@b-thebest any progress?

[2021-04-14 21:27] #1062 closed, assigned to Bhavani-Somanchi

[2021-04-15 17:10] vj-codes opened #1072 "Update steps in how to test a PR doc"
## Description
As a developer,
I need the quality assurance doc of how to test a PR with correct steps,
so that it'll help everyone in testing PRs locally.
We shouldn't be cloning and checking out the author's fork we can directly use

` git fetch origin pull/ID/head:BRANCHNAME`

Read [this reference doc](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/checking-out-pu

[2021-04-15 17:12] vj-codes commented on #1072
@epicadk @devkapilbansal thoughts?

[2021-04-15 17:20] devkapilbansal commented on #1072
@vj-codes this seems valid to me

[2021-04-17 12:57] devkapilbansal commented on #1049
Any updates on this?

[2021-04-17 13:10] keshavgbpecdelhi commented on #1072
Sir pls assign this to me🙏

[2021-04-17 13:26] epicadk commented on #1072
@keshavgbpecdelhi assigning you. Good luck. No need to say sir.

[2021-04-17 14:18] #376 closed, assigned to saikirankv

[2021-04-18 01:38] mtreacy002 opened #1073 "Dev: Add BIT user attributes to MS User db model | BIT-MS Integration"
## Description
As a contributor,
I need to add BIT UserExtensionModel attributes to MS UserModel,
so that I can integrate BIT and MS user schemas into one for BIT-MS full integration.

## Acceptance Criteria
### Update [Required]
- [ ] Add Timezone, is_organization_rep field as they are
- [ ] Add user's additional_info as JsonCustomType instead of JSONB (open for discussion if this field is needed

[2021-04-18 04:26] #1040 closed, assigned to nobody

[2021-04-18 09:20] devkapilbansal commented on #990
Removing first timers only as it is an important issue.

@jalajcodes @aakankshaagr  are you interested in it?

[2021-04-18 10:18] keshavgbpecdelhi commented on #1072
I am unable to understand what to do and where to do :/
Better Question frame :
Where I have to do the changes in README.md !?
What to do in that ?

Asking this after reading these docs and issue :
https://github.com/anitab-org/mentorship-backend/issues/1072
https://github.com/anitab-org/mentorship-backend/blob/develop/docs/test-pr-guide.md
https://docs.github.com/en/github/collaborating-with-issu

[2021-04-18 13:37] devkapilbansal commented on #1072
HI @keshavgbpecdelhi
You need to update point 5 for pulling repository locally in test-pr-guide doc you mentioned above.

[2021-04-18 18:47] keshavgbpecdelhi commented on #1072
Any Improvement related suggestion?

[2021-04-18 18:59] keshavgbpecdelhi commented on #563
Thanks to you all 4 for showing interest in this issue. We will soon assign you at the right time.

Thankyou
Regards

[2021-04-19 03:55] epicadk commented on #563
@isabelcosta closing this. If you think it is valid please reopen it.

[2021-04-19 03:55] #563 closed, assigned to nobody

[2021-04-22 04:36] epicadk opened #1078 "Use python 3.9 in GitHub actions."
### Is your feature request related to a problem? Please describe.

Currently we run github actions on python 3.6.

### Describe the solution you'd like

Use a build matrix to run on version 3.7 , 3.9 (maybe `python:latest` for future releases?)

### Additional context

https://docs.github.com/en/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix

[2021-04-22 04:37] epicadk commented on #1078
@vj-codes related to issues you have been working on ,would you like to work on this?

[2021-04-22 08:41] vj-codes commented on #1078
@epicadk sure

[2021-04-23 17:42] vj-codes commented on #1049
@17sushmita unassigning you due to inactivity, let us know if you would like to continue again :)

[2021-04-27 07:43] KushalBeniwal commented on #739
@isabelcosta @devkapilbansal I would like to work on this issue. Can you please assign it to me?

[2021-04-27 07:44] devkapilbansal commented on #739
@KushalBeniwal all yours good luck

[2021-04-27 07:46] devkapilbansal commented on #739
You can take help from #837 if needed

[2021-04-27 07:49] KushalBeniwal commented on #739
Sure, thanks :)

[2021-04-27 09:50] KushalBeniwal commented on #739
I made the required changes. My PR is ready for review.

[2021-04-28 07:32] epicadk opened #1081 "Add relevant files to paths-ignore in workflow."
### Is your feature request related to a problem? Please describe.

Currently, github actions will run even when we make changes to files like `*.md`

### Describe the solution you'd like

Add these files under paths-ignore in github actions.

### Additional context

https://stackoverflow.com/questions/59759921/how-to-skip-github-actions-job-on-push-event

[2021-04-28 07:33] epicadk commented on #1081
@vj-codes if you want to work on this you can self-assign.

[2021-04-28 11:07] vj-codes commented on #1081
I'll wait for 3-5 days to give other contributors a chance but if not claimed by then I'll self assign:)

[2021-04-28 13:04] epicadk opened #1082 "Use UUID as userID."
### Is your feature request related to a problem? Please describe.

Currently we use an autoincrement id as the userid.

### Describe the solution you'd like

Change this to UUID. Migrate existing userids to UUID as well.

### Additional Context

from https://www.mysqltutorial.org/mysql-uuid/

[2021-04-29 08:46] epicadk opened #1083 "Use sql alchemy events to validate data"
### Is your feature request related to a problem? Please describe.

Currently we do not validate data before sending it to the database

### Describe the solution you'd like

Use the sql alchemy `before insert` even to validate the data being stored in the database

[2021-04-29 13:41] KushalBeniwal commented on #1081
@epicadk I would like to work on this issue.
Just to make sure, do I need to wait till my last PR gets merged to take up a new issue.
#1080 is reviewed and all the work is done.

[2021-04-29 15:03] epicadk commented on #1081
As long as it isn't changes requested you can work on this.

[2021-04-29 15:09] KushalBeniwal commented on #1081
Thanks for clearing my doubt and assigning the issue to me.

[2021-04-29 15:40] epicadk commented on #709
I'm sorry I need some more clarification on this. Will bring it up in the next mentorship session. Un-assigning for now

[2021-04-29 15:42] epicadk commented on #1082
On hold as it needs @isabelcosta's approval.

[2021-04-29 15:52] epicadk commented on #1083
Marking this as available because it's not really changing any functionality. But if @anitab-org/mentorship-maintainers  think it's not required then will close.

[2021-04-29 20:00] isabelcosta commented on #1082
@epicadk if you could add to the ticket the why, that would be awesome. I kind of know this is a better approach, but for a newcomer to learn in case they don't know. Thank you for raising this 🚀
Also, so this will require migration right 🤔  ... such a big change to the database. How can we do this, with pre existing data? Perhaps we should initiate all again 🤔  Also, this is for user id, do you a

[2021-04-29 20:08] #739 closed, assigned to KushalBeniwal

[2021-04-30 03:52] epicadk commented on #1082
Sure.

We can generate a random uuid for each existing user.I think we can have separate issues for those.

[2021-04-30 03:54] epicadk commented on #1082
Also can I work on this?

[2021-05-01 06:33] epicadk commented on #1082
I'd like to work on this.

[2021-05-01 07:46] epicadk commented on #1081
@KushalBeniwal any updates?

[2021-05-01 08:10] KushalBeniwal commented on #1081
Yes, I went through the link in the "Additional context" and github links. I found this https://stackoverflow.com/questions/59759921/how-to-skip-github-actions-job-on-push-event.
I will make the required changes today in main.yml and open a draft PR.
And sorry it took me longer than necessary. Still getting a hang of not going over an overwhelming number of resources.

[2021-05-01 13:23] #1078 closed, assigned to vj-codes

[2021-05-01 13:26] isabelcosta commented on #782
As discussed on weekly session w/ @vj-codes we'll close this since this information can be easily accessed from the `requirements.txt` file.

[2021-05-01 13:26] #782 closed, assigned to nobody

[2021-05-02 20:09] mtreacy002 commented on #523
closing this issue as it's no longer relevant to the project (TravisCI already moved to gh-action)

[2021-05-02 20:09] #523 closed, assigned to nobody

[2021-05-02 21:19] mtreacy002 opened #1089 "Doc: Add Run Migration Script instruction to README.md when new version is added to the repo."
## Description
As a contributor,
I need to add instruction on how to run migration script when a new version of migration script is added to the repo,
so that the contributors can update their db schemas when there is a schema update.

## Acceptance Criteria
### Update [Required]
- [ ] add a section on Run migration script to README.md for when a new migration script is added to the repo.

## Defi

[2021-05-03 00:53] mtreacy002 opened #1091 "Dev: Add BIT personal background to MS schema"
## Description
As a BIT Maintainer,
I need to add BIT Personal Background table to MS schema,
so that I can move further in the BIT-MS full integration process

## Acceptance Criteria
### Update [Required]
- [ ] Add BIT Personal Background to MS schema
- [ ] Add new migration script version for other contributors to apply the schema changes to their local db

## Definition of Done
- [ ] All of the

[2021-05-03 13:09] battuAshita commented on #759
Hi @vj-codes. Is this issue open? If it is, then I would like to work on this.

[2021-05-03 16:08] epicadk commented on #1082
We don't really need this. Kind of an overkill. If we have proper rate limiting we should be good.

[2021-05-03 16:08] #1082 closed, assigned to nobody

[2021-05-03 16:15] vj-codes commented on #759
Assigning you @battuAshita
Happy coding!

[2021-05-03 18:57] vj-codes commented on #1089
@mtreacy002 hey how  this different from issue #996 and PR [#1038](https://github.com/anitab-org/mentorship-backend/pull/1038)

[2021-05-03 20:45] mtreacy002 commented on #1089
🤔 , @vj-codes , I think #996 is addressing what contributors should do after they make changes to the db aka they need to create a new migration script within the PR where the db models are being changed. Whereas this issue is addressing what other contributors should do as an impact of a new migration script being merged to the repo when they pull the latest update from the repo. I will modify th

[2021-05-05 13:45] battuAshita commented on #759
Hi @vj-codes. While working on this issue, initially, the server was not able to connect to the database config through the .env file. So, I have added the line `load_dotenv()` to the config.py file and this worked for me. Should I commit this change also along with the other changes?

Also, is there a condition that each user can have more than one skill?

[2021-05-05 14:00] epicadk commented on #759
No need

[2021-05-05 14:00] epicadk commented on #759
@isabelcosta thoughts please.

[2021-05-05 19:23] devkapilbansal opened #1093 "Bug: Tests run more than once in Gtihub Actions"
### Describe the bug
In workflow, tests are mentioned more than once to run. This is causing wastage of resources(although we get it for free) and time.

### To Reproduce
Steps to reproduce the behavior:
1. Go to Actions
2. Click on any recent workflow
3. Go to build workflow
4. Scroll down to tests
5. See tests running more than once

### Expected behavior
Tests should run only once

### Addition

[2021-05-05 19:23] devkapilbansal commented on #1093
@isabelcosta once approved if no one takes the issue, I will make a PR for it

[2021-05-05 19:38] #1081 closed, assigned to KushalBeniwal

[2021-05-05 20:01] epicadk commented on #1093
Oh oops sorry assigned by mistake. It is a valid issue btw do you want to work on it?

[2021-05-05 20:35] devkapilbansal commented on #1093
I can

[2021-05-05 20:36] devkapilbansal commented on #1093
Will open a PR by today

[2021-05-08 04:27] epicadk commented on #1083
I'd like to work on this.

[2021-05-08 18:23] battuAshita commented on #759
Hi @vj-codes. I was running my test case but was unable to do it. I am getting the following error.
![a](https://user-images.githubusercontent.com/63910374/117549476-30f67180-b058-11eb-860e-c654ab777bff.png)
I am using postgres. How do I solve this issue? Please guide.

[2021-05-08 18:41] vj-codes commented on #759
@battuAshita heyy are you using FLASK_ENVIRONMENT_CONFIG as local and you should not have the db variables in your .env file

[2021-05-09 10:56] battuAshita commented on #759
Yes, I am using it as local.
I should be using test while running the tests right?

[2021-05-09 19:05] battuAshita commented on #759
This issue has been resolved. Thank you.

[2021-05-10 11:04] battuAshita commented on #759
I have raised a PR. Please review it :)

[2021-05-14 08:57] keshavgbpecdelhi opened #1100 "Readme.md update"
### Describe the bug
Making Meaningful sentence

### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

### Screenshots

### Desktop (please complete the following information):
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

### Smartphone (please complete the following information)

[2021-05-15 15:48] #1072 closed, assigned to keshavgbpecdelhi

[2021-05-15 21:06] #717 closed, assigned to mayburgos

[2021-05-15 22:34] isabelcosta commented on #1082
@epicadk you're so thoughtful. I feel like it could be a good change, but I also agree that at this point we don't need this. So should be good. I just looked at your PR, and it's kind of interesting. Thank you so much for handling this 🤗

[2021-05-16 00:20] isabelcosta opened #1101 "500 Internal Server Error"
### Describe the bug

The main development server is erroring w/ 500

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://mentorship-backend-temp.herokuapp.com/
2. See 500 Internal Server Error

### Expected behavior

### Screenshots

![image](https://user-images.githubusercontent.com/11148726/118381580-256cf280-b5e4-11eb-86e1-00bfec1b18df.png)

### Additional context

I recently me

[2021-05-16 00:21] isabelcosta commented on #1101
@anitab-org/mentorship-maintainers Not sure, if I should revert the latest commit 🤔 if this is even a problem with the app

[2021-05-16 00:25] isabelcosta commented on #1101
I ran the app locally with the latest commit and this did not happen 🤔

![image](https://user-images.githubusercontent.com/11148726/118381694-86e19100-b5e5-11eb-8355-658434a56724.png)

[2021-05-16 00:35] isabelcosta commented on #1101
lol I really like stack overflow sometimes https://stackoverflow.com/a/64698899

I just googled the main error `sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:postgres` and found the error.

I changed the environment variable from:
[code]

to:
[code]

Nailed it ✅

[2021-05-16 00:36] #1101 closed, assigned to nobody

[2021-05-16 01:03] #629 closed, assigned to vj-codes

[2021-05-16 19:27] devkapilbansal commented on #1101
@isabelcosta probably the same happens here https://github.com/anitab-org/mentorship-backend/pull/1005#issuecomment-812510786

[2021-05-17 02:44] mtreacy002 opened #1104 "Feat: remove Religion from the personal background attributes"
### Is your feature request related to a problem? Please describe.
Having `Religion` as an attribute in the personal background can be intimidating to some users and might have negative impact in the mentors/mentees selection process if the organization has not fully embraced diversity and inclusion.

### Describe the solution you'd like
During [BIT Open Session May 16th 2021](https://docs.google.

[2021-05-17 06:55] mtreacy002 opened #1105 "Feat: Refactor is_public boolean to visibility enum on personal background"
### Is your feature request related to a problem? Please describe.
The current is_public attribute limits users in their options in relation to their personal background.

### Describe the solution you'd like
as per discussed on [BIT Open Session](https://docs.google.com/document/d/1vMmLOC8txyOZdNfdFh6keB5rw7uEbL1F6dS_JdcnD0g/edit#heading=h.rh3yl7l0u155):
* is_public should be refactored from a bo

[2021-05-17 06:57] mtreacy002 commented on #1105
Self-assigning as this is an action item discussed on BIT Open Session May 16th 2021

[2021-05-17 06:57] mtreacy002 commented on #1104
Self-assigning since this is an action item from BIT Open Session May 16 2021

[2021-05-18 12:05] aakankshaagr commented on #1065
@vj-codes Can I work on this issue?

[2021-05-18 13:15] KushalBeniwal commented on #789
@SanketDG I would like to work on this issue. Can you assign it to me?

[2021-05-19 17:09] vj-codes opened #1109 "Cannot register a new user : Internal Server Error"
### Describe the bug
When I try to register a new user via the app or deployed Heroku link , Internal Server Error is found

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://mentorship-backend-temp.herokuapp.com/register'
2.  Enter required fields
3. See the error

### Expected behavior
The new user should be registered successfully

[2021-05-19 17:12] vj-codes commented on #1109
@isabelcosta I believe this has something to do with #1101 or previous merged commits , I think only you have access to fix it 👀
[Original issue posted on android](https://github.com/anitab-org/mentorship-android/issues/1136)

[2021-05-23 05:02] justdvnsh opened #1110 "Change the Comments API to provide the user details along with the comments"
### Is your feature request related to a problem? Please describe.
The comment API right now provides the userID as a parameter in the response. It needs to change to provide the user details such as username and email along with the comment response. A complete discussion can be found here. https://github.com/anitab-org/mentorship-android/pull/1129

### Describe the solution you'd like
User detai

[2021-05-23 05:08] epicadk commented on #1110
@justdvnsh do you want to work on this?

[2021-05-23 17:15] #1100 closed, assigned to nobody

[2021-05-24 18:43] isabelcosta commented on #1109
I tried it now using this data:
[code]

And I inspected and I got this error from Heroku console

<details>
  <summary>Click to expand!</summary>

[code]
</details>

cc @anitab-org/mentorship-maintainers  I haven't had tome to look into this yet, but I think we can try to figure out from this log ^^

[2021-05-24 18:46] devkapilbansal commented on #1109
I remember opening a similar issue but closed it as I wasn't able to retrace it

[2021-05-24 18:47] isabelcosta commented on #1109
Also, just to rule this out, I checked and we have not yet hit the limit of users on our DB.

![current database size is 1mb](https://user-images.githubusercontent.com/11148726/119393395-c9335e00-bcc8-11eb-8b3e-cc7e13402b7a.png)

[2021-05-24 19:59] epicadk commented on #1109
This is the error.

This is the statement. I think it's because the hash is overflowing the varchar limit.

[2021-05-24 20:18] isabelcosta commented on #1109
oh wow @epicadk so, it's a problem with the length set for the password field?

[2021-05-24 20:25] epicadk commented on #1109
Yep, atleast that's what I can infer from the logs.

[2021-05-24 22:59] devkapilbansal commented on #1109
@isabelcosta @epicadk here it is https://github.com/anitab-org/mentorship-backend/issues/931 but it is different from this one :thinking:

[2021-05-25 07:11] aakankshaagr commented on #1065
@epicadk I have created a PR please check if any changes are required

[2021-05-25 07:19] epicadk commented on #1065
@codesankalp I don't get this? Why would we need a default value here? The data that comes from the user is already validated and needs to have these keys.

![image](https://user-images.githubusercontent.com/56596662/119455848-a734ec80-bd57-11eb-9e25-81fa06978673.png)

[2021-05-25 08:58] codesankalp commented on #1065
Yes, it is but when you see the code there is a lot of repetition of code for validation which can be reduced using `dict.get()`

In the description, I just gave the example of dao/user.py but what I want to convey is to use dict.get method wherever necessary so that code doesn't look repetitive.

Example:
https://github.com/anitab-org/mentorship-backend/blob/25d8d99b3531f34a84343970be781b83f07d85

[2021-05-25 11:35] aakankshaagr commented on #1065
@vj-codes @epicadk @codesankalp I have created a PR. Please check, if any changes are required.
Run tests are failing due to black (formatting issue) and I don't know the command for that. Can someone please tell me the command to remove that issue?

[2021-05-25 20:12] aakankshaagr commented on #1065
its working fine for invalid email
![image](https://user-images.githubusercontent.com/71868375/119561356-b1400500-bdc2-11eb-9581-cb8570113f46.png)
but when I enter an existing email it's showing an internal server error
![image](https://user-images.githubusercontent.com/71868375/119561554-f6643700-bdc2-11eb-8dc0-fd8fde9b7a5c.png)
I don't understand why this is happening?
Till yesterday it was work

[2021-05-27 04:53] justdvnsh commented on #1110
@epicadk I don't think I'd be able to work on this. Would not be able to give in the time for this issue.

[2021-05-29 19:17] Aryamanz29 commented on #1049
@devkapilbansal  Should I work on this?

[2021-06-01 16:19] vj-codes opened #1119 "implement sign in with github"
## Description

As a developer,
I need to add login with GitHub feature to app,
so that I can allow users to use their GitHub OAuth.

Implement login with GitHub to mentorship system

https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps

## Acceptance Criteria
### Update [Required]
- [ ] A user is able to login into the platform with GitHub OAuth

## Definition of

[2021-06-01 16:20] vj-codes commented on #1119
I would like to work on this

[2021-06-01 16:45] epicadk commented on #1119
On my phone so can't assign for some reason. Please self assign.

[2021-06-02 06:20] vj-codes commented on #1119
afaik the github app doesn't include that feature yet, you would need to use the browser on phone to do the same

[2021-06-06 15:51] vj-codes commented on #1119
@isabelcosta @epicadk for this there will be a need to create an OAuth app on Github that will give me client secret and client id which I can create for now from my acc but later the org acc will need to do the same
Is that alright?

[2021-06-09 04:08] harshakhmk commented on #736
I would like to work on this, I am first time contributor @Shivansh2407  @isabelcosta @devkapilbansal

[2021-06-09 04:09] devkapilbansal commented on #736
@harshakhmk assigning you.

[2021-06-09 13:14] harshakhmk commented on #736
![register-error](https://user-images.githubusercontent.com/56113657/121361204-b10f4000-c952-11eb-95eb-420115cfcd24.png)

Getting 500 error on registering a new user
Also by changing ``` registered_at``` field to ```DateTime``` field, I am getting error that It accepts only float object
But I changed the field everywhere in entire repo

[2021-06-10 04:25] harshakhmk commented on #720
I would like to work on this issue, it would be a perfect start for a beginner like me @SanketDG @isabelcosta

[2021-06-10 04:28] epicadk commented on #720
@isabelcosta I think that 400 invalid input pretty much covers all such cases

[2021-06-10 04:30] epicadk commented on #720
@harshakhmk you are already assigned a different issue. Please work on one issue at a time.

[2021-06-10 04:30] epicadk commented on #720
Will add status available after discussing this in the open session.

[2021-06-10 04:34] harshakhmk commented on #736
I have made code changes but from the bottom level, every operation involving in registration_date is been done using float values, so if we try to change it to the DateTime field, the code is breaking

[2021-06-10 04:36] harshakhmk commented on #720
@epicadk   previous issue was not clear to proceed, I got stuck in the middle, meanwhile I can work on this

[2021-06-10 06:05] epicadk commented on #720
In anycase I think we need to discuss this issue in the open session before moving forward.

[2021-06-11 09:17] KushalBeniwal commented on #1049
@devkapilbansal @vj-codes I would like to work on this issue.

[2021-06-11 12:55] vj-codes commented on #1049
Assigning you @KushalBeniwal
Happy coding!

[2021-06-11 18:47] epicadk commented on #736
I don't think this change is required. We should return a float value to that we can display the epoch timestamp in the appropriate/local timezone of the user.
 cc @isabelcosta

[2021-06-11 18:49] #736 closed, assigned to nobody

[2021-06-14 07:24] battuAshita commented on #1006
Hi @epicadk and @isabelcosta. Please assign this issue to me if it is open :)

[2021-06-15 12:11] RiddhiAthreya commented on #1110
@epicadk can I try working on this?

[2021-06-15 14:57] vj-codes commented on #1119
Update : was kinda busy with exams still working on it, got a few questions will ask in the sync up session if I don't find a solution about them on StackOverflow before the session 🚀

[2021-06-15 15:13] RiddhiAthreya commented on #1110
@justdvnsh can you tell me the exact endpoint you want changed?

[2021-06-17 06:12] RiddhiAthreya commented on #1110
@justdvnsh @epicadk
About the structure of the response :

- So do I include both the users in the task - the mentor and the mentee details in the response JSON?

- Right now it's a list of comment objects being returned. I'm thinking of having a list with 2 key value pairs :-

          - comments :- value will contain a list of comment objects

          - users :-  value will contain a list wit

[2021-06-19 13:13] isabelcosta commented on #596
I think remember this being the issue of PUT vs PATCH 🤔 just putting here so I don't forget later

[2021-06-20 04:15] harshakhmk commented on #625
I would like to work on this @isabelcosta @devkapilbansal

[2021-06-20 04:18] devkapilbansal commented on #625
Assigning you @harshakhmk

[2021-06-22 19:23] epicadk commented on #1110
Sure that works or you could change the comment response to include the corresponding user within the comment. I think this way makes more sense.

[2021-06-23 04:56] RiddhiAthreya commented on #1110
@epicadk but wouldn't that be sending a lot of redundant information? Since there are only 2 users involved, I'd be sending the same info over and over again. Response might become unnecessarily big.

[2021-06-25 11:55] RiddhiAthreya commented on #634
@devkapilbansal can I be assigned this

[2021-06-26 20:08] isabelcosta commented on #634
it's yours now @RiddhiAthreya :) Let us know if you have any doubts 🤗

[2021-06-27 08:55] RiddhiAthreya opened #1128 "fix: Swagger documentation HTTP code display"
### Describe the bug
In some places in the swagger documentation, the HTTP error codes values aren't being displayed and instead the variables are being displayed.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [https://mentorship-backend-temp.herokuapp.com/](https://mentorship-backend-temp.herokuapp.com/) and check under Mentorship Relation. This is just an example. There are many su

[2021-06-27 08:59] RiddhiAthreya commented on #1128
@isabelcosta Can I work on this?

[2021-06-27 10:02] RiddhiAthreya commented on #685
@isabelcosta looks like issue #1110 and this issue are trying to accomplish the same thing. Please have a look at it.

[2021-06-27 15:47] epicadk commented on #1128
Yeah for some reason I think that's by design. Also maybe we could display the status code along with the status.

For example

**418** I'm a Teapot

cc @isabelcosta @anitab-org/mentorship-maintainers

[2021-06-27 18:44] vj-codes commented on #1128
Duplicate of #939 but as it still exists you can work on this @RiddhiAthreya and thank you for reporting it :)

[2021-07-01 10:07] RiddhiAthreya commented on #375
@vj-codes Can I work on this?

[2021-07-01 13:10] vj-codes commented on #375
@RiddhiAthreya sure you can work on this but before assigning it to you please let me confirm about this with the other maintainers since it's a very old issue and there's no context link as well.
I will send a response after discussion in the mentorship session on Saturday eve
In the meantime you can look through other available issues :)

[2021-07-01 13:31] RiddhiAthreya commented on #278
@vj-codes can I work on this?

[2021-07-02 17:17] vj-codes commented on #278
Assigning you @RiddhiAthreya
Happy coding!

[2021-07-03 11:51] devkapilbansal commented on #634
Hi @mtreacy002 I wanna know why Forbidden should be returned instead of Bad Request? If I am not wrong, Forbidden is returned when the user doesn't have permissions to perform an operation

[2021-07-03 13:44] devkapilbansal commented on #634
Update:- **Understood now**

[2021-07-03 13:50] mtreacy002 commented on #634
@devkapilbansal , as per the httpstatuses.com, [400](https://httpstatuses.com/400) is used when the user sent the wrong payload (whether it's syntax/request fields related or routing) that are not accepted by the endpoint. [403](https://httpstatuses.com/403) on the other hand, the system understood the request (no error in payload) but refused to authorise it since there is a condition that is not

[2021-07-03 18:56] #910 closed, assigned to sankha555

[2021-07-06 15:45] RiddhiAthreya commented on #537
@vj-codes can I work on this?

[2021-07-07 01:21] mtreacy002 opened #1132 "Feat: Initiate migration and add how to run migration on README"
### Is your feature request related to a problem? Please describe.
At the moment we have a basic migration in the code but no initial migration version has been created so far. Also, there is no instruction on how to run migration script on README

### Describe the solution you'd like
* The initial migration version need to be created so that we can make sure there is only one source of truth in t

[2021-07-07 01:27] #1132 closed, assigned to mtreacy002

[2021-07-07 01:28] mtreacy002 commented on #996
Self-assigning myself to this issue 😉. cc @epicadk and @vj-codes

[2021-07-07 20:50] devkapilbansal commented on #1119
@vj-codes any updates?

[2021-07-10 11:16] #1128 closed, assigned to RiddhiAthreya

[2021-07-10 12:54] vj-codes commented on #1119
Oops I forgot about this 😄
Making it available as I can't work on it right now :)

[2021-07-10 13:49] isabelcosta commented on #618
Thank you @vj-codes for reopening this ticket after spotting this issue 💪🏾
I took a brief look at the PR https://github.com/anitab-org/mentorship-backend/pull/621 which was closed and it was almost there, it just needed a few changes.

Also looking at https://docs.python.org/3/library/datetime.html#datetime.date.fromtimestamp, I noticed that after python 3.3, this function throws either `OverflowE

[2021-07-10 16:36] isabelcosta commented on #1119
Thank you @vj-codes for updating the issue 🙌🏾

[2021-07-11 16:21] #789 closed, assigned to KushalBeniwal

[2021-07-19 20:28] diananova commented on #393
can I work on this?

[2021-07-19 20:29] devkapilbansal commented on #393
Sure @diananova
Good luck 😃

[2021-07-20 21:59] diananova commented on #685
This issue is not available, right?

[2021-07-20 22:01] diananova commented on #990
Can I work on this?

[2021-07-20 22:35] isabelcosta commented on #990
yes @diananova :)

[2021-07-21 01:20] diananova commented on #596
Can I work on this? @isabelcosta

[2021-07-22 21:27] #393 closed, assigned to diananova

[2021-07-22 21:40] #990 closed, assigned to diananova

[2021-07-22 22:02] #636 closed, assigned to b-thebest

[2021-07-24 06:07] lem0n4id commented on #1119
Hey, i would like to work on this.

Can anyone please **list out** what all needs to be done to *Implement login with GitHub to mentorship system*?
I am new here

[2021-07-24 06:21] lem0n4id commented on #1119
hello, sorry for pinging everyone in this conversation.
i will not be able to work on this as i am not familiar with flask

[2021-07-24 13:29] isabelcosta commented on #1109
We tried again and can confirm the issue is still existing, and we have to adjust the limit of the `password_hash`. There should not be a limit defined on the SQL Alchemy.

So the problem here is that we have a limit for the password size, but we can't control the size of the hashing form of the password, so we are limiting it to 100 characters when often this hashing surpasses that value.

[code]

[2021-07-24 13:32] isabelcosta opened #1137 "Extend `password_hash` limit from User data model"
## Description
As a developer,
I need to remove the limit for password_hash,
so that I can fix the registration endpoint, that is erroring 500 INTERNAL SERVER ERROR, because of the limit being reached.

This relates to fixing #1109

A comment that may help: https://github.com/anitab-org/mentorship-backend/issues/1109#issuecomment-886053853

## Mocks

![print from swagger with the error](https://us

[2021-07-24 13:36] isabelcosta commented on #1137
I would suggest setting a postgres SQL database, which is what we are using in the deployed server.
I am using https://elephantsql.com/ for it (so the contributor can too). Make sure to have this working with a database with the current state of the models, and only after you create and run the migration to alter/modify the column to not have a limit or have a bigger limit.

If any doubts you can

[2021-07-25 16:47] epicadk commented on #1109
I disagree. The length of the output of a hash function is constant.

https://en.wikipedia.org/wiki/Cryptographic_hash_function#Properties
First line under properties.

[2021-07-25 18:20] epicadk commented on #1137
https://github.com/anitab-org/mentorship-backend/issues/1109#issuecomment-886228556

[2021-07-25 19:14] isabelcosta commented on #1109
@epicadk good point 👍🏾 I had that brief thought, but then seeing that the error is about the limit of the property, I saw removing/extending the limit as a potential solution.
What is the limit in this case, what would you suggest we do instead?

[2021-07-25 21:41] devkapilbansal commented on #1110
Duplicate issue #685

[2021-07-25 21:41] #1110 closed, assigned to RiddhiAthreya

[2021-07-25 21:44] devkapilbansal commented on #685
@RiddhiAthreya assigned you this one as both issues were same

[2021-07-26 05:29] epicadk commented on #1109
Yup extending seems like the way to go. I think the library we are using uses SHA256 by default.

[2021-07-28 23:55] isabelcosta commented on #1109
@epicadk that seems to be what I described in the follow-up issue. Is there anything I should correct there to not misguide contributors?

[2021-07-29 03:16] epicadk commented on #1109
Well the title is remove the limit, so that is a bit misleading. We should extend the limit instead so maybe you could update the title of the pr.

[2021-07-29 16:07] vj-codes commented on #673
Unassigning @vermastuti due to inactivity

[2021-07-29 16:09] vj-codes commented on #141
Unassigning @b-thebest due to inactivity

[2021-07-29 22:27] isabelcosta commented on #1137
Thank you for your points @epicadk on #1109 I just changed the title ;)

[2021-07-29 22:45] isabelcosta commented on #1119
No worries @lem0n4id in case it helps:
- We are using Flask Restplus - https://flask-restplus.readthedocs.io/en/stable/
- Our documentation for this project: https://anitab-org.github.io/mentorship-backend/docs/

Feel also free to look other issues that can ease your way into the app ;)

[2021-07-29 22:47] isabelcosta commented on #537
@RiddhiAthreya if you're still interested, ping me and I'll assign this to you ;)

[2021-07-31 17:19] #1049 closed, assigned to KushalBeniwal

[2021-08-02 16:51] sukesh2000 commented on #1119
Is this issue still open, can I work on this? I've experience with implementing OAuth2 in NodeJS & Flask.

[2021-08-02 16:57] devkapilbansal commented on #1119
@sukesh2000 yes you can work on this. I have assigned this issue to you. Feel free to move forward and ask here or on Zulip if you have some doubts.
Happy Coding 😃

[2021-08-02 17:02] sukesh2000 commented on #1119
Thank you so much, I'll start working on it! I've joined Zulip as well, if I've any doubts then I'll put there.

[2021-08-07 13:18] #514 closed, assigned to mtreacy002

[2021-08-22 06:58] mridubhatnagar commented on #1137
@isabelcosta I am a first-timer. I am interested in solving this issue, can you please assign it to me. :)

[2021-08-22 09:36] vj-codes commented on #1137
Assigning you @mridubhatnagar
Happy coding!
And welcome to the community:)

[2021-08-22 10:58] isabelcosta commented on #1006
@battuAshita are you still interested in the issue?

[2021-08-22 11:03] battuAshita commented on #1006
Hi @isabelcosta. I am actually caught up in some work. It is free to be assigned to someone else. Thank you :)

[2021-08-22 11:09] isabelcosta commented on #1006
No worries @battuAshita ! thank you for responding so quickly 🤗  in this way we can assign to someone else who is interested!

[2021-08-22 16:03] mridubhatnagar commented on #1137
@vj-codes @isabelcosta I have set up the project on my local system. Just wanted to understand how can I set up a database for the project?

[2021-08-23 04:42] epicadk commented on #1137
It should automatically create a sqllite database.

[2021-08-23 13:17] mridubhatnagar commented on #1137
On my local system when I run the server. I am getting an error

sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:None
127.0.0.1 - - [23/Aug/2021 18:42:47] "GET /favicon.ico HTTP/1.1" 500 -

One of the possible reason the above errors comes is due to spelling mistake in the database name sqllite instead sqlite. I did cross check config.py to make sure spellings are correct.

[2021-08-23 17:22] epicadk commented on #1137
Are you using docker or venv?

[2021-08-23 17:43] mridubhatnagar commented on #1137
venv

[2021-08-23 18:10] vj-codes commented on #1137
@mridubhatnagar I have linked the possible fixes on zulip:)

[2021-08-25 14:36] mridubhatnagar commented on #1137
@vj-codes responded to you on zulip. :)

[2021-09-11 13:20] vj-codes commented on #1119
Any updates @sukesh2000 ?

[2021-09-13 22:17] engineerrbae commented on #573
Hi, if this issue is available to work on. Can you please assign it to me?

[2021-09-13 22:23] isabelcosta commented on #573
Sure @engineerrbae :) will assign to you!

[2021-09-14 17:06] vj-codes opened #1142 "Add Docusaurus badge on readme"
### Is your feature request related to a problem? Please describe.
The project's documentation is using Docusaurus, add its badge on top of the readme with other badges present similar to what is done on [stem-diverse-tv's repo](https://github.com/anitab-org/stem-diverse-tv)

### Describe the solution you'd like
Add badge on readme

[2021-09-14 17:07] vj-codes commented on #1142
@isabelcosta do you approve this?

[2021-09-14 17:46] isabelcosta commented on #1142
which badge you would like to add, only the docusaurus one with the version of it? @vj-codes

[2021-09-14 17:54] vj-codes commented on #1142
Yes and hyperlink it to the deployed website @isabelcosta

[2021-09-14 18:02] isabelcosta commented on #1142
ah, I think we have it here already, with the "documentation". Let me know if I understood this wrong @vj-codes

![image](https://user-images.githubusercontent.com/11148726/133309944-9132204f-0174-4a80-b661-9307a3624c43.png)

[2021-09-14 18:13] vj-codes commented on #1142
opps wrong repo 🤦
I meant to create it on mentorship android since the PR to move documentation to Docusaurus is in the review process
What say to add it on android?

[2021-09-14 18:14] isabelcosta commented on #1142
Yes, I did think maybe you were using the wrong repository 😅
Agree with this for mentorship-android for sure @vj-codes feel free to create the issue there 🤗 and close this issue here

[2021-09-14 18:16] #1142 closed, assigned to nobody

[2021-09-14 21:38] engineerrbae commented on #573
Hey, thanks for the quick action. Is this a user-specific issue? As I tried to reproduce it at my end but, I am not able to replicate the issue.

[2021-09-16 17:59] devkapilbansal opened #1143 "Enhancement: Use Enum Representation in Mentorship Relation"
## Description
I want to ensure that the database queries are fast and take less space for storage.

https://github.com/anitab-org/mentorship-backend/blob/8924616fa20d5d37026f48ef1481e00932622b2a/app/api/dao/mentorship_relation.py#L139

In the code above :point_up: , we are using string values for relation state which should be avoided.

## Definition of Done
- [ ] All of the required items are co

[2021-09-26 11:44] hereisamara commented on #142
Hello. Can I be assigned to this issue?

[2021-09-26 12:07] vj-codes commented on #142
Assigning you @hereisamara
Happy coding!

[2021-10-03 21:24] sakshivij commented on #1006
Hi @isabelcosta. Is this open to work on? If yes, can you please assign this to me? Thanks!

[2021-10-03 21:54] vj-codes commented on #1006
Assigning you @sakshivij
Happy coding!

[2021-10-06 19:03] sakshivij commented on #1006
@vj-codes to decide on rate-limit was there any doc created as mentioned on the closed PR? Or I would need to create one?

[2021-10-06 19:17] vj-codes commented on #1006
@epicadk can you answer that please? ⬆️

[2021-10-06 19:21] epicadk commented on #1006
That's something we need to discuss in the mentorship session. I think you could probably use a constant right now and then change it later? cc @isabelcosta

[2021-10-06 19:46] sakshivij commented on #1006
Makes sense. If you mean the sync up session, I'll try to join as well.

[2021-10-06 20:13] vj-codes commented on #1006
Yes the sync up session, it is conducted on Saturdays biweekly at 6:30 pm IST
The next one scheduled is this Saturday

[2021-10-08 18:55] isabelcosta opened #1145 "Add link with icon to our AnitaB.org Open Source Medium"
## Description

As an admin,
I need our Medium blog to be in the social media links on Docusaurus,
so that I can promote our blog to our contributors.

We want to see the medium link to our AnitaB.org Open Source on the Docusaurs page footer.
Our Medium publication: https://medium.com/anitab-org-open-source
Our Docusaurus documentation: https://anitab-org.github.io/mentorship-backend

## Mocks

Yo

[2021-10-08 20:06] sharonibose commented on #1145
@isabelcosta, could you kindly assign me this task?

[2021-10-08 20:10] isabelcosta commented on #1145
@sharonibose sure! I will assign it to you :)

[2021-10-08 20:15] sharonibose commented on #1145
Thank you for assigning me. I will make the necessary changes soon.

[2021-10-09 18:12] isabelcosta commented on #573
@engineerrbae sorry for the delay. This is not user-specific I think. Have you tried the test data from the ticket?

[code]

I think all you need is name to be empty. This ticket is about the error message not showing up in the Swagger documentation.

![image](https://user-images.githubusercontent.com/11148726/136669676-22d19831-50f1-4862-9969-54f46b057363.png)

Are you still interested in working

[2021-10-14 08:01] msaini28r commented on #1143
I would like to work on this issue. can you suggest me some hints?

[2021-10-14 08:05] msaini28r commented on #1145
can you assign me to this issue ?

[2021-10-14 08:07] msaini28r commented on #1145
the GitHub link is not changed yet.

[2021-10-14 08:14] msaini28r commented on #730
I would like to work on this issue.

[2021-10-14 22:40] isabelcosta commented on #1145
@msaini0r , @sharonibose started working on this. PR is linked above. If we don't get updates to PR within 3 days we can then reassign. Until then, it's up to @sharonibose to solve

[2021-10-15 03:11] msaini28r commented on #1145
I have made the necessary changes please check the pull request and review it. @isabelcosta

[2021-10-17 12:57] isabelcosta commented on #1145
@sharonibose are you still working on this ticket? Please let us know, since i added a comment to your PR, otherwise I'll have to close and potentially re assign

[2021-10-18 14:03] sharonibose commented on #1145
Yeah, I'm updating the required changes.

[2021-10-18 14:06] sharonibose commented on #1145
The required changes have been made

[2021-10-19 11:17] devkapilbansal commented on #1143
Sure @msaini0r

Here, you will have to use numerical mapping of values with valid_states. Currently, we are storing string values that should be converted to 0,1,2... to save space

Check this file to have a clear idea of what is needed :point_down:
https://github.com/anitab-org/mentorship-backend/blob/develop/app/utils/enum_utils.py

[2021-10-19 11:21] devkapilbansal commented on #1145
This issue is closed in #1146

Thanks @sharonibose for your contribution :clap: :clap: :clap:

[2021-10-19 11:21] #1145 closed, assigned to sharonibose

[2021-10-19 20:13] isabelcosta opened #1148 "Fix Medium icon which is hidden on Docusaurus footer"
## Description

The medium icon is not showing up on Footer from Docusaurus, even though it was set to show up via https://github.com/anitab-org/mentorship-backend/pull/1146

mentorship-backend docusaurus: https://anitab-org.github.io/mentorship-backend/

## Acceptance Criteria
### Update [Required]
- [ ] Fix missing Medium icon on Docusaurus footer.

## Definition of Done
- [ ] All of the require

[2021-10-22 19:57] sumushi commented on #1148
I would like to work on this issue.

[2021-10-26 15:34] vj-codes commented on #1148
@sumushi assigning you, please remember to wait until the issue is assigned and then create a PR next time onwards as mentioned in the community guidelines.

[2021-11-20 13:43] #933 closed, assigned to HeroicHitesh

[2021-11-25 01:27] satyendra11111 commented on #754
gf

[2022-01-03 01:41] saloni3487 commented on #929
Hey, is it available? I am new to testing and would like to contribute. Thanks!

[2022-01-03 03:45] vj-codes commented on #929
Assigning you @saloni3487
Happy coding!

[2022-02-14 12:14] eleensmathew commented on #447
Hi is this issue still open? Can you please help me with resolving the bug since I am new?

[2022-02-14 12:16] eleensmathew commented on #432
Hi is this issue still open? Can you please guide me since I am new

[2022-02-14 12:17] epicadk commented on #447
not sure why we need to return this field in the first place.

cc @isabelcosta

[2022-02-22 10:36] octonawish-akcodes commented on #447
can i work  on this issue

[2022-02-26 16:47] rookieCoder9 commented on #1148
@isabelcosta @vj-codes Hey is this issue still open? If yes, I would like to fix it.

[2022-02-28 11:26] vj-codes commented on #1148
Assigning you @rookieCoder9
Happy documenting!

[2022-02-28 20:04] vj-codes commented on #1143
Unassigning @msaini0r due to inactivity

[2022-04-08 20:45] mariejp commented on #1109
Hello!
Is this issue still available? I would like to work on it!

[2022-04-08 20:45] mariejp commented on #673
Hello!
Is this issue still available?
If so I would like to take up the issue!

[2022-04-08 20:47] mariejp commented on #1143
Hello!
Is this issue still available? If so, i would like to work on it!

[2022-04-08 20:55] ciheanyi commented on #1143
Hi! I also sent a message in the Zulip, but am I able to be assigned to work on this issue?

[2022-04-08 20:55] ciheanyi commented on #673
Hi! I also sent a message in the Zulip, but am I able to be assigned to work on this issue?

[2022-04-14 16:03] ciheanyi commented on #1143
Hi! Thanks so much for assigning, so I finished writing the code for the enum 🥳 and I was wondering how I can go about testing before I request to push. I was a bit confused if there was some sort of suite or ready made test cases, if anybody could direct me to the right place!

[2022-04-14 16:17] epicadk commented on #1143
Can you open a pr so we can help you out?

[2022-04-14 22:55] mariejp commented on #673
Hi, after careful consideration, I am afraid this task may be a little outside of my scope. Is it possible for me to be assigned to  issue #[598](https://github.com/anitab-org/mentorship-backend/issues/598) instead?

[2022-04-14 23:34] mariejp commented on #598
I mentioned this issue under a different issue, but I would like to be assigned this issue instead of #673 if possible!

[2022-04-15 06:11] epicadk commented on #598
As @devkapilbansal  mentioned it might have been resolved earlier so if you could first check if this is still reproducible that would be great : ).

[2022-04-22 15:54] ciheanyi commented on #1143
Whoops, realized I put this in my request not here.
@epicadk @isabelcosta

But just dropping this again for a review for the pull request. I also think there may be some software updates required that are causing the unit tests to fail, I believe markup may have recently moved to a new version that causes jinja2 to fail. When we downgraded the libraries locally, the unit tests ran successfully.

[2022-04-23 02:59] mariejp commented on #598
Hi! I did notice that the Pull Request had already gone through for this issue so I instead began working on #685 ! I created a pull request [here](https://github.com/anitab-org/mentorship-backend/pull/1152)

[2022-04-23 03:14] ciheanyi opened #1153 "Bug Report: Library dependencies in unit tests out of date"
### Describe the bug

When running the provided unit tests for this repo receiving error:
 "ImportError: cannot import name 'Markup' from 'jinja2'"
After further investigaton, discovered that Jinja2>=2.10.1 deprecated Markup command

### To Reproduce
Steps to reproduce the behavior:
1. Submit a pull request with a commit
2. Code runs on unit tests
3. See error

### Screenshots

<img width="1071" a

[2022-04-23 03:19] mariejp commented on #685
I was not able to find any test cases that relied on the subfields in the TaskCommentModel. Am I correct in assuming that no test cases need to be updated?

[2022-07-02 17:28] thisisharsh7 commented on #1104
can you assign this issue to me?

[2022-07-05 11:49] znamazbayeva commented on #1148
Hello 👋 Can you assign me to this issue, please?

[2022-07-05 16:49] vj-codes commented on #1148
Assigning you @znamazbayeva
Happy coding!

[2022-07-12 22:19] ghost opened #1155 "Fix broken links in Getting-Started.md"
### Describe the bug
Several links in the `Getting-Started.md` file are broken. Broken links 2-5 are likely due to the comma in the `Fork,-Clone-&-Remote.md` file name. The last link is likely broken because it is missing the `.md` extension.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [Getting-Started.md](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/docs/Gett

[2022-08-11 16:56] devkapilbansal commented on #1155
Thanks @jasminjohal for this issue. Would you like to work on it?

[2022-08-28 10:43] SrijanShovit commented on #1155
I would like to work on this issue.
Kindly assign it to me!

[2022-09-13 15:49] mariagabrielacs123 commented on #1155
Hello! I am a first-time user and I can do this for you.

[2022-09-24 17:30] amanda-mcmullin commented on #1155
I would like to work on this issue!

[2022-10-01 09:13] #634 closed, assigned to nobody

[2022-10-01 09:38] #625 closed, assigned to harshakhmk

[2022-10-01 09:49] #726 closed, assigned to vj-codes

[2022-10-26 11:17] devkapilbansal commented on #1155
The links are working as they should. See here:-
https://anitab-org.github.io/mentorship-backend/docs/Getting-Started

[2022-10-26 11:17] #1155 closed, assigned to mariagabrielacs123

[2022-11-07 02:49] hirshrm commented on #596
Hi, is anyone working on this? Could I be assigned to work on it if not? @vj-codes

[2022-11-07 02:50] umichritikashetty commented on #573
Hi, is anyone working on this right now?  I would love to claim it if not! @vj-codes

[2022-11-15 12:53] vj-codes commented on #573
Assigning you @umichritikashetty
Happy coding!

[2022-11-15 12:54] vj-codes commented on #573
@engineerrbae Unassigning you due to inactivity

[2022-11-15 12:56] vj-codes commented on #596
Assigning you @hirshrm
Happy coding!

[2022-11-16 21:34] lucyduan commented on #757
Interested in picking this up, is it still available?

[2022-11-16 21:35] lucyduan commented on #432
Interested in picking this up, is it still available?