[2018-05-01 00:20] mayburgos opened #1 "Sample Issue"
Issue Template Needed

[2018-05-10 21:39] #1 closed, assigned to nobody

[2018-05-14 21:28] m-murad opened #3 "Add a gitignore file to repo."
## Description
Add the `.gitignore` file. The latest version of the file can be found [here](https://github.com/github/gitignore/blob/master/Python.gitignore)

## Acceptance Criteria
### Update [Required]
- [x] `.gitignore` file is added to the repo

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hours

[2018-05-14 21:40] m-murad opened #4 "Create an API to register a new user."
## Description
Create an API using which the user can register on the platform.

- Required fields: email, username, password, name, security question, security answer, terms and conditions check
- Error message specifying what is wrong with the POST data. E.g.: if the users do not check terms and conditions, an error message must be returned indicating that the user must have this checked
- Endpo

[2018-05-14 21:42] m-murad opened #5 "Create an API to send verification email newly registered users."
## Description
Create an API to send verification email newly registered users.

## Acceptance Criteria
### Update
- [x] Verification email is sent.
- [x] Create API resource.
- [x] Create DAO functions.
- [x] Update Swagger API documentation (UI and json file).

## Definition of Done
- [x] PR should be sent to the `gsoc18-code` branch
- [x] All of the required items are completed.
- [x] Approval

[2018-05-14 21:46] m-murad opened #6 "Create an API to login in the system."
## Description
Create an API so that a user who has verified his/her email is able to log in. On successful login, the API should return a JWT which will be required to make further requests.

## Acceptance Criteria
### Update [Required]
- [ ] User is able to login.
- [ ] A JWT is sent to the user

## Definition of Done
- [ ] PR should be sent to the `gsoc18-code` branch
- [ ] All of the required

[2018-05-14 21:48] m-murad opened #7 "Create an API to verify the email ID of new User"
## Description
Create an API which will be used to send verify the email of a user.

## Acceptance Criteria
### Update
- [x] The email is verified using the API

## Definition of Done
- [x] PR should be sent to the `gsoc18-code` branch
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
10 hours

[2018-05-14 21:51] m-murad opened #8 "Create an API to edit User profile"
## Description
Create an API which enables a user to edit his/her profile.

API:
- POST /user = Update my profile
- GET /user = Checking my profile

Editable fields:
- bio; username; skills; interests; slack_username; occupation; need_mentoring; available_to_mentor; location; social_media_links; resume_url; photo_url.

## Acceptance Criteria
### Update [Required]
- [ ] User is able to update items

[2018-05-14 21:55] m-murad opened #9 "Create an API to get all users"
## Description
Create an API that will allow any user to get a list of all the users who have verified their email ids.

- GET /users => Get all users
- GET /users/verified OR GET /users?verified=1 => Get verified users with new endpoint or query param

## Acceptance Criteria
### Update [Required]
- [ ] List of all users is retrived.
### Enhancement to Update [Optional]
- [ ] List of all users unp

[2018-05-14 21:58] m-murad opened #10 "Create an API to send a request."
## Description
Create an API so that a user can send another user a request mentor/mentee relationship request.

## Acceptance Criteria
### Update
- [x] A user is able to send a request to any user who is not in a mentor/mentee relationship.
- [x] Define constraints before actually creating the data model

## Definition of Done
- [x] PR should be sent to the `gsoc18-code` branch
- [x] All of the r

[2018-05-14 22:02] m-murad opened #11 "Create an API get a list of all relationship requests"
## Description
A user should be able to get a list of all the relationship requests. This should be specific to a user.

## Acceptance Criteria
### Update [Required]
- [x] Get a list of all previous relationships.
- [x] Get the current relationship.
- [x] Get a list of relationship requests. (All three should be different APIs)

## Definition of Done
- [x] PR should be sent to the `gsoc18-code` br

[2018-05-14 22:05] m-murad opened #12 "Create an API to accept a mentorship relation request"
## Description
A user should be able to accept a relationship request that has been sent to him/her.
Also, a user should be able to cancel a request (s)he has previously sent.

## Acceptance Criteria
### Update
- [x] Create API to accept a relationship request.
- [x] Create DAO function to accept a relationship
- [x] Define error cases and appropriate messages

## Definition of Done
- [ ] PR shoul

[2018-05-14 22:13] m-murad commented on #3
@isabelcosta
Before you start working please complete this. We don't want unnecessary files to be added to the repo.

[2018-05-15 20:51] isabelcosta commented on #3
@m-murad yes!

[2018-05-15 20:54] isabelcosta commented on #3
@m-murad besides this can I add ".idea" to it as well, to avoid this folder being added when I use PyCharm?

[2018-05-24 11:06] isabelcosta commented on #4
I'm using these  [security functions](http://werkzeug.pocoo.org/docs/0.14/utils/#module-werkzeug.security), I found from [this snippet](http://flask.pocoo.org/snippets/54/) to save the hash of the password

[2018-05-24 23:48] m-murad commented on #3
Fixed in #13

[2018-05-24 23:48] #3 closed, assigned to isabelcosta

[2018-05-29 14:53] m-murad commented on #9
Fixed in #14

[2018-05-29 14:53] #9 closed, assigned to isabelcosta

[2018-05-29 14:54] m-murad commented on #4
Fixed in #14

[2018-05-29 14:54] #4 closed, assigned to isabelcosta

[2018-05-29 14:54] m-murad commented on #8
Fixed in #14

[2018-05-29 14:54] #8 closed, assigned to isabelcosta

[2018-05-29 14:55] m-murad commented on #6
Fixed in #14

[2018-05-29 14:55] #6 closed, assigned to isabelcosta

[2018-05-30 05:10] isabelcosta opened #15 "Add base tests for first features"
## Description
As a developer,
I need to test my code,
so that I can check my code for bugs.

There should be some tests at least so that a developer can have an idea of how to test the separate modules.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] tests folder

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-05-30 06:40] Dilu9218 commented on #15
@isabelcosta you can work on this...

[2018-05-30 06:50] isabelcosta commented on #15
@Dilu9218 Thank you! I'll send a PR right away.

[2018-05-30 09:58] isabelcosta commented on #15
@Dilu9218 I'm checking [this possible solution](https://qxf2.com/blog/dont-hardcode-usernames-and-passwords-in-your-test-scripts/) that you sent me

[2018-05-31 13:27] isabelcosta opened #17 "Create API to remove Admin role from a User"
## Description
As an admin,
I need API to remove an admin,
so that I can remove admin priveledges from another admin.

This will change the boolean is_admin for the admin user
New API: POST /admin/remove

## Acceptance Criteria
### Update [Required]
- [x] [app/api/resources/admin.py](https://github.com/systers/mentorship-backend/blob/gsoc18-code/app/api/resources/admin.py)
- [x] [app/api/dao/admin

[2018-05-31 13:37] isabelcosta opened #18 "Add Swagger documentation for Login API"
## Description
As a developer,
I need Swagger Login API documentation,
so that I can test the API and mantain the project.

## Acceptance Criteria
### Update
- [x] Update endpoint /auth to /login
- [x] Update Swagger documentation to include Login API (automatically done by flask-jwt)
- [x] Update Swagger documentation to ask for headers regarding authorization tokens
- [x] Update postman.json on

[2018-05-31 13:47] isabelcosta opened #19 "Fix project structure to run project on terminal"
## Description
As a developer,
I need to have a proper structure,
so that I can run the project on the terminal.

## Acceptance Criteria
### Update [Required]
- [x] Move app/run.py file
- [x] Update README.md with instructions to setup and run the project
- [x] Update imports

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hour

[2018-05-31 16:10] isabelcosta commented on #18
@m-murad I created this issue how we discussed in our 1:1 meeting. cc @Dilu9218
I'm working on this issue

[2018-05-31 21:14] isabelcosta opened #21 "Add support for using environment variables"
## Description
As a developer,
I need load environment variables,
so that I can protect sensitive app data and load app configuration.

In this way, we can avoid hardcoded app configurations.

## Acceptance Criteria
### Update [Required]
- [x] Remove configuration selection inside of run.py file
- [x] Define environment file and base variables (e.g.: APP_SETTINGS, SECRET_KEY, ...)

## Definition o

[2018-05-31 21:19] isabelcosta opened #22 "Add password security checks"
## Description
As a user,
I need password security validation,
so that I can be sure that my password is secure.

Add validations that make the user choose strong passwords instead of insecure ones. This validation can be done here and on the frontend.

## Acceptance Criteria
### Update
- [ ] Add password check to Change Password API
- [ ] Add password check to Register API
- [ ] Create password s

[2018-05-31 21:23] isabelcosta opened #23 "Validate email regex"
## Description
As a developer,
I need email validation,
so that I can avoid users with invalid emails.

## Acceptance Criteria
### Update
- [x] Validate email before inserting new user
- [x] Return proper error message, if email is invalid

## Definition of Done
- [x] All of the required items are completed.
- [x] PR should be sent to the `gsoc18-code` branch.
- [x] Approval by 1 mentor.

## Estim

[2018-05-31 21:26] isabelcosta commented on #21
@Dilu9218 @m-murad can you approve this? And if I got something wrong please mention that

[2018-05-31 22:13] m-murad commented on #21
Send a PR please

[2018-05-31 22:14] m-murad commented on #23
+1

[2018-05-31 22:15] m-murad commented on #22
+1

[2018-05-31 22:41] isabelcosta opened #24 "Add update postman and swagger items to PR template"
## Description
As a contributor,
I need update the swagger and postman when creating or updating new APIs,
so that I can maintain the project.

Refer to @m-murad's [comment](https://github.com/systers/mentorship-backend/pull/20#issuecomment-393700058)

## Acceptance Criteria
### Update
- [x] Pull request template file

## Definition of Done
- [x] All of the required items are completed.
- [x] Appr

[2018-06-01 11:25] #19 closed, assigned to nobody

[2018-06-01 19:08] #15 closed, assigned to isabelcosta

[2018-06-02 13:38] #24 closed, assigned to isabelcosta

[2018-06-02 18:20] isabelcosta opened #28 "User is able to register without terms and conditions checked"
## Description

A user is able to register with the field `terms_and_conditions_checked` set to false, in the POST data

## Acceptance Criteria
### Update
- [x] Return an error message when the `terms_and_conditions_checked` is set to false
- [x] Don't let the user be registered into the DB without this checked

## Definition of Done
- [x] All of the required items are completed.
- [x] PR should b

[2018-06-02 18:39] isabelcosta opened #29 "Requesting a user profile, from a user that does not exist returns wrong JSON"
## Description

The method GET /users/{user_id} returns a wrong response.
Current response:
[code]
Approriate response:
[code]

## Acceptance Criteria
### Update
- [x] Validate this value at the API level
- [x] User should not be inserted into the database if this is unchecked

## Definition of Done
- [x] All of the required items are completed.
- [x] PR should be sent to the `gsoc18-code` branch.

[2018-06-02 19:04] isabelcosta opened #30 "Increase JWT token expiration time"
## Description

JWT (JSON Web Tokens) token should have a higher time expiration value.
It is expiring too early.

## Acceptance Criteria
### Update
- [x] JWT configurations should be changed
- [x] JWT token expiration changes to 1 week

## Definition of Done
- [x] All of the required items are completed.
- [x] PR should be sent to the `gsoc18-code` branch.
- [x] Approval by 1 mentor.

## Estimati

[2018-06-02 19:04] m-murad opened #31 "Add travis.yml."
## Description
As a developer,
I need to run tests on Travis infrastructure,
so that I can the PR can be verified before being merged.

## Acceptance Criteria
### Update [Required]
- [x] Add travis.yml
- [x] Run tests on travis

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2018-06-02 19:10] #31 closed, assigned to m-murad

[2018-06-03 12:11] #18 closed, assigned to isabelcosta

[2018-06-05 00:26] isabelcosta opened #36 "Create test for app configuration variables"
## Description
As a developer,
I need test configuration file,
so that I can increase test coverage and make sure configurations are setting themselves correctly.

## Acceptance Criteria
### Update
- [x] Create a test for the configuration file

## Definition of Done
- [x] All of the required items are completed.
- [x] PR should be sent to the `gsoc18-code` branch.
- [x] Approval by 1 mentor.

##

[2018-06-06 11:02] #36 closed, assigned to isabelcosta

[2018-06-06 11:03] #28 closed, assigned to isabelcosta

[2018-06-08 00:02] #29 closed, assigned to isabelcosta

[2018-06-08 00:23] isabelcosta opened #38 "Create the Mentorship Relation database model"
## Description
As a developer,
I need Mentorship Relation (MR) database model,
so that I can create APIs related with Mentorship Relation feature.

## Acceptance Criteria
### Update
- [x] Create app/database/mentorship_relation file
- [x] Create Many to Many relationship between Users and Mentorship Relation
- [x] Initial Attributes (mentor_id, mentee_id, sender_id, receiver_id, init_date, end_dat

[2018-06-08 00:26] isabelcosta commented on #38
@m-murad @Dilu9218 created this separate issue to keep the respective PR focused on the data model.

[2018-06-08 09:55] isabelcosta opened #39 "Send JWT token expiration date along with APIs response"
## Description
As a developer/consumer,
I need send the JWT token expiry date,
so that I can, be aware of the expiry date when I receive the access_token.

Send the expiry date of the token along with `POST /login` response.

**Current** login response structure:
[code]

**New** login response structure:
[code]

## Acceptance Criteria
### Update
- [x] Update current to new response returned by the

[2018-06-08 09:58] isabelcosta commented on #39
@m-murad @Dilu9218 I created this issue referring to @m-murad 's [comment](https://github.com/systers/mentorship-backend/pull/35#issuecomment-395661463).
To do this I'll study the JWT flask extension to see how to do this and discuss on slack the appropriate response structure.

[2018-06-08 10:46] #30 closed, assigned to isabelcosta

[2018-06-08 17:15] isabelcosta opened #40 "Update README with project description"
## Description
As a new contributor,
I need to see a README with project's mission and description,
so that I can learn about the Mentorship System project.

## Acceptance Criteria
### Update
- [x] Updated README with Mentorship System project description (what is all about, the motivation, ...)
- [x] Link to Systers #mentorship-system channel for further details
- [x] Define proper text to descri

[2018-06-08 17:16] isabelcosta commented on #40
@Dilu9218 @m-murad created this as a low priority item, to do when I'm free of other more important action items

[2018-06-09 17:41] isabelcosta opened #42 "Create an API to reject mentorship relation request"
## Description
As a mentorship system user,
I need to reject mentorship relations,
so that I can refuse a relation.

## Acceptance Criteria
### Update
- [x] Create API resource to reject a relationship
- [x] Create DAO function to reject a relationship
- [x] Define error cases and appropriate messages

## Definition of Done
- [x] All of the required items are completed.
- [x] PR should be sent to

[2018-06-09 17:45] isabelcosta opened #43 "Create an API to cancel a mentorship relation request"
## Description
As a mentorship system user,
I need to cancel a mentorship relation request,
so that I can undo a previously sent request.

## Acceptance Criteria
### Update
- [x] Create API resource to cancel a relationship request
- [x] Create DAO function to cancel a relationship
- [x] Define error cases and appropriate messages
- [x] Define what it means to cancel

## Definition of Done
- [x] A

[2018-06-09 18:00] isabelcosta commented on #38
This article helped me a lot with this issue: https://www.codementor.io/sheena/understanding-sqlalchemy-cheat-sheet-du107lawl

[2018-06-09 18:48] isabelcosta commented on #39
This blog post's section "Authentication Response Handler" helped me do this.
URL: http://blog.tecladocode.com/learn-python-advanced-configuration-of-flask-jwt/

[2018-06-11 16:05] #38 closed, assigned to isabelcosta

[2018-06-11 21:42] isabelcosta commented on #10
**Logic in mind**

**Initial fields:** `action_user_id`, `mentor_id`, `mentee_id`, `start_date`, `end_date` and `notes`.

**Constraints:**
- `action_user_id` has to match with `mentee_id` and `mentor_id`;
- `mentor_id` has to be different from `mentee_id`;
- `start_date` < `end_date`
- Set a minimum for this interval [`start_date`:`end_date`]?
- `start_date` after "date.now()"
- Check if `mentor_i

[2018-06-13 12:33] isabelcosta opened #46 "Create API to get list of relationship requests"
## Description
As a user,
I need get my mentorship requests,
so that I can choose between them.

- Get a list of relationship requests.

- Related to #11

## Acceptance Criteria
### Update
- [x] Create DAO function to interact with MentorshipRelation database model
- [x] Create tests for DAO objects
- [x] API lists request which the Mentor/Mentee hasn't agreed on yet

## Definition of Done
- [x] P

[2018-06-13 19:23] #23 closed, assigned to isabelcosta

[2018-06-13 19:23] #39 closed, assigned to isabelcosta

[2018-06-15 02:51] isabelcosta commented on #10
**Updated constraints:**

- `user_id` has to match with `mentee_id` and `mentor_id`;
- `mentor_id` has to be different from `mentee_id`;
- `now` < `end_date`
- Minimum ralation duration: `end_date` - `now` > 4 weeks ~ 1 month
- Maximum ralation duration: `end_date` - `now` < 24 weeks ~ 6 months
- `start_date` = `creation_date`
- User with `mentor_id` has to be available to mentor
- User with `ment

[2018-06-15 11:13] isabelcosta opened #48 "Save registration date as a UNIX timestamp"
## Description
As a developer,
I need receive in the API response the registration date as a UNIX timestamp,
so that I can properly parse the registration date.

Currently, the registration date of a user is saved as a `DateTime`.
Save it as a `Float`.

## Acceptance Criteria
### Update
- [ ] Change the registration date data type from `DateTime` to `Float`.
- [ ] Add or Update tests for this
- [

[2018-06-15 12:57] isabelcosta opened #49 "Create background job to complete a mentorship relation"
## Description
As a user,
I need to know when a mentorship relation has ended,
so that I can apply to other relations.

Create a "cron job" to detect when an accepted relation has ended, and then set it to complete state.

## Acceptance Criteria
### Update
- [x] Create a background job that checks if any relationship with the state `ACCEPTED` has passed its end date and set relation state to `COMP

[2018-06-15 13:06] isabelcosta opened #50 "Show proper error message when user fails to send access token"
## Description

As a consumer of the API,
I need receive a proper error message when failing to send JWT,
so that I can be aware of how to use the authenticated API.

Currently, when we try to use a restricted API without sending the token, we receive a `500 Internal Server Error` and the app throws an exception. The proper message should be something like:
[code]

## Acceptance Criteria
### Updat

[2018-06-19 15:52] isabelcosta commented on #21
@m-murad @Dilu9218 submitted the PR #51 for this issue, if you see that I'm using the setup for environment variables wrong please suggest changes.

I'm assuming that a developer will have the `.env` and to export these variables of the app. I saw this library - [python-dotenv](https://github.com/theskumar/python-dotenv) - that allows exporting these with code within the app, but I'm not using it.

[2018-06-21 00:25] isabelcosta opened #52 "Update APIs restricted to verified users to verify if user email is validated"
## Description
As a developer,
I need to validate that a user has its email verified,
so that I can avoid unauthorized and invalid users to interact with the system.

## Acceptance Criteria
### Update
- [ ] APIs that require authenticated users should also require that these users have their email verified
- [ ] When a user tries to use a service without its email verified, this user should receiv

[2018-06-22 18:16] Dilu9218 commented on #21
It looks ok to me. @m-murad any suggestion?

[2018-06-23 00:37] isabelcosta opened #55 "Refactor extensions initialization using Application Factory design pattern"
## Description
As a developer,
I need apply application factory pattern,
so that I can create the app with all extensions initialized with the app, to test the APIs correctly.

Resources:
- Application Factory Pattern on flask: http://flask.pocoo.org/docs/1.0/patterns/appfactories/

## Acceptance Criteria
### Update
- [x] Create create_app() function to bind the flask extensions to the app object

[2018-06-23 09:31] m-murad commented on #21
@Dilu9218
I have asked for some changes

[2018-06-23 09:58] #46 closed, assigned to isabelcosta

[2018-06-23 09:58] #10 closed, assigned to isabelcosta

[2018-06-23 13:50] isabelcosta opened #56 "Update PR template to add check item to update requirement.txt (if needed)"
## Description
As a developer,
I need to update the requirements.txt every time I use a new package,
so that I can install all the correct packages to work with the backend.

**Task:** Add check item to Pull Request template checklist, so that the requirements.txt is always updated when needed.

## Acceptance Criteria
### Update
- [x] Update PR template with new check item

## Definition of Done
-

[2018-06-23 19:41] #21 closed, assigned to isabelcosta

[2018-06-23 19:46] m-murad commented on #50
@isabelcosta

`401 Unauthorized`

[2018-06-23 20:12] isabelcosta commented on #50
Ok @m-murad noted! Thanks!

[2018-06-26 13:07] #56 closed, assigned to isabelcosta

[2018-06-27 19:14] #55 closed, assigned to isabelcosta

[2018-06-27 19:14] #17 closed, assigned to isabelcosta

[2018-06-27 19:48] isabelcosta opened #63 "Replace flask-jwt for flask-jwt-extended extension"
## Description
As a developer,
I need more flexibility using jwt libraries,
so that I can customize how the login works (response handling and request verifications).

Remove [flask-jwt](https://github.com/mattupstate/flask-jwt) usage and use [flask-jwt-extended](https://github.com/vimalloc/flask-jwt-extended) which provides more flexibility to implement login using JWT.

## Acceptance Criteria
##

[2018-06-28 20:23] isabelcosta opened #65 "API for the sender to delete a sent mentorship request"
## Description
As a developer,
I need a `DELETE /mentorship_relation/{id}/delete` API,
so that I can delete mentorship requests.

## Acceptance Criteria
### Update
- [x] New endpoint/API `DELETE /mentorship_relation/{id}/delete`
- [x] DAO function
- [x] Test for DAO
- [x] Test for API
- [x] Conditions: only sender of the request deletes -> undo or give up on sent request

## Definition of Done
- [

[2018-06-28 20:30] isabelcosta opened #66 "Add extra field to Cancel API indicating reason of cancellation"
## Description
As a user,
I need to explain mentorship relation cancellation reason,
so that I can help improving the system with proper feedback.

## Acceptance Criteria
### Update
- [ ] Optional text field, e.g.: `cancellation_reason`, to API request data of Cancel API and Mentorship relation database model
- [ ] Add and fix tests for this
- [ ] Document properly on Swagger UI

## Definition of

[2018-06-29 00:31] #12 closed, assigned to isabelcosta

[2018-06-29 00:31] #42 closed, assigned to isabelcosta

[2018-07-01 12:54] #43 closed, assigned to isabelcosta

[2018-07-01 14:57] isabelcosta opened #72 "Restrict GET /users API to authenticated users"
## Description

Currently, for testing purposes, the GET /users API is open. Now that this is deployed this should be only accessible for authenticated users

## Acceptance Criteria
### Update
- [x] Make GET /users restricted to authenticated users
- [x] Add a test to make sure unauthenticated users cannot access this API

## Definition of Done
- [x] All of the required items are completed.
- [x]

[2018-07-01 16:57] isabelcosta commented on #11
**As discussed in project weekly meeting:**

- Get a list of all previous relationships.
All states and `end_date` has passed

- Get the current relationship.
`ACCEPTED` state

- Get a list of relationship requests. (All three should be different APIs).
`PENDING` and the `end_date` has not passed yet

These are all auth protected and specific of the authenticated user

[2018-07-02 20:36] #5 closed, assigned to isabelcosta

[2018-07-02 20:36] #7 closed, assigned to isabelcosta

[2018-07-03 04:24] #50 closed, assigned to isabelcosta

[2018-07-03 04:24] #63 closed, assigned to isabelcosta

[2018-07-03 17:48] isabelcosta commented on #52
Closing this because it is taken cared of by PR #63 since no user can login if the email is not verified

[2018-07-03 17:48] #52 closed, assigned to isabelcosta

[2018-07-04 15:33] isabelcosta opened #78 "Create script commands for flask"
## Description
As a developer,
I need flask script commands,
so that I can configure the app before running it.

This can be used to create the first user `admin` without the need to use the full app and verify the email.

**Functions to create:**
- create admin
- run tests
- run test coverage
- run the app
- export swagger and postman json
- TBD

## Acceptance Criteria
### Update
- [ ] Create man

[2018-07-05 11:25] #65 closed, assigned to isabelcosta

[2018-07-06 15:33] #11 closed, assigned to isabelcosta

[2018-07-09 06:52] #72 closed, assigned to isabelcosta

[2018-07-10 17:38] isabelcosta opened #81 "Set a timezone from the deployed server on the corn jobs"
## Description

As a developer,
I need have control over the timezone used on the cron job used to complete a mentorship relation,
so that I can be sure in what time the cron job does the work of completing the job.

Current deployed server is in eu-central-1 Amazon's region.

## Acceptance Criteria
### Update
- [ ] Set a timezone to the cron job that completes the mentorship relations instead of

[2018-07-10 17:49] isabelcosta opened #82 "Create Tasks database model, DAO and API list method"
## Description
As a developer,
I need to create Task database model,
so that I can start creating the APIs.

Anyone in the current mentorship relation, mentor or mentee, can create, delete tasks and mark them as achievements.

## Acceptance Criteria
### Update
- [x] Create the database model
- [x] Create tests for the database model
- [x] Create DAO list function
- [x] Create tests for the DAO fun

[2018-07-11 01:58] bethanyr opened #83 "500 error when updating username to an already used username"
**Describe the bug**
When I use the /PUT User api - and update a username to an already taken username, it returns a 500 Internal Server error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com/'
2. Click on 'PUT /user' Swagger entry
3. Enter your Bearer Token, and in the payload - include: "username": "isabel" - which is th

[2018-07-11 12:15] isabelcosta commented on #83
Thank you @bethanyr for reporting this bug!
I just tested this now and it happens to me too.
I'll create an issue to solve this.

[2018-07-11 12:56] isabelcosta opened #84 "Return proper error while failing to update a User's profile"
## Description

As reported in issue #83, when a User tries to update its username to an already existing one, the server responds with 500 - Internal Server Error. This happens because the Database model is aware that the username should be unique, hence it fails at saving the User new data.

This will require extra checks in DAO function that updates the User profile.

## Acceptance Criteria
###

[2018-07-12 14:51] Dilu9218 opened #86 "User Registration Quality Assurance"
## Description

This issue is to test all the test cases in the User Registration Testing in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K93zlsjIFbU

[2018-07-12 18:12] #49 closed, assigned to isabelcosta

[2018-07-13 15:52] m-murad opened #87 "Use Amazon Relational Database Service (Amazon RDS) for persistence."
## Description
As a developer
I need to use the Amazon Relational Database Service (Amazon RDS),
so that we can have DB persistence even after redeploying the app.

## Acceptance Criteria
### Update [Required]
- [ ] DB persistence even after redeploying the app.
- [ ] All environments have an Amazon RDS database.

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval

[2018-07-13 15:53] m-murad commented on #87
@mayburgos
we might need your help with this. If this is not possible using the AWS CLI you will have to do this for us on AWS console.

[2018-07-14 02:02] isabelcosta opened #88 "Add title, organization photo url"
## Description
As a user,
I need know more information about a potential mentor or mentee,
so that I can find them and check their online presence.

## Acceptance Criteria
### Update
- [x] Add Title/Role/Occupation, Organization/Company to User database model
- [x] Add or update tests

## Definition of Done
- [x] All of the required items are completed.
- [x] PR should be sent to the `gsoc18-code`

[2018-07-16 07:05] Dilu9218 opened #91 "Admin Role Quality Assurance"
## Description
This issue is to test all the test cases in the Assign new admin in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K93zlsjIFbU2fODE98NK3

[2018-07-17 04:09] #83 closed, assigned to nobody

[2018-07-17 04:09] #84 closed, assigned to isabelcosta

[2018-07-17 06:51] Dilu9218 opened #92 "Mentorship Relation Send Request Quality Assurance"
## Description
This issue is to test all the test cases in the Mentorship Relation Send Request in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test Cases
You can check the below document for test cases.
https://docs.google.com/document/d/1kStdMWK9K93zlsjIFbU2fODE98NK3a4nJGtYtBEyrlo/

## D

[2018-07-17 10:01] sviho opened #93 "Registration happens when name, username and password are empty"
**Describe the bug**
The program doesn't return any error even though I don't fill in name, username and password. Registration also happens if only one of them is empty.

Related to issue #86

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /register
2. Set password to ""
3. Set username to ""
4. Set name to ""

**Expected behavior**
There should be an error saying that password/userna

[2018-07-17 10:29] isabelcosta commented on #93
Very interesting and valid test @sviho ! Thank you! That is a major bug. I'll create an issue to solve this, if you feel you can work on this tell me, otherwise I will fix this :)

[2018-07-17 11:01] isabelcosta opened #94 "Add character limit to username, name and password fields"
## Description

As a developer,
I need better validate user registration post data,
so that I can avoid invalid user data.

This solves bug reported in issue #93

For this the `is_valid_data()` function has to do more validations.

**Validation checks:**
- `name` -> 1 < character limit <= 30
- `username` -> 5 <= character limit <= 25
- `password` -> 8 <= character limit <= 25

Username just alphan

[2018-07-17 11:09] isabelcosta commented on #94
In this issue we could also validate username's regex. I found this on Stack overflow: https://stackoverflow.com/questions/12018245/regular-expression-to-validate-username

[2018-07-17 11:27] #88 closed, assigned to isabelcosta

[2018-07-18 07:41] #93 closed, assigned to nobody

[2018-07-18 07:41] #94 closed, assigned to isabelcosta

[2018-07-18 11:52] sviho opened #96 "Information in put /user can be updated to " ""
**Describe the bug**
Everything in PUT /user can be set to " ", including username and name, which might be dangerous

**To Reproduce**
1. Go to put /user to update user's information
2. Set all the strings to " "
3. See "message": "User was updated successfully"
4. Go to get /user
5. See that everything is set to " "

**Expected behavior**
An error saying that a certain length of string is expect

[2018-07-18 13:38] isabelcosta commented on #96
@sviho I updated the description of the issue to have the actual behavior and the "related to issue X" I understand there isn't any issue regarding updating the profile, so you can leave it out. I'll create the issue to solve this!

[2018-07-18 13:53] isabelcosta opened #97 "Create function to validate PUT /user request body data"
## Description
As a developer,
I need restrict character limit on fields that can be updated,
so that I can protect the backend from trying to save invalid data.

Solves bug reported on issue #96

## Acceptance Criteria
### Update
- [x] Add a validation function to app/api/validations/user.py file
- [x] Add tests to prove that the validation function is working properly. The test file can be calle

[2018-07-18 13:57] isabelcosta commented on #97
@sviho do you want to take on this issue and try to solve this? You can see in the **Update** section what you need to do. If you feel comfortable with python and this issue let me know, otherwise I can take of this.

[2018-07-18 14:28] Dilu9218 commented on #97
@isabelcosta you can do it. approved.

[2018-07-18 20:14] isabelcosta commented on #96
Now that I checked the created user I see that you not only used an empty string but used empty string with length > 1. This is a mini bug that also needs to be fixed by stripping the string data. Very nice catch @sviho !

[code]

[2018-07-18 20:25] sammy1997 opened #98 "Password length to be checked when changing password as well"
**Describe the bug**
The check on the length of the password is there while signing up but not for changing the password.

Related to Quality Assurance issue #101

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com/
2. Create your user by registering at /register
3. Try to change the password with another one which has a lengt

[2018-07-18 20:29] isabelcosta commented on #98
Nice catch @sammy1997 ! I'll create an issue to solve this!

[2018-07-18 20:36] isabelcosta opened #99 "Add validation to Change Password API request data"
## Description
As a developer,
I need password validation to be the same as in POST /register,
so that I can avoid users violating business rules.

Solves issue #98

## Acceptance Criteria
### Update
- [x] Add a validation function to app/api/validations/user.py file
- [x] Add tests to prove that the validation function is working properly. The test file can be called `test_validation_change_passw

[2018-07-19 06:28] Dilu9218 commented on #99
approved

[2018-07-19 06:40] Dilu9218 opened #100 "User Login Quality Assurance"
## Description
This issue is to test all the test cases in the User Login in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K93zlsjIFbU2fODE98NK3a4nJGt

[2018-07-19 06:42] Dilu9218 opened #101 "Change Password Quality Assurance"
## Description
This issue is to test all the test cases in the Change Password in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K93zlsjIFbU2fODE98NK3a

[2018-07-19 06:43] Dilu9218 opened #102 "Change User information Quality Assurance"
## Description
This issue is to test all the test cases in theChange User information in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K93zlsjIFbU2fOD

[2018-07-19 06:45] Dilu9218 opened #103 "Resend verification email Quality Assurance"
## Description
This issue is to test all the test cases in the Resend verification email in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K93zlsjIFbU2

[2018-07-19 16:28] isabelcosta commented on #99
I solved an issue similar to this in PR https://github.com/systers/mentorship-backend/pull/95

[2018-07-19 16:28] isabelcosta commented on #99
@sammy1997 do you want to be assigned to this issue?

[2018-07-19 16:32] sammy1997 commented on #99
Yes sure @isabelcosta

[2018-07-20 08:25] Dilu9218 opened #106 "Revoke an admin role Quality Assurance"
## Description
This issue is to test all the test cases in the Revoke an admin rolein the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test cases

You can check the below document for test cases.
https://docs.google.com/document/d/1kStdMWK9K93zlsjIFbU2fODE98NK3a4nJGtYtBEyrlo/

**Service:**  PO

[2018-07-21 13:07] #98 closed, assigned to nobody

[2018-07-21 13:07] #99 closed, assigned to sammy1997

[2018-07-24 13:25] #96 closed, assigned to nobody

[2018-07-24 13:25] #97 closed, assigned to isabelcosta

[2018-07-25 10:57] r00pal opened #108 "Registration happens when name is a combination of numeric characters"
**Describe the bug**
The program sents a confirmation email even when the name is given as a combination of numeric characters.

Related to #86

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Register'
2. Set 'name' to any combination of digits greater than the minimum length, i.e 1

**Expected behavior**
There should be an error saying that name is invalid

**Screenshots**

![image](

[2018-07-25 11:03] Dilu9218 opened #109 "Mentorship Relation Accept a request Quality Assurance"
## Description
This issue is to test all the test cases in the Mentorship Relation Accept a request in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test Cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K

[2018-07-25 11:05] Dilu9218 opened #110 "Mentorship Relation Reject a request Quality Assurance"
## Description
This issue is to test all the test cases in the Mentorship Relation Reject Request in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test Cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K93

[2018-07-25 11:09] Dilu9218 opened #111 "Mentorship Relation Cancel a Relation Quality Assurance"
## Description
This issue is to test all the test cases in the Mentorship Relation Cancel a Relation in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test Cases

You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9

[2018-07-25 11:13] Dilu9218 opened #112 "Mentorship Relation Delete Request Quality Assurance"
## Description
This issue is to test all the test cases in the Mentorship Relation Delete Request in the Quality Assurance document below. This issue can be worked by many contributors. Refer this issue when you find a bug in the following test cases.

## Test Cases
You can check the following document for test cases: [Quality Assurance Google Docs](https://docs.google.com/document/d/1kStdMWK9K93z

[2018-07-25 11:32] isabelcosta commented on #112
@sys-bot approve

[2018-07-25 11:36] isabelcosta commented on #111
@sys-bot approve

[2018-07-25 11:36] isabelcosta commented on #111
@sys-bot approve

[2018-07-25 11:41] isabelcosta commented on #110
@sys-bot approve

[2018-07-25 11:42] isabelcosta commented on #109
@sys-bot approve

[2018-07-25 11:56] r00pal opened #113 "Name should only contain alphabetic characters"
## Description
As a developer,
I need to restrict names of users to alphabetic characters,
so that I can avoid invalid users.

Currently, numeric or special characters alone can be used to substitute for the name field, which increases anonymity. Name field should only be allowed to have alphabetic characters

Related to bug #108

## Acceptance Criteria
### Update [Required]
- [ ] Add a name regex

[2018-07-25 12:03] r00pal commented on #113
@sys-bot approve

[2018-07-25 12:05] isabelcosta commented on #113
@sys-bot approve

[2018-07-25 12:05] isabelcosta commented on #108
@sys-bot approve

[2018-07-25 12:08] isabelcosta commented on #113
@roopalJazz is this issue to solve the #108 bug? can you follow this template -> https://github.com/systers/mentorship-backend/issues/97, with some more description? or I can create one with more implementation detail

[2018-07-25 13:12] isabelcosta opened #114 "Document how to register a new user with temporary email"
## Description
As a tester,
I need to register new users using the deployed server,
so that I can use the API.

This can be a step by step tutorial like [Using Swagger UI @ Wiki](https://github.com/systers/mentorship-backend/wiki/Using-Swagger-UI).

## Acceptance Criteria
### Update [Required]
- [x] Create a step by step guide with visual components, images and/or a GIF showing how to register a n

[2018-07-25 13:20] isabelcosta commented on #114
@sammy1997 can you tell me what is wrong in this template? is the hours that I turned into minutes? Is the `[Required]` keyword?

[2018-07-25 13:22] Dilu9218 commented on #114
*@sys-bot approve*

[2018-07-25 15:35] sammy1997 commented on #114
@isabelcosta It's the [Required] Keyword

[2018-07-25 17:10] isabelcosta commented on #114
I added the [Required] keyword and the label wasn't removed, should that be? Does @sys-bot understand when an issue is edited? @sammy1997

[2018-07-25 17:52] isabelcosta commented on #114
@Dilu9218 can you please do sys-bot approve without the markdown for italic?

[2018-07-26 20:47] isabelcosta opened #115 "Remove unverified users after some time has passed since registration"
## Description
As a developer,
I need avoid test or invalid users on the database,
so that I can save up storage space.

We need to develop a scheduler/ cron job to delete user with unverified email for some period of time.
**The period still needs to be discussed** with the community and admins.

## Acceptance Criteria
### Update [Required]
- [ ] Cron job to delete unverified users after a certai

[2018-07-26 20:48] isabelcosta commented on #115
@systers/mentorship can any of you approve this please, with the Sysbot command

[2018-07-26 20:56] isabelcosta opened #116 "Save error and success messages into an array and replace hardcoded text"
## Description
As a developer,
I need hardcoded error messages to be saved in an array,
so that I can avoid bugs related to the usage of hardcoded strings and pay attention to the repeated messages.

On backend save common messages of error and HTTP codes on a JSON
Have an Array of messages instead of using all over the code hardcoded text

Find a way to avoid hardcoded messages, that can be dupli

[2018-07-26 20:57] isabelcosta commented on #116
@systers/mentorship can anyone approve this using the @sys-bot command?

[2018-07-26 21:15] ExactlyMay commented on #116
Approved!

[2018-07-26 21:16] mayburgos commented on #116
@sys-bot I approve.

[2018-07-26 21:16] mayburgos commented on #116
... Am I not registered? D:

[2018-07-26 21:16] mayburgos commented on #116
@sys-bot approve

[2018-07-26 21:16] mayburgos commented on #116
Lord... Done!

[2018-07-26 22:46] mayburgos commented on #115
@sys-bot approve

[2018-07-26 22:47] mayburgos commented on #114
@sys-bot approve

[2018-07-26 23:29] isabelcosta opened #117 "Validate if a User has email verified before allowing any action using this user"
## Description
As a developer,
I need to verify if a user is requested for some action,
so that I can prevent actions with invalid users.

**Implementation options** by order of optimal solution (best -> worst) as discussed on project weekly:
1. Create a decorator to validate User
2. Do a check in every API endpoint that needs such verification
3. Create function in UserModel to find a user by id

[2018-07-26 23:38] isabelcosta commented on #117
Still no @sys-bot showing up, just testing to get timestamp

[2018-07-27 11:07] sammy1997 commented on #117
@isabelcosta I guess that was some one-time anomaly! I checked the logs and the server didn't receive the event at all! As you can see, even this issue got labelled quite fine! And so did the other issues in Sysbot and mentorship-backend! I am keeping this issue open, if you see the same happen for 2-3 times do comment it here!

[2018-07-27 15:08] isabelcosta opened #119 "Create Quality Assurance Issue Template"
## Description
As a contributor,
I need Quality Assurance issue template,
so that I can create issues dedicated to quality assurance tasks.

## Acceptance Criteria
### Update [Required]
- [x] Create issue template for Quality Assurance tasks

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-07-27 15:11] Dilu9218 commented on #119
@sys-bot approve

[2018-07-28 13:37] #119 closed, assigned to Dilu9218

[2018-08-01 20:43] GeVic commented on #113
@sys-bot claim

[2018-08-01 20:44] GeVic commented on #113
Hey @isabelcosta, can you assign it to me?

[2018-08-01 21:06] isabelcosta commented on #113
@GeVic yes, I will just fix the description and assign this to you

[2018-08-01 21:23] isabelcosta commented on #113
@GeVic Do you belong to systers open source on Github? because I cannot assign you until you are. you can do it so by doing on slack ith /sysbot_invite

[2018-08-01 21:26] isabelcosta commented on #113
You can start working on the issue but it would be great to officially assign this to you. But its totally possible for you to send the PR so go for it ;) @GeVic

[2018-08-02 02:05] GeVic commented on #113
Yeah, I do belong to systers-opensource @isabelcosta

[2018-08-02 03:36] GeVic commented on #113
@isabelcosta Should I create separate file itself for testing name validations? As it is done for username validation.

[2018-08-02 07:01] GeVic commented on #115
@isabelcosta If this is not your GSoC work can I work on the issue?

[2018-08-02 12:24] isabelcosta commented on #113
@GeVic for the function with the name regex yes, to have in one file different combinations for a name, and all related to that util function. Regarding the community, you are in the slack, but you're not a member of the Systers Github community. You can join by asking an admin or a member with capabilities to do so, but you can also type `/sysbot_invite` on Slack and you'll receive an email to jo

[2018-08-02 14:08] isabelcosta commented on #115
@GeVic This will not be developed during gsoc since I'm focused on the android app, but this still needs some discussion, on how much time we'll wait until removing the users, so its on hold. Thank you for your interest in helping! And since you're "assigned" to another issue, its better if you solve that one first and then look for others. unless you don't want to solve that one?

[2018-08-02 15:46] GeVic commented on #113
@isabelcosta I would have to ask may then? Actually /sysbot_invite is not processing the request as of now.

[2018-08-02 16:37] isabelcosta commented on #113
@GeVic I think @mayburgos could take care of that, yes, but have you reported that potential bug to @sammy1997 ? @sammy1997 the command `/sysbot_invite` is not working? Either way, you can start working on this issue, you don't need to be assigned to send the PR ;)

[2018-08-02 16:58] isabelcosta opened #120 "Create GET /home API to get some statistics about the user usage"
## Description
As a developer,
I need GET /home API,
so that I can return to the frontend some information regarding the user's app usage.

This API is needed to enhance the Home Screen of the Android application issue https://github.com/systers/mentorship-android/issues/20

**Data to be returned:**
- \# pending requests
- \# accepted requests
- \# completed relations
- \# cancelled relations
- \#

[2018-08-02 18:11] sammy1997 commented on #113
Actually it's not working because the bot account requires a higher level of permission. It was being discussed in this weekly meeting @isabelcosta . You were present then! Prachi will be discussing it in the Admin meet.

[2018-08-02 18:35] isabelcosta commented on #113
@sammy1997 yes I was :P I must have forgotten. No problem! @GeVic you can still work on this

[2018-08-02 22:00] isabelcosta opened #121 "Send Name in GET /mentorship_relations response"
## Description
As a developer on the frontend,
I need to send the Name along with the response of Mentorship relation list API ,
so that I can show the name of the user.

This is necessary for issues https://github.com/systers/mentorship-android/issues/9 and  https://github.com/systers/mentorship-android/issues/21

[code]

## Acceptance Criteria
### Update [Required]
- [x] Modify the response of t

[2018-08-02 22:02] isabelcosta commented on #121
@systers/maintainers-mentorship-android need approval on this, since I'll be working on this ASAP

[2018-08-06 13:26] isabelcosta commented on #121
@m-murad and @roopalJazz I just need you to comment here: @sys-bot approve

[2018-08-06 14:35] m-murad commented on #121
@sys-bot approve

[2018-08-06 14:37] isabelcosta commented on #121
Thank you @m-murad !

[2018-08-06 17:35] #121 closed, assigned to isabelcosta

[2018-08-07 22:15] isabelcosta opened #124 "Send sent_by_me instead of action_user_id on List Mentorship Relations API"
## Description
As a frontend developer (API consumer),
I need know if a current logged in user created the relation request,
so that I can properly set the UI for the current user.

## Acceptance Criteria
### Update [Required]
- [x] Replace `action_user_id` for `sent_by_me` which is a boolean indicating if a mentorship relation was created by the current logged in user
- [x] Do the above for list

[2018-08-09 00:43] isabelcosta commented on #124
had to do this ^^ to speed up PR development. Already discussed with @m-murad to send this PR

[2018-08-10 14:43] isabelcosta opened #127 "Document stages and states of Mentorship Relation"
## Description
As a contributor,
I need understand how mentorship relation stages and states work,
so that I can contribute to the project with some knowledge of the project.

## Acceptance Criteria
### Update [Required]
- [x] Explain Mentorship Relation stages and states on Wki and Google Docs

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Es

[2018-08-10 14:44] isabelcosta commented on #127
![image](https://user-images.githubusercontent.com/11148726/43965132-68650400-9cb6-11e8-8667-92a181823845.png)

[2018-08-10 14:45] isabelcosta commented on #127
![image](https://user-images.githubusercontent.com/11148726/43964310-73dd99ac-9cb4-11e8-8353-96abadc53ce1.png)

[2018-08-10 15:50] isabelcosta commented on #127
Pinging @systers/maintainers-mentorship-android just for you all to be aware -> https://github.com/systers/mentorship-backend/wiki/Mentorship-Relation-Documentation

[2018-08-10 15:50] #127 closed, assigned to isabelcosta

[2018-08-10 16:21] #124 closed, assigned to isabelcosta

[2018-08-15 21:28] isabelcosta opened #129 "Improve Wiki Documentation"
## Description
As an open source contributor,
I need proper documentation,
so that I can learn about the project.

## Acceptance Criteria
### Update [Required]
- [x] Explain Application Architecture
- [x] Explain Tech Stack
- [x] Environment Variables
- [x] How to use Swagger
- [x] Explain implementation decisions

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval

[2018-08-15 21:29] isabelcosta commented on #129
![image](https://user-images.githubusercontent.com/11148726/44174311-ac5eaa80-a0da-11e8-92bb-ca2fe7c26f60.png)

[2018-08-15 21:37] isabelcosta commented on #129
## Wiki pages
- [x] [Mentorship Relation Documentation](https://github.com/systers/mentorship-backend/wiki/Mentorship-Relation-Documentation)
- [x] [Future Ideas](https://github.com/systers/mentorship-backend/wiki/Future-ideas)
- [x] [Main Base Concepts](https://github.com/systers/mentorship-backend/wiki/Main-Base-Concepts)
- [x] [Environment Variables](https://github.com/systers/mentorship-backen

[2018-08-15 21:48] isabelcosta commented on #129
In **progress** pages:

- https://github.com/systers/mentorship-backend/wiki/Application-Architecture
- https://github.com/systers/mentorship-backend/wiki/Tech-Stack

[2018-08-16 10:32] #82 closed, assigned to isabelcosta

[2018-08-16 23:16] isabelcosta opened #130 "Merge GSoC 18 code into develop branch"
## Description
As a GSoC student,
I need to merge code from `gsoc18-code` branch into `develop` branch,
so that I can start welcoming contributors to contribute on top of `develop` branch.

## Acceptance Criteria
### Update [Required]
- [ ] Merge work from GSoC into `develop` branch

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.1

[2018-08-17 18:33] m-murad opened #133 "Prepare gsoc18-code branch for develop branch"
## Description
As a maintainer,
I need prepare gsoc18-code branch for merging in develop,
so that GSoC work can be merged.

## Acceptance Criteria
### Update [Required]
- [ ] PR is merged

## Definition of Done
- [ ] PR is merged
- [ ] Approval by 2 mentor.

## Estimation
1 hours

[2018-08-17 18:33] m-murad commented on #133
@isabelcosta @Dilu9218 @roopalJazz
please approve the issue

[2018-08-17 18:48] isabelcosta commented on #133
@sys-bot approve

[2018-08-17 18:48] isabelcosta commented on #133
@m-murad done!

[2018-08-17 18:49] isabelcosta commented on #130
Should this one be deleted @m-murad since https://github.com/systers/mentorship-backend/issues/133 is a duplicate?!

[2018-08-17 18:51] isabelcosta commented on #130
@m-murad  sorry I got now, its not a duplicate! I'll help you not get your PR delete by @sys-bot

[2018-08-19 00:06] isabelcosta opened #134 "Add Environment Variables link to README.md"
## Description
As a developer,
I need to understand the environment variables used in the backend,
so that I can properly use them.

## Acceptance Criteria
### Update [Required]
- [ ] Link Environment Variables Wiki page to the README.md

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-08-19 00:08] isabelcosta commented on #134
@m-murad @roopalJazz @Dilu9218 please approve this so I can send a PR for this issue

[2018-08-19 05:34] m-murad commented on #134
@sys-bot approve

[2018-08-19 06:57] #133 closed, assigned to nobody

[2018-08-19 19:11] isabelcosta opened #135 "Add feature specific branch creation when sending PRs to CONTRIBUTING.md"
## Description

As a contributor,
I need clear Contributing Guidelines,
so that I can properly contribute to this project.

Explain that a contributor has to create a new branch per issue instead of sending PRs from their base branch (same as this repo base branch `develop`).

## Acceptance Criteria
### Update [Required]
- [ ] Update CONTRIBUTING.md

## Definition of Done
- [ ] All of the required

[2018-08-19 19:12] isabelcosta commented on #135
@m-murad @Dilu9218 @roopalJazz can you please approve this issue

[2018-08-19 19:13] #130 closed, assigned to isabelcosta

[2018-08-19 19:19] isabelcosta opened #136 "Add Contact section to README.md"
## Description

As a new contributor,
I need know whom to contact and how,
so that I can discuss anything related to this project.

The content will be the same as https://github.com/systers/mentorship-android/blob/develop/README.md

But instead of having @systers/maintainers-mentorship-android you'll have for this repository, @systers/maintainers-mentorship-backend

## Mocks

Contact section on s

[2018-08-19 19:20] isabelcosta commented on #136
@systers/maintainers-mentorship-backend can you please approve this using @sys-bot

[2018-08-19 19:22] m-murad commented on #135
@sys-bot approve

[2018-08-19 19:23] m-murad commented on #136
@sys-bot approve

[2018-08-19 20:37] isabelcosta commented on #129
How to login Swagger?

![image](https://user-images.githubusercontent.com/11148726/44313082-dcb78900-a3f9-11e8-9f37-6af67d3356f1.png)

![image](https://user-images.githubusercontent.com/11148726/44312936-ce686d80-a3f7-11e8-9df3-17e073fd9fcf.png)

![image](https://user-images.githubusercontent.com/11148726/44312940-df18e380-a3f7-11e8-9837-093c2c56ffdd.png)

![image](https://user-images.githubuserco

[2018-08-20 05:26] #86 closed, assigned to nobody

[2018-08-20 05:26] #91 closed, assigned to nobody

[2018-08-20 05:26] #92 closed, assigned to nobody

[2018-08-20 05:26] #100 closed, assigned to nobody

[2018-08-20 05:26] #101 closed, assigned to nobody

[2018-08-20 05:26] #102 closed, assigned to nobody

[2018-08-20 05:26] #103 closed, assigned to nobody

[2018-08-20 05:26] #106 closed, assigned to nobody

[2018-08-20 05:26] #108 closed, assigned to nobody

[2018-08-20 05:26] #109 closed, assigned to nobody

[2018-08-20 05:26] #110 closed, assigned to nobody

[2018-08-20 05:26] #111 closed, assigned to nobody

[2018-08-20 05:26] #112 closed, assigned to nobody

[2018-08-20 15:44] #113 closed, assigned to nobody

[2018-08-21 00:25] SwethasriKavuri commented on #117
@isabelcosta I am working on this issue !

[2018-08-21 20:16] isabelcosta commented on #117
Okay! @SwethasriKavuri :D any doubt tell me, I don't mind scheduling a call with you to help you with something

[2018-08-22 00:31] isabelcosta opened #137 "Cannot switch back availability and seek mentorship status to false after true"
**Describe the bug**

After changing a user's status on availability to mentor ("available_to_mentor") and need for mentorship ("need_mentoring"), from false to true for the first time, I can not update back to false.

This does not happen for other text fields, I tested it.

I noticed this while developing the Update Profile UI on the Android application.

**To Reproduce**
Steps to reproduce the

[2018-08-22 00:33] isabelcosta commented on #137
@systers/maintainers-mentorship-backend I have no idea right now how to solve this. Have to investigate on this later :/

[2018-08-22 14:36] preeti98 commented on #136
Hello everyone! May I please work on this issue in case no one is working on this?
Thanks in advance!

[2018-08-22 14:39] isabelcosta commented on #136
@preeti98 yes you can :)

[2018-08-22 15:58] preeti98 commented on #136
Here, do I need to hyperlink @systers/maintainers-mentorship-backend to the website mentioned in the comments? The mock website does not have any hyperlinking at @systers/maintainers-mentorship-android .

[2018-08-22 21:34] isabelcosta commented on #136
just for the record, we continued this discussion on slack

[2018-08-23 14:59] preeti98 commented on #116
Can I please work on this issue @systers/maintainers-mentorship-backend  ?

[2018-08-23 15:03] isabelcosta commented on #116
@preeti98 yes you can work on this :)

[2018-08-25 16:31] #136 closed, assigned to nobody

[2018-08-26 11:04] isabelcosta commented on #129
User Auth
![image](https://user-images.githubusercontent.com/11148726/44627573-1de2f800-a928-11e8-87a7-0107b0a622bc.png)

[2018-08-29 07:37] #134 closed, assigned to isabelcosta

[2018-08-29 07:37] #135 closed, assigned to isabelcosta

[2018-08-30 01:07] isabelcosta opened #141 "Add tests for Assigning a new admin API"
## Description
As a developer,
I need have tests for assigning a new admin feature,
so that I can have the feature coverage and make sure it's working properly.

Have a test function for each of this cases:
- Assigning a user which is already an admin -> should receive a message saying that the user is already an admin
- Assigning a user which is not an admin -> should become an admin
- Assigning

[2018-08-30 01:13] isabelcosta opened #142 "Add tests for Revoking admin role API"
## Description
As a developer,
I need have tests for revoking an admin role feature,
so that I can have the feature coverage and make sure it's working properly.

Have a test function for each of this cases:
- Revoking a user which is an admin, when the current user is an admin -> should receive a success message, and remove the admin status from the revoked user
- Revoking a user which is not an

[2018-08-30 01:19] isabelcosta commented on #141
@systers/maintainers-mentorship-backend need approval on this if you agree.

[2018-08-30 01:19] isabelcosta commented on #142
@systers/maintainers-mentorship-backend need approval on this if you agree.

[2018-09-11 21:32] #137 closed, assigned to nobody

[2018-09-29 06:36] riddhik84 commented on #40
Hi @isabelcosta Can I work on this issue?

[2018-09-30 23:10] isabelcosta commented on #40
I'm sorry @riddhik84  but this issue is already solved since README already contains the information required in the issue. I forgot to close this issue. Can you take a look at other issues? I'll make some available on the Android project if you're interested in it :)

[2018-09-30 23:11] isabelcosta commented on #40
Solved with PR #140

[2018-09-30 23:11] #40 closed, assigned to nobody

[2018-10-01 00:32] isabelcosta opened #143 "Filter Users list to hide the current logged in user"
## Description
As an API consumer,
I need to have the current user hidden from the users' list,
so that I can show a correct users listing the frontend client (e.g.: Android).

Task: Hide current user from the users' list
API:
- GET /users
- GET /users/verified

## Acceptance Criteria
### Update [Required]
- [ ] API must show all users except for the current logged in user

## Definition of Done
-

[2018-10-01 01:13] isabelcosta opened #144 "Add seek mentorship and availability to mentor fields to Register API"
## Description
As an API consumer,
I need availability to mentor or mentee fields on registration API,
so that I can give the option to the end user.

**Fields:**
- availability_to_mentor
- need_mentoring

## Acceptance Criteria
### Update [Required]
- [ ] Add fields to the request body as optional to be a mentor or a mentee
- [ ] Make tests to confirm this functionality
## Definition of Done
- [

[2018-10-06 20:15] fnshemerirwe commented on #143
@sys-bot claim

[2018-10-06 20:20] fnshemerirwe commented on #143
@isabelcosta, can I please claim this issue.

[2018-10-06 20:27] isabelcosta commented on #143
Hey @flacode yes you can :) If you have any doubts about this issue feel free to ask questions ;)

[2018-10-08 09:49] #143 closed, assigned to nobody

[2018-10-11 18:32] anshulahuja98 commented on #22
https://github.com/systers/mentorship-backend/blob/71e5ff92c378baea92f8c163f27c15b140724819/app/api/validations/user.py#L168

Isn't this already done?

Or is the issue talking about something else?

[2018-10-11 19:51] isabelcosta commented on #22
@anshulahuja98 This issue is different, its to make sure that a user chooses a good password, like with characters and such. But now that I'm thinking, maybe this should be put on hold because its an enhancement that can wait. When we test this backend, on Swagger or through frontend, this would take us more time from testing, to create strong passwords and then remembering them. What I use usuall

[2018-10-12 02:18] anshulahuja98 commented on #22
@isabelcosta  Ohk, got it
I haven't give through the whole code yet, for testing purposes, is there any debug variable, like there is in Django.

I generally include the password validators in my Django projects in production only, they are disabled in testing/debug mode which addresses the concern you were talking about.

[2018-10-12 08:13] fnshemerirwe commented on #144
@isabelcosta, can I please claim this issue.

[2018-10-12 12:41] isabelcosta commented on #144
@flacode yes sure :)

[2018-10-13 22:31] isabelcosta commented on #22
@anshulahuja98 we currently just use this in the development environment. Yes we have a Debug mode if that's what you're thinking. But still, since we're not using production, maybe this can be delayed.

[2018-10-16 00:29] madzzie commented on #142
@isabelcosta, can I please claim this issue?

[2018-10-16 00:57] isabelcosta commented on #142
Sure @madzzie :) If you need any clarification about it just ask

[2018-10-16 01:07] #144 closed, assigned to nobody

[2018-10-16 05:37] anshulahuja98 commented on #117
@SwethasriKavuri  are you still working on this?

[2018-10-16 19:24] Conor0Callaghan commented on #81
I'd like to take this one, ill tidy up the PR and make a new one.

[2018-10-16 19:28] isabelcosta commented on #81
@ivernus this issue is yours now. No need to create another PR. Now that you understand, next time I'm sure you'll follow our workflow.

[2018-10-20 05:58] fnshemerirwe commented on #66
@isabelcosta, can I please work on this issue?

[2018-10-20 22:46] isabelcosta commented on #66
Sure @flacode :) go ahead!

[2018-10-21 20:25] KritiRav commented on #141
Can I claim this issue?

[2018-10-22 10:42] isabelcosta commented on #141
@KritiRav yes you can :) tell us if you need help or get stuck

[2018-10-22 10:44] isabelcosta commented on #142
@madzzie any updates on your work?

[2018-10-27 22:32] isabelcosta commented on #141
@KritiRav any updates on this?

[2018-10-27 22:41] isabelcosta commented on #117
@SwethasriKavuri are you still working on this? if not, no problem at all, I can set this to be available again, for another contributor to work on this

[2018-10-30 13:20] bhawesh96 commented on #48
@isabelcosta
Can I work on this issue?

[2018-10-30 13:29] bhawesh96 commented on #66
If this is stale, I'd like to work on it!

[2018-10-30 16:39] isabelcosta commented on #66
@flacode are you still working on this?

[2018-11-01 22:12] #81 closed, assigned to nobody

[2018-11-05 09:31] sidharthskumar commented on #142
can i take up this issue ? if no assignees already there?

[2018-11-05 10:36] isabelcosta commented on #142
Yes @sidharthskumar you can take on this issue

[2018-11-07 06:37] ejbryant28 commented on #114
Is this issue still available? If so I think I could take it on. It'd be my second open source contribution

[2018-11-07 11:56] isabelcosta commented on #114
Hey @ejbryant28 👋 yes it is, but this is not related to code, is more related to the wiki. We want something like this [Using Swagger UI @ Wiki](https://github.com/systers/mentorship-backend/wiki/Using-Swagger-UI) to put on the GitHub Wiki. This wouldn't involve PR exactly, we could give you access to the wiki (@mayburgos right?), after you show us how you want that new Wiki page to look like, and

[2018-11-07 12:14] isabelcosta opened #149 "Create doc strings"
**Is your feature request related to a problem? Please describe.**
Backend code does not have proper in code documentation. New contributors may find difficult to understand the code without this documentation.

**Describe the solution you'd like**
Create doc strings everywhere in the code, where its needes (example: classes, methods, ...). I've seen this [style guide for doc strings in python by

[2018-11-07 12:21] isabelcosta commented on #66
@bhawesh96 you can work on this if you want, since there are no updates :) Do you still want to work on this?

[2018-11-07 13:20] cribblportal commented on #66
Yes, I'll take it up

[2018-11-07 13:21] bhawesh96 commented on #66
Yes, I'll take it up

[2018-11-07 18:59] ejbryant28 commented on #114
@isabelcosta sure I can do that! It might take me a little while to do it though because I have some big interviews I'm studying for and I really want to prioritize coding. So if time is a factor, you might want to assign it to someone else. But otherwise I'll definitely work on it in my free time and get it up and going fairly soon.

[2018-11-07 19:02] isabelcosta commented on #114
@ejbryant28 I totally understand, I'm in processes like that right now as well ;) and I see other students that had their exams. So I think there isn't a problem. Since no one has shown interest in this issue before. Take your time and prioritize things however works best for you ;) Once you start actively working on this just leave an update here on the issue. Good luck with your interviews :)

[2018-11-08 13:32] bhawesh96 commented on #66
Can we store the reason for cancellation under `notes` (overwriting the existing value) or do I make a new column?

[2018-11-08 13:42] bhawesh96 commented on #66
Since `cancellation_reason` has to be sent in the request, will we need to change the request type from PUT to POST?

[2018-11-08 14:47] haroldadmin opened #150 "Add HTTPS support to backend elastic beanstalk server"
**Is your feature request related to a problem? Please describe.**

This issue is related to the Android app for the mentorship system. Here's the issue I'm referencing: https://github.com/systers/mentorship-android/issues/94

The backend server on Elastic Beanstalk currently does not support HTTPS. All the debug-build Android app communication with the server currently happens over this URL: `htt

[2018-11-08 15:19] isabelcosta commented on #66
@bhawesh96

 I think that overriding `notes` isn't a great option, because we may still want to know the details of the relationship even after cancelation, for historical purposes. So its best to create the new field in the `MentorshipRelationModel` class.

I think it should remain PUT, you won't be creating anything, just updating the relationship with the state from `ACCEPTED` to `CANCELLED` an

[2018-11-19 22:08] isabelcosta commented on #142
@sidharthskumar do you have any updates on this?

[2018-11-29 19:19] isabelcosta commented on #150
**Update:** As discussed on Community Open Session this has to be done by who has access to the AWS.

[2018-11-29 20:21] isabelcosta opened #152 "Upload photos to Amazon S3"
## Description
As a user of Mentorship System,
I need to be able to upload profile image into the backend,
so that I can make my profile more personal.

You can find some info about S3 urls in [this file of Android app](https://github.com/systers/mentorship-android/blob/develop/app/src/main/java/org/systers/mentorship/remote/BaseUrl.kt).

**Expected Input:** Image will be sent as an encoded string

[2018-11-29 20:46] isabelcosta opened #153 "Create doc strings for AdminDao class and its functions"
## Description
As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for AdminDao class and its functions**. You can find this file [app/api/dao/admin.py](https://github.com/systers/mentorship-backend/blob/develop/app/api/dao/admin.py).
You can follow these conventions: [style guide for doc strings in python

[2018-11-29 21:06] isabelcosta opened #154 "Create doc strings for UserDao class and its functions"
## Description
As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for UserDao class and its functions**. You can find this file [app/api/dao/user.py](https://github.com/systers/mentorship-backend/blob/develop/app/api/dao/user.py).
You can follow these conventions: [style guide for doc strings in python by

[2018-11-29 21:08] isabelcosta opened #155 "Create doc strings for MentorshipRelationDAO class and its functions"
## Description
As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for MentorshipRelationDAO class and its functions**. You can find this file [app/api/dao/mentorship_relation.py](https://github.com/systers/mentorship-backend/blob/develop/app/api/dao/mentorship_relation.py).
You can follow these conventions

[2018-12-18 03:53] haroldadmin commented on #120
@isabelcosta I would like to work on this issue.

Since the home endpoint would return the data for a user, it makes sense to implement it as an extension on the user namespace. I think that we can create an end point /home in the user resource, and make it a jwt required type of method. We can get the user Id using the jwt token, and use it to return the statistics.

Regarding the achievements, I

[2018-12-18 13:36] UmarAuhammud commented on #155
I'm working on it :smile:

[2018-12-18 18:05] haroldadmin commented on #120
I have now added tests as well, and squashed the two commits. Please review when you get the chance, @isabelcosta 😊

[2018-12-18 23:48] isabelcosta commented on #153
@sarnava1 in this community we prefer that contributors ask for approval to work on the issue before sending a PR, or at least mention that they're working [(see more here)](https://github.com/systers/mentorship-backend/wiki/Getting-Started#choose-a-working-item). This helps the maintainers managing the issues that are being worked on. In this case its ok, because no one else showed previous inter

[2018-12-19 00:03] isabelcosta commented on #154
@Isfaaq in this community we prefer that contributors ask for approval to work on the issue before sending a PR, or at least mention that they're working [(see more here)](https://github.com/systers/mentorship-backend/wiki/Getting-Started#choose-a-working-item). This helps the maintainers managing the issues that are being worked on.

In this case its ok, because no one else showed previous intere

[2018-12-19 00:04] isabelcosta commented on #142
@sidharthskumar I will make this available again for others to work on this.

[2018-12-19 00:07] isabelcosta commented on #155
@UmarAuhammud ok, go ahead. Since no one else showed previous interest in this issue, its totally fine that you work on it ;)

[2018-12-19 06:09] sarnava1 commented on #153
@isabelcosta I am extremely sorry for not asking before starting to work with this issue. I will keep this in mind from the next time.

[2018-12-19 09:26] isabelcosta commented on #153
No problem @sarnava1. Now you know for the next time :)

[2018-12-19 10:35] 0x15F9 commented on #154
Okay. Thanks for the information.

[2018-12-20 06:17] haroldadmin commented on #120
@isabelcosta After our discussion I realized that we do have an achievements API. I'll add it and update the PR soon.

[2018-12-20 18:10] sharifa2708 commented on #142
@isabelcosta I would like to take up this issue.

[2018-12-20 18:23] isabelcosta commented on #142
@sharifa2708 great! Go ahead!

[2018-12-21 15:19] DivyeshPuri commented on #152
@isabelcosta What format of input should I expect when developing this feature will the image be uploaded in bytecode or via request?

[2018-12-26 19:42] sharifa2708 commented on #142
I am working on this. I will be needing a bit more time.

[2018-12-26 19:45] isabelcosta commented on #142
No problem at all @sharifa2708 , thank you for updating us through the issue.
That's what we need from contributors when they need more time :)

[2018-12-26 21:40] isabelcosta commented on #48
Status update: this is implemented on PR #148, I'm just waiting for more PRs to be merged on backend to do them all at once (resetting the BD at that time)

[2018-12-26 21:46] isabelcosta opened #160 "Implement refresh tokens feature"
## Description
As a user of the system,
I need refresh tokens,
so that I can refresh my access token to contribue using the backend services.

Read [this for more information on the need for refresh tokens.](https://auth0.com/blog/refresh-tokens-what-are-they-and-when-to-use-them/)
This came up because of this issue on the Android client issue tracker (https://github.com/systers/mentorship-android

[2018-12-26 21:53] isabelcosta opened #161 "Create doc strings for validation_utils.py file"
## Description

As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for Validation Utils file**. You can find this file [app/utils/validation_utils.py](https://github.com/systers/mentorship-backend/blob/develop/app/utils/validation_utils.py).
You can follow these conventions: [style guide for doc strings in

[2018-12-26 21:58] isabelcosta opened #162 "Create doc strings for app/api/email_utils.py file"
## Description

As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for Email utils file**. You can find this file [app/api/email_utils.py](https://github.com/systers/mentorship-backend/blob/develop/app/api/email_utils.py).
You can follow these conventions: [style guide for doc strings in python by Google](

[2018-12-26 22:29] isabelcosta commented on #129
**Register a new user**

![image](https://user-images.githubusercontent.com/11148726/50458627-68b75f80-095c-11e9-92c6-27977f64d4e3.png)

![image](https://user-images.githubusercontent.com/11148726/50458672-c51a7f00-095c-11e9-9ea8-179259ff197d.png)

![image](https://user-images.githubusercontent.com/11148726/50458719-3823f580-095d-11e9-9a00-9c14ebedf517.png)

![image](https://user-images.githubuser

[2018-12-26 22:37] iulianav commented on #161
I would like to take this issue. Is that ok? :)

[2018-12-26 22:38] iulianav commented on #162
I would like to take this issue. Is that ok? :)

[2018-12-26 22:51] isabelcosta commented on #162
Sure @iulianav work on this ;) the other issue will still be available for others ;)

[2018-12-26 22:55] isabelcosta commented on #114
I did this because I saw a newcomer facing issues understanding how to register a new user. Here it is: https://github.com/systers/mentorship-backend/wiki/Register-a-new-user-using-Swagger

[2018-12-26 22:55] #114 closed, assigned to nobody

[2018-12-27 00:04] iulianav commented on #162
@isabelcosta thanks alot!

[2018-12-28 21:20] #162 closed, assigned to nobody

[2018-12-28 21:25] #48 closed, assigned to nobody

[2018-12-28 21:40] iulianav commented on #160
Hi! I would like to attempt this issue! Is that ok?

[2018-12-28 21:48] isabelcosta commented on #160
@iulianav sure you can :) Right now I have no idea of a complete implementation, but I let some comments on the description that can help you out!

[2018-12-28 21:50] isabelcosta commented on #117
I'm making this available again since there are no updates on this issue's work

[2018-12-28 21:52] isabelcosta commented on #129
I'll close this issue, but continue to use this if I need to have more images on Wiki

[2018-12-28 21:52] #129 closed, assigned to nobody

[2018-12-28 23:11] iulianav commented on #160
Honestly, @isabelcosta I have no clue either. But I thought I might give it a try and learn if that is ok!

[2018-12-29 00:41] isabelcosta commented on #160
Do give it a try! It's totally fine if you're clueless, thank you for your honesty here!
If you need any help feel free to ask questions so that I can help you :) @iulianav

[2018-12-29 21:41] isabelcosta commented on #152
@DivyeshPuri I wish I knew :P @m-murad can you help to clarify this, please?

[2018-12-29 21:47] isabelcosta opened #166 "Create doc strings for TaskDao class and its functions"
## Description

As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for TaskDao class and its functions**. You can find this file [app/api/dao/task.py](https://github.com/systers/mentorship-backend/blob/develop/app/api/dao/task.py).
You can follow these conventions: [style guide for doc strings in python by

[2018-12-29 21:54] isabelcosta opened #167 "Create doc strings for TasksListModel class and its functions"
## Description
As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for TasksListModel class and its functions**. You can find this file [app/database/models/tasks_list.py](https://github.com/systers/mentorship-backend/blob/develop/app/database/models/tasks_list.py).
You can follow these conventions: [style

[2018-12-29 22:04] isabelcosta opened #168 "Create doc strings for MentorshipRelationModel class, attributes and functions"
## Description

As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for MentorshipRelationModel class, attributes and functions**. You can find this file [app/database/models/mentorship_relation.py](https://github.com/systers/mentorship-backend/blob/develop/app/database/models/mentorship_relation.py).

You

[2018-12-29 22:06] isabelcosta opened #169 "Create doc strings for UserModel class, attributes and functions"
## Description

As a developer,
I need to have in code documentation,
so that I can understand better the code.

Related to #149

We need to have **doc strings for UserModel class, attributes and functions**. You can find this file [app/database/models/user.py](https://github.com/systers/mentorship-backend/blob/develop/app/database/models/user.py).

You can follow these conventions: [style guide f

[2018-12-29 22:07] m-murad commented on #152
Image will be uploaded as an encoded string

[2018-12-29 22:11] isabelcosta commented on #152
@DivyeshPuri answer up here ^^
@m-murad Thank you sooooo much

[2018-12-30 00:11] shiv07tiwari opened #170 "Create user feedback feature"
## Description

As a someone interested in the mentorship system development,
I need to receive feedback from the user,
so that I can improve the app with the user's feedback.

For this issue, you'll need to think about what the data model should have as attributes (e.g.: a creation timestamp, description of the feedback, ...)

**Note:** if this is too big, maybe this work should be split into mor

[2018-12-30 01:27] iulianav commented on #170
Hi! I would like to attempt this issue! Is that ok?

[2018-12-30 01:28] isabelcosta commented on #170
@shiv07tiwari check what I've updated in the PR description ;) There was some lack of information for who doesn't know much about the app.

[2018-12-30 01:32] isabelcosta commented on #170
@iulianav I want to say yes, but at the same time discuss this first with the community, especially in community open sessions to understand if this is a good way to approach the feedback from the user. So maybe it is better to hold until community open sessions start again on January 3rd. Once it is talked at least once you can work on this. If you want you can start thinking about this and how y

[2018-12-30 01:38] isabelcosta commented on #116
@preeti98 are you still working on this? If not, I will make this available again, no problem at all :)

[2018-12-30 01:49] isabelcosta opened #171 "Add missing description to APIs on Swagger"
## Description
As an API consumer who sees Swagger UI,
I need to have Swagger Documentation on point,
so that I can understand the API.

At least 2 APIs don't have a simple description:

![two apis undocumented](https://user-images.githubusercontent.com/11148726/50543596-96a6d900-0bd4-11e9-9455-ad27e26b7b3a.png)

This is done with a simple doc string comment below the API Resource definition.

##

[2018-12-30 05:09] preeti98 commented on #116
@isabelcosta  it would be nice if someone else takes over this issue now. However, do I make a PR for the changes I had made?
Here is the comparison:
https://github.com/systers/mentorship-backend/compare/develop...preeti98:add-error-msgs.json

[2018-12-30 05:16] isabelcosta commented on #116
Thank you @preeti98 for your response 😄

No need to make a PR, since your work was still a bit incomplete, but your comparison is really handy, so someone else can continue your work!

Thank you for your work, I hope you learned something by working on this :)

[2018-12-30 22:48] iulianav commented on #170
@isabelcosta okay ! :) Thank you!

[2018-12-30 22:50] iulianav commented on #171
@isabelcosta can I take this for now? :)

[2018-12-30 22:51] isabelcosta commented on #171
Go ahead @iulianav !

[2018-12-31 02:21] iulianav opened #173 "Add automated linting to tests and Travis"
**Is your feature request related to a problem? Please describe.**
As the codebase grows, it will be very important to ensure everyone follows the code style and standards in order to ensure consistency and maintainability.

**Describe the solution you'd like**
Integrate and configure automated linter checks in both local tests and as a part of Travis CI.

[2018-12-31 17:57] isabelcosta commented on #173
I understand very little about TravisCI configurations, could you explain better what we need for this?
cc @m-murad knows more about TravisCI things than I do

[2019-01-02 21:17] iulianav commented on #173
@isabelcosta @m-murad it should be easy to do it! Just install a linter e.g. pylint in the virtual environment and ensure we are running it with the unit tests. I will investigate more. What do you think? Is it worth it? I know it is a good practice to have it and automatically ensure python standards are met in every PR.

[2019-01-02 21:35] isabelcosta commented on #173
I think that any best practice, things that help us code and maintain code better are very welcome :) So I think it is worth it.
I'm sure when @m-murad becomes available he'll be able to help us with this :)

Thank you for suggesting this. If you have any other suggestion for this project, feel free to suggest more @iulianav :)

[2019-01-03 13:45] iulianav commented on #173
@isabelcosta I forgot to mention: this will require some mass refactoring given that PEP8 standards are not respected in many parts of the project. I am happy to do it, but it might take a bit.

[2019-01-03 14:41] isabelcosta commented on #173
@iulianav thank you for pointing that out. Can you tell me some of the PEP8 violations? Since I'm not a python developer by default, I don't catch these things.

[2019-01-03 15:20] iulianav commented on #173
@isabelcosta an example of what the basic flake8 linter found:

[code]

But it is mostly line lengths. We can ignore line length checks if you think it is too much tho.

[2019-01-03 20:16] isabelcosta commented on #173
@iulianav I saw it now! There are a lot of violations of Travis from your PR. Now I see why this will need a lot of refactoring. Also, I noticed these violations:

[code]
This worries me because there are some import's I do at the module level, that are necessary otherwise I have to change other things.

Would you take care of these mass refactoring? Once I approve your PR Travis will always fail

[2019-01-03 20:21] iulianav commented on #173
@isabelcosta I believe the imports check can be ignored if there is no other choice by configurating flake8. I have to look into it.

Regarding the refactoring, I could make the refactoring part of this PR too and have 2 commits: 1 for flake8, 1 for the refactoring?

[2019-01-03 20:21] #153 closed, assigned to nobody

[2019-01-03 20:26] #171 closed, assigned to nobody

[2019-01-03 20:31] #120 closed, assigned to nobody

[2019-01-03 20:48] isabelcosta opened #175 "Swagger UI is not being generated"
**Describe the bug**

After the latest merge https://github.com/systers/mentorship-backend/pull/158 the Swagger UI is not being generated.

The API is working, and it can be tested using other tools and the Android client, but this is bad for who wants to test the backend API without additional tools (like Postman).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://systers-mentors

[2019-01-03 21:09] isabelcosta commented on #175
I'm thinking this could be related with the use of field.Nested:
![image](https://user-images.githubusercontent.com/11148726/50661695-cc184180-0f9b-11e9-9693-a25d598f7517.png)

Investigating ...

[2019-01-04 00:39] isabelcosta commented on #175
By commenting on this [line of code](https://github.com/systers/mentorship-backend/pull/158/files#diff-cdcc01b406628385d03b0c1de9bf95e2R261) Swagger UI will be generated.

As you can see below:

![image](https://user-images.githubusercontent.com/11148726/50668761-1c51cc80-0fb9-11e9-9067-897cf784abaa.png)

[2019-01-04 01:05] isabelcosta commented on #175
It's fixed, by adding this missing description :D

![image](https://user-images.githubusercontent.com/11148726/50669383-cf6ff500-0fbc-11e9-9112-34767c21cc05.png)

[2019-01-05 15:09] #175 closed, assigned to nobody

[2019-01-05 21:53] isabelcosta commented on #155
Closed PR #159 due to lack of response from the contributor. This PR was almost finished. The only thing missing was changes according to my review.

[2019-01-05 22:23] iulianav commented on #173
@isabelcosta I made flake8 ignore the E402 check:
i.e. `app/api/api_extension.py:11:1: E402 module level import not at top of file`.

[2019-01-06 01:28] isabelcosta commented on #173
@iulianav Thank you! I hope that ignore action is ok. Because at the time that I coded that, I didn't see another way of importing on the top level, without circular imports.

[2019-01-06 13:06] iulianav opened #178 "Refactor codebase according to PEP8 standards"
## Description
As a developer,
I need the codebase to follow PEP8 standards,
so that I can read and maintain it with less effort.

## Acceptance Criteria
### Update [Required]
- [ ] Refactor entire codebase to pass flake8 checks

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hours

[2019-01-14 23:29] isabelcosta commented on #142
**For documentation purposes, this is a message I wrote for a contributor on slack about this issue:**

If you take a look at the issue description you have an example of API testing you can follow. Basically, you have to understand what revoke and admin role means.

**Basic rules:** you can only revoke an admin if you are an admin, you cannot revoke your admin status if you're the only admin. Unf

[2019-01-14 23:41] isabelcosta commented on #142
@sharifa2708 are you still working on this? if you need any help just ping me here or no #mentorship-system channel on slack.

[2019-01-15 17:41] sharifa2708 commented on #142
Yes @isabelcosta I was stuck with this issue. I had been working on this issue and wasn't getting it through so I left it for a bit. I am working on it. If I couldn't solve it for some more time by my own I will surely take your help.

[2019-01-19 06:00] jaerjaerbin commented on #166
Hey @isabelcosta, I would like to attempt this.

[2019-01-19 14:10] isabelcosta commented on #166
Sure you can @jaerjaerbin  :) Go ahead. Feel free to ask any doubts you have

[2019-01-20 02:52] jaerjaerbin commented on #166
@isabelcosta Cool! working at it!

I only have one doubt, when I run:

`python run.py` the page in the web browser only says **No spec provided** is it normal?

[2019-01-20 06:35] jaerjaerbin commented on #166
Hey @isabelcosta I have a doubt.

What should I run after adding and commiting.

`$ git push origin <my-docstring-branch>`
or
`$ git push upstream <my-docstring-branch>`

[2019-01-20 13:42] isabelcosta commented on #166
Its normal if it shows only for some seconds. If that's all it shows then its not normal.
Do you have the environment variables set up?

you should push to origin, therefore is: `$ git push origin <my-docstring-branch>`

@jaerjaerbin hope that answers it all :) If you have more questions just keep them coming ;)

[2019-01-21 00:50] jaerjaerbin commented on #166
Thanks for your answers @isabelcosta

The push doubt is clear now. The bad news for me is that it shows **No spec provided** all the time.

About the environment variables I followed the steps in [Environments Variables wiki](https://github.com/systers/mentorship-backend/wiki/Environment-Variables) but to be honest, the security section was not so clear for me. All those key values were made out b

[2019-01-21 14:04] LordGameleo commented on #117
@isabelcosta  I would like to work on this issue

[2019-01-21 20:32] isabelcosta commented on #117
@LordGameleo sure! so ahead :)

[2019-01-21 21:03] isabelcosta commented on #166
@jaerjaerbin Thank so much you for pointing what you did not understand from the documentation! 🙌 That's really important so that I can improve the documentation for newcomers to this project. You can use the examples I provided in that section, they are used for email verification and access tokens for login. you can just give them random strings, since it runs on your local machine.

When have y

[2019-01-21 23:15] jaerjaerbin commented on #166
Sure!
This is a screenshot of what I got:

![logsnap](https://user-images.githubusercontent.com/17935632/51503324-6c49d500-1da8-11e9-9b9f-a6a4a34a14fa.JPG)

[2019-01-21 23:29] jaerjaerbin commented on #166
About the Environment Variables I did type random strings for both security keys.

I was trying to check those variables in this way (opening python CLI with venv activated):

`import os`
`os.environ.get('SECURITY_PASSWORD_SALT')`

returning empty string. It seems like it wasn't export those variables or something.

[2019-01-22 08:07] jaerjaerbin commented on #166
It's solved. I exported the environment variables again and now it's working fine!

[2019-01-22 10:06] isabelcosta commented on #166
@jaerjaerbin yes!!! I'm so so glad you figured that out on your own 🎉 now you can test the live app and debug better :D

[2019-01-23 06:41] LordGameleo commented on #117
@isabelcosta can you guide me a bit.... where should I write code for creation of new decorator?

[2019-01-23 22:28] agarwalrounak commented on #155
@isabelcosta I will work on it.

[2019-01-23 22:33] isabelcosta commented on #155
@agarwalrounak yes you can work on this :) Since no one claimed it so far after I made this again and because you're a first timer to this repository.

[2019-01-24 15:16] CleverFool77 commented on #116
@isabelcosta I would like to work on this issue. Can I be assigned to this Issue.

[2019-01-24 15:27] CleverFool77 commented on #116
@isabelcosta Usage of arrays can make the performance slow. I suggest we should prefer dictionary with value as error message of key. For example, error message for invalid email can look like following in the dictionary.
[code]

[2019-01-24 16:18] m-murad commented on #142
@sys-bot approve

[2019-01-26 06:00] agarwalrounak commented on #167
I will work on it.

[2019-01-26 15:47] ethicalrushi commented on #116
I would like to work on this issue.
I think these are the files which need to be updated-
api/jwt_extension.py, api/mail_utils.py, api/resources/(user.py, admin.py), api/validations/user.py,
api/dao/( admin.py, mentorship_relation.py, task.py, user.py).
Even I think that using dictionaries can be a better option.

[2019-01-26 15:51] ethicalrushi commented on #152
Can I work on this issue??

[2019-01-26 19:12] sharifa2708 commented on #66
@isabelcosta I would like to work on this issue

[2019-01-26 19:15] sharifa2708 commented on #169
@isabelcosta I would like to work on this issue

[2019-01-28 11:10] CleverFool77 commented on #116
@ethicalrushi I'm already working on this issue and currently undergoing discussion with the mentors for the same.I suggest you to take another issue.

[2019-01-29 00:48] isabelcosta commented on #66
I will review your PR first, so please do the changes and then work on this. @sharifa2708

[2019-01-29 15:03] isabelcosta commented on #116
@ethicalrushi please choose another issue to work with since @CleverFool77 had already started working on this and started a discussion on slack.

[2019-01-30 23:58] isabelcosta commented on #167
@agarwalrounak I'm sorry, but it starts to become difficult to manage all the issues, both this and #155 are "First Timers Only" issues, so you can only work on one of them, in this way we can give an opportunity for more people to contribute to this project, which one of the issues, #155 or #167, do you want to work on so I can close one of the PRs?

[2019-01-31 00:09] isabelcosta commented on #167
I will close the latest issue since it was the last you submitted @agarwalrounak and this still has the available status.

[2019-01-31 04:42] agarwalrounak commented on #167
Sys-bot had closed PR #182 so I had begun to work on this issue. I guess an exception can be made here.

[2019-01-31 09:49] isabelcosta commented on #167
@agarwalrounak I understand :) is just that your almost done with the pr, you just need to address my change requests and then I can approve it and merge it. I try to have as many first timers only issues as possible, so that everyone can have a chance to work on open source through this repo and make a valuable contribution. So your work won't go unnoticed it is there in the pr, it can help other

[2019-01-31 22:40] isabelcosta commented on #117
I'm not sure about it, since I haven't done a lot of research for it. Can you look into the code and suggest me a solution? cc @ramitsawhney27

[2019-02-01 07:12] ramitsawhney27 commented on #117
@LordGameleo I'd recommend looking into the DAO itself. That's the first place any operations would take place. Ensure your decorator wraps methods like 'update_user_profile' that would ensure that such an authorization operation is done before any further processing. cc @isabelcosta

[2019-02-01 08:59] ramitsawhney27 opened #187 "Running pylint for Code quality checks"
## Description
This issue is to test all the test cases of features in the project.
Add pylint to the configuration in the deploying script, and return an exit code of 0 only if all files exceed the score of 7.0

## Test Cases
Sample output for pylint:
C: 61, 0: Function name "dumpErrors" doesn't conform to snake_case naming style (invalid-name)
C: 61, 0: Missing function docstring (missing-docstr

[2019-02-01 15:59] mustaqmustu opened #188 "In edit profile section,if user removes his/her bio,bio is not updated,Its still showing the old one"
Describe the bug
In edit profile section,if user removes his/her bio,bio is not updated,Its still showing the old one.

To Reproduce
Steps to reproduce the behavior:

    Go to 'edit profile'
    Click on 'bio'
    remove the bio and click save.
    See error

Expected behavior
Bio must be empty after removing.

gif;
![51908965-4dbf8b80-23f1-11e9-888d-a515967b5c5c](https://user-images.githubuserco

[2019-02-01 16:01] #188 closed, assigned to nobody

[2019-02-01 16:03] mustaqmustu opened #189 "In edit profile section,if user removes his/her details like bio,user name..they are not removed ,instead they are showing the older details again"
**Describe the bug**
In edit profile section,if user removes his/her details like bio,user name..they are not removed ,instead they are showing the older details again

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'update user'
2. remove any details
3.save and see error

I want to work on this issue

[2019-02-02 03:59] sharifa2708 commented on #66
@isabelcosta Sure I will make the changes suggested

[2019-02-02 12:02] isabelcosta commented on #189
@sys-bot approve

[2019-02-02 12:04] isabelcosta commented on #189
I tested it on the [Backend API](http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com/), and it seems this is a bug from the backend.

[2019-02-04 16:04] AyahRamahi commented on #168
Can I work on this ?

[2019-02-04 19:47] isabelcosta commented on #117
Last week, I answered this on Slack:

I can be authenticated and verified. One of the things that come to my mind is, I can't send a mentorship request to someone unverified. Use an ID from a user which is not verified. The android application does not allow that. But if you do things using the api only through swagger ui, then you are allowed to do that. Think of edge cases like this. Look into t

[2019-02-04 20:10] isabelcosta commented on #168
Sure go ahead @AyahRamahi 😄

[2019-02-04 21:06] isabelcosta opened #191 "Its possible to be in two mentorship relations at the same time and it shouldn't be"
**Describe the bug**

I noticed through using the Swagger UI and testing the mobile app around, that it is possible to be in 2 mentorship relations at the same time. According to the project initial requirements, a user can only be in one mentorship relation at a time, so this should not be possible.

I don't know the solution since I did not investigate this yet...

**To Reproduce**

Steps to rep

[2019-02-05 04:09] LordGameleo commented on #117
@isabelcosta  Let me look into that.

[2019-02-05 21:03] isabelcosta opened #193 "Replace hardcoded HTTP codes with constants/enum"
## Description
As a developer,
I need have abstractions on HTTP code,
so that I can have a code easier to understand.

HTTP codes (e.g.: 404, 403, ...) are used throughout the code hardcoded. Putting this into constant can make the code more descriptive and easy to understand, by having a descriptive name such as `NOT_FOUND` instead of `404`.

For example, have constants that map HTTP codes like t

[2019-02-05 21:03] isabelcosta commented on #193
@ramitsawhney27 @m-murad I think this make sense, right?

[2019-02-05 22:40] ramitsawhney27 commented on #193
I’m not exactly sure why this would be needed. The HTTP status response codes are fairly standard, and adding an abstraction over these doesn’t make sense. We can add comments/docstrings that explain this rather.

[2019-02-05 23:41] isabelcosta commented on #193
@ramitsawhney27 it just reminds me of magic numbers on the code. At the beginning of development, I was just getting a lot of codes wrong and using them in the wrong contexts because I didn't understand them at that time 🤔 How could we put on the comments or docstrings?

[2019-02-07 21:23] devbihari commented on #187
Let me make this enhancement if it has not been done already :fire:

[2019-02-09 14:46] ramitsawhney27 commented on #193
We should either add this in the documentation itself, or just simple one line comments where the codes are being used.

[2019-02-10 12:55] isabelcosta commented on #193
Ok I think I will create a wiki page for common things to know about Backend dev, and include a section to explain this codes. Does that sound ok? @ramitsawhney27

[2019-02-10 13:01] isabelcosta commented on #193
Started this documentation https://github.com/systers/mentorship-backend/wiki/Backend-Dev

[2019-02-10 13:06] isabelcosta commented on #152
@ethicalrushi if you still want to work on this you can ;)

[2019-02-11 16:07] mustaqmustu commented on #154
can I work on this?

[2019-02-11 20:02] #193 closed, assigned to nobody

[2019-02-12 10:57] LordGameleo commented on #189
Is it available!? I would like to work on it. @isabelcosta

[2019-02-12 12:58] mustaqmustu commented on #189
Im already working on it @LordGameleo

[2019-02-12 15:05] LordGameleo commented on #189
@isabelcosta  please remove Available Status..... @mustaqmustu  is working on it.

[2019-02-12 15:53] NidhiKJha commented on #187
Pylint can be run over an entire directory to give a cumulative score for all the code,
why should we have to find the score for each file separately?

[2019-02-12 20:42] ananyaarun commented on #187
@NidhiKJha , to ensure that each file follows a particular coding standard and rating rather than the whole repo on an average. Also personally i feel it is easier and gives clarity to fix errors detected by pylint individually on files.

[2019-02-13 05:38] NidhiKJha commented on #187
So how would you suggest we implement this? Should a developer test each file individually while working, this way you get small messages to improve the code, while running pylint over all files individually will still generate large error messages that will get ignored in bulk.
It is possible to run a bash script to extract scores from each file and get an exit 0 code.
But I would suggest not to

[2019-02-13 11:07] LordGameleo commented on #191
Is it available!?.... Can I work on this!?

[2019-02-13 11:11] LordGameleo commented on #170
@iulianav are you still working on this issue...... Or you have already submitted the PR!?

[2019-02-13 12:53] LordGameleo commented on #78
I will try to with in this issue..... Thank you for assigning it to me @isabelcosta

[2019-02-13 12:58] ramitsawhney27 commented on #187
Suggesting something isn't the same as enforcing it. We've had enough PRs that don't match up to quality standards, and as we continue to scale mentorship system, it is ideal to start enforcing strong quality standards at this stage. A lower rating will be kept, but the change is well valid.

[2019-02-14 13:31] CleverFool77 commented on #187
@NidhiKJha Please let us know if you were planning to work on this issue as I already started working on it and saw your opened PR. Please continue with the issue as you opened PR but letting everyone know beforehand prevents redundant work on issue.

[2019-02-14 13:35] mustaqmustu opened #195 "As a user does not need to update his username always during updating his/her profile,its better to remove uniqueness of username in update profile section"
**Describe the bug**
As a user does not need to update his username always during updating his/her profile,its better to remove uniqueness of username in update profile section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'update user'
2. edit any details
3. execute it and again click on update user.
4. edit anything by keeping the same username as before
5.Execute it.
6.See the err

[2019-02-15 11:05] CleverFool77 commented on #191
@LordGameleo Did you get yourself assigned to this issue or Are you working on Flask script one ?

[2019-02-15 18:29] iulianav commented on #195
May i attempt this issue?

[2019-02-15 18:36] mustaqmustu commented on #195
I already mentioned that I am working on the issue @iulianav

[2019-02-15 18:46] iulianav commented on #195
Oh sorry, i did not see!

[2019-02-16 05:49] LordGameleo commented on #191
I am not working on this one @CleverFool77

[2019-02-16 07:04] 5anjana commented on #167
Hii @isabelcosta
I would like to work on this issue. Can I take it up?

[2019-02-16 14:35] mustaqmustu commented on #189
@LordGameleo seems this issue is not only occurs when we update bio but even while updating username and everything .

[2019-02-16 20:42] CleverFool77 commented on #191
@isabelcosta I tried reproducing the steps
* trying mentee in two relation
* mentor in two relation
* a user in two relation with role as mentee in one and mentor as another.

But the answer I got was correct. In all these steps,  It denied to form a second relation as first one is already existing. And i didn't get the bug present in issue.

[2019-02-17 14:43] NidhiKJha commented on #187
@CleverFool77 You hadn't commented here that you were working on this issue either. I'm currently working upon this issue and in future, I'll make sure to comment beforehand.

[2019-02-17 14:49] NidhiKJha commented on #187
@ramitsawhney27 @isabelcosta in PR #194 I have submitted a solution using Bash by invoking Pylint through the terminal and parsing the output. The bash code is not easily readable. So, Should I submit another PR using a python script and invoking it through bash?

[2019-02-17 14:55] ramitsawhney27 commented on #187
No, the PR looks fine.

[2019-02-17 15:12] CleverFool77 commented on #187
@NidhiKJha I asked about this issue in slack but its okay ✌️.

[2019-02-17 16:15] CleverFool77 commented on #187
@NidhiKJha I asked about this issue in slack but its okay ✌️.
You are doing great job with PR. Keep contributing :tada:

[2019-02-19 00:33] iulianav opened #198 "Support SQLAlchemy Schema Migration using Alembic"
**Is your feature request related to a problem? Please describe.**
A database/schema migration refers to the management of incremental, reversible changes to relational database schemas. A schema migration is performed on a database whenever it is necessary to update or revert that database's schema to some newer or older version.

A database migration usually changes the schema of a database, suc

[2019-02-19 05:00] LordGameleo commented on #189
@mustaqmustu try figuring out what may be the cause at one place..... other places will be similar.

[2019-02-19 09:46] CleverFool77 commented on #152
Is this issue available @isabelcosta ? If yes, then I would like to work on this :)

[2019-02-19 20:30] isabelcosta commented on #191
@CleverFool77 thank you for testing this. That's interesting 🤔
Can you or anyone check the timings? Maybe the end date has already passed and the cron job did not complete the 1º relation.

[2019-02-19 22:02] iulianav commented on #198
@isabelcosta what do you think? :)

[2019-02-20 04:29] CleverFool77 commented on #152
Is this the process -
* Get the encoded string of image from frontend
* Save the image decoded from string in aws s3.
* Get the photo url from aws and store it in db
* Return photto url in the update user profile api endpoint.

[2019-02-20 20:10] isabelcosta commented on #198
@iulianav thank you for suggesting this! This seems very important. now that we're using sqlite database, changing schema won't affect much, because every time we merge a new commit, the database is reset. But when we start using a persistent database on Amazon this will be very critical, having a way to manage migrations.

I just didn't understand how this will work. We'll have to run something o

[2019-02-20 20:10] isabelcosta commented on #198
@sys-bot approve

[2019-02-21 08:03] CleverFool77 opened #199 "Error while running tests"
**Describe the bug**
There are 12 errors while running the unittests in terminal using the command `python -m unittest discover tests`

Below is this traceback
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command `python -m unittest discover tests`

**Expected behavior**
There should be no error.

[2019-02-21 12:08] mustaqmustu commented on #195
@isabelcosta what is ur opinion on this

[2019-02-21 20:34] #160 closed, assigned to nobody

[2019-02-21 20:42] #166 closed, assigned to nobody

[2019-02-21 21:16] isabelcosta commented on #152
@CleverFool77 a practice here in the community is to wait for maintainers to approve that you work on the issue before sending a PR, so that we can manage better the issues. Keep that in mind for future contributions please

[2019-02-22 02:14] CleverFool77 commented on #152
I'll surely keep that in mind from next time @isabelcosta

[2019-02-22 12:04] ramitsawhney27 opened #201 "Refactor codebase to correct all comparisons"
**Describe the bug**
There are multiple incorrect comparisons in the code, these include:

1. Comparing booleans with 'is', 'is not', '==' and '!='
2. Comparing None with '==' or '!='
3. Comparing objects in terms of identities and not values

**To Reproduce**
Steps to reproduce the behavior:
-

**Expected behavior**
Correct comparisons everywhere
**Screenshots**
N/A

**Desktop (please complete th

[2019-02-22 12:10] agarwalrounak commented on #201
I will work on it

[2019-02-22 13:39] isabelcosta commented on #201
I think this better be a first timers only issue @agarwalrounak since it's easy to do.

[2019-02-22 14:05] iulianav commented on #198
@isabelcosta have a look at this https://github.com/inspirehep/inspire-next/blob/master/docs/alembic.rst.
I have never implemented it (so i have to learn a bit first if that is ok), but I used it during my internship at CERN for the inspire-next project.

[2019-02-22 14:31] CleverFool77 commented on #191
@isabelcosta I have never used cron job scheduler before, but I'll try to explore and see.

[2019-02-22 21:03] #155 closed, assigned to nobody

[2019-02-22 23:50] KING-SID commented on #22
Hey @isabelcosta is this issue still open? If so, I'd like to begin working on it immediately!

[2019-02-24 10:30] 5anjana commented on #167
Hii @isabelcosta
Please assign me this issue?

[2019-02-24 10:41] agarwalrounak commented on #167
Hi @sanjana11147, I guess you can take it up since there's no one else working on it(or expressed the desire to do so)

[2019-02-24 10:43] 5anjana commented on #167
Okay thanks @agarwalrounak  :)

[2019-02-24 10:45] isabelcosta commented on #167
You can work on it @sanjana11147

[2019-02-27 23:08] isabelcosta commented on #198
I haven't got time to take a deeper look into this. But it seems that @ramitsawhney27 agrees with this as well, so I think if you want to start working on this, or taking a look at this, feel free to do so. @iulianav

[2019-02-28 01:24] iulianav commented on #198
@isabelcosta thank you! I will give it a try, I hope it works out nicely!

[2019-03-06 20:44] LordGameleo commented on #201
I have done this part to the scripts I touched

[2019-03-09 09:17] HSR05 commented on #201
@isabelcosta  I will work on it. Can you just guide me a little? Thankyou. :)

[2019-03-11 08:15] jaerjaerbin commented on #195
@mustaqmustu Did you make a PR of this issue?

[2019-03-11 13:14] mustaqmustu commented on #195
@jaerjaerbin no..this issue is still not approved

[2019-03-13 21:17] #116 closed, assigned to nobody

[2019-03-17 14:16] #167 closed, assigned to nobody

[2019-03-18 22:16] isabelcosta commented on #154
@mustaqmustu are you still interested in working on this?

[2019-03-19 02:41] mustaqmustu commented on #154
Nope

On Tue, Mar 19, 2019, 3:46 AM Isabel Costa <notifications@github.com> wrote:

[2019-03-21 04:20] LordGameleo commented on #201
@HSR05 this issue revolves around the use of `is` and `==` operators. Please read about it first a little at https://stackoverflow.com/questions/2209755/python-operation-vs-is-not

If you have any doubt ask here or on Slack

[2019-03-21 08:53] CleverFool77 commented on #66
Hi @isabelcosta Is this issue available?

[2019-03-21 09:31] isabelcosta commented on #66
Yes it is :) @CleverFool77 you can work on it if you want. Do you?

[2019-03-21 09:59] CleverFool77 commented on #66
Yes I would like to take this up.
Thanks @isabelcosta

[2019-03-26 21:43] isabelcosta commented on #201
@HSR05 I hope @LordGameleo answered your doubt.
Thank you for the help @LordGameleo 🎉

@HSR05 do you still want to work on this?

[2019-03-27 23:17] isabelcosta commented on #199
@CleverFool77 just saw this now, is this still a problem??

[2019-04-02 03:35] CleverFool77 commented on #199
I didn't try it right now, I'll fetch the latest changes and will checkout in afternoon.

[2019-04-03 03:56] CleverFool77 commented on #199
Hi @isabelcosta I tried it. The errors are still there.

[2019-04-10 16:06] LordGameleo commented on #201
@HSR05 Are you still working?

[2019-04-10 16:07] HSR05 commented on #201
@LordGameleo Currently i have exams so i am busy with those. Will look at it in few weeks. Sorry for the delay.

[2019-04-11 16:18] LordGameleo commented on #201
No Issues :)

[2019-04-14 00:49] #168 closed, assigned to nobody

[2019-04-14 00:57] #117 closed, assigned to nobody

[2019-04-18 15:11] LSariel commented on #161
Is this issue still available? :)

[2019-04-18 15:59] LSariel commented on #201
Is this issue available? :)
I would like to find an issue to start with, so I'd love to do it if it's free.

[2019-05-01 15:47] isabelcosta commented on #201
@LSariel yes this is taken for now. @HSR05 you're still interested in this right?

[2019-05-02 10:14] LSariel commented on #201
Okay! Thank you. :)

[2019-05-02 16:46] HSR05 commented on #201
It's okay if @LSariel wants to make a PR, I'll be free in 3 days and will be able to work on this after that only. Really sorry for the delay.

[2019-05-02 18:20] LSariel commented on #201
It's fine for me! :) If you want to do it, you should!

Den tors 2 maj 2019 kl 18:46 skrev HSR05 <notifications@github.com>:

[2019-05-12 00:35] isabelcosta commented on #161
@LSariel sorry for the late reply, but yes it is available if you're still interested ;)

[2019-05-12 10:46] LSariel commented on #161
Yes! Only I don't have time to work on it this week. But starting Friday I
would love to! :)

Den sön 12 maj 2019 kl 02:35 skrev Isabel Costa <notifications@github.com>:

[2019-05-15 23:02] isabelcosta commented on #161
Ok no problem @LSariel , I'll leave this open and if you're still interested at that time, just leave a comment here and I'll assign it to you

[2019-05-16 08:59] LSariel commented on #161
Thank you!

Den tors 16 maj 2019 kl 01:02 skrev Isabel Costa <notifications@github.com>:

[2019-05-20 09:39] LSariel commented on #161
I can do it this week! :)

[2019-05-24 03:28] efitzpatrick commented on #201
Is this issue available to work on right now?

[2019-05-24 03:30] efitzpatrick commented on #142
Is this project available?

[2019-05-27 23:58] isabelcosta commented on #142
@efitzpatrick yes it is available :) Let me know if you wish to work on that, so that I can remove the "Status: Available" label.

[2019-06-16 16:04] sumit-badsara commented on #141
@isabelcosta Please have a look at the code. If there is something missing, I will add on to that.

[2019-06-16 16:10] sumit-badsara commented on #141
@isabelcosta I just found out that issue #142  is also solved by my PR. so adding that.

[2019-06-30 09:53] isabelcosta opened #206 "Add more tests to AdminDAO"
## Description
As a developer,
I need have more test cases tested,
so that I can cover most of the logic.

## Acceptance Criteria
### Update [Required]
- [ ] Create more tests that test the AdminDao logic

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2019-07-17 22:28] Tsukaiyo commented on #201
Can I do it?

[2019-07-17 22:44] isabelcosta commented on #201
Unfortunately, I lost track of who was working on this.
@efitzpatrick I'm sorry I missed your message. I just saw your message now, let us know if you're still interested.

@Tsukaiyo if within 2 days there's no one showing interest for this than you can take on this issue.

[2019-07-30 12:21] ApheleiaS commented on #198
Hey can I start working on this?

[2019-07-30 12:31] isabelcosta commented on #198
@ApheleiaS yes you can :)

[2019-07-30 21:54] amnoweb commented on #154
Do you still need someone to work on this?

[2019-07-30 21:58] isabelcosta commented on #154
@amnoweb yes, this is available. You can work on this if you want.

[2019-08-20 11:55] sumit-badsara commented on #189
Is this issue available? @isabelcosta @mustaqmustu.
I would like to work on this.

[2019-08-20 21:55] isabelcosta commented on #189
@BadduCoder I think it is, I don't see updates from @mustaqmustu .
@mustaqmustu are you still interested in this issue?

[2019-08-20 23:39] clemkoh commented on #201
Can I work on this?

[2019-08-21 22:43] sumit-badsara commented on #189
@isabelcosta as there is no response from @mustaqmustu , could you assign this to me.

[2019-08-21 22:46] isabelcosta commented on #189
Done! You can start working on this :) @BadduCoder

[2019-08-21 22:52] isabelcosta commented on #201
@clemencetbk yes you can! since there aren't any updates from previous contributors.

[2019-08-21 22:52] sumit-badsara commented on #189
I have a pending PR, so how should i isolate both of these? @isabelcosta
Should i create a new branch? Or any other workaround.

[2019-08-21 22:57] isabelcosta commented on #189
@BadduCoder yes please create another branch, push it to your fork and then create a new PR.
This is important to keep an PR with a limited scope, so that maintainers can do specific tests and perform a code review specific to the PR's context.

You can revert the past commit on the branch you just pushed the commit and create a new branch just like I mentioned.

Can you look into that?

[2019-08-21 23:01] sumit-badsara commented on #189
Sure @isabelcosta... on it!

[2019-08-21 23:02] isabelcosta commented on #189
Thank you @BadduCoder !

[2019-08-21 23:45] sumit-badsara commented on #189
@isabelcosta Created the PR from new branch, please have a look.

[2019-08-23 08:31] sumit-badsara commented on #66
@isabelcosta I want to work on this issue, if it's available.

[2019-08-23 19:04] isabelcosta commented on #66
@BadduCoder I think you can work on this yes since we have no recent updates on this issue.
cc @CleverFool77

[2019-08-23 19:10] isabelcosta commented on #66
@BadduCoder I left you a note on your latest PR, please address that before moving onto this issue ;)

[2019-08-23 22:02] sumit-badsara commented on #66
@isabelcosta Shouldn't we consider who(Mentor/Mentee) cancelled the relation, or just update the reason without taking in consideration who did it.

[2019-08-26 13:17] sumit-badsara commented on #66
@isabelcosta I will start working on this once the previous PR is approved. Till then I will explore the project where the changes are to be done and discuss doubts if I encounter any.

[2019-09-18 22:26] #206 closed, assigned to nobody

[2019-09-18 22:35] #154 closed, assigned to nobody

[2019-09-21 16:08] gowriprathap opened #211 "Activating virtual environment on Windows"
**The issue**
In the README file for Mentorship System (backend) of Systers, where run.py is to be executed, the commands for activating the virtual environment (Step 2 under 'Run app') may not work on Windows computers.

**To Reproduce**
Steps to reproduce the behaviour:
1. Have python 3 installed on a windows machine
2. Go to git bash (on windows) or Windows CMD
3. Create a virtual environment v

[2019-09-21 16:27] gowriprathap opened #212 "No module flask error commands"
**Importing modules**
While running python run.py on the command line (I use git bash), it shows NoModuleFoundError many times.

**Solution**
Including the import commands for these modules in the README file would be easy for users who are trying to run the program.
These are the commands to run before running `python run.py`
1. `pip install flask`
2. `pip install flask_sqlalchemy`
3. `pip instal

[2019-10-03 18:33] #201 closed, assigned to nobody

[2019-10-03 18:42] isabelcosta commented on #211
@gowriprathap thank you for such a well described issue! Your issue is super valid, do you wish to improve README speaking about the windows-specific setup? That contribution is super welcome!

[2019-10-03 18:58] gowriprathap commented on #211
Hi @isabelcosta  Thank you! I will be honoured to update the README and do my best to contribute to this!

[2019-10-03 22:08] #189 closed, assigned to sumit-badsara

[2019-10-04 18:42] isabelcosta commented on #169
Done with #214

[2019-10-04 18:42] #169 closed, assigned to nobody

[2019-10-06 04:16] sumit-badsara commented on #211
@gowriprathap is that git bash?
Because if I remember correctly, we don't mention even keyword `source` in cmd.
Correct me if I am wrong somewhere!
We just do `.\env\Scripts\activate` for a normal windows cmd.

[2019-10-06 15:39] gowriprathap commented on #211
Hi @BadduCoder, I did use git bash for running the application. On the windows cmd, the command might be slightly different. I think Git bash uses linux commands?

[2019-10-07 07:52] sumit-badsara commented on #211
Yes @gowriprathap that's what I am pointing out, If you are adding documentation for windows then assume the user can go for any option be it cmd or git bash. So, I was just suggesting that you can add the above mentioned command under CMD commands for windows.

[2019-10-07 14:24] gowriprathap commented on #211
@BadduCoder , I understand what you mean now, thank you so much for the suggestion :) I'll add it in. I've already done a PR after updating the README, should I update this in the PR? The PR is still under review.

[2019-10-08 12:12] sumit-badsara commented on #66
@isabelcosta I tried updating swagger.json, but it doesn't reflects changes on Swagger UI. Any suggestions where I might be doing something wrong?

[2019-10-09 15:47] silentechoes commented on #161
@isabelcosta Can I work on this?

[2019-10-09 15:48] roshni-b commented on #161
@isabelcosta can I work on this?

[2019-10-10 09:12] BadduCoder commented on #191
@sys-bot assign

[2019-10-10 12:31] sumit-badsara commented on #191
@isabelcosta I would like to work on this issue, if it is available.

[2019-10-21 14:56] Tlazypanda commented on #187
@isabelcosta Is this issue still available?

[2019-10-22 01:33] Tlazypanda commented on #178
@isabelcosta @iulianav can I take up this issue?

[2019-10-22 17:05] megha070 commented on #211
@BadduCoder is this issue still open?

[2019-10-22 18:56] sumit-badsara commented on #211
@megha070 This is still to be reviewed. So, you can find another issue for now.

[2019-10-22 19:45] megha070 commented on #211
@BadduCoder can you please assign me a beginner issue?

[2019-10-25 07:11] sara-02 opened #220 "[Test issue] for Sysbot"
**Describe the bug**
Dummy issue to create a dummy PR against, for testing sysbot against the assumption
1. Double messgaing(happening due to 2 repos on same channel)
2. Not listing PRs if they are not reviewed with 7 days,(but once reviewed they are not checked again)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expe

[2019-10-25 07:11] sara-02 commented on #220
@isabelcosta Can you approve this issue and assign it to me.

[2019-10-25 07:35] m-murad commented on #220
@sys-bot approve

[2019-11-01 01:53] sumit-badsara commented on #211
@megha070 I am contributer to this repository.
So, it's better if you can find an issue from the list which has tag of "first-issue" or maybe "First Timers Only" and check if it is available, join the slack channel for better communication with the project owners and admins.
You can tag @isabelcosta if you want to take up some issue.
You can request to assign an issue to yourself through comments

[2019-11-16 15:48] Anjalizi commented on #199
Initially I got a couple of errors but on running `pip3 install flask_testing` the errors go.

[2019-11-20 15:03] noxlumos opened #222 "Create an Installation script to automatically install and setup the project"
**Is your feature request related to a problem? Please describe.**
Currently the installation and setup of Mentorship Backend is done manually. It would be great to have a single script which could download the code and setup the various configurations required automatically.

**Describe the solution you'd like**
Create a shell script named **install.sh** (for Linux/Mac) or **install.bat** (for Wi

[2019-11-20 15:04] #222 closed, assigned to nobody

[2019-11-20 15:05] xprilion opened #223 "Create an Installation script to automatically install and setup the project"
**Is your feature request related to a problem? Please describe.**
Currently the installation and setup of Mentorship Backend is done manually. It would be great to have a single script which could download the code and setup the various configurations required automatically.

**Describe the solution you'd like**
Create a shell script named **install.sh** (for Linux/Mac) or **install.bat** (for Wi

[2019-11-25 14:16] Anjalizi opened #224 "TypeError: can't concat NoneType to bytes on /register"
**Describe the bug**
TypeError: can't concat NoneType to bytes shows on submitting a POST request on /register on the mentorship system API backend.

500Undocumented | Error: INTERNAL SERVER ERROR gets thrown

**To Reproduce**

Steps to reproduce the behavior:
1. Go to http://localhost:5000/register, when running the backend locally

The error description can be found [here](https://drive.google.c

[2019-11-27 23:36] isabelcosta opened #225 "Fix typo in user creation success message"
## Description

As a developer of the backend,
I need to deliver consistent response messages,
so that I can better code quality and readability.

This issue is about fixing a small typo in the `USER_WAS_CREATED_SUCCESSFULLY`, that has no space between the second and third sentences.

## Acceptance Criteria
### Update [Required]
- [ ] Add a space between second and third sentence of the `USER_WAS_

[2019-11-27 23:38] isabelcosta opened #226 "Fix typo in email verification confirmation message"
## Description

As a developer of the backend,
I need to deliver consistent response messages,
so that I can better code quality and readability.

This issue is about fixing a small typo in the `ACCOUNT_ALREADY_CONFIRMED_AND_THANKS`, that has no space between the first and second sentences.

## Acceptance Criteria
### Update [Required]
- [ ] Add a space between first and second sentence of the `AC

[2019-11-28 00:06] isabelcosta opened #227 "Write a test to test that a user cannot delete other relation's tasks"
## Description
As a developer for backend api,
I need cover most part of the logic of backend,
so that I can be confident that the app works as it is supposed to.

Write one or more tests for the `DELETE /mentorship_relation/{request_id}/task`, to make sure a **user that is not in a certain mentorship relation cannot delete that relation's tasks**.

Make sure to add the test in the appropriate [te

[2019-11-28 00:12] isabelcosta opened #228 "Write a test for when a user tries to delete a non existing task"
## Description
As a developer for backend api,
I need cover most part of the logic of backend,
so that I can be confident that the app works as it is supposed to.

Write one or more tests for the `DELETE /mentorship_relation/{request_id}/task`, to make sure the **backend returns an error response when a user tries to deletes a non-existing task**.

Make sure to add the test in the appropriate [tes

[2019-11-28 00:22] isabelcosta opened #229 "Mention in the README in which URL the backend will be exposed once you run it"
## Description
As a contributor,
I need the README to explain what link can I use to see the project running,
so that I can test the backend api locally.

The README, may be missing the link where the
Right now, the default URL (ip and port) is setup to http://localhost:5000 as it says on the console log when you run the app.

So the idea is to add an extra step between step 5 and 6 of "Run app" s

[2019-11-28 13:25] PaulaPaul opened #230 "Include links/instructions for local development in README"
## Description
As a Developer,
I need to work with and test the mentorship-backend on my local machine,
so that I can better understand the application and do exploratory testing.

## Acceptance Criteria
- A new developer should be able to clone, build and run the mentorship-backend using only content and links in the README, including:
-- Testing APIs using the Postman collection and/or Swagger (

[2019-11-28 16:37] isabelcosta opened #231 "Fix typo in deploy.sh script"
## Description

As a developer of the backend,
I need to avoid misspelling,
so that I can make sure everyone has a good experience reading the code.

This issue is about fixing a small typo on the deploy.sh file, on line 11, on the "publishing" word.

_this issue is intended for the Google Code-in participants, it can be released after the program ends on January 23rd_

## Acceptance Criteria
###

[2019-11-28 17:15] isabelcosta opened #232 "Show if user is currently on a relation on the GET /users API for each user"
## Description

As a developer consuming the backend api,
I need to know if the user is already occupied (in a current relation),
so that I can provide a better experience on the backend, showing the user is not currently available.

The idea is to return for each user entry from GET /users API response, a new value indicating if the user is available for new mentorship relations. For example, if

[2019-11-28 17:31] isabelcosta commented on #230
@PaulaPaul I really like this issue! thank you for reporting this 🎉

I just have a couple of comments:
- why not split this into multiple issues, one per section of the README: 1 for the "test with swagger and Postman" section, another 1 for "querying the local database" section, another 1 for improving the "Setup and Run" section
- to avoid having a really really long README, for example the sect

[2019-11-29 10:09] #220 closed, assigned to nobody

[2019-11-29 10:11] sara-02 commented on #223
@isabelcosta There is a GCI task associated with this, maybe we can tag it as GCI

[2019-11-29 10:12] sara-02 commented on #224
Hey @Anjalizi the localhost link you shared will not available to others.

[2019-11-29 10:15] sara-02 commented on #212
Hey, @gowriprathap shouldn't `pip install -r requirements.txt` be already doing that, there should not be any need to install them after running the `requirements.txt`

[2019-11-30 15:04] ashar-7 opened #233 "Sign in attempt blocked by Google while using Gmail to send verification emails"
**Describe the bug**
Google doesn't allow sign from the app for sending verification emails due to "less secure sign-in technology".

**Solution**
Turning on [less secure apps access](https://myaccount.google.com/lesssecureapps) solves this issue. This problem may occur while using other email providers too. So it would be great to have some documentation to help new users.

**To Reproduce**
Steps

[2019-11-30 19:50] namrata-jha opened #234 "Fix lint errors."
## Description
Maintainers need to remove lint errors in code to improve code structure and application performance.

## Acceptance Criteria
One category of lint error has to be removed.

## Definition of Done
- [ ] At least one lint error category is removed.
- [ ] Approval by 1 mentor.

[2019-11-30 21:12] isabelcosta commented on #224
@sara-02 I understand that what @Anjalizi means by localhost link, is for when someone is running the app locally. Maybe @Anjalizi could mention in the description. I will edit the description to make it clear :)

[2019-11-30 21:17] isabelcosta commented on #224
@Anjalizi thank you for reporting this potential bug 🎉

Can you be more clear about how did you submit the POST /register service? Did you just `curl` or when to the browser with  http://localhost:5000/register? Did you send a specific request, any post data? Can you provide more information about it on the issue description please?

[2019-11-30 22:20] isabelcosta commented on #223
Sounds good @sara-02 and @xprilion ! I will label this as "Program: GCI".

[2019-12-02 06:37] sara-02 commented on #234
@namrata-jha Can you please run the code against a standard Python Linter and repo the set of errors in a gist.

[2019-12-02 06:42] sara-02 commented on #234
Possible duplicate of https://github.com/systers/mentorship-backend/issues/178

[2019-12-02 06:44] sara-02 commented on #223
Reference PR: https://github.com/systers/mentorship-backend/pull/203

[2019-12-02 06:54] sara-02 commented on #199
@CleverFool77 Which version of Python3 are you using?  For Python 3.6+ this should be fixed.

[2019-12-02 07:01] sara-02 commented on #199
@isabelcosta @CleverFool77 I just tested this with `Python3.5` and can confirm the errors reported above.
Steps to reproduce(if you have Python3.5 or any lower version of Python3)
[code]
[code]

Maybe we should add it in the README.md to use 3.6+

Ref: https://docs.python.org/3/whatsnew/3.6.html#json

[2019-12-02 08:40] sara-02 commented on #233
Just adding a note, this option to turn on the `less secure apps` is not available if you have enabled 2-step verification on Google. So one will have to disbale that first and then enbale the `less secure app` feature.

Quick update: Had to generate and add app password as a workaround.

[2019-12-02 19:32] bartekpacia opened #235 "Improve Environment Variables guide"
**Is your feature request related to a problem? Please describe.**
I just think it'd be helpful for all of us to have a full description on how to setup dev environment for this project.

**Describe the solution you'd like**
I'd like to see something like this (below) included in [the guide](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/environment-variables.md) at `/docs/envi

[2019-12-02 19:43] sara-02 commented on #235
@bartekpacia I would suggest using pointing to the https://myaccount.google.com/lesssecureapps link instead. And adding a point that similar features will be available for respective email services as well.

[2019-12-02 19:44] bartekpacia commented on #235
Yeah, official docs would be better, indeed.

[2019-12-02 20:00] sara-02 commented on #233
Should get fixed by documenting a temporary email via this issue: https://github.com/systers/mentorship-backend/issues/233

[2019-12-03 15:12] namrata-jha commented on #234
I intended to make this a task in mentorship-android for GCI, my bad. Will delete it.

[2019-12-03 15:12] #234 closed, assigned to nobody

[2019-12-03 19:23] sara-02 opened #248 "Fix Missing Punctuations in Messages.py"
**Describe the bug**
The `messages.py` has a few inconsistent punctuations with either missing periods in some places and misplaced periods in others.  We want to bring some consistency in the messages we report to the user, by fixing these.

**Lines with missing period**

1. https://github.com/systers/mentorship-backend/blob/develop/app/messages.py#L4
2. https://github.com/systers/mentorship-back

[2019-12-03 19:33] sara-02 opened #249 "[Typos][Set2]Fix Minor typos in models/user.py"
**Describe the bug**
The `models/user.py` has 2 typos that need fixing.
* https://github.com/systers/mentorship-backend/blob/develop/app/database/models/user.py#L60 `extra `"` in the docstring should be 3, not 4
* https://github.com/systers/mentorship-backend/blob/develop/app/database/models/user.py#L112 `should be `user name is` not` id`

**Expected result**
All the above typos to be fixed in the

[2019-12-03 19:44] sara-02 opened #250 "Fix typos in messages.py"
**Describe the bug**
The `messages.py` has a few typos/misplaced words.  We want to bring some consistency in the messages we report to the user, by fixing these.

**Add space**
* Add a space after `profile` https://github.com/systers/mentorship-backend/blob/develop/app/messages.py#L77 similar to how it is for other multi-line messages.

**Put the word username first**
The message should be `Usern

[2019-12-05 08:37] Anjalizi commented on #224
I'm unable to reproduce the error now when I have setup the repository again locally. If you say, I can close the issue for now.

[2019-12-05 09:50] sara-02 commented on #224
@Anjalizi sure, you can close this issue for the time being, if the issue surfaces again, just reopen the issue, share the error log/screenshot and tag us :)

[2019-12-05 10:14] Anjalizi opened #252 "Password Confirmation functionality for Registration"
Whenever a user registers on the mentorship portal, he/she should enter the desired password and confirm the same before registering.

**Describe the solution you'd like**
Two password input fields should be present: password and confirm_password on POST/register API on the mentorship-backend

[2019-12-05 10:15] #224 closed, assigned to nobody

[2019-12-07 17:48] bartekpacia opened #256 "Update endpoint for task checking to be a simple update method"
**Is your feature request related to a problem? Please describe.**
My feature is related to the unability to "uncheck/unmark" task that was once marked as completed.

**Describe the solution you'd like**
I'd like an endpoint like `/mentorship_relation/{request_id}/task/{task_id}/uncomplete` to be added. I'm also willing to work on it.

**Describe alternatives you've considered**
Alternative soluti

[2019-12-07 18:36] bartekpacia commented on #232
I'd like to work on this thing. Is it going to be made into a task or can I start now?

[2019-12-08 16:34] bartekpacia opened #261 "Remove pycodestyle warnings from app/api"
**Describe the bug**
The codebase doesn't conform to the rules of [pycodestyle](http://pycodestyle.pycqa.org/en/latest)

**To Reproduce**
Steps to reproduce the behavior:
1. Open command line in project's root directory
2. Run `pycodestyle app/api`
3. See lots of code style warnings being reported

**Expected behavior**
Output of `pycodestyle app/api` should return no output.

[2019-12-08 16:38] bartekpacia opened #262 "Remove pycodestyle warnings in app/database"
**Describe the bug**
The codebase doesn't follow code style recommended by [pycodestyle](http://pycodestyle.pycqa.org/en/latest)

**To Reproduce**
Steps to reproduce the behavior:
1. Open terminal in project's root directory
2. Run `pycodestyle app/database`
3. See lots of code style warnings being reported

**Expected behavior**
Output of `pycodestyle app/database` should return no output.

[2019-12-09 23:32] isabelcosta commented on #256
@bartekpacia thank you for reporting this issue 🎉
I have a doubt, do you think the api should be:
[code]
instead of:
[code]
that receives a request body as:
[code]

What do you think?

[2019-12-09 23:48] bartekpacia commented on #256
I'll try to make a quick overview so it'll be easier to see the "big picture".
Currently we have following endpoints for dealing with specific task in a relation ([source](http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com)):

`POST /mentorship_relation/{request_id}/task`
`DELETE /mentorship_relation/{request_id}/task/{task_id}`
`PUT /mentorship_relation/{request_id}/task/{task_id}/co

[2019-12-10 22:02] isabelcosta opened #264 "Send email to requested user when receives a new mentorship request"
## Description
As a user,
I need to receive notification when I receive a new mentorship request,
so that I be aware of new requests.

**Hypothesis:** Having User 1 requesting a mentorship relation with User 2.

Trigger on the backend an email to be sent to the User 2 when User 1 sends a mentorship request.
You should decide on the email template, having in consideration the email template structu

[2019-12-10 22:10] isabelcosta opened #265 "Send email to user, when a mentorship relation is accepted (starts)"
## Description

As a user,
I need to receive notification when another user accepts my request,
so that I'm aware that a new mentorship relation has started.

**Hypothesis:** Having User 1 accepting a mentorship relation with User 2 (that previously sent the request).

Trigger on the backend an email to be sent to the User 2, when User 1 accepts a mentorship relation with User 2.
You should decide

[2019-12-10 23:05] isabelcosta commented on #252
Interesting @Anjalizi 🤔Thank you for creating this issue to start a discussion on this :)

My concern here is that this was implemented like this by design. When we were discussing this during the Google Summer of Code program, we (me and the mentors) decided that this verification should be done on the frontend app (whether is mobile or web)
So:
- in the Android application we have the this imple

[2019-12-10 23:17] isabelcosta commented on #234
@namrata-jha you can still create this task on the GCI board :)

[2019-12-11 06:32] Anjalizi commented on #252
You are right @isabelcosta. Putting the confirmation logic on the backend only puts unnecessary load on the server when the same can easily be done on the frontend.

[2019-12-11 22:30] isabelcosta commented on #252
@Anjalizi I'm glad you understood out point :D and also because you brought this up through an issue, now this is publicly documented 🎉

[2019-12-11 22:32] isabelcosta commented on #252
I will close this issue, since we're both agree that this would not be necessary :)

[2019-12-11 23:03] isabelcosta opened #266 "Create a Dockerfile"
## Description

As a developer,
I need a Dockerfile,
so that I can containerise the application and deploy it without having to setup the whole local environment.

The idea is to create a Dockerfile using a python image, probably.
Avoid doing unnecessary setup within the docker image.
Once this works, provide clear instructions on the README file of how to use [Docker](https://www.docker.com/) to

[2019-12-12 03:46] daksha-aeer commented on #223
Working on it!

[2019-12-12 10:41] sara-02 commented on #223
Just copy pasting my comments from the PR https://github.com/systers/mentorship-backend/pull/267/ for future work on this script, which requires some discussion
For future I am just adding a comment, how can we further improve the installation process if some parts of the script fail. Like if even one of the env fails, the script exits. But I cannot run the script again without first deleting the

[2019-12-12 17:20] isabelcosta commented on #252
this is being used for GCI, so I will re open this for the duration of the program

[2019-12-12 18:10] xprilion commented on #223
@sara-02 my way of proving a good installation was to run the tests at the end of the installation procedure. It is possible to check the exit status of commands in bash, and display errors accordingly.

[2019-12-12 18:18] sara-02 commented on #223
Yes. I just added the comments to that anyone working on it now or in the future knows the gaps that need to be filled.

[2019-12-14 00:57] isabelcosta opened #275 "Setup an initial database for local development"
**Is your feature request related to a problem?**

This feature is to ease a developer's life when running the app for simple testing, or to test a specific feature.

I want to have a way to setup an initial database, when I run the project. If I run the project I don't want to have always to setup the entire dataset, I want the option to use an existing database.

Example: I want to clone run the

[2019-12-14 17:21] rudrakshjhalanii07 opened #277 "Listing of tasks from mentors to mentees."
![20191214_224626](https://user-images.githubusercontent.com/58501114/70852159-2a47e700-1ec4-11ea-9a3c-af069b9c40c6.gif)
**Describe the bug**
When a mentor assigns a new task to a mentee, the task doesn't show up under the Task's tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Relation->Tasks tab'
2. Click on '+' button
3. Add a new task
4. See error

**Expected behavior**
The ta

[2019-12-14 17:22] #277 closed, assigned to nobody

[2019-12-15 02:00] bartekpacia opened #278 "Require mentor's approval for task completion"
**Is your feature request related to a problem? Please describe.**
This was first raised by [asawesome07](https://github.com/asawesome07) in [this PR](https://github.com/systers/mentorship-android/issues/335).
What he suggests is adding a new feature: in a specific mentorship relatio, the user can't mark the task as completed himself - he needs the mettor's approval.

**Describe the solution you'd

[2019-12-15 09:43] bartekpacia opened #279 "Allow pagination of /users endpoint"
**Is your feature request related to a problem? Please describe.**
Currently, the only way to get a list of users is to `GET /users`. There's one problem with this approach: as there will be more and more users, the size of the data returned will proportionally grow.
As of now it isn't a problem, but imagine what happens when we have 5000 users?

**Describe the solution you'd like**
I'd like to ha

[2019-12-15 14:28] bartekpacia commented on #275
Hi @isabelcosta, what do you think of using [Flask-Script](https://flask-script.readthedocs.io/en/latest/)? It looks like a right tool for this job 🛠.

Along with script populating database, I will try to implement what you asked for in #78

[2019-12-15 14:36] isabelcosta commented on #279
That is a great idea that I have not thought of before :) thank you for creating this feature request @bartekpacia  🎉Even fi you don't have a solution proposed, its great that you proposed a new idea for the future development of the app! 🙌

This is something that could be totally thought of and for other apis as well. This also, reminds me of having a search feature (no issue created for that as

[2019-12-15 14:41] isabelcosta commented on #278
Good idea @bartekpacia  🎉 I think that has crossed my mind during the GSoC program, but for the sake of having a minimum functional product, I think we decided to simplify there. This is a great idea to think now :)

There could be something added to the task model. Here's what is exposed by the API:
[code]
To facilitate brainstorming this issue

[2019-12-15 14:45] isabelcosta commented on #275
@bartekpacia seems good :) I'm open to ideas 👐

[2019-12-15 16:25] bartekpacia commented on #275
Okay, I'm working on the early implementation :)

[2019-12-15 17:23] bartekpacia commented on #278
Great, I'll try to look into in when I finish implementing CLI :)

[2019-12-15 17:28] bartekpacia commented on #279
Thanks for response. The task seems quite hard, I think it requires kind of in-depth knowledge of the inner workings of the whole system. Anyway, I'll poke around with it in the future

BTW it looks like this a few issues can be made of this one (one issue for every "module" of the app e.g `users`, `tasks`).

[2019-12-15 17:45] bartekpacia opened #281 "Use python_dotenv to load environment variables"
This is a small feature suggestion, one of those that require minimal effort but greatly increase out productivity and happinees :)

### Currently
In `requirements.txt` we already have `python-dotenv` listed, but...we're not using it. Environmental variables have to be exported manually from `.env` file.

### What I suggest?
Adding a few lines of code (look #282) and make life easier

Together wit

[2019-12-16 08:40] daksha-aeer opened #284 "Dependabot integration"
**Is your feature request related to a problem? Please describe.**
The backend python project uses **requirements.txt** file to install dependencies in virtual environment. Currently the dependency versions are set as fixed in the file using == sign
[code]
The issue is that the dependencies may become outdated with time. We may also miss out on new features and security updates as well.

**Describ

[2019-12-16 09:01] mtreacy002 commented on #199
@isabelcosta, is this still an issue to anyone? I tried running the test just now (on python3.7) and it works just fine.

<img width="878" alt="Screen Shot 2019-12-16 at 7 56 04 pm" src="https://user-images.githubusercontent.com/29667122/70892988-4a9bb100-203e-11ea-93d3-112d85b3fe88.png">

btw, I'm using virtualenvwrapper. Maybe just as @Sara-02 says, it needs python 3.6+

[2019-12-16 10:30] daksha-aeer opened #285 "Simple webapp to generate .env file"
**Is your feature request related to a problem? Please describe.**
I was working on the task to write a shell/bat script for setting up mentorship backend. While working on it I noticed several issues with this approach:
1. Separate scripts for windows and linux/Mac. This will be more difficult to maintain.
2. Cloning repository, accepting environment variables, installing pip dependencies, perfor

[2019-12-16 12:30] mtreacy002 opened #286 "fix: add missing variable message on line 177 mentorship-relation.py"
### Description

As a developer of the backend,
I need to avoid misspelling,
so that I can make sure everyone has a good experience reading the code.

This issue is about the missing "messages" on line 177 of mentorship-relation.py (before "CANT_ACCEPT_UNINVOLVED_MENTOR_RELATION")

### Acceptance Criteria

**Update [Required]**
- [x] Add "messages" to line 177

**Definition of Done**
- [x] All of

[2019-12-16 15:12] bartekpacia commented on #284
This would be really cool, I use PyCharm and 3/4 of all dependencies are outdated.

[2019-12-16 20:07] isabelcosta commented on #285
@daksha-aeer thats an interesting idea! Thank you for creating this issue.
So how long, or how complex would this be? What would you use to do this simple app?
I'm thinking if this issue effort matches the potential gain that a contributor could have.

I did some research and I think flask will load the environment variables on the first run, from `.env` file (assuming you create it with this [env

[2019-12-16 20:16] isabelcosta commented on #286
@mtreacy002 thank you for creating the issue and linking the Pull Request to the appropriate issue.
This is a great issue for you to start contributing to this repo :)

I just want to ask to follow one of our issue templates. Some maybe appropriate would be either [bug report](https://github.com/systers/mentorship-backend/blob/develop/.github/ISSUE_TEMPLATE/bug-report.md) or [user story](https://g

[2019-12-16 21:29] mtreacy002 commented on #286
Thanks, for the advice, @isabelcosta. I'll update it now.

[2019-12-16 23:29] isabelcosta commented on #286
@mtreacy002 great work! thank you for updating the issue :D I marked the approval by mentor ;)

[2019-12-16 23:42] isabelcosta opened #288 "Create .env.template file"
## Description
As a developer,
I need `.env.template` file,
so that I can minimize work while setting up the project environment variables.

The idea is to create a `.env.template` file to make developer's life easier while setting up the environment variables of the project, by having a template ready to use and place the variables.

## Acceptance Criteria
### Update [Required]
- [ ] Create `.env

[2019-12-17 03:38] mtreacy002 commented on #161
@isabelcosta, is this issue still available? Can I work on it?

[2019-12-17 08:54] bartekpacia opened #290 "Deprecation warnings when running tests"
**Describe the bug**
When I type `python -m unittest discover tests`, I see following warnings being printed". Everything works fine, but well, this informs us that in the future, some problems may arise and we should update to newer versions of `sqlalchemy`.
[code]

**To Reproduce**
Steps to reproduce the behavior:
`$ python -m unittest discover tests`

**Expected behavior**
No warnings should be

[2019-12-17 12:14] daksha-aeer commented on #285
This is in relation to issue #223 . I can create a basic html + javascript + css page. It won't take much time. I think more features like systers logo, beautification could be added incrementally. Or should I do some research about frontend frameworks?

[2019-12-17 12:20] daksha-aeer commented on #290
I've noticed this warning as well. As an interim measure we could update the dependencies and perform tests to ensure everything works. But I think for long term we should work on dependabot integration (issue #284 )

[2019-12-17 15:50] bartekpacia commented on #290
I agree @daksha-aeer.

If you integrate dependabot, that'd be a great benefit for everyone - we could do more interesting things instead of worrying about dependencies versions.

As of now, I'll submit a quick PR to have a ready solution, let's hope there won't be much issues.

[2019-12-17 16:01] bartekpacia commented on #256
@isabelcosta Do you approve suggested changes? I'd like to do this

[2019-12-17 16:52] bartekpacia commented on #278
Aaaand...done:D

[2019-12-18 11:11] mtreacy002 commented on #288
Hi @isabelcosta, can I work on this one? Am I still allowed to take on "First Timers Only" issues or I should move on to non-first-timers now? :-D

[2019-12-18 11:22] isabelcosta commented on #288
@mtreacy002 You already contributed to a First timers only, and I'm actually going to merge it as soon as I can. So yes moving to a non first timers would be better. Also this can eventually be used to the contest we're going through now - GCI. Thank you for taking the label into consideration!
I can forward you to other ones:
- https://github.com/systers/mentorship-backend/issues/266 (creating a

[2019-12-18 16:44] bartekpacia commented on #279
Okay, I've been tinkering with it for a while and it turned out to be really simple! Flask and SQLAlchemy is an incredibly powerful combo🔥

[2019-12-18 20:01] mtreacy002 commented on #288
Cool... I'll look at the other issues then. Thanks again, @isabelcosta .

[2019-12-19 13:59] daksha-aeer opened #295 "Use GraphQL API for backend"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-19 14:01] daksha-aeer opened #296 "Use GraphQL API for backend"
**Is your feature request related to a problem? Please describe.**
Mentorship backend has currently over 25+ endpoints. I feel this will be more complex to maintain as the app grows. Many of the enpoints are also doing similar tasks
[code]

**Describe the solution you'd like**
While working on a task to research about REST APIs, I came to know about a new technology called GraphQL. Supposedly 1 Gr

[2019-12-19 14:01] #295 closed, assigned to nobody

[2019-12-19 22:19] bartekpacia opened #297 "Search and filtering for endpoints"
**Is your feature request related to a problem?**
I was making a write-up about best REST practices and something essential came to my mind. A functionality so common that it's surprising we don't have it - search.

**Describe the solution you'd like**
I'd like features listed above to be supported in all endpoints (if applicable). It could be done using [`BaseModel.filter()`](https://flask-sqlalc

[2019-12-20 19:12] PratibhaShrivastav commented on #288
Can I work on this ?

[2019-12-21 23:47] isabelcosta commented on #296
@daksha-aeer this is a great idea! I've heard about this GraphQL for some time, but I haven't still figured out how this is used. So thank you for creating this issue 🎉

[2019-12-22 20:36] isabelcosta opened #305 "Write 3 tests for Create a Task API"
## Description
As a developer for backend api,
I need cover most part of the logic of backend,
so that I can be confident that the app works as it is supposed to.

Write 3 tests that cover the following test cases for the POST /mentorship_relation/{request_id}/task API, within the tests/tasks/test_api_create_task.py file:
- User not involved in mentorship relation tries to create a task (FAIL)
- V

[2019-12-22 20:47] isabelcosta opened #306 "Write missing tests for Accept Mentorship Relation API"
## Description
As a developer for backend api,
I need cover most part of the logic of backend,
so that I can be confident that the app works as it is supposed to.

Write tests that cover the test cases from [this table](https://github.com/systers/mentorship-backend/wiki/Quality-Assurance#accept-relation) for the following API:
- `PUT /mentorship_relation/{request_id}/accept`

Also write the follow

[2019-12-22 20:50] isabelcosta opened #307 "Write missing tests for Cancel Mentorship Relation API"
## Description
As a developer for backend api,
I need cover most part of the logic of backend,
so that I can be confident that the app works as it is supposed to.

Write tests that cover the test cases from [this table](https://github.com/systers/mentorship-backend/wiki/Quality-Assurance#cancel-relation) for the following API:
- `PUT /mentorship_relation/{request_id}/cancel`

Also write the follow

[2019-12-22 20:57] isabelcosta opened #308 "Write missing tests for Change Password API"
## Description
As a developer for backend api,
I need cover most part of the logic of backend,
so that I can be confident that the app works as it is supposed to.

Write tests that cover the test cases from [this table](https://github.com/systers/mentorship-backend/wiki/Quality-Assurance#change-password) for the following API:
- `PUT /user/change_password`

Also write the following tests that are

[2019-12-24 00:09] ilyamaier opened #312 "Change PASSWORD_MAX_LENGTH"
**Is your feature request related to a problem? Please describe.**
As described in [this issue](https://github.com/systers/mentorship-android/issues/405) on the android repository, the password is sent to the backend not encrypted. And as we could use SHA 256 which is absolutely safe and pretty short, we still need to change the max length of the password to 64, if we're using SHA 256 or 128 if SH

[2019-12-25 07:25] Anjalizi opened #319 "Improve Change Password functionality"
**Describe the solution you'd like**
A successful password change is when the new password entered by the user is different from the existing password. Throw an error message saying "The password has not been changed. You can not use same password as current one." when the old password and new match each other.

**Additional context**
This task has been created for students participating in GCI'19

[2019-12-25 07:35] Anjalizi opened #320 "Create an API Endpoint to Count Pending Mentorship Relations"
**Describe the solution you'd like**
Create a new API Endpoint at GET/mentorship_relations/count_pending which counts the number of pending mentorship relations of the current user. Return a dictionary response with key "count" and value as the number of pending mentorship relations.

**Additional context**
This issue has been created for students participating in GCI'19.

[2019-12-26 16:39] xprilion opened #326 "Fetch GRAVATAR for User profile using email"
**Is your feature request related to a problem? Please describe.**
Currently, the users have an option to set a URL for their profile pictures. Another PR is underway for using AWS for the same, by uploading the images first. However, for a quicker option, it will be good to fetch the profile pictures from GRAVATAR.

Instead of fetching and saving the image, one just needs to grab the URL from GRA

[2019-12-26 17:55] prachi1210 commented on #296
GraphQL is mainly for consolidating multiple frontends with different payloads. I strongly feel that we shouldn't use technology for the sake of using it. My vote is a no.

[2019-12-26 20:36] bartekpacia commented on #326
I think these changes will require:
- adding new field `gravatar_url` to UserModel.
- updating API endpoints (`GET /user`, `PUT /user`, `GET /users`)
- updating related API docs

@xprilion Anything more?

[2019-12-26 21:21] isabelcosta opened #329 "Add query parameter to filter mentorship relations by current state"
## Description
As a user,
I need a filter feature on the mentorship relation listing endpoint,
so that I can browse and filter mentorship requests and relations.

Mentorship relations can be fetched through `GET /mentorship_relations` and these can have at least 5 states, described in this [wiki page](https://github.com/systers/mentorship-backend/wiki/Mentorship-Relation-Documentation) and have th

[2019-12-27 01:31] bartekpacia opened #331 "Type hints"
**Is your feature request related to a problem? Please describe.**
Since Python 3.5 there's a very nice facilitation, so to say, that's really underused and underestimated in my opinion. This feature is called *type hints* and they are described in [PEP 484](https://www.python.org/dev/peps/pep-0484/).

### What are type hints?
Type hints are small thingies that are appended after declaring variabl

[2019-12-27 08:56] bartekpacia opened #336 "Internationalization support"
**Is your feature request related to a problem?**
Currently mentorship-system supports only English – all messages sent by server are in English. We may think everyone knows it but it's actually *only* about 2 billion people ([source](https://en.wikipedia.org/wiki/English-speaking_world)).

If we want to be as inclusive as possible, we need to think about supporting more languages

**Describe the

[2019-12-27 10:21] xprilion commented on #326
No @bartekpacia, you do not need to add another field to the UserModel. Please use the `photo_url` field to store the GRAVATAR URL. You'll then not have to modify any of the endpoints, only the way they are handled.

[2019-12-27 10:29] bartekpacia commented on #326
@xprilion This makes sense. I'll fix it ASAP.

[2019-12-27 14:18] bartekpacia commented on #331
@isabelcosta What do you think about it? I'd like to work on it but need to make sure it's something we want :)

[2019-12-27 20:36] ilyamaier commented on #22
@isabelcosta @m-murad I've created an issue on the android repository. It would be better to check the password's security on the android app as we might use password encryption, therefore this issue could be closed. Have a good day! :)

[2019-12-27 21:29] bartekpacia opened #341 "Alternative signing options"
## Description
As a user,
I need to be able to sign in through Google,
so that I don't have to remember yet another password.

Google Cloud Platform seems like the go-to solution.

I also think [Firebase](https://firebase.google.com/docs/auth/admin) has APIs for accomplishing such task, but I'm not sure. I'll be googling this topic and will be grateful if you have any suggestions.

## Mocks
This P

[2019-12-28 19:15] isabelcosta commented on #296
Thank you so much @prachi1210 for voicing your opinion here in the issue!
I understand now this might be an over engineering situation.

Although I recognise that these APIs could be simplified:
[code]

Thats why I created issue #329, that can solve this particular situation mentioned above, and eventually deprecate those endpoints.

@daksha-aeer what do you think?

[2019-12-28 20:04] isabelcosta commented on #336
@bartekpacia This feature is very valid and I would love to put this into action. Thank you for reporting this issue!

Your solution sounds very reasonable :) I don't have any other solution thought of at this time 🤔 I would like to have other people's input here, will share this on Slack.

[2019-12-28 20:11] isabelcosta commented on #341
What is ETA @bartekpacia ?
Thank you for creating this issue!
This was indeed part of the future idea for the app, having third party authentication, I'm just not sure of how to go about this right now 🤔
This specific issue is related with Google Sign in option right? Can you update the issue title to reflect that please?

[2019-12-28 20:14] bartekpacia commented on #341
@isabelcosta  Estimated Time Arrival (it's a military term). I accidentaly removed this section and forgot how it was named😂.

And yes, as of now I mean only Google. In the future, when we will have some fundaments set up and more experience, we can add other auth providers like Facebook, Twitter, LinkedIn or GitHub. Or Apple - it's highly recommended by Apple to provide their sign-in method on iO

[2019-12-28 20:19] isabelcosta commented on #331
@bartekpacia thank you for creating this issue which such great detail!

I think there were previous conversations about this, but I don't remember where and when this discussions occurred. I like this idea, because I like these things to be explicit, i think it makes debugging and understanding the code easier.

I think one of the concerns pointed out in the past, wast about having community stan

[2019-12-28 20:28] bartekpacia commented on #331
Thanks for response @isabelcosta. I also like explicitness, (and python too - it's even stated in The Zen Of Python :)).
By approving I understand that I can submit a PR, right? They have no runtime effect, so there won't be any breaking changes.

[2019-12-28 21:04] isabelcosta opened #343 "Fix wrong HTTP status code for GET /users/<id> API"
## Description
As a frontend developer,
I need to get correct status code,
so that I can code the frontend accordingly.

The `GET /users/<user_id>` API has wrong HTTP Status code being returned when the request is successful. The correct code should be 200 instead of 201, since no new resource is created.

## Acceptance Criteria
### Update [Required]
- [ ] Fix wrong HTTP status code
- [ ] Update t

[2019-12-28 21:08] isabelcosta opened #344 "Improve Admin API doc string to improve Swagger documentation"
## Description
As a developer that uses the Swagger UI,
I need good API documentation on Swagger,
so that I can understand how to properly use the backend API.

The Admin API resources don't have enough doc strings to reflect their usage or purpose on Swagger UI. By adding doc strings under the respective REST methods, you'll be updating the Swagger UI at the same time. E.g.: POST /login has a ful

[2019-12-28 21:11] isabelcosta opened #345 "Add potential error responses to Swagger UI"
## Description
As a developer that uses the Swagger UI,
I need to know the potential error responses from the backend,
so that I can understand how to properly use the API.

Swagger user interface, the one accessible locally through localhost:5000, does not have all the error responses properly documented. You can see the 200 HTTP code, documented as a successful message, but some APIs may return

[2019-12-28 21:17] isabelcosta opened #346 "Improve email verification html style"
## Description

This task was suggested by @annabauza

This is a creative task to make verification e-mail more elegant. Please use your creativity and aesthetics skills. Be original!

The file you should update is `/templates/email_confirmation.html`

Suggestions:
* Add some styling to make it feel more colourful
* Use some icons with links to social media with more elegant footer
* Change text o

[2019-12-29 14:01] meenakshi-dhanani commented on #142
Is this still open and assignable?

[2019-12-30 06:00] daksha-aeer commented on #296
@isabelcosta consolidating some of the endpoints is cool

[2019-12-30 06:23] daksha-aeer opened #359 "Add /logout endpoint"
**Is your feature request related to a problem? Please describe.**
Mentorship system uses JWT tokens for authentication. Tokens have an expiry period of 1 week after which new token is needed. This is done either by login or refresh. However I found out that the backend has no /logout endpoint. When a user logs out in the front end, the app just lets go of the token and user data. One can generate

[2019-12-30 06:23] meenakshi-dhanani commented on #229
Hi @isabelcosta ,
Could you please assign me to this issue?

[2019-12-30 13:04] isabelcosta commented on #229
Done :) I managed to assign the issue to you, but if I couldn't you could work on this anyway ;)
You can submit a pull request for it @meenakshi-dhanani

[2020-01-04 09:59] daksha-aeer opened #375 "Duplicate fields action_user_id and sent_by_me in GET /mentorship_relations/* responses"
**Is your feature request related to a problem? Please describe.**
Using both fields **action_user_id** and **sent_by_me** is unnecessary. One of them could be removed.
[code]

**Describe the solution you'd like**
Current user's ID can be found based on the token. If it is same as action_user_id then **sent_by_me** is true, otherwise false.

**Describe alternatives you've considered**
Alternately

[2020-01-04 10:33] daksha-aeer opened #376 "Duplicate fields is_done and completed_at in GET /tasks"
**Is your feature request related to a problem? Please describe.**
Use of both fields is unnecessary. **is_done** field can be removed.

**Describe the solution you'd like**
If **completed_at** has *null" value then it automatically implies that is_done is false. If **completed_at** contains a timestamp then task is complete.

[code]
**Describe alternatives you've considered**
Keep the API as it i

[2020-01-04 15:28] bartekpacia commented on #376
I'll just add that there's more redundancy in `users` table, e.g `is_email_verified` and `email_verification_date`, you may want to create separate issues for those

[2020-01-06 00:11] bartekpacia opened #383 "Internal Server Error when sending relationship request"
**Describe the bug**
I encountered a strange and possibly unintended behavior while developing Mentorship Client. I accidentaly multiplied timestamp by 1000 (I actually wanted to divide it by 1000).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://systers-mentorship-dev.eu-central-1.elasticbeanstalk.com/
2. Open Mentorship Relation tab
3. Expand first endpoint – `POST /mentorship

[2020-01-08 23:35] isabelcosta commented on #383
Very good issue description! The steps to reproduce are very clear 👏
Thank you for reporting this bug @bartekpacia !

[2020-01-09 07:52] alexanderwlee commented on #248
Hi! I'm just starting out with contributing to open source, and I would love to work on this!

[2020-01-09 09:48] mdterrenal commented on #249
Hi! Is this issue available? I would love to work on it if it hasn't been resolved already!

[2020-01-10 20:12] sara-02 commented on #248
Hello, @alexlee311 welcome to Systers and welcome to open source. As you can see the task is currently labelled `Program: GCI` which means it can be used during the contest by the participants. If you are participating in GCI feel free to work on it. Else you will have to wait until 21st Jan to work on this task. I suggest you can pick some tasks not labelled GCI for the time being.

[2020-01-10 20:32] sara-02 commented on #249
Hello, @mdterrenal as you can see the task is currently labelled Program: GCI which means it can be used during the contest by the participants. If you are participating in GCI feel free to work on it. Else you will have to wait until 21st Jan to work on this task. I suggest you can pick some tasks not labelled GCI for the time being.

[2020-01-11 00:06] isabelcosta opened #389 "Add query parameter to search users by user display name to GET /users API"
Proposed by @annabauza during GCI contest

## Description
As a user of mentorship system,
I need to be able to search users by name,
so that I can look for someone I'm interested in having a mentorship relation with.

GET /users API needs a way to search users by user display name. This should be done by adding `search=`parameter to url. Value of this parameter should be decode from url encoding.

[2020-01-11 01:58] mdterrenal commented on #249
My apologies @sara-02 , I didn't realize that that was what the label was used for. This is my first time contributing to open source so I got a bit too excited. I'll be sure to look at another task to work on for now. Thank you!

[2020-01-11 03:16] mdterrenal commented on #262
Hi! Has this issue been resolved? I'm new to contributing to open source and I would love to work on this as my first issue if it hasn't been resolved yet!

[2020-01-11 14:04] bartekpacia commented on #262
@mdterrenal Hi. According to my knowledge, it wasn't.

BTW Are you participating in [Google Code-in](https://codein.withgoogle.com) or *just want to contribute*?

[2020-01-12 09:37] alexanderwlee commented on #248
Thanks for the reply @sara-02! Sorry about the confusion. I will find another task!

[2020-01-12 10:41] alexanderwlee commented on #149
Hi, is this still open? I would love to work on this :)

[2020-01-12 17:15] isabelcosta commented on #149
@alexlee311 yes it is, although this is an Epic, we tend to create issues specific to a file that needs doc strings. Right now, I'm focused on reviewing work from Google Code-in participants, so I might not review your work right away but feel free to see what classes/files that need doc strings and contribute to them :)

[2020-01-12 17:17] isabelcosta commented on #248
@alexlee311 i would also encourage, if you see anything that can be improved in the app, even if a small change let us know by creating an issue or even creating PR if the change is really small

[2020-01-12 22:46] mdterrenal commented on #262
@bartekpacia Awesome, I'll start working on this issue then.

I'm not participating in Google Code-in, but I am interested in working with the organization for Google Summer of Code this upcoming summer. Regardless, I'd like to contribute to gain more experience in working with open source.

[2020-01-12 23:02] bartekpacia commented on #262
Sure, good luck:)
If you have some problems/questions, you may want to visit [Systers Slack](http://systers.io/slack-systers-opensource/) as it is where all project maintainers are.

[2020-01-13 12:55] alexanderwlee commented on #149
okay, thanks for the clarification! :) @isabelcosta

[2020-01-13 12:56] alexanderwlee commented on #248
sounds good, thanks! @isabelcosta

[2020-01-14 17:33] rudrakshjhalanii07 opened #393 "Recent achievements retrieving the first three achievements."
**Describe the bug**
The achievements retrieved from `/home` endpoint retrieves the first three achievements of a user. Instead it should retrieve the lastest three achievements of the user, i.e the recent ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/home'
2. Enter the auth token and execute the call.
3. Scroll down to 'achievement section'
4. See error

**Expected behavior*

[2020-01-14 22:31] bartekpacia opened #395 "Return user's creation time from GET /users endpoints"
**Is your feature request related to a problem? Please describe.**
I think that the API should include the user's creation date. The List of users returned now is already sorted by creation date in descending order, so why not include that information with the response?

**Describe the solution you'd like**
I'd like every `User` JSON objects returned from `GET /users` and `GET /users/verified` to

[2020-01-18 17:26] daksha-aeer opened #400 "Replace virtualenv with pipenv package manager"
**Is your feature request related to a problem? Please describe.**
The mentorship backend currently uses the **virtualenv** package manager. It track of installed packages with **requirements.txt** file. However a better option is available in form of **pipenv**.

**Describe the solution you'd like**
pipenv advantages
1. Instead of having to save dependency names using ```pip freeze > requirements

[2020-01-18 17:42] daksha-aeer opened #401 "Implement Algolia for search functionality"
**Is your feature request related to a problem? Please describe.**
In a previous task I added search functionality to GET /users endpoint. This was done using Python ```whoosh``` library. However there are more powerful search tools available which should be implemented in the near future. For example, searching will be required for usernames, tasks and comments.

**Describe the solution you'd lik

[2020-01-18 17:57] daksha-aeer opened #402 "Change database design for tasks_list table"
**Is your feature request related to a problem? Please describe.**
While working on a task to create API endpoints for commenting, I had difficulty working with the tasks_list table. Unlike users or mentorship relations, task_list data is stored in JSON and not linear format. However this has some disadvantages.
1. No unique ID to identify a task. Every task for a mentorship relation begins with I

[2020-01-18 22:36] isabelcosta opened #403 "Add query parameter to filter users by verification state to GET /users API"
## Description
As a developer,
I need a filter feature on the Users listing endpoint,
so that I can reuse `GET /users` API to filter users who have the email verified.

`GET /users` API needs a way to filter users by email verification state (which is represented by a boolean value). This will allow us deprecating the extra `GET /users/verified` API.

## Acceptance Criteria
### Update [Required]
-

[2020-01-18 22:43] isabelcosta opened #404 "Create doc strings for Mentorship Relation API to improve Swagger documentation"
## Description

As a developer that uses the Swagger UI,
I need good API documentation on Swagger,
so that I can understand how to properly use the backend API.

The Mentorship Relation API resources don't have enough doc strings to reflect their usage or purpose on Swagger UI. By adding doc strings under the respective REST methods, you'll be updating the Swagger UI at the same time. E.g.: POST /

[2020-01-21 17:42] daksha-aeer opened #411 "Admin cannot revoke own admin status (not the sole admin)"
**Describe the bug**
According to the test case page on Mentorship backend wiki, a user can revoke her own admin status when she's not the sole admin. However this is not supported by the backend.

**To Reproduce**
1. Run mentorship backend locally and assign two users as admin.
2. Make an admin user call POST /admin/remove to revoke her own admin status.
3. See error

**Expected behavior**
Either

[2020-01-21 17:47] isabelcosta commented on #411
Very good catch 👏👏👏  @daksha-aeer
Thank you so much for reporting this bug!

[2020-01-21 21:38] chahat99 commented on #22
@isabelcosta I have made a pull request regarding this issue.Can you please review it?

[2020-01-22 11:04] rudrakshjhalanii07 opened #413 "Voice/Video call between members in a relation"
**Is your feature request related to a problem? Please describe.**
What I felt is improving one's career could be a cumbersome task if the only media to communicate is through chats. It would be a great option if the members in a current relation could communicate with each other over voice/video calls

**Describe the solution you'd like**
A voice and video call feature available for both the memb

[2020-01-23 19:35] chahat99 commented on #170
Can I work on this issue?

[2020-01-24 10:42] bartekpacia commented on #413
This is a good idea, but I feel that first, we should make text communication working and then think about something more advanced. What do you think?

[2020-01-25 13:31] isabelcosta commented on #170
Hey @chahat99 I would say yes, you can. Feel free to design your solution how you would like ;)

[2020-01-25 16:16] rudrakshjhalanii07 commented on #413
Well of course @bartekpacia , infact this feature would be incorporated in the chat page only, without that it would be just a mess😅

[2020-01-25 16:17] bartekpacia commented on #413
Yeah, that's right :D

[2020-01-26 20:17] annabauza opened #415 "Create user dashboard endpoint"
# Description
Create endpoint which gathers all information at ones: pending requests for any relation send invitations for any relations and tasks.

# Acceptance Criteria
Create new endpoint which returns object containing:
- list of received invitation as a mentee (separate list for each state: PENDING, ACCEPTED,  REJECTED, CANCELLED, COMPLETED)
- list of send invitation as a mentee (separate li

[2020-01-30 21:41] annabauza opened #418 "optimise code for repeated code in `app/api/dao/user.py` `get_user_dashboard`"
## Description
As a developer,
I need optimise code in method `get_user_dashboard` of `app/api/dao/user.py`
so that I can avoid code repetition.

## Acceptance Criteria
### Update [Required]
- [ ] not repeatable code

## Definition of Done
- [ ] All of the required items are completed.
- [ ] All test passing.
- [x] Approval by 1 mentor.

[2020-01-31 19:40] isabelcosta opened #419 "Create new GET /admins endpoint accessible to admins only"
## Description

As a admin of the app,
I need to have a List Admins endpoint,
so that I can get the list of fellow admins.

Admins should have quick access to other admins. E.g.: in case they wish to remove an admin.

Create a new endpoint `GET /admins`, only accessible to Admin users, that lists all users who are admin (excluding the user accessing the API). This should appear under the Admins na

[2020-01-31 19:51] isabelcosta opened #420 "Add query parameter to sort users for GET /users and GET /users/verified APIs"
## Description

As a user of the app,
I need to have ordering capabilities,
so that I can order the users by certain attributes.

APIs used to fetch Users, don't have an option to be sorted by a certain attribute. We want to be able to filter users by name (alphabetically order) and creation date. Both should have ascending and descending order option. The idea is having a "order" parameter.

Exam

[2020-01-31 21:24] isabelcosta opened #424 "Add to List Users API the ability to filter users who need or want to provide mentoring"
## Description
As a member of the app,
I need be able to filter other members for their availability,
so that I can choose the member I want to create a mentorship relation with.

APIs used to fetch Users, don't have an option to filter users by `need_mentoring` and `available_to_mentor` attributes.

## Acceptance Criteria
### Update [Required]
- [ ] Add a query parameter support to `GET /users` a

[2020-02-01 18:19] annabauza opened #425 "comment a task"
# Description:

**Is your feature request related to a problem? Please describe.**
As a User I can not comment task which makes completing task harder.

**Describe the solution you'd like**
As a User I would like to comment a task so I could ask/answer related to task questions.

**Describe alternatives you've considered**
Alternative is using chat.

**Additional context**
We need to refactor curr

[2020-02-06 07:11] arpitjadiya commented on #395
I am a first timer .Can I take up this issue?

[2020-02-06 10:27] isabelcosta commented on #395
@arpitjadiya go ahead :)

[2020-02-06 17:15] theOpetunde commented on #395
@arpitjadiya have you issued a PR yet for this issue? I'd also like to take on a "first-timers-only" issue.

[2020-02-07 18:13] arpitjadiya commented on #395
@theOpetunde I haven't issued PR till now

[2020-02-07 18:45] arpitjadiya commented on #395
@bartekpacia can you please tell how creation time is different from registration_time  ?

[2020-02-07 19:04] isabelcosta commented on #395
@arpitjadiya its the same value :) you can assume that

[2020-02-07 19:06] isabelcosta commented on #395
@theOpetunde there is more first timers only issue :) what do you think of #419 ? We can help you with any doubt you might have :)

[2020-02-07 21:55] isabelcosta opened #428 "Change any reference from systers organization to anitab-org on README links"
## Description

Change any reference from `systers` to `anitab-org` on README links.
Places you might find this: TravisCI and commit style guide link

Please follow out [Commit Message Style Guide](https://github.com/anitab-org/mentorship-backend/wiki/Commit-Message-Style-Guide)

## Acceptance Criteria
### Update [Required]
- [ ] Change references from `systers` to `anitab-org`

## Definition of D

[2020-02-09 07:42] sumit-badsara opened #429 "Optimise current backend code with lambda expressions"
## Description
Refractor current backend code and see where we can **optimise it using lambda expressions**.
For example replace this:
[code]
with something like this:
[code]

## Acceptance Criteria
### Update [Required]
- [ ] All test cases pass after the changes
- [ ] Optimisation does not change current implementation

## Definition of Done
- [ ] All of the required items are completed.
- [ ] A

[2020-02-10 18:21] isabelcosta opened #430 "Update CONTRIBUTING.md adding project specific guidelines"
## Description
As an open source contributor,
I need updated CONTRIBUTING.md,
so that I can know what is the desired procedure when contributing to the repository.

What to update?
- Communication channel (mention Zulip website and proper channels)
- Follow Commit Message Style Guidelines
- Have an issue matching the problem the PR is fixing (preferable)
- When submitting a PR with changes to UI,

[2020-02-10 19:03] Juhi-Purswani commented on #403
@isabelcosta if no one is assigned to this task can I work on it?

[2020-02-10 20:17] isabelcosta commented on #403
Yes you can @Juhi-Purswani :)
Be aware that sometimes you may not see someone assigned, but if you see in the comments, someone claiming it and a maintainer approving it, it can mean the contributor is working on it.
No one has claimed this yet, so feel free to work on this and let me know if you have any doubt

[2020-02-11 20:06] sumit-badsara opened #432 "Create tests for checking if email is sent for new mentorship relation requests."
## Description
As a developer for backend api,
I need cover most part of the logic of backend,
so that I can be confident that the app works as it is supposed to.

We send email notifications when new mentorship relationship was created. We need to create tests to check the functionality of this specific function.

PR #276 can help to understand what you may have to use to complete this task

## A

[2020-02-11 20:14] #264 closed, assigned to nobody

[2020-02-12 10:04] isabelcosta commented on #252
Closing this, since GCI contest is over.

[2020-02-12 10:04] #252 closed, assigned to nobody

[2020-02-12 10:11] isabelcosta commented on #320
I will close this issue, since this is not a desirable issue for the app, and it was only used for Google Code-in contest.

[2020-02-12 10:11] #320 closed, assigned to nobody

[2020-02-14 20:48] arpitjadiya commented on #395
@isabelcosta I created Pull Request, can you please see it?

[2020-02-16 13:17] annabauza opened #437 "endpoint /mentorship_relation/send_request does not validate users id"
**Describe the bug**
When mentor_id to mentee_id is invalid Internal server error occurs (500)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to localhost try out'/mentorship_relation/send_request.'
2. Send mentorship relation request with non existing  ` "mentor_id": 0`, or `"mentee_id": 0`.
3. See internal server error

**Expected behavior**
Backend should return bad request with info

[2020-02-16 13:25] annabauza opened #438 "Get dashboard crashes when there are no tasks."
**Describe the bug**
Get dashboard crashes when there are no tasks. When user has no connection just send 1 mentorship_relation request.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to localhost try out'/user/dashboard.'
2. Get dashboard for user who have only single mentorship request send.
3. See internal server error

**Expected behavior**
Dashboard endpoint return empty array of t

[2020-02-16 18:49] theanjalisharmaaa commented on #428
Hey @isabelcosta, as I am starting off my open-source contribution journey, can you assign this task to me?

[2020-02-16 20:49] annabauza opened #444 "feat: user comment should provide also user display name and profile picture"
**Is your feature request related to a problem? Please describe.**
When we display comments we want to see who made the comment and see profile picture.

**Describe the solution you'd like**
Add used node to comment which contains user display name and profile picture

**Describe alternatives you've considered**
not nesting those values under user but it is less elegant or attaching all user infor

[2020-02-16 21:09] isabelcosta opened #445 "Fix references to Systers on deploy.sh"
## Description

The deploy script has references to systers organization instead of anitab-org

## Acceptance Criteria
### Update [Required]
- [ ] Change references from systers organization to anitab-org organization on `deploy.sh`

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hours

[2020-02-16 21:32] #445 closed, assigned to nobody

[2020-02-16 21:44] annabauza opened #447 "Email verification date should be hold and returned by backend as UNIX float"
**Describe the bug**
To keep consistency we should keep and return all dates as UNIX float. Currently email_verification_date has been hold and returned as date.

**To Reproduce**
Steps to reproduce the behavior:
1. Get any verified user data
2. See one date is in wrong format
3. View data type of User table
4. see one date is not a float type

**Expected behavior**
All dates stored and returned b

[2020-02-16 21:47] #438 closed, assigned to nobody

[2020-02-16 21:50] #404 closed, assigned to nobody

[2020-02-16 21:51] #389 closed, assigned to nobody

[2020-02-16 21:52] #345 closed, assigned to nobody

[2020-02-16 22:09] #329 closed, assigned to nobody

[2020-02-16 22:11] #307 closed, assigned to nobody

[2020-02-16 22:11] #306 closed, assigned to nobody

[2020-02-16 22:11] #305 closed, assigned to nobody

[2020-02-16 22:12] #225 closed, assigned to nobody

[2020-02-16 22:12] #226 closed, assigned to nobody

[2020-02-16 22:12] #227 closed, assigned to nobody

[2020-02-16 22:13] #228 closed, assigned to nobody

[2020-02-16 22:13] #231 closed, assigned to nobody

[2020-02-16 22:13] #232 closed, assigned to nobody

[2020-02-16 22:13] #249 closed, assigned to nobody

[2020-02-16 22:14] #308 closed, assigned to nobody

[2020-02-16 22:18] #429 closed, assigned to isabelcosta, annabauza

[2020-02-16 22:19] #415 closed, assigned to nobody

[2020-02-16 22:23] #115 closed, assigned to nobody

[2020-02-16 22:24] #266 closed, assigned to nobody

[2020-02-16 22:24] #319 closed, assigned to nobody

[2020-02-16 22:26] #425 closed, assigned to nobody

[2020-02-16 22:26] #265 closed, assigned to nobody

[2020-02-17 01:18] isabelcosta opened #448 "Wrong HTTP code being returned for creation of a task"
**Describe the bug**

Task and Task comment creation returns 200 and not 201, so the success HTTP code appears to not be documented. The right code is 201, so it should be fixed in the code.

**To Reproduce**

Pre-requisite: Have an ongoing mentorship relation between 2 users. The mentorship relation has to be in the ACCEPTED state.

Steps to reproduce the behavior:
1. Go to 'localhost:5000' once

[2020-02-17 20:36] isabelcosta opened #449 "Filtering relations with invalid relation_state returns an empty list instead of error message"
**Describe the bug**

When `relation_state` is a number (invalid filter) the API returns an empty list instead of a dictionary with an error message.

**To Reproduce**

Pre-requisite: have a user registered

Steps to reproduce the behavior:
1. Login the user
2. Access `GET /mentorship_relations` and filter by `relation_state`, with the value 2
3. See the empty list as the response and 400 HTTP err

[2020-02-17 20:37] isabelcosta commented on #449
Is this a bug? Does this make sense? Should it continue to be an empty list?!
Asking for opinion @annabauza @BadduCoder

[2020-02-17 21:20] #286 closed, assigned to nobody

[2020-02-17 21:48] #288 closed, assigned to nobody

[2020-02-17 21:58] #161 closed, assigned to nobody

[2020-02-17 22:21] isabelcosta commented on #250
I think this is fixed already with a GCI task, byt checking the file mentioned, so I will close the issue now

[2020-02-17 22:21] #250 closed, assigned to nobody

[2020-02-20 13:21] sumit-badsara commented on #449
Yeah @isabelcosta , It would be better if an error is returned. We don't want it to be considered as "There are no requests currently". Because in that case too, list would be empty.

[2020-02-20 14:03] PratibhaShrivastav commented on #449
@isabelcosta I would like to work on this!

[2020-02-21 09:21] srivastava9 commented on #449
@isabelcosta It Shows internal server error while registering for a new user,and while executing again it show error 400 username already exists.
I think it is not able to send email.
![Screenshot from 2020-02-21 14-47-49](https://user-images.githubusercontent.com/45288400/75020961-a90b6280-54b9-11ea-8996-9994044b365b.png)

[2020-02-21 11:46] sumit-badsara commented on #448
@isabelcosta Isn't 201 the appropriate status code for task comment creation as a new instance of comment is created. So, instead of changing the documentation, we can change the backend code for appropriate status code. Only if 201 is correct! :thinking:

[2020-02-21 12:07] isabelcosta commented on #428
Feel free to work on this @AnjaliSharma1234  :) Consider it assigned to you :)

[2020-02-21 12:13] isabelcosta commented on #448
You are correct! @BadduCoder I just checked [here](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success) :)
Will soon change the issue description to reflect that

[2020-02-22 08:10] srivastava9 commented on #448
@isabelcosta  I have updated my pr can you have a look?

[2020-02-22 11:28] isabelcosta commented on #448
@srivastava9 when you wish to contribute to an issue, please let us know in the issue before starting working on it :) I will check your PR once I get the chance to.

[2020-02-22 11:30] srivastava9 commented on #448
Ya sure,I will take that in mind from future thanks :)

[2020-02-22 11:35] srivastava9 commented on #448
@isabelcosta Do we have any gitter channel actually i am facing some issues while registering as a user.

[2020-02-22 11:39] isabelcosta commented on #448
@srivastava9 we have [AnitaB.org Open Source Zulip](https://anitab-org.zulipchat.com/) where you can discuss the project and a specific stream [#mentorship-system](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system) for it as well.
Please join Zulip so you can also see other discussions about the project :)

[2020-02-22 17:24] isabelcosta opened #454 "Add Quality Assurance documentation to /docs folder"
## Description
As a contributor,
I need a way to contribute to the Quality Assurance table through PRs,
so that I can contribute to this particular documentation.

Quality Assurance table are defined here: https://github.com/anitab-org/mentorship-backend/wiki/Quality-Assurance

## Acceptance Criteria
### Update [Required]
- [ ] Add Quality Assurance docs to allow contributors to contribute to it,

[2020-02-22 18:56] riyaagrahari commented on #437
In trying to reproduce the behaviour, I am getting error as  authorization token not found. Error 401 Unauthorized

[2020-02-22 19:19] srivastava9 commented on #447
@isabelcosta Can I work on this issue?

[2020-02-22 19:27] #87 closed, assigned to isabelcosta

[2020-02-22 19:38] #430 closed, assigned to isabelcosta

[2020-02-22 22:16] isabelcosta commented on #233
we should document this in a markdown file I think 🤔 and then also have this in the Wiki, for troubleshooting purposes

[2020-02-22 22:51] isabelcosta commented on #447
@srivastava9 since you already worked on a `First Timers Only` issue, can you please find another issue to solve? In this way, this issue can be solved by a newcomer :)

[2020-02-22 22:53] srivastava9 commented on #447
Okay Cool ,Haven't seen the first timers label.

[2020-02-22 22:53] isabelcosta commented on #449
@PratibhaShrivastav sure you can work on this :)

[2020-02-22 22:55] srivastava9 commented on #437
@isabelcosta Can i try this one?

[2020-02-22 22:55] isabelcosta commented on #449
@srivastava9 you are correct. Sometimes we have this issue, and it is related to Gmail security settings, that can be wrongly set. This problem is explained in issue #233. I think I fixed the issue in the email we used to send emails, and once the server comes back up I think this will be solved. Thank you for reporting this bug @srivastava9 :)

[2020-02-22 22:56] isabelcosta commented on #447
no problem at all @srivastava9  :)

[2020-02-22 22:57] isabelcosta commented on #437
Go ahead :) @srivastava9

[2020-02-23 12:19] sumit-badsara commented on #233
@isabelcosta @sara-02 We also have another another option which is much better and safer.

We can just go to Gmail and enable **2 step verification**, and then go to **App Passwords** and **generate a password** for **Mail** app. Using that, even your email is secure and you don't need to configure anything else.

Reference : https://support.google.com/accounts/answer/185833?hl=en

I can create a

[2020-02-23 12:45] sumit-badsara commented on #448
@isabelcosta Even Task creating returns 200, instead of 201. We can add this to current issue I guess.

[2020-02-23 16:27] Prakash-sa commented on #346
@isabelcosta can i work on it?