[2020-07-18 21:09] #628 closed, assigned to vj-codes

[2020-07-19 09:04] PrashanthPuneriya commented on #669
@vj-codes Can I reopen the PR now?

[2020-07-19 09:10] PrashanthPuneriya commented on #680
@isabelcosta I have no experience in testing. So, I would like to learn about them by taking up this issue if that's okay with you.

[2020-07-19 09:30] vj-codes commented on #669
yeah sure , I'll assign you too. @PrashanthPuneriya

[2020-07-19 10:58] rpattath commented on #680
Sure @PrashanthPuneriya I will closely assist you with this. Also there are a few other QA practices that you need to get familiar with before starting test automation. I will give more information on Zulip. Thank you !

[2020-07-19 11:00] PrashanthPuneriya commented on #680
@rpattath Thanks a lot :)

[2020-07-19 11:33] #660 closed, assigned to isabelcosta

[2020-07-19 13:20] #493 closed, assigned to divyanshugit

[2020-07-19 13:26] #574 closed, assigned to EllieMwangi

[2020-07-19 13:53] divyanshugit commented on #681
I would like to work on this issue. Can you suggest me ways to get started on this issue  ?

[2020-07-19 15:11] isabelcosta commented on #681
@divyanshugit can you please choose another :) I just recently merged a PR of yours, and this is for first timers only contributors. I can forward you other issues while we leave this one for new contributors to this project

[2020-07-19 15:12] isabelcosta commented on #679
@divyanshugit want to try this one? It's about deprecating a field being returned on Login API

[2020-07-19 15:12] isabelcosta commented on #681
@divyanshugit https://github.com/anitab-org/mentorship-backend/issues/679#issuecomment-660660621

[2020-07-19 15:14] divyanshugit commented on #681
No problem, @isabelcosta I will choose another issue :)

[2020-07-19 15:16] divyanshugit commented on #679
Okay I will try to solve this issue ! Thanks for suggesting @isabelcosta

[2020-07-19 15:20] isabelcosta commented on #627
@ApheleiaS I will unassign you this issue due to inactivity. If you are still interested please let me know and I will assign it to you again :)

[2020-07-19 15:38] PrashanthPuneriya commented on #680
@rpattath I am unassigning myself from this issue. I would like to work on other issue. Sorry, for that. Please, feel free to assign others to this issue.

[2020-07-19 16:08] PrashanthPuneriya commented on #644
@isabelcosta @adi-001 @Techno-Disaster I would like to work on this issue.

[2020-07-19 18:01] isabelcosta commented on #598
@rashikaqureshi  sorry for the late reply do you still want to work on this?

[2020-07-19 18:11] isabelcosta opened #685 "Improve GET (...)/comments response to include user.name and sent_by_me"
## Description
As a frontend developer,
I need to have more information about the user who commented on a task,
so that I can display information as the user's name.

The idea is to improve the response of POST (...)/comments API to provide user `name` and `sent_by_me` boolean.

## Mocks

Instead of having:
[code]
Have something like:
[code]
where `author` is the person who commented.

## Acceptan

[2020-07-19 19:03] isabelcosta commented on #680
No inconvenience was caused @PrashanthPuneriya :) we can reassign this to someone else, meanwhile, there are plenty other issues you can request to work on.

[2020-07-20 05:34] GobindB commented on #681
Hey, @isabelcosta I am a first-time contributor and would love to solve this if possible!

[2020-07-20 08:08] rashikaqureshi commented on #598
@isabelcosta yes.

[2020-07-20 11:15] vj-codes commented on #630
@gaurivn  @isabelcosta @nandini45
Heyy I would like to work on this and the similar issues present here if no one's taking them up (I'm having fun doing this)

[2020-07-20 18:57] isabelcosta commented on #598
yey! I will assign this to you then @rashikaqureshi :)

[2020-07-20 18:59] isabelcosta commented on #681
@GobindB before sending a PR you have to wait until you are assigned to the issue. Please read our [Contribution Guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md) and let me know if you understand this.

[2020-07-20 19:26] GobindB commented on #681
@isabelcosta sorry I hadn't taken a look at the contribution guidelines. I've gone through them now and am clear on the contents. Should I look for another open issue?

[2020-07-20 19:38] isabelcosta commented on #681
No problem, I'll assign this to you and review your PR @GobindB :)

[2020-07-20 19:51] isabelcosta opened #691 "Improve way of managing python dependencies"
## Description

As a developer,
I need a more flexible and easy to manage way of managing python dependencies,
so that I can update in a more reliable way the packages that are being flagged as security risks and ease development to coder contributors.

A few options are:
- https://github.com/jazzband/pip-tools
- https://python-poetry.org/
- feel free to suggest more...

Since the beginning of the

[2020-07-20 23:45] gaurivn commented on #634
I would like to work on this issue.

[2020-07-20 23:46] isabelcosta commented on #634
Yes sure! I will assign it to you @gaurivn  :)

[2020-07-21 09:34] PrashanthPuneriya commented on #644
@isabelcosta @Techno-Disaster @rpattath
The search feature is working as expected. Internally, the search function queries for the **Name** but, not for the **username**. So, to find a user you must search by **Name** but not by **username**.
#### Explanation for the above given example in the [comment](https://github.com/anitab-org/mentorship-backend/issues/644#issuecomment-644947055):-
The user

[2020-07-21 09:37] PrashanthPuneriya commented on #685
@isabelcosta I would like to work on this issue.

[2020-07-21 16:01] rashikaqureshi commented on #598
Hi @isabelcosta  Please have a look at the PR. And also I have changed the error messages to be populated, I have attached the screenshots as well. So due to this all test cases were not passed locally.
Please let me know in case of any changes.
https://github.com/anitab-org/mentorship-backend/pull/695

[2020-07-21 16:10] techno-disaster commented on #644
@PrashanthPuneriya @isabelcosta shouldn't the feature search depend on the username and not the name? because names can be same usernames are unique?

[2020-07-21 16:23] PrashanthPuneriya commented on #644
@Techno-Disaster Yes! I too thought of that. Anyway if we want to search by username then we should raise a feature request.

[2020-07-21 16:45] gaurivn commented on #634
@mtreacy002, @isabelcosta, I couldn't find PUT /mentorship_relation/{request_id}/task/{task_id}/comment/{comment_id}
I could find only the below which closely resembles the issue
1. PUT /mentorship_relation/{relation_id}/task/{task_id}/comment/{comment_id}         (3rd in below screenshot)
2. PUT /mentorship_relation/{request_id}/task/{task_id}/complete                                (12th in belo

[2020-07-21 20:18] isabelcosta commented on #634
@gaurivn 1st option is the correct :)

[2020-07-21 20:22] #681 closed, assigned to GobindB

[2020-07-21 20:31] GobindB commented on #680
@isabelcosta I'm familiar with writing tests but new to automated testing. If nobody has taken this on I'd love to tackle it!

[2020-07-21 20:39] gaurivn commented on #634
Thank you, will send in a PR soon

[2020-07-21 20:44] isabelcosta commented on #680
@GobindB this is just a longer test. If you know how to write tests then you are good with this :)
Although I was thinking of trying this one in hopes to make an example to then share with the community next week.
If you wish to give it a try I am ok with it. If you wish to do other tests I can also recommend some. What do you prefer :)

[2020-07-21 20:47] GobindB commented on #680
@isabelcosta I'm hoping to get familiar with the codebase so I can get more involved with contributions. If you were to recommend me issues I would be happy to work on those :)

[2020-07-22 01:11] techno-disaster commented on #644
Anyways a PR for this is up [here](https://github.com/anitab-org/mentorship-flutter/pull/114) on the flutter repo and even if you change it from names to usernames it will still work without requiring any additional changes. cc: @isabelcosta

[2020-07-22 03:34] Shivansh2407 commented on #343
@isabelcosta
if( This Issue == Fixed):
    Please Close the Issue
else:
    I would like to fix this

[2020-07-22 14:04] rashikaqureshi commented on #627
Hi can I start working on this ?

[2020-07-22 14:16] rashikaqureshi commented on #627
Hi @isabelcosta can I work on this.

[2020-07-23 20:11] nandini45 commented on #632
yes @vj-codes  sorry for the late comment

[2020-07-23 20:36] vj-codes commented on #632
Assigning you @nandini45
Happy coding!

[2020-07-23 20:38] vj-codes commented on #627
@rashikaqureshi Hey assigning you
Happy coding!

[2020-07-23 20:39] vj-codes commented on #636
@Ritika5901234 Hey how's the PR work going?

[2020-07-24 02:58] Ritika5901234 commented on #636
@vj-codes - thanks for commenting, I missed to push changes and raise PR here earlier.

[2020-07-24 15:54] vj-codes commented on #685
@PrashanthPuneriya Are you available to work on this?

[2020-07-25 04:01] PrashanthPuneriya commented on #685
@vj-codes Yes!

[2020-07-25 11:38] isabelcosta commented on #685
@PrashanthPuneriya feel free to start working on this :)

[2020-07-25 11:46] isabelcosta commented on #343
@Shivansh2407
If (no previous responses):
    @Shivansh2407 feel free to work on this
    return issue assigned

[2020-07-25 11:48] #631 closed, assigned to gaurivn

[2020-07-25 11:53] isabelcosta commented on #173
@SanketDG regarding [this comment of yours](https://github.com/anitab-org/mentorship-backend/pull/174#issuecomment-628817441) if you wish to take this up of using flake8/pylint, I can assign this to you. Although now you would have to do this on GitHub Actions instead of TravisCI. Would you like me to assign this to you?

Thank you so much for your work @iulianav in this PR: https://github.com/ani

[2020-07-25 12:02] isabelcosta commented on #673
@GobindB what about this issue? This is a bug, requires some investigation though. I have some easy ones but since you said you wanted to get familiar, I thought this would definitely help you cover more ground

[2020-07-25 12:21] SanketDG commented on #173
@isabelcosta Sure, that's fine!

`flake8` will detect a whole bunch of issues if it's added now, so we will have to also run a single pass of black as it was done in #465, and I will also be integrating an [action](https://github.com/psf/black#github-actions) so that every PR author has to run `black` on their code for the tests to pass! :tada:

Do you want me to do the `black` thing first and the

[2020-07-25 16:15] isabelcosta commented on #173
@SanketDG yes, perhaps the black github action should come first in a specific PR and then the flake on another separate, by coming after, the flake run will pass right?

Can you create an issue for the black GH action and then us this one for the flake?

[2020-07-26 13:22] rashikaqureshi commented on #627
Hi @vj-codes Please check and let me know if you need any changes.
https://github.com/anitab-org/mentorship-backend/pull/699/commits

[2020-07-26 13:28] rashikaqureshi commented on #627
Hi @vj-codes Please check and let me know if you need any changes.
#699

[2020-07-27 18:22] isabelcosta commented on #679
@divyanshugit are you working on this issue? Do you need any help?

[2020-07-27 18:50] nandini45 commented on #632
@vj-codes  i am working on it.
need some time..a little caught with  my other work

[2020-07-27 19:42] GobindB commented on #673
@isabelcosta sounds good, I will start looking into it and let you know if I have any questions!

[2020-07-27 19:48] SanketDG opened #701 "Integrate black and black's github action"
## Description
As a developer, I need to have good, structured, readable code to be able to read through it painlessly and efforlessly.

Previously #465 used black to re-format the code, but because there is no way to check whether our code is according to Black's standards or not, there has been a lot of code that is not formatted.

The idea is to run Black through a single pass, and then integra

[2020-07-27 20:01] SanketDG commented on #173
Yes!

I opened #701

[2020-07-27 20:03] isabelcosta commented on #701
@SanketDG sounds good! Can't wait to get the coding lint improved 🤗 🤗 🤗 🤗

[2020-07-27 20:58] #623 closed, assigned to satya7289

[2020-07-27 23:43] divyanshugit commented on #679
@isabelcosta  Do I need to remove the expiry field or modify the expiry field from mentorship-backend/app/messages.py / ?

[2020-07-28 18:22] isabelcosta commented on #685
@PrashanthPuneriya are you still working on this :) Do you need any help?

[2020-07-28 21:10] isabelcosta commented on #679
Remove it @divyanshugit , so it does not get returned anymore :)

[2020-07-29 06:40] mtreacy002 opened #702 "BUG: GET/users/{user_id} returns list of null users for id that doesn't exist"
**Describe the bug**
When a user trying to view other user's details by sending GET /users/{user_id} with user_id that does not exist, the system returns a list of null users instead of HTTP error 404 (Not Found)

**To Reproduce**

Steps to reproduce the behavior:
1. Login as a user
2. Go to GET users/{user_id} and enter a random id that does not exist in the Users table (check the database to do

[2020-07-29 06:42] mtreacy002 commented on #702
@anitab-org/bridgeintech-maintainers . I come across this bug when I was working on the GET /users/{useer_id} api endpoint on BIT [PR#99](https://github.com/anitab-org/bridge-in-tech-backend/pull/99). This is a cross-project issue as BIT response will also affected on this issue.

[2020-07-29 06:55] mtreacy002 commented on #702
PS to @anitab-org/coding-team. This issue is open to anyone. I personally don't have the bandwith to work on this issue atm. Just want to raise the issue. 😉

[2020-07-29 07:48] PrashanthPuneriya commented on #685
@isabelcosta I was quite busy until now. Would resume working on this issue and ping you whenever I need help :)

[2020-07-29 17:37] bipul-jha commented on #661
Is the bug still open? Can I take this issue? Thanks.

[2020-07-29 19:33] yugantarjain commented on #661
Hi @bipul-jha , thanks a lot for your interest in working on this issue!

I've done some additional research on this issue and have found that the API inconsistently works for only some tasks and fails for others. Hence, it most probably is a bug in the API only and not its hosting as earlier believed.

The points that @isabelcosta have raised in the above comments shall be useful in diagnosing an

[2020-07-29 23:55] divyanshugit commented on #679
@isabelcosta  I have removed the expiry field from message.py .But the run failed. Do I need to remove all the lines related to expiry field from every file available on the repo ?

[2020-07-31 10:26] bipul-jha commented on #661
Sure @yugantarjain, will start working once assigned.

[2020-07-31 16:58] rashikaqureshi commented on #598
Hi
PFA #695

[2020-08-01 18:30] #579 closed, assigned to SanketDG

[2020-08-01 19:50] isabelcosta commented on #685
No problem, but It's best then to open this issue for other contributors and then you can come back to this if its still available @PrashanthPuneriya

[2020-08-01 21:06] isabelcosta commented on #679
@divyanshugit yes :)

[2020-08-01 22:03] gaurivn commented on #633
I would like to work on this issue

[2020-08-01 22:05] gaurivn commented on #565
I would like to work on this issue.

[2020-08-02 11:41] isabelcosta commented on #661
@bipul-jha thank you for your interest in contributing to this project and following our guidelines! I just assigned you, so feel free to start looking into this.

It's important to note that @yugantarjain is no longer facing the bug, as far as I know, but I think that is just luck, for example using a user that does not expose this bug.

[2020-08-02 12:19] #627 closed, assigned to rashikaqureshi

[2020-08-02 12:21] #635 closed, assigned to PrashanthPuneriya

[2020-08-02 12:47] yugantarjain commented on #661
We are facing this bug 😅 The API works for some tasks and doesn't for some others.

[2020-08-02 13:51] isabelcosta opened #705 "Tests are failing in the "Run Tests" check"
**Describe the bug**

The tests are failing 😱
This is the first time it failed: https://github.com/anitab-org/mentorship-backend/runs/935862710

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://github.com/anitab-org/mentorship-backend/runs/935862710
2. Click on 'Run Tests' build
3. Scroll down to tests failing
4. See errors

Run tests locally, and see if they work.

**Expected

[2020-08-02 15:39] jhalak27 commented on #685
@isabelcosta I would love to work on this. But I don't have much idea about this project. Could you give me some advice to get started?

[2020-08-03 01:25] nickinack commented on #705
I would like to work on this issue. Can someone suggest ways to do so?

[2020-08-03 02:03] nickinack commented on #563
Hey, can I take this one up?

[2020-08-03 02:04] nickinack commented on #578
Can I take this one up?

[2020-08-03 06:35] SanketDG commented on #578
This issue may be obsolete as we don't use `cffi` at all (it's a transitive dependency), so maybe we should remove `cffi`?

@isabelcosta

[2020-08-03 07:12] SanketDG commented on #705
Oh there was a new test file that did not have the changes, I overlooked this!

@nickinack Let me assign you, you do not have to add back as we moved from `restplus` #579 to `flask-restx`, you just need to update the import in `https://github.com/anitab-org/mentorship-backend/blob/develop/tests/users/test_api_get_other_user.py`

[2020-08-03 07:51] nickinack commented on #705
Please CR the PR

[2020-08-03 22:12] isabelcosta commented on #705
@nickinack thank you for taking this issue. I will look at the PR as soon as I can :)

[2020-08-04 10:23] faznan3nazer commented on #614
I would like to work on this PR. Can I take this up?

[2020-08-04 10:29] vj-codes commented on #614
Sure assigning you @faznan3nazer
Happy coding!

[2020-08-04 17:15] #705 closed, assigned to nickinack

[2020-08-04 17:20] isabelcosta commented on #705
@SanketDG @nickinack the problem was fixed! thank you so much for your help 🤗

[2020-08-04 17:35] isabelcosta commented on #702
@mtreacy002 this is an amazing catch 👏  I just tried it and it really happens 🤦‍♀️  And the fix should come with a test to cover this bug

![image](https://user-images.githubusercontent.com/11148726/89325910-631a1380-d681-11ea-82d8-cc3ffd456d01.png)

[2020-08-04 18:25] bartekpacia commented on #691
I very much agree with this @isabelcosta. I've been thinking about creating a PR about integrating Poetry since like...april?, but looks like my laziness won in the end.
Nevertheless, I'd like to work on this issue.

[2020-08-04 18:31] isabelcosta commented on #691
I see you are really eager to work on this 😅
I can assign this to you. The solution should be the simplest and easy for newcomers to start working on.

[2020-08-04 18:43] nickinack commented on #615
I would like to work on this, can someone assign this to me?

[2020-08-04 18:49] nickinack commented on #612
@isabelcosta, I would like to work on this, can you please assign this to me

[2020-08-04 18:51] isabelcosta commented on #685
@jhalak27 I would look at how other APIs are done and the API you are planning to change. The important part is the TaskCommentDAO, here you can modify the returns to include the data you want. For example, here https://github.com/anitab-org/mentorship-backend/blob/develop/app/api/dao/task_comment.py#L100 you see that the comments are being fetched, you need to get the name of the user using `User

[2020-08-04 19:11] isabelcosta commented on #612
Sure @nickinack ;)

[2020-08-04 22:28] isabelcosta commented on #565
@gaurivn to change wiki I would have to give you write access which is almost maintainer's level. I would suggest here to move this to the docs folder instead and move it with correct values.
Once you finish other tasks you are assigned, I an assign you here.

[2020-08-04 22:43] isabelcosta commented on #661
@bipul-jha are you still working on this issue?

[2020-08-04 22:48] isabelcosta commented on #701
@SanketDG are you working on this still? Do you need any help from admins?

[2020-08-04 23:13] isabelcosta commented on #578
@SanketDG remove `cffi` as an dependency? sure, if its not needed.

[2020-08-05 12:48] vatsalkul opened #709 "feat: Add report violation feature endpoint"
## Description
As a user, I may want to report a violation of code of conduct in current relation. So that org admins can take action towards the reported user.

**Details**
Make an endpoint which accepts the task/comments details send by the frontend.
Registered admins/org admin will get an email included necessary details of user, task, task comment and relation.

 ## Acceptance Criteria
### Upd

[2020-08-05 13:06] SanketDG commented on #578
@nickinack You still interested in this?

[2020-08-05 14:35] nickinack commented on #578
@SanketDG yes I'm still interested!

[2020-08-05 15:05] bartekpacia opened #711 "Can't setup"
I:
- cloned the project
- created a virtualenv (`virtualenv venv --python=python3`)
- sourced the virtualenv (`source ./venv/bin/activate`)
- __wanted__ to install the dependencies (`pip install -r requirements.txt`)

I get the following output (below). It just crashes. I have no idea what's going on.

[code]

[2020-08-05 15:05] bartekpacia commented on #691
Currently I'm blocked because of #711

[2020-08-05 17:48] isabelcosta commented on #711
@bartekpacia you are using Python 3.8, could you use Pythoon 3.6?

[2020-08-05 20:51] bartekpacia commented on #711
@isabelcosta It worked, thanks😌 It's interesting why 3.8 doesn't work

[2020-08-05 21:45] isabelcosta commented on #711
@bartekpacia its a known issue, and there is an issue to remove the troubling package actually. Issue https://github.com/anitab-org/mentorship-backend/issues/578 :) I guess until we have that solved we should have a badge indicating the supporting versions

[2020-08-05 21:45] #711 closed, assigned to nobody

[2020-08-05 21:47] isabelcosta opened #714 "Add badge with Python 3.6 version on README"
## Description

Add badge with Python 3.6 version in the README

## Acceptance Criteria
### Update [Required]
- [ ] Add badge with Python 3.6 version in the README

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
30 min

[2020-08-06 14:33] mayburgos opened #717 "Create the config.yml file for the Welcome Bot."
## Description
As a first time contributor,
I need a bot to help guide my first contribution,
so that I can follow this org's contribution guidelines.

## Mocks
![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

## Acceptance Criteria
### Update [Required]
- [ ] newIssueWelcomeComment is complete with the c

[2020-08-06 19:29] dwvicy commented on #714
@isabelcosta can I work on this?

[2020-08-06 20:43] bipul-jha commented on #661
Hey @isabelcosta, I am not able to get much time. Maybe I can come back some other time, and pick some task. For now, I am unassigning myself. Sorry for that.

[2020-08-07 09:44] vj-codes commented on #714
Assigning you @dwvicy
Happy coding!

[2020-08-07 09:51] vj-codes commented on #685
@jhalak27 would you like to work on this? Isabel has given you a brief about this issue above:)

[2020-08-07 13:12] jhalak27 commented on #685
@vj-codes @isabelcosta as I am new to this project, it will take some time. Will that be okay?

[2020-08-07 20:24] Abdelaty commented on #571
Any updates here? Because this issue is a blocker for `[Members Search does not work anitab-org/mentorship-android#633]` (https://github.com/anitab-org/mentorship-android/pull/633)

[2020-08-11 15:07] faznan3nazer opened #720 "Error message mismatches for entering invalid Email id for user under "Sends the user a new verification email""
**Describe the bug**

When we enter an invalid mail id, an appropriate error message should be shown and listed under the Responses.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'user-Sends the user a new verification email'
2. Provide the invalid email id
3. {
      "email": "dssfgdsgkhu"
   }
4. Click on 'Execute'.
5.  Scroll down to 'Responses'.
6.
![Screenshot (277)](https://u

[2020-08-11 16:06] faznan3nazer opened #721 "Error message for entering Email id which was not registered a user under "Sends the user a new verification email""
**Describe the bug**

When we enter mail id which is not registered any user, an appropriate error message should be shown and listed under the Responses.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'user-Sends the user a new verification email'
2. Provide the email id
3. {
    "email": "soyiv65617@corsj.net"
    }
4. Click on 'Execute'.
5. Scroll down to 'Responses'.
6.
![Screen

[2020-08-11 18:19] isabelcosta commented on #685
@jhalak27 that is totally fine, just let us know when you are stuck. Please give us update within 3 days intervals, and we can help you.

[2020-08-11 19:02] #714 closed, assigned to dwvicy

[2020-08-11 21:53] #669 closed, assigned to PrashanthPuneriya

[2020-08-12 08:34] faznan3nazer commented on #614
For this issue, I have updated the file by adding the error message " Mentor ID  field is missing" to the response file, Do I have to write a unit-test for this?

[2020-08-12 16:49] vj-codes opened #722 "Create a code_of_conduct.md file"
**Is your feature request related to a problem? Please describe.**
As a developer ,
I need to update the repository with all proper links and documents.
1)Create a  new code_of_conduct.md file that has the same content as http://systers.io/code-of-conduct
2) And then update the code of conduct link in **Readme.md**>>Contributing section as well as in **Contributing.md**  .

### Acceptance Criteria

[2020-08-13 07:19] vj-codes commented on #633
@gaurivn hows the PR going?

[2020-08-13 07:19] vj-codes commented on #632
@nandini45 hows the PR  going?

[2020-08-13 07:20] gaurivn commented on #633
I'm on it, will send a PR soon.

[2020-08-13 08:21] vj-codes commented on #612
@nickinack Hows the PR going?

[2020-08-13 08:31] vj-codes opened #724 "Add mentorship: flutter and ios client to API Swagger description"
### Description
As a contributor,
I need information accessible in the Swagger UI,
so that I can get to know more about mentorship system projects.

The idea is to add an extra line mentioning the mentorship : flutter client and ios-client and its URL for both

### Mocks
This is how the description looks like at the moment:

![image](https://user-images.githubusercontent.com/60894542/90111917-f089

[2020-08-14 12:03] 19-pragya commented on #724
can i get assigned in this if this is still available

[2020-08-14 13:26] vj-codes commented on #610
Closing since this part is merged into #724

[2020-08-14 13:26] #610 closed, assigned to nobody

[2020-08-14 13:27] vj-codes commented on #724
Sure assigning you @19-pragya
Happy coding!

[2020-08-14 19:33] 19-pragya commented on #724
hey... @vj-codes
actually, i am unable to find the page for editing this..and as i am doing it for the very first time to can u explain what exactly i have to do.. i will be very thankful to you

[2020-08-14 19:42] vj-codes commented on #724
@19-pragya Sure and welcome to the community!
Here's the file page that needs changes https://github.com/anitab-org/mentorship-backend/blob/develop/app/api/api_extension.py
You have to add one line for Flutter client and one line for ios client in the same format in line 10 of the link mentioned.
Hope this helps:)

[2020-08-14 20:00] 19-pragya commented on #724
Thankyou so much @vj-codes please check i have sent a request. and please tell me if it is appropriate.

[2020-08-14 20:54] vj-codes commented on #724
@19-pragya I don't get you, do you mean a pull request coz I don't see any? And if yes sending a PR while you are assigned is 100% appropriate:)

[2020-08-14 20:57] 19-pragya commented on #724
Thankyou so much mam😊

On Sat, 15 Aug 2020, 02:24 Vaishnavi Joshi, <notifications@github.com>
wrote:

[2020-08-14 21:01] 19-pragya commented on #724
Please let me know about the other projects i can work on..

[2020-08-14 21:04] 19-pragya commented on #722
Can i work on this

[2020-08-14 21:07] 19-pragya commented on #616
Can i work on this issue?

[2020-08-14 21:28] vj-codes commented on #724
@19-pragya checkout other repositories, all are interesting and first timer issues are a great start!
Don't call be ma'am, just another open source enthusiast like you!

[2020-08-14 21:29] 19-pragya commented on #724
Okay thanks

[2020-08-14 21:32] vj-codes commented on #722
@19-pragya sorry this is a 'first timers only' issue and I see that you're assigned for #724. Do checkout other available issues and claim any one of them!

[2020-08-14 21:35] 19-pragya commented on #722
I have actually completed i guess u have approved.

[2020-08-14 22:02] vj-codes commented on #722
@19-pragya  First timers only means that users who have never contributed to backend repo can only work on this.

[2020-08-14 22:03] 19-pragya commented on #722
Okay😅

[2020-08-14 22:04] vj-codes commented on #724
@19-pragya  did you commit your changes and then create a pull request? Lemme know if there's any problem in setting up project locally or making changes for this PR:)

[2020-08-15 04:18] 19-pragya commented on #724
please check... i have commit my changes and created pull request. is it visible

[2020-08-15 04:21] 19-pragya commented on #724
https://github.com/19-pragya/mentorship-backend/pull/1/commits
please tell if anything went wrong

[2020-08-15 14:55] sanchibansal340 commented on #722
Can I work on this?

[2020-08-15 16:08] jhalak27 commented on #685
@isabelcosta I am a bit confused about how to do this.
Do I need to make changes in the `class TaskCommentModel`?
https://github.com/jhalak27/mentorship-backend/blob/b9ebc706ceca1aad88fe4561d896e3a06c2f8a78/app/database/models/task_comment.py#L41 Here do I need to change the json object as desired?

Could you explain a bit more?

[2020-08-16 12:35] yugantarjain commented on #685
It can also be considered to just add the user_name property instead of creating a new user object. That way, it won't be a breaking change for the frontend apps. However, that would be a small thing to fix on the frontend, and creating a user object as described in the description would be the more scalable option.

[2020-08-16 12:41] vj-codes commented on #722
Sure assigning you @sanchibansal340
Happy coding!

[2020-08-16 12:45] vj-codes commented on #724
@19-pragya Do you want to still work on this?I see you've removed your assignment?
The pull request should be added to the main repo here and not your fork, just do the same process here again then I can review:)

[2020-08-16 12:51] DartingMelody commented on #661
Hi @isabelcosta, Can I work on this. I was trying it out,  can you help me in getting the access token for checking the result of this API.

[2020-08-16 13:21] sanchibansal340 commented on #722
@vj-codes The code_of_conduct.md needs to be created in the .github like the previous one was, right?

[2020-08-16 13:49] sanchibansal340 commented on #722
Hey I am done. I just have confusion about the folder it needs to go in and if previous code_of_conduct has to be deleted.

[2020-08-16 14:22] 19-pragya commented on #724
https://github.com/anitab-org/mentorship-backend/pull/725
is this ok??

[2020-08-16 15:00] PrashanthPuneriya commented on #722
@vj-codes What's the difference between [Systers code-of-conduct](http://systers.io/code-of-conduct) and [code_of_conduct.md](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/code_of_conduct.md) content? I don't see any major difference. Am I missing out something?
Task-2 seems valid to me.

[2020-08-16 15:05] sanchibansal340 commented on #722
I modified a link and deleted 4-5 lines.

[2020-08-16 15:25] PrashanthPuneriya opened #726 "Replace {request_id} with {relation_id} in the Swagger UI and its related parameters"
**Describe the bug**
After a relationship has been formed between mentor and mentee, whenever a task is either created, edited, deleted or listed the Swagger UI should display the relationship between them as `{relation_id}` instead of `{request_id}`.

**Expected behavior**
`{relation_id}` should be displayed instead of `{request_id}`

**Screenshots**
![image](https://user-images.githubusercontent

[2020-08-16 16:04] vj-codes commented on #722
@sanchibansal340 keep the file in docs folder by the name as code_of_conduct.md and delete the previous one

[2020-08-16 16:07] vj-codes commented on #722
Earlier everything here was under Systers and now its under/changed to AnitaB Open Source . So everything that says Systers has to be changed to AnitaB , if you find anything related with this please feel free to create issues!

[2020-08-16 16:16] sanchibansal340 commented on #722
@vj-codes In the Code of Conduct Systers needs to be replaced to AnitaB?

[2020-08-16 16:17] vj-codes commented on #722
yes and contact info too [here's](https://github.com/anitab-org/stem-diverse-tv/blob/master/docs/code_of_conduct.md) an example of updated one

[2020-08-16 16:19] sanchibansal340 commented on #722
Okay thanks. Can you please tell me about the folder it needs to go in as well?

[2020-08-16 16:25] 19-pragya commented on #724
@vj-codes  can you please check the file i committed. please tell me if further changes required

[2020-08-16 16:33] vj-codes commented on #722
docs folder @sanchibansal340

[2020-08-16 16:34] sanchibansal340 commented on #722
Okay thanks. I will make a pull request in 5-7 minutes.

[2020-08-16 18:37] nandini45 commented on #632
my laptop broke down
i need time to assemble back.
you can assign it to someone else

[2020-08-16 18:42] vermastuti commented on #615
@isabelcosta Can I work on this issue?

[2020-08-16 19:05] vj-codes commented on #726
@isabelcosta Can you have a look at this?
I believe that it'll require a huge change in files of resources, dao, and tests
cc: @PrashanthPuneriya

[2020-08-16 20:30] anna4j opened #728 "Change email confirmation signature to AnitaB.org Open Source"
**Describe the bug**

Since we have migrated our apps from Systers account to AnitaB.org when a new user creates an account for the Mentorship System the email confirmation signature should show **AnitaB.org Open Source** instead of Systers Open Source.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to '/templates/email_confirmation.html'
2. Scroll down to line 11 or the email signatur

[2020-08-16 20:31] anna4j commented on #728
@isabelcosta Do we need to replace "In Systerhood" by something else too?

[2020-08-17 07:38] vj-codes commented on #728
@himanshuraj18 you can first comment on an issue you would like to work on, then it'll be assigned to you and then send a PR.
This issue is on hold and when it'll be available , if you wish to be assigned, your PR will be reopened again:)

[2020-08-17 07:40] himanshuraj18 commented on #728
@vj-codes I would like to work on this. Kindly reopen the PR and assign it to me.

[2020-08-17 07:46] anna4j commented on #728
@vj-codes hey! I know this is a really small issue but I was hoping that we could save it for "Open Source Hack" that starts on September 1st, for newcomers participating in it. Please let me know what you think

[2020-08-17 08:02] vj-codes commented on #728
@anna4j hey ,I agree its a good idea!

[2020-08-17 08:05] vj-codes commented on #728
@himanshuraj18 sorry this is on hold. [Here's](https://github.com/anitab-org/mentorship-backend/issues?q=is%3Aopen+is%3Aissue+label%3A%22First+Timers+Only%22+label%3A%22Status%3A+Available%22) a list of 'first timers only 'available issues. Just comment on any one you wish to work on .Good luck:)

[2020-08-17 13:14] vatsalkul opened #730 "feat: Implement Google social login"
## Description

As a user, I may want to login with social account like google sign in. So that I can access the platform easily.
This PR implemented part of it: https://github.com/anitab-org/mentorship-backend/pull/719

 ## Acceptance Criteria
### Update [Required]
- [ ]  Create endpoint for social login
- [ ] Make a proper flow of registering user into MS database.
- [ ]  Document changes in the

[2020-08-17 13:35] yogeshr59 commented on #728
@anna4j @vj-codes I would like to work on this as I am a beginner and want to learn open source contributing. If this issue is going to be available in open source hack, can you please guide me what it is and how do I participate?

[2020-08-17 14:05] anna4j commented on #728
Open Source Hack starts on 1st September and ends on 31st September. It's an event for encouraging everyone who's new to Open Source and wants to contribute to some of our projects. Here's the website for reference:

Open Source Hack Website: https://anitab-org.github.io/events/open-source-hack/

Please make sure you send in your Pull Requests after September 1st or they won't be counted.
@raising

[2020-08-18 10:50] PrashanthPuneriya opened #732 "Update swagger.json doc file status codes"
## Description
As a contributor,
I need an up-to-date status codes in swagger.json docs,
so that I can keep track of the URLs, responses and status codes.

## Mocks
Current [swagger.json](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/swagger.json) file:-
![image](https://user-images.githubusercontent.com/42068010/90504151-43e5b080-e16e-11ea-954b-5d9c16b0e952.png)
The correspon

[2020-08-18 11:27] PrashanthPuneriya opened #733 "Remove unrequired Optional import from typing package"
**Describe the bug**

There is no usage of `typing.Optional` import in [user.py](https://github.com/anitab-org/mentorship-backend/blob/develop/app/database/models/user.py) file.

**Expected behavior**
There shouldn't be any unnecessary imports.

**Screenshots**
![image](https://user-images.githubusercontent.com/42068010/90507225-2b2bc980-e173-11ea-8607-b1db3cac880b.png)

**Additional context**
Rem

[2020-08-18 15:01] SanketDG commented on #733
Also can be reported in CI with https://github.com/anitab-org/mentorship-backend/issues/173

[2020-08-18 15:58] SanketDG commented on #732
Can we automate this? The swagger UI is the documentation, so I am not sure I need this.

[2020-08-18 16:02] PrashanthPuneriya commented on #732
@SanketDG I too don't need it. I thought someone found it useful but, forgot to update it. Hence, I raised the issue.

[2020-08-18 16:06] PrashanthPuneriya commented on #733
Cool 😎. But, I think this issue would be quite beneficial for the beginners (Open Source Hack) as it pushes them to setup the project and learn about git. What do you think?

[2020-08-18 19:15] jhalak27 commented on #685
@yugantarjain I am still finding it a bit tough. What should I do?

[2020-08-19 08:21] divyanshugit commented on #732
Can I work on this issue  @PrashanthPuneriya ?

[2020-08-19 08:47] vj-codes commented on #732
@PrashanthPuneriya I would suggest that the new issues created be put on hold and make it available 2-3 days before Open Source Hack.What say?

[2020-08-19 08:58] PrashanthPuneriya commented on #732
@vj-codes That sounds good.
@divyanshugit If you are participating in Open Source Hack(OSH) then for sure I will assign this issue to you. Please free to fix other issues in the meantime.

[2020-08-19 09:08] PrashanthPuneriya commented on #632
@divyanshugit Do you want to work on this issue? This issue gives you an overview of the project flow.

[2020-08-19 09:17] divyanshugit commented on #732
@PrashanthPuneriya Can you give me some details about the Open Source hack(OSH) ? I don't have any idea about it .

[2020-08-19 09:18] divyanshugit commented on #632
Yes, I would love to work on this issue.

[2020-08-19 09:19] divyanshugit commented on #632
@PrashanthPuneriya Yes, I would love to work on this issue !!

[2020-08-19 09:20] PrashanthPuneriya commented on #632
Assigned you this issue @divyanshugit . Looking forward for your PR :)

[2020-08-19 09:30] PrashanthPuneriya commented on #732
@divyanshugit It is an open source program aimed to help the participants contribute to open source projects. Refer [this link](https://anitab-org.github.io/events/open-source-hack/) to know more about it. I suggest you to participate in it :)

[2020-08-19 10:37] faznan3nazer commented on #606
I would like to work on this PR. Can I take this up?

[2020-08-19 10:49] divyanshugit commented on #732
@PrashanthPuneriya I would love to participate in the OSH. Can you assign me on this ??

[2020-08-19 11:00] PrashanthPuneriya commented on #732
@divyanshugit There is no need of assigning someone to participate in OSH. Anyone can participate in it.

[2020-08-20 07:43] saikirankv commented on #720
@isabelcosta  can I take this issue?

[2020-08-20 10:58] Shivansh2407 opened #736 "Server response : registration_date in GET/user is float"
**Describe the bug**

The registration_date field on retrieving the user details gives a float value which is not an appropriate option for displaying the date.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'https://mentorship-backend-temp.herokuapp.com/'
2. Click on 'Users' -> 'POST/login' -> Get the Token
3. Scroll down to 'GET/user' -> Enter : Bearer <access_token>
4. See error

[2020-08-21 01:04] isabelcosta commented on #726
@vj-codes @PrashanthPuneriya I think its a valid change :) Yes, it will require some big changes, but not complex ones :) Whoever takes this, can ask for help, this does not seem to change logic, just naming variables. Makes sense?

[2020-08-21 01:06] isabelcosta commented on #728
@anna4j as per the program, can we put the label now? Do you have any trouble with it? I can create it for you. If you could let me know about the color of it, that would be great :)

[2020-08-21 01:10] isabelcosta commented on #720
Yes @saikirankv :) Go ahead, and let us know if you have any doubt

[2020-08-21 01:15] isabelcosta commented on #615
@nickinack since you are not a first timer anymore 🎉 I will assign to @vermastuti :)
@vermastuti I hope you are still interested 🤗

[2020-08-21 03:43] rajpratik71 opened #737 "Chore: Use `--no-cache-dir` flag to `pip` in Dockerfiles, to save space"
Using "--no-cache-dir" flag in pip install ,make sure downloaded packages
by pip don't cached on system . This is a best practice which make sure
to fetch from repo instead of using local cached one . Further , in case
of Docker Containers , by restricting caching , we can reduce image size.
In term of stats , it depends upon the number of python packages
multiplied by their respective size . e.g

[2020-08-21 03:46] rajpratik71 commented on #737
This issue is discussion thread for already raised pull request #735

[2020-08-21 06:10] anna4j commented on #728
Yes, I think it would be great if you could just create it for us now! It'll be very easy to differentiate between issues then. We haven't decided on a color though. I think something that really catches one's eye (like red?) would do since we're targeting new members!

[2020-08-21 19:06] vj-codes commented on #728
@isabelcosta if the label is created then will the issues with label be available or all of them for open source hack?If only ones with label are there then we need to prioritize imp ones coz there are huge number of issues on backend.

[2020-08-21 19:25] isabelcosta commented on #728
@vj-codes @anna4j I will create the label and let you know.
I didn't quite understand what you meant @vj-codes .
The idea here is to give you the ability to start marking issues such as this one for OSH :)

[2020-08-21 19:28] #722 closed, assigned to sanchibansal340

[2020-08-21 19:32] vj-codes commented on #728
@isabelcosta What I meant was currently there are 172 issues open , so will the label be applicable to all of them or just specific ones?

[2020-08-21 19:33] isabelcosta commented on #685
@jhalak27 I am a bit busy, I will help you more in the next few days!
Also, feel free to ask for help on Zulip so that other people can try to help you out :)

[2020-08-21 19:46] yugantarjain commented on #685
Hi @jhalak27!

What exact problem are you facing? (I'm not a backend expert though)
Also, sorry for the late reply, and thanks for working on the issue!
Yeah, asking on [Zulip](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/mentorship-backend) would be nice.

[2020-08-21 19:47] yugantarjain commented on #685
Yes, adding a property (or the user object) around lines 23-29. And then the initializer will also have to be updated accordingly.
I'm not a backend expert, but most probably a migration script will also have to be created. [Good Resource](https://stackoverflow.com/questions/42992256/how-do-you-add-migrate-an-existing-database-with-alembic-flask-migrate-if-you-di)

[2020-08-21 20:20] anna4j commented on #728
@vj-codes The label will be applied to specific issues that the OSH team is currently working on. Some of these issues could also overlap with the 172 issues you mentioned. You're right the huge number of issues will hopefully be lesser after OSH. We'll also have to keep in mind the fact, that the OSH participants might be new to Open Source. So at first "OSH Label" will be applied to issues such

[2020-08-22 09:44] PrashanthPuneriya opened #738 "Categorise mentorship_relation, tasks and comments"
## Description
As a contributor,
I need better categorization of files and its related code logic,
so that I can easily find the related code and wrap up my head around the project.
### Currently the following are under one category
![image](https://user-images.githubusercontent.com/42068010/90953439-3f303d80-e489-11ea-9870-335441c039de.png)

[resources/mentorship_relation.py](https://github.com/a

[2020-08-22 16:26] gaurivn commented on #235
I added the Status: On Hold since I thought of including this issue for the upcoming Open Source Hack.

[2020-08-22 16:28] gaurivn commented on #596
I added the Status: On Hold since I thought of including this issue for the upcoming Open Source Hack.

[2020-08-23 10:24] yugantarjain commented on #661
Hi @DartingMelody! Thanks a lot for your interest in working on this issue!
To get the access token, you'll have to sign-up as a new user (and then verify your email) and login. On login, the API response will contain the access token.
Thanks again!

[2020-08-23 16:38] isabelcosta commented on #235
@gaurivn just as a note, this issue description could be updated, because, now with the MOCK_EMAIL env var we don't need someone to have an email, so that is not needed for example.

[2020-08-23 16:44] isabelcosta commented on #737
@Rajpratik71 could you follow one of our templates? In this case would be the "User story" template, which you can find in `.github` folder.

I can assign this to you now that I understand and see that the issue is valid.

[2020-08-23 16:56] isabelcosta opened #739 "Use f-strings on User Resources file"
## Description
As a developer,
I need change strings interpolation in User Resources file,
so that I can make that file follow Coding Standards.

Format strings using f-strings when appropriate for `app/api/resources/user.py` file.

## Mocks

As an example, here:

https://github.com/anitab-org/mentorship-backend/blob/9102175e85302a04ad4d3bc4d1f89f30f840b0f9/app/api/resources/user.py#L171-L172

We

[2020-08-23 17:01] isabelcosta opened #740 "Use f-strings on Mentorship Relation Resources file"
## Description

As a developer,
I need change strings interpolation in User Resources file,
so that I can make that file follow Coding Standards.

Format strings using f-strings when appropriate for `app/api/resources/mentorship_relation.py` file.

## Mocks

As an example, here:

https://github.com/anitab-org/mentorship-backend/blob/9102175e85302a04ad4d3bc4d1f89f30f840b0f9/app/api/resources/mentor

[2020-08-23 17:05] isabelcosta opened #741 "Use f-strings on Admin Resources file"
## Description
As a developer,
I need change strings interpolation in Admin Resources file,
so that I can make that file follow Coding Standards.

Format strings using f-strings when appropriate for `app/api/resources/admin.py` file.

## Mocks

As an example, here:

https://github.com/anitab-org/mentorship-backend/blob/9102175e85302a04ad4d3bc4d1f89f30f840b0f9/app/api/resources/admin.py#L16

We can

[2020-08-23 19:18] vj-codes commented on #644
@PrashanthPuneriya hows the PR going?

[2020-08-23 20:17] gaurivn commented on #235
@isabelcosta, I'm unable to edit the issue title or description, please tell what to do

[2020-08-23 21:38] isabelcosta commented on #612
@nickinack I removed the assignment and label since more than 3 days passed without a response.
@vj-codes This is in the Contribution Guidelines, so feel free to do this if you don't get a response for too long.

[2020-08-23 22:24] isabelcosta commented on #661
@DartingMelody This documentation I wrote can also help you understand login:
- https://github.com/anitab-org/mentorship-backend/blob/develop/docs/user_authentication.md
- https://github.com/anitab-org/mentorship-backend/wiki/Log-in-using-Swagger-UI

I will assign this to you :) Let us know if you have more doubts.

[2020-08-23 23:02] isabelcosta commented on #235
@gaurivn I just improved the description :) So now I think its good! Thank you so much for helping this.

[2020-08-24 04:43] LivesInRoom29 commented on #741
Hi there! It doesn't look like anyone has requested to work on this yet. If it's still available, I'd love to give it a go. It would be my first contribution on here. I should be able to get it done tomorrow.

[2020-08-24 08:36] PrashanthPuneriya commented on #741
Hey @LivesInRoom29 ! I have assigned you this issue. Happy coding :)

[2020-08-24 09:06] PrashanthPuneriya opened #742 "Use f-strings in mentorship_relation folder test files"
## Description
As a developer,
I need change strings interpolation in mentorship_relation folder test files,
so that I can make that file follow Coding Standards.

Format strings using f-strings when appropriate for `tests/mentorship_relation/*` file.

## Mocks
As an example, here:
https://github.com/anitab-org/mentorship-backend/blob/9102175e85302a04ad4d3bc4d1f89f30f840b0f9/tests/mentorship_relat

[2020-08-24 09:44] PrashanthPuneriya opened #743 "Use f-strings in users folder test files"
## Description
As a developer,
I need change strings interpolation in users folder test files,
so that I can make that file follow Coding Standards.

Format strings using f-strings when appropriate for `tests/users/*` files.

## Mocks
As an example, here:
https://github.com/anitab-org/mentorship-backend/blob/9102175e85302a04ad4d3bc4d1f89f30f840b0f9/tests/users/test_api_resources.py#L49-L50
We can

[2020-08-24 09:51] PrashanthPuneriya opened #744 "Use f-strings in tasks folder test files"
## Description
As a developer,
I need change strings interpolation in tasks folder test files,
so that I can make that file follow Coding Standards.

Format strings using f-strings when appropriate for `tests/tasks/*` files.

## Mocks
As an example, here:
https://github.com/anitab-org/mentorship-backend/blob/9102175e85302a04ad4d3bc4d1f89f30f840b0f9/tests/tasks/test_api_create_task.py#L32
We can us

[2020-08-24 11:10] PrashanthPuneriya commented on #644
I think we can close this issue now @vj-codes. What do you think @Techno-Disaster? Are we on the same page or am I missing something.?

[2020-08-24 11:13] vj-codes commented on #644
@PrashanthPuneriya the search function still doesn't work on android apk, any idea why?

[2020-08-24 11:17] PrashanthPuneriya commented on #644
I mentioned in this [comment](https://github.com/anitab-org/mentorship-backend/issues/644#issuecomment-661748664) @vj-codes that it queries by name not username :)

[2020-08-24 11:23] vj-codes commented on #644
Tried both ways no result, if you can successfully search , could you please upload a gif then we can close this as well as the issue in android repo. @PrashanthPuneriya

[2020-08-24 11:27] PrashanthPuneriya commented on #644
@vj-codes I will upload a gif soon. Meanwhile can you please describe the issue? Even [this PR](https://github.com/anitab-org/mentorship-flutter/pull/114) was approved as working and merged right?

[2020-08-24 11:30] PrashanthPuneriya opened #745 "Search users based on both the username and name"
**Is your feature request related to a problem? Please describe.**
Currently, the search function finds the mentor/mentee based on `Name`. Sometimes, users are remembered by their username instead of their name. e.g. @Techno-Disaster :D

**Describe the solution you'd like**
Add a feature such that the users can be searched even by their username.

**Describe alternatives you've considered**
NA

**

[2020-08-24 11:41] vj-codes commented on #644
@PrashanthPuneriya I just downloaded the recent apk again but still no results , the issue here is you try by anyway the search simply doesnt work:(

[2020-08-24 12:05] Nibba2018 commented on #744
Hello @PrashanthPuneriya  can i work on this issue?

[2020-08-24 12:10] vj-codes commented on #673
@GobindB hey how's the PR going?

[2020-08-24 12:11] vj-codes commented on #632
@divyanshugit hey how's the PR going?

[2020-08-24 12:12] vj-codes commented on #615
@vermastuti hey how's the PR going?

[2020-08-24 12:16] vj-codes commented on #606
Sure assigning you @faznan3nazer
Happy coding!

[2020-08-24 12:20] vj-codes commented on #565
@PrashanthPuneriya only the screenshot needs to be updated.This can be a good issue for OSH.What say?

[2020-08-24 12:22] vj-codes commented on #561
Unassigning @CharityKithaka due to inactivity.

[2020-08-24 12:24] vj-codes commented on #528
Unassigning @developer22-university due to inactivity.

[2020-08-24 12:27] vj-codes commented on #519
@isabelcosta Closing since HTTPStatus is currently being used.Hope it's alright:)

[2020-08-24 12:27] #519 closed, assigned to nandini45

[2020-08-24 12:29] vj-codes commented on #507
Closing since PR #520 is merged.

[2020-08-24 12:29] #507 closed, assigned to ashokrayal

[2020-08-24 12:31] vj-codes commented on #471
Unassigning @lorryaze due to inactivity.

[2020-08-24 12:32] priyanshurohilla commented on #743
hey @PrashanthPuneriya  can i work on this?

[2020-08-24 12:33] vj-codes commented on #413
@isabelcosta closing since this feature won't be implemented soon and is off theme of mentorship-system.

[2020-08-24 12:35] vj-codes commented on #403
Unassigning @cs17b005 due to inactivity.

[2020-08-24 12:36] vj-codes commented on #401
Closing since search feature is already implemented.

[2020-08-24 12:36] #401 closed, assigned to nobody

[2020-08-24 12:38] vj-codes commented on #343
Unassigning @Shivansh2407 due to inactivity.

[2020-08-24 12:39] ankanbose848 commented on #744
@PrashanthPuneriya I would love to work on this issue.

[2020-08-24 12:40] ankanbose848 commented on #742
@PrashanthPuneriya  I would love to work on this.

[2020-08-24 12:40] vj-codes commented on #284
Closing since Dependabot is integrated now.

[2020-08-24 12:40] #284 closed, assigned to nobody

[2020-08-24 13:04] PrashanthPuneriya opened #746 "TypeError: required field "type_ignores" missing from Module"
**Describe the bug**

After setting up the project and running the command `python run.py` I encountered the following issue:-
[code]
**To Reproduce**

Steps to reproduce the behavior:

1. If you have a virtualenv folder then delete it and recreate the virtual environment as specified in the docs
2. Activate the virtual environment
3. Run `pip install -r requirements.txt` command.
4. Run `python r

[2020-08-24 13:36] PrashanthPuneriya commented on #565
@vj-codes Yes! this would be a good issue for OSH. But, we need to consider what @isabelcosta said and decide further on what/how to do.

[2020-08-24 13:46] anupriya-goyal commented on #739
I would like to work on this.

[2020-08-24 15:32] SanketDG commented on #284
I don't see the updates anymore, @isabelcosta was it switched off?

[2020-08-24 15:33] SanketDG commented on #401
This is an aspect which can always be improved, but I agree, since we already implemented full text search, there is no point of using a cloud service. But this can always be improved, cloud or not.

[2020-08-24 15:34] SanketDG commented on #413
Can we put a `on-hold` or `Future` label maybe?

[2020-08-24 15:37] SanketDG commented on #565
Moving to Docusaurus is something we did at Portal. We can do that for `mentorship-backend` where each task is a separate issue as seen in https://github.com/anitab-org/portal/pull/657

[2020-08-24 15:46] SanketDG commented on #739
Let us know if you need any help!

[2020-08-24 16:02] PrashanthPuneriya commented on #565
Woww! That's cool @SanketDG. Can we take such decisions like moving to Docusaurus?

[2020-08-24 16:02] gaurivn opened #747 "Move docs from wiki to Docusaurus"
**Is your feature request related to a problem? Please describe.**
As of now, the whole documentation for mentorship-backend is in [the wiki](https://github.com/anitab-org/mentorship-backend/wiki).

**Describe the solution you'd like**
We will now move to Docusaurus.

**Describe alternatives you've considered**
  Docusaurus

**Additional context**
**TODO:**

- [ ] Add a basic minimal scaffold in d

[2020-08-24 16:06] gaurivn commented on #565
I created an issue for the same: Issue #747, pls do review it.

[2020-08-24 16:12] PrashanthPuneriya commented on #413
Yes, it's better to not close such type of issues. Otherwise they will be buried down the closed issues hole :D. To my knowledge these type of issues comes under `Outreach/Research` category.

[2020-08-24 16:23] SanketDG commented on #747
We need to break each of the list items in separate issues for OSH, because this in itself is a pretty big issue.

[2020-08-24 16:29] PrashanthPuneriya commented on #744
Hey @Nibba2018 @ankanbose848! This issue is reserved for [Open Source Hack (OSH)](https://anitab-org.github.io/events/open-source-hack/) participants. If you are participating in it for sure I will assign you this issue. Please free to check out other issues :)

[2020-08-24 16:29] PrashanthPuneriya commented on #743
Hey @priyanshurohilla ! This issue is reserved for [Open Source Hack (OSH)](https://anitab-org.github.io/events/open-source-hack/) participants. If you are participating in it for sure I will assign you this issue. Please free to check out other issues :)

[2020-08-24 16:30] PrashanthPuneriya commented on #742
Hey @ankanbose848! This issue is reserved for [Open Source Hack (OSH)](https://anitab-org.github.io/events/open-source-hack/) participants. If you are participating in it for sure I will assign you this issue. Please free to check out other issues :)

[2020-08-24 17:00] pavani-17 commented on #740
Hey! I would like to work on this issue.. May I?

[2020-08-24 17:13] gaurivn opened #748 "Move docs from wiki to Docusaurus - 2"
**Is your feature request related to a problem? Please describe.**
As of now, the whole documentation for mentorship-backend is in [the wiki](https://github.com/anitab-org/mentorship-backend/wiki).

**Describe the solution you'd like**
We will now move to Docusaurus. This issue is a continuation of Issue #747.

**Describe alternatives you've considered**
  Docusaurus

**Additional context**
**TODO

[2020-08-24 19:36] isabelcosta commented on #740
Yes sure @pavani-17 :) I will assign this to you!

[2020-08-24 19:38] isabelcosta commented on #739
@PrashanthPuneriya we have to take the open source hack label right? because it has not started yet? I am asking because I am not sure.

[2020-08-24 19:51] alapan-sau commented on #746
Hey, I think I got the solution to this issue. The package Werkzeug==0.15.3 in the requirements.txt doesnt work properly with python3.8 . However with Werkzeug==1.0.1 (latest version) the problem is solved. Can I be assigned to this issue?

[2020-08-24 20:04] PrashanthPuneriya commented on #739
@isabelcosta We asked @mayburgos but, there was no response. So, we decided to assign the issues only for Open Source Hack participants else there will be very less no. of issues for the program.
If a contributor asks you to assign the OSH labelled issues please make them aware of OSH program and ask them to create a PR during the OSH timeline.

[2020-08-24 20:09] isabelcosta commented on #739
@PrashanthPuneriya I see, that is a good compromise 🤔  As long as we are not gatekeeping issues. We can always come with more issues :P I have always a lot of ideas! Ok, so the hack starts next week right?

[2020-08-24 20:12] PrashanthPuneriya commented on #739
@isabelcosta I am struggling to find issues :P Yes! OSH begins next week. Pretty excited to begin my journey as a mentor officially :D

[2020-08-24 20:13] Nibba2018 commented on #744
Sure @PrashanthPuneriya , I just wanted to know if someone else is already working on it to prevent duplicate work. Also I actually am participating for `OSH`.

[2020-08-24 20:21] PrashanthPuneriya commented on #746
Great job! @alapan-sau. But, this issue is reserved for Open Source Hack (OSH) participants. If you are participating in it then for sure I will assign you this issue. Please free to check out other issues in the meantime :)

[2020-08-24 20:24] alapan-sau commented on #746
I would like to participate when it starts. Thanks!

[2020-08-24 20:28] PrashanthPuneriya commented on #744
@Nibba2018 I am assigning this issue to you since, you are participating in OSH and grabbed it first. But, remember that the PR for OSH will be valid only if you raised it during the OSH timeline.

[2020-08-24 20:42] techno-disaster commented on #685
Hey @jhalak27  any updates on this issue?

[2020-08-24 20:50] alapan-sau commented on #346
Can I work on this issue?

[2020-08-24 21:08] Nibba2018 commented on #744
Thank You @PrashanthPuneriya .

[2020-08-24 21:12] BALaka-18 commented on #743
Hi @PrashanthPuneriya I am participating in Open Source Hack (OSH). Can I work on this issue ?

[2020-08-24 21:38] atharwa-24 commented on #733
Can I work on this issue?

[2020-08-24 21:39] BALaka-18 commented on #746
Hi @PrashanthPuneriya, I am participating in Open Source Hack (OSH). Can I work on this issue ?

[2020-08-24 21:45] techno-disaster commented on #644
yep I agree, I did see a issue for searching both using names and usernames #745 . So this issue is deprecated now :)

[2020-08-24 21:51] BALaka-18 commented on #742
Hi @PrashanthPuneriya, I am participating in Open Source Hack (OSH). Can I work on this issue ?

[2020-08-24 22:02] UdokaVrede commented on #736
way to go on this @Shivansh2407

[2020-08-24 22:06] UdokaVrede commented on #613
any more detail on this please

[2020-08-24 23:07] Sommie09 commented on #736
I would love to work on this, I am participating in OSH @Shivansh2407  I'm a first-timer

[2020-08-25 04:09] priyanshurohilla commented on #743
I am participating in it. Thanks for acknowledging😊

[2020-08-25 04:27] Shivansh2407 commented on #736
@UdokaVrede @Sommie09 glad to see you interest in this issue. This issue is reserved for Open Source Hack which starts on 1st September. If you are participating in OSH, I will surely assign it to you . Please fix the other issues in the meantime. For more information about OSH take a look at [this link](https://anitab-org.github.io/events/open-source-hack/)

[2020-08-25 06:49] UdokaVrede commented on #736
Thanks for the reply, I'd like to know if applications to participate in
the Open Source Hack are still open, as I would love to participate in this
exercise.
A link to the application is still available would be appreciated.

[2020-08-25 08:33] PrashanthPuneriya commented on #746
@alapan-sau I am assigning this issue to you since, you are participating in OSH and grabbed it first. But, remember that the PR for OSH will be valid only if you raised it during the OSH timeline.

[2020-08-25 08:36] PrashanthPuneriya commented on #743
@priyanshurohilla I am assigning this issue to you since, you are participating in OSH and grabbed it first. But, remember that the PR for OSH will be valid only if you raised it during the OSH timeline.

[2020-08-25 08:38] PrashanthPuneriya commented on #742
@BALaka-18 I will assign this issue to you if @ankanbose848 isn't participating in OSH program. Otherwise it won't be fair. Hope you understand :)

[2020-08-25 08:39] PrashanthPuneriya commented on #733
Hey @atharwa-24 ! This issue is reserved for Open Source Hack (OSH) participants. If you are participating in it then, for sure I will assign you this issue :)

[2020-08-25 08:42] PrashanthPuneriya commented on #732
Hey @divyanshugit! I am assigning this issue to you since, you are participating in OSH. But, remember that the PR for OSH program will be valid only if you raised it during the OSH timeline.

[2020-08-25 08:47] PrashanthPuneriya commented on #736
Hey @UdokaVrede! There is no need of applying to OSH program. We will consider you as a participant in the OSH program if you open PRs in the month of September. Please follow [this link](https://anitab-org.github.io/events/open-source-hack/) to know more about OSH program. Happy coding :)

[2020-08-25 09:19] ankanbose848 commented on #742
I am participating in it.

[2020-08-25 09:22] BALaka-18 commented on #742
Yes I understand. No problem.

[2020-08-25 12:31] ashwinijha6 commented on #721
@faznan3nazer I would like to work on this issue

[2020-08-25 13:41] vj-codes commented on #732
Hey @PrashanthPuneriya on the Android repo no contributors are being assigned till 1st September for OSH. It'll be great if same is followed to avoid further confusion:)

[2020-08-25 14:13] saikirankv commented on #720
PR: https://github.com/anitab-org/mentorship-backend/pull/751
@isabelcosta  I have submitted a PR, Tests are failing with below error
Merging #751 into develop will not change coverage.
The diff coverage is 50.00%.

can you help me with this?

[2020-08-25 14:33] SanketDG commented on #732
Again, if we can't automate this, I truly think there is no point doing this if it's always going to be out of date.

[2020-08-25 14:37] SanketDG commented on #644
Can we close this then?

[2020-08-25 14:41] SanketDG commented on #565
Great question! We have to ask @isabelcosta then!

[2020-08-25 15:02] PrashanthPuneriya commented on #732
@vj-codes Okay! I won't assign the OSH issues from now on then.

[2020-08-25 15:11] PrashanthPuneriya commented on #732
Is the automation possible? What should we do with this issue now? Shall we let @divyanshugit work on this for now?

[2020-08-25 15:39] PrashanthPuneriya opened #752 "Remove the redundant link from README file"
## Description
As a contributor,
I don't need a link to the same page stating Mentorship System,
so that I won't be clicking on the link without knowing that it redirects to the same page.

## Mocks
![image](https://user-images.githubusercontent.com/42068010/91195882-0efdce80-e717-11ea-9091-bb6be2379fb0.png)
Here `Mentorship System` term points to the mentorship-backend repo which isn't required.

[2020-08-25 16:25] Sommie09 commented on #752
@PrashanthPuneriya I'm participating in the OSH program from 1st September. I am done with this task and would love to send in a PR on the 1st! I'm a first-timer in open source as well

[2020-08-25 17:07] PrashanthPuneriya commented on #752
@Sommie09 I can assign you this issue on September 1st. Please free to checkout other issues in the mean time.

[2020-08-25 17:20] Sommie09 commented on #752
okay @PrashanthPuneriya would check in then! Thank you

[2020-08-25 22:43] gaurivn opened #753 "Perform manual testing and report POST /login API"
## Description

As a tester,
I need to test POST /login API,
so that I can provide a test report on it.

You should create a markdown file inside `/docs/manual_tests` with the following content:
- Scenario tested step by step with dummy data you used (e.g.: username and password)
- Report it as:
[code]
If you find a test that the expected result does not match the actual result then create an issu

[2020-08-26 05:27] anupriya-goyal commented on #739
Hi everyone,

I was trying to setup this project on my windows machine. I have installed Python3.8 on my machine and when I tried to run the command given in the readme for setup: Create a virtual environment: virtualenv venv --python=python3 is not working. I got an error that virtualenv is not recognized. This command is for windows machine ? Can you please let me know where I am doing wrong in

[2020-08-26 05:51] vermastuti commented on #615
Need help with environment variables. Where can I get these values?

[2020-08-26 05:52] vaibhavarora102 commented on #230
@PaulaPaul @isabelcosta  is this still open and can I try my hands on it
thanks!

[2020-08-26 09:43] paritoshsinghrahar opened #754 "Add code quality badges to README file"
## Description
As a contributor,
I need to know the status of the code quality of major branches (develop and master).
So that I can be aware of the code quality as I land on the main page of the repository through README.

## Mocks
As done on mentorship-android's repository.
![mentorship-android](https://user-images.githubusercontent.com/46970368/91287854-e8d73d80-e7ad-11ea-8ed5-31299b590209.PNG)

[2020-08-26 10:33] utkzas commented on #754
can you assign this to me please :)

[2020-08-26 10:40] paritoshsinghrahar opened #755 "Link essential files under /docs to Documentation section in README file"
## Description
As a contributor,
1. I need to know the [code organization](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/code_organization.md) within the repository. So that I can be aware of the code organization and basic architecture as I land on the main page of the repository through README.
2. Also, I need access to the internal workings of [user Authentication](https://

[2020-08-26 11:57] paritoshsinghrahar commented on #754
@utkzas
This issue is labeled for Open Source Hack.
I can assign this issue to you on September 1st as the official opening date for Open Source Hack. Please free to check out other issues in the meantime.

Program website: https://anitab-org.github.io/events/open-source-hack/

[2020-08-26 13:33] Hyper-Matrix commented on #752
I would like to work on this. Is there any chance I can work on it?

[2020-08-26 13:38] SanketDG commented on #739
Hey @anupriya-goyal, here's a couple of things I can suggest:

- Make sure that `python3` is in your PATH, it's highly possible that your python installation may not have added the `python` executable to your `%PATH%`
- You could just try `virtualenv venv`, because I assume you would have installed only `Python 3`, and hence, there is no need to explicitly mention `Python 3` in the command.
- Look

[2020-08-26 13:40] SanketDG commented on #739
I wasn't aware, apologies. If it's possible, we can remove the OSH label from this issue.

[2020-08-26 13:40] paritoshsinghrahar opened #756 "Design solution for push notifications in the app and submit as a markdown file under the “docs” folder."
## Description
As a contributor, I need you to design a probable solution for supporting push notifications in the app. So that front-end developers can easily trigger an API call from backend sending notifications to the user's device.

Design a probable solution for push notifications in the app and submit as a markdown file under the “docs” folder.

#### Important: The solution must be designed

[2020-08-26 13:44] SanketDG commented on #755
Great ideas!

This somewhat conflicts with #747, we need to have a proper discussion about what needs to be done here.

I'd personally favour creating one single docs, where any form of non-ephemeral documentation resides.

And then (following this issue) we obviously link that to the README, and then we can also link a couple of "frequently asked pages" to the README

[2020-08-26 13:49] SanketDG commented on #753
This is prone to one of my main concerns: the documentation or code would go stale if no one updates it.

There is also a postman collection file in the repo which can help in these cases, but it's outdated (#591) because of the same reason: it was not updated after a certain amount of time.

[2020-08-26 13:50] SanketDG commented on #615
Could you show us the `.env` file @vermastuti ?

[2020-08-26 13:59] SanketDG commented on #346
@alapan-sau Sorry for the delay, I have assigned you

[2020-08-26 14:03] pavani-17 commented on #756
Hey...! May I work on this?

[2020-08-26 14:09] paritoshsinghrahar commented on #756
@pavani-17
This issue is labeled for Open Source Hack.
I can assign this issue to you on September 1st as the official opening date for Open Source Hack. You can then participate in the [program](https://anitab-org.github.io/events/open-source-hack/). Please free to check out other issues in the meantime.

[2020-08-26 14:17] alapan-sau commented on #596
I would like to work on this issue for OSH.

[2020-08-26 14:23] pavani-17 commented on #738
I am participating in Open Source Hack... May I work on this?

[2020-08-26 14:30] alapan-sau commented on #341
I would like to work on this for OSH.

[2020-08-26 14:32] PrashanthPuneriya commented on #752
@Hyper-Matrix This issue is for OSH program. Since, a participant has claimed the issue it won't be fair to remove this issue from OSH program. If you're participating in the program then it may be possible to assign this issue to you during OSH timeline.  If not then please feel free to checkout other issues :)

[2020-08-26 14:34] paritoshsinghrahar commented on #755
@SanketDG
I think a possible solution can be that even when we move from docs to Docusaurus.
This issue can be expanded to deal with linking all the pages of documentation to README, once movement to Docusaurus is completed. Additionally, it can also link "frequently asked pages" as you suggested.

This Issue can be broken into two issues.
1. Before moving to Docusaurus.
2. After moving to Docusau

[2020-08-26 14:39] SanketDG commented on #230
@vaibhavarora102 This is largely a meta issue which itself can be broken into several issues, I'd like to take @isabelcosta's thoughts on this before assigning anyone

[2020-08-26 14:39] swaraj961 commented on #754
Hey Can you assign me this issue on 1st sept, also what if two persons conflict with Solving the same issue ?

[2020-08-26 14:40] PrashanthPuneriya commented on #738
@pavani-17 Sure! I can assign this issue to you as soon as the program starts. Also, since this issue comes under outreach/research I think it requires approval from the core contributors. Meanwhile please feel free to work on other issues :)

[2020-08-26 14:40] SanketDG commented on #755
Wouldn't that create a lot of links?

[2020-08-26 15:15] paritoshsinghrahar commented on #754
@swaraj961 Please refer to [Contributing Guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md):

- If you’re just getting started work on an issue labeled “First Timers Only” in any project. Additional resources are available on our website.
- In an active repository (not an archived one), choose an open issue from the issue list, claim it in the commen

[2020-08-26 15:16] paritoshsinghrahar commented on #755
Yes, it would. Please guide what needs to be done here.

[2020-08-26 15:51] SanketDG commented on #664
@PrashanthPuneriya Can you update the description to explicitly mention what needs to be done here?

[2020-08-26 15:55] SanketDG commented on #732
I am not sure @PrashanthPuneriya, I would have already suggested something if I knew :slightly_smiling_face:

Also do you mean that the codes on the left hand side of the preview `HTTPStatus....` is what the swagger.json should contain?

Because it's actually a bug when we moved to flask-restx #605, previously the actual status codes used to appear.

[2020-08-26 18:13] paritoshsinghrahar opened #757 "Create Quality Assurance table for Delete Task API"
## Description
As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table for "Delete Tasks" API to the docs in the /docs folder.

Additionally, add all tasks' quality assu

[2020-08-26 18:19] paritoshsinghrahar commented on #471
@isabelcosta Should I add Open Source Hack Label to this?

[2020-08-26 18:27] paritoshsinghrahar opened #758 "Create Quality Assurance table for List All Tasks API"
## Description
As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table for "List All Tasks" API to the docs in the /docs folder.

Refer to #757, if the following task ha

[2020-08-26 20:20] jhalak27 commented on #685
It's bit hard for me. But I am trying to understand what all changes need to be done.
I think it would be better if you could open this issue for other contributors!

[2020-08-26 21:09] brpowell commented on #745
Hi all 👋 . I was hoping to take this issue if it hasn't been claimed yet. Thanks!

[2020-08-27 01:08] gaurivn commented on #596
Hi @alapan-sau, this issue will be made available once Open Source Hack starts on September 1st, 2020. Till then you can set up the development environment for and familiarise yourself with mentorship-backend. If you've any doubts feel free to ask them on Zulip.

[2020-08-27 03:21] anupriya-goyal commented on #739
@SanketDG  thanks, I have followed your advice over using wsl.
Currently I am using Ubuntu distribution WSL. I have forked the repo and have followed the steps to setup the remote upstream.
I am able to create a virtual environment through WSlL.
I am facing issues at pip install requirement.txt command. Error I am getting when it is installing cliff, blinker packages.

![Error_in_requirement](http

[2020-08-27 04:50] PrashanthPuneriya commented on #664
@SanketDG Just tested this. When did we merged #605 :P?. #605 solved most of the problem. After merging #713 we can close this issue.

[2020-08-27 06:16] khushishikhu commented on #758
may i take this issue for Open Source Hack

[2020-08-27 06:20] SanketDG commented on #739
This is what googling turned up https://stackoverflow.com/questions/34819221/why-is-python-setup-py-saying-invalid-command-bdist-wheel-on-travis-ci

[2020-08-27 06:50] vaibhavarora102 commented on #758
can I work on this issue in open source hack @paritoshsinghrahar

[2020-08-27 06:53] vaibhavarora102 commented on #747
can I work on this in the open source hack

[2020-08-27 06:53] vaibhavarora102 commented on #748
can i work on this in open source hack

[2020-08-27 06:58] vaibhavarora102 commented on #733
hi @PareenKarpe can you pls assign this issue to me for open-source hack
thanks!

[2020-08-27 07:11] SanketDG commented on #664
Yeah that's what I thought, sounds good, we can remove the OSH label right?

[2020-08-27 07:30] SanketDG commented on #732
Also, if you go to http://mentorship-backend-temp.herokuapp.com/swagger.json, you will also see the same status codes as the display.

[2020-08-27 09:54] saikirankv commented on #720
@isabelcosta  can you help me with this?

[2020-08-27 10:34] dowenrei commented on #757
Hi, it's my first time contributing and looking forward to contributing to this for OSH.

[2020-08-27 13:30] paritoshsinghrahar opened #759 "Add to List Users API the ability to filter users by skills"
## Description
As a member of the app,
I need be able to filter other members by their skills,
so that I can choose the member I want to create a mentorship relation with.

APIs used to fetch Users, don't have an option to filter users by `skills` attribute.

#### Note: This issue is labeled for Open Source Hack.
I can assign this issue to you on September 1st as the official opening date for Open

[2020-08-27 13:33] paritoshsinghrahar opened #760 "Add to List Users API the ability to filter users by location"
## Description
As a member of the app,
I need be able to filter other members by their location,
so that I can choose the member I want to create a mentorship relation with.

APIs used to fetch Users, don't have an option to filter users by `location` attribute.

#### Note: This issue is labeled for Open Source Hack.
I can assign this issue to you on September 1st as the official opening date for

[2020-08-27 14:33] paritoshsinghrahar opened #761 "Design a solution for integrating third party apps authentication."
## Description
As a contributor, I need you to design a probable solution for integrating third-party apps authentication.
So that end-user can log in from other social media platforms and third-party apps.

Design a probable solution for integrating third-party apps authentication in the app and submit as a markdown file under the “docs” folder.

#### Important: The solution must be designed from

[2020-08-27 14:43] Maheejaiswal commented on #597
hello, I am a first-timer and participated in OSH. Can you please help me through this?

[2020-08-27 15:26] paritoshsinghrahar opened #762 "Add link to quality assurance tables to Swagger UI docs."
## Description
As a contributor,
I need to know about test cases for each feature implemented on the backend.
so that I can easily improve code by creating issues, PRs, etc.

You could add the link to the quality assurance test cases found [here](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/quality-assurance-test-cases.md). So that contributors know about test cases each feat

[2020-08-27 15:35] paritoshsinghrahar opened #763 "Update the description of the app on the Swagger UI docs"
## Description
As a contributor,
I need some more description on Swagger docs,
so that I can easily understand what the app is about.

Currently, the Swagger docs don't mention:
1. [ios client repository](https://github.com/anitab-org/mentorship-ios) for the Mentorship System.
2. [flutter repository](https://github.com/anitab-org/mentorship-flutter) for the Mentorship System.
3. For new contributo

[2020-08-27 16:19] SanketDG commented on #763
FYI, there is also https://github.com/anitab-org/mentorship-android

[2020-08-27 17:22] nitish-awasthi commented on #752
Hi! @PrashanthPuneriya can I work on this issue for OSH?

[2020-08-27 18:15] paritoshsinghrahar commented on #763
It's already mentioned in the mocks.

[2020-08-27 18:20] SanketDG commented on #763
Let's try to put all clients under one place.

[2020-08-27 19:13] anishghimire603 commented on #762
Can a beginner in do this if yes then I will be attending QA open sessions on Tuesdays at 1pm EST and then learn from there and can contribute to this....?

[2020-08-27 19:22] PrashanthPuneriya commented on #664
I have tested this only on Python 3.8. Let me confirm with other versions and decide whether to close this issue or not :)

[2020-08-27 19:30] PrashanthPuneriya commented on #732
Yes! I meant the status codes.

Ohh! Then, we don't even need this file right? The deployed version link itself serves the purpose.

[2020-08-27 19:39] Hyper-Matrix commented on #565
I would like to work on this for OSH. Can someone assign it to me on 1st september?

[2020-08-27 19:48] PrashanthPuneriya opened #764 "Remove swagger.json from docs folder"
## Description
As a contributor,
I need an up-to-date [swagger.json](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/swagger.json) file,
so that I can refer to the urls, responses and can search them easily. But, since this [link](http://mentorship-backend-temp.herokuapp.com/swagger.json) serves the purpose we no longer need to update [swagger.json](https://github.com/anitab-org

[2020-08-27 19:49] PrashanthPuneriya commented on #732
@SanketDG I opened #764. Can we close this issue now? If yes, what about the assignee?

[2020-08-27 21:03] yash2189 commented on #758
can I work on this issue in OSH @paritoshsinghrahar

[2020-08-27 22:36] SHITIZ-AGGARWAL commented on #764
hello ,I would like to work on this

[2020-08-28 05:40] SanketDG commented on #732
@divyanshugit Apologies, you will have find some other issue now, there are lot of them right now!

Feel free to close this

[2020-08-28 06:43] #732 closed, assigned to divyanshugit

[2020-08-28 10:17] faznan3nazer commented on #733
I would like to work on this issue.. Can you please assign this to me for Open-Source Hack?

[2020-08-28 10:34] faznan3nazer commented on #738
I would like to work on this Issue...can you please assign this to me for Open-Source Hack?

[2020-08-28 10:44] faznan3nazer commented on #755
I would like to work on this issue...can you please assign this to me for Open-Source Hack?

[2020-08-28 11:24] saikirankv commented on #720
@isabelcosta here is my PR https://github.com/anitab-org/mentorship-backend/pull/765
tests are passing, what is the process for PR merge.

[2020-08-28 11:40] niyati-n commented on #733
I would like to work on this issue for open source hack

[2020-08-28 11:42] niyati-n commented on #754
I would like to work on this issue

[2020-08-28 13:16] yogeshr59 commented on #733
Hey @PrashanthPuneriya I would like to work on this issue under OSH if it has not been claimed yet. Thanks.

[2020-08-28 13:18] yogeshr59 commented on #728
Hey @anna4j I would like to work on this under OSH if it has not been claimed yet. Thanks.

[2020-08-28 13:23] anna4j commented on #728
@raisinghanii Ya sure we'll assign you on 1st. Please set up the project till then :)

[2020-08-28 13:51] gaurivn opened #766 "Perform manual testing and report POST /register API"
## Description

As a tester,
I need to test POST /register API,
so that I can provide a test report on it.

You should create a markdown file inside `/docs/manual_tests` with the following content:
- Scenario tested step by step with dummy data you used (e.g.: username and password)
- Report it as:
[code]
If you find a test that the expected result does not match the actual result then create an i

[2020-08-28 14:00] SanketDG commented on #766
I am trying to find an intersection between the following issues and the quality assurance table issues opened by @paritoshsinghrahar .

Surely, we are can find a way to sort of find a middle ground here, as I personally do not want repetitive work to be done here.

Let me know your thoughts.

[2020-08-28 14:01] SanketDG commented on #720
@saikirankv Someone will review your PR soon

[2020-08-28 14:06] gaurivn commented on #766
The issue you mentioned is a first-timers OSH issue - adding a link to the quality assurance tables doc. Whereas this series of issues (manually testing each API) is about documenting them with screenshots for different scenarios.

[2020-08-28 14:09] gaurivn opened #767 "Perform manual testing and report PUT /user API"
## Description

As a tester,
I need to test PUT /user API,
so that I can provide a test report on it.

You should create a markdown file inside `/docs/manual_tests` with the following content:
- Scenario tested step by step with dummy data you used (e.g.: username and password)
- Report it as:
[code]
If you find a test that the expected result does not match the actual result then create an issue

[2020-08-28 14:12] SanketDG commented on #766
No I mean issues like https://github.com/anitab-org/mentorship-backend/issues/758

The point also isn't about the work being different, but whether the work can be put in the same file or not, so that we have a single source of truth.

[2020-08-28 14:19] gaurivn commented on #766
The issue mentioned would aid this one since it is about updating the test cases. This issue requires the work to be placed in /docs/manual_tests/ as is mentioned here. This series of issues about manually testing each API was brought up during the Mentorship System - Sync up session.

[2020-08-28 15:46] gaurivn opened #768 "Design UI for email confirmation"
## Description
As a developer,
I need to design a specific UI for email confirmation,
so that I can improve the current UI.

### Context
When a user registers they receive an email confirmation (account activation) link in the email ([current template](https://github.com/anitab-org/mentorship-backend/blob/develop/templates/email_confirmation.html)). This UI should be designed following [AnitaB.org

[2020-08-28 15:56] gaurivn opened #769 "Design UI for Mentorship relation accepted"
## Description
As a developer,
I need to design a specific UI for Mentorship relation accepted,
so that I can improve the current UI.

### Context
When user B accepts a mentorship relation request from user A, the latter will receive an email stating Mentorship relation accepted by user B ([current template](https://github.com/anitab-org/mentorship-backend/blob/develop/templates/mentorship_relatio

[2020-08-28 16:12] gaurivn opened #770 "Design UI for Mentorship relation request"
## Description
As a developer,
I need to design a specific UI for Mentorship request sent,
so that I can improve the current UI.

### Context
When user A sends a mentorship relation request to user B, the latter receives an email conveying the same ([current template](https://github.com/anitab-org/mentorship-backend/blob/develop/templates/email_relation_request.html)). This UI should be designed f

[2020-08-28 16:22] SHITIZ-AGGARWAL commented on #768
hello @gaurivn i would like to contribute once the event starts

[2020-08-28 17:30] vj-codes commented on #769
Heyy @gaurivn I would like to work on this for OSH!

[2020-08-28 17:31] rpattath opened #771 "Delete relation when the user did not create the request - throws wrong error message"
**Describe the bug**

When a user tries to delete a relation that was not created by that user, a wrong error message is recieved.

**To Reproduce**

Steps to reproduce the behavior:

1. Login as testuserd
2. Delete a mentorship relation between testuserc and testuserb

This error message is recieved "This mentorship relation is not in the pending state."

**Expected behavior**
Expected error mess

[2020-08-28 17:51] vj-codes commented on #235
I would like to work on this for OSH @gaurivn

[2020-08-28 17:58] gaurivn commented on #769
Hi @vj-codes, glad to know you're interested in working on this issue. This issue is not made available / cannot be assigned yet for OSH, it will be made available once Open Source Hack starts on September 1st, 2020. Do come back here on Sept 1st and I'll be more than happy to assign you :)

[2020-08-28 18:06] vj-codes commented on #769
@gaurivn ahh no I meant for OSH only and won't mind to be assigned after 1st.Just commented as issues are assigned on first come first serve right?

[2020-08-28 18:10] gaurivn commented on #769
Yes, I meant please do comment here when the program starts on Sept 1st as the issues cannot be claimed beforehand.

[2020-08-28 18:42] sanchibansal340 opened #772 "Create a reporting_guidelines.md"
## Description
As a user, I need to modify the reporting guidelines, so that I can seek for help when necessary.
1. The content should be consistent with [Reporting Guidelines](https://github.com/anitab-org/mentorship-flutter/blob/develop/.github/reporting_guidelines.md)
2. And then update the code of conduct link in **Readme.md**>>Contributing section.
3. Add the updated Reporting Guidelines file

[2020-08-28 20:37] atharwa-24 commented on #772
I would like to work on this!!!

[2020-08-28 22:06] #614 closed, assigned to faznan3nazer

[2020-08-28 22:09] #679 closed, assigned to divyanshugit

[2020-08-28 22:13] #630 closed, assigned to vj-codes

[2020-08-28 22:17] #737 closed, assigned to rajpratik71

[2020-08-29 00:46] #741 closed, assigned to LivesInRoom29

[2020-08-29 06:31] Shivansh2407 opened #773 "Integrate Code Quality Github Actions"
**Is your feature request related to a problem? Please describe.**
Code quality github actions need to be integrated to the repository, in order to get the the test coverage, analysis, change tracking etc.

**Describe the solution you'd like**
Codecov, Coveralls, Codeclimate, Codacy etc. can be considered for this issue.

https://github.com/marketplace/category/code-quality

**Additional context**

[2020-08-29 06:43] rutujadhanawade commented on #772
I would like to work on this

[2020-08-29 07:27] titiksha01 commented on #770
@gaurivn hello, I would like to work on this issue

[2020-08-29 07:51] divyanshugit commented on #771
Hey @rpattath  I would like to work on this issue.

[2020-08-29 08:13] divyanshugit commented on #632
@vj-codes , @PrashanthPuneriya  Now the task API is changed to HTTPstatus.FORBIDDEN (in #682). Do I still need to change it to 403:FORBIDDEN  to 409:CONFLICT?

[2020-08-29 09:06] utkzas commented on #764
hey, can i work on this issue?

[2020-08-29 09:08] utkzas commented on #762
hey can you assign this issue to me?

[2020-08-29 09:12] utkzas commented on #728
I am new to open source and can't understand one thing,

what happens if we make a PR merge request if there is no issue created first?
can non maintainers create issues on repo?

please help

[2020-08-29 09:15] anna4j commented on #728
@utkzas Yes, if you find an issue that isn't already mentioned, you can create one! Once, the mentors review and approve it, you can be assigned to it and you can then open a PR fixing that issue.

[2020-08-29 09:34] nandini45 commented on #747
yes @vaibhavarora102  do u want to work on it?

[2020-08-29 09:39] vaibhavarora102 commented on #747
Yes for sure

[2020-08-29 09:46] gaurivn commented on #747
Hi @vaibhavarora102, the issues meant for open source hack will be assigned / can be claimed only when the program starts on September 1st, 2020 on a first come first serve basis. Do come back and comment here on 1st and will assign you.

[2020-08-29 10:52] vaibhavarora102 commented on #747
Can I take this at night 12 :00 of 31st

[2020-08-29 12:13] niyati-n commented on #772
i would like to work on this

[2020-08-29 12:38] sanchibansal340 commented on #772
Comment on 1st September and I will assign it to you.

[2020-08-29 12:40] SHITIZ-AGGARWAL commented on #766
I would like to work on this issue , should I comment on it again on 1st sept.

[2020-08-29 12:50] gaurivn commented on #766
Hi @SHITIZ-AGGARWAL, since OSH starts on 1st September 2020, do comment here on Sept 1st and I'll assign you.

[2020-08-29 12:52] gaurivn commented on #768
Hi @SHITIZ-AGGARWAL, sure just comment here / claim the issue on Sept 1st and will assign you :)

[2020-08-29 12:55] gaurivn commented on #770
Hi @titiksha01, glad to know you're interested. Since OSH starts on September 1st, 2020, do comment here / claim the issue on that day and I'll assign you

[2020-08-29 14:24] ashwinijha6 commented on #773
@Shivansh2407 I would like to work on this as an OSH participant.

[2020-08-29 14:27] Shivansh2407 commented on #773
Sure @ashwinijha6 . But we will start assigning issues from 1st September. Make sure to comment first on the day OSH starts (i.e. 1st Sept) to be the first claimant of this Issue. After that you can go ahead and make a PR.

[2020-08-29 15:00] faznan3nazer commented on #606
This issue was assigned to me a few days back...can you unassign me and assign back on September 1st. I would like to work on this issue as a part of OSH.

[2020-08-29 16:57] ashokrayal commented on #759
Hi,

I want to work on this one. please assign it to me.

[2020-08-29 16:57] ashokrayal commented on #760
Hi,

I want to work on this one. please assign it to me.

[2020-08-29 18:14] PrashanthPuneriya commented on #632
@divyanshugit To my knowledge #682 has no impact on this issue. You still need to refactor the status code to 409:Conflict. May be I am wrong. What's the reasoning behind this question?

[2020-08-29 18:41] PrashanthPuneriya opened #774 "Clean up the swagger to follow the same convention throughout the page"
## Description
As a contributor,
I need proper convention used in Swagger,
so that it doesn't appear oddly.

## Mocks
![image](https://user-images.githubusercontent.com/42068010/91643860-85226e00-ea54-11ea-8a5a-a5dbeb67b4e3.png)
As one can easily see that, capital letters are not used when required and full stops are redundant at few places. e.g. relations begin with small letter unlike others and

[2020-08-29 20:56] vj-codes commented on #774
@PrashanthPuneriya there's inconsistency in the screen shot, relations begin with small letter unlike others and the last two have full-stops whereas others don't.
As a first timer I would follow the ss exactly and to avoid confusion could you please update it.

[2020-08-29 22:54] gaurivn commented on #235
Hi @vj-codes, since OSH starts on Sept 1st, 2020, pls do come back and comment here on that day, will assign you :)

[2020-08-30 00:07] divyanshugit commented on #632
@PrashanthPuneriya I mean in file app/api/dao/task.py:
![Screenshot (192)](https://user-images.githubusercontent.com/53843818/91648228-676bfd80-ea82-11ea-9252-197c2c6b85b8.png)
Do I need to change the HTTPstatus.FORBIDDEN to HTTPstatus.CONFLICT?

[2020-08-30 07:20] pbgurav opened #775 "Preferred Languages for communication for a user"
In many countries though  English is used as a general purpose  language for communication, it will help  users if they are able to communicate in their preferred language of communication. User can specify one or more languages for communication with the order of their preference.Based on this attribute a User now can search mentors by applying the language criteria for search. **Is your feature

[2020-08-30 07:34] pbgurav opened #776 "Capturing Mobile Phone number and WhatsApp number from User"
So for such attributes we can have privacy settings like
1. Never - Dont display to
**Is your feature request related to a problem? Please describe.**
In India, not everyone has an email id. Hence the reach will be limited.

Not everyone checks emails regularly, while sms and Whatsapp are checked more often.

**Describe the solution you'd like**

We need to capture mobile number for SMS and Whatsa

[2020-08-30 07:45] PrashanthPuneriya commented on #632
Yes! You need to change every related piece of code. Since, you got this doubt I would suggest you to read [this wiki](https://github.com/anitab-org/mentorship-backend/wiki/Code-Organization) to understand more about the codebase.

[2020-08-30 07:48] pbgurav opened #777 "Background tasks for Matching Mentors and Mentee"
Consider a situation where a User is not able to find a Mentor from the search list.
In this case the system can run a background service which can do a match making for users  who currently dont have  mentors by checking the available mentors from the data.
This service can send notifications to the users who still have not found their mentors.

 **Is your feature request related to a problem? Pl

[2020-08-30 08:50] vj-codes commented on #777
@pbgurav please follow the issue template and then the issue will be approved/reviewed.Thanks!

[2020-08-30 08:51] vj-codes commented on #776
@pbgurav please follow the issue template and the issue will be reviewed/approved.Thanks!

[2020-08-30 12:37] yashasvimisra2798 opened #778 "Ability to log-in through third party services and accounts such as Login w/ Google or Login w/ Github"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-08-30 12:48] yashasvimisra2798 opened #779 "Standalone Mentor/Mentee registration page instead of Google forms."
**Description**
As a contributor I want you to build a separate registration page instead of Google forms being used for registration.

**Acceptance Criteria**

- [ ] Update [Required]

Definition of Done

- [ ] Approval from 1 mentor.

- [ ] All of the required items are completed.

**Estimation**
   [2+] hours

**Note**
This issue will be assigned from September 1st 2020

[2020-08-30 12:50] yashasvimisra2798 opened #780 "Spelling mistake in the subtitle of the documentation section."
**Description**
There is a spelling mistake in the Documentation section of the Readme it is in the first line itself, identify the word and correct the spelling.

**Acceptance** **Criteria**

- [ ] update required

**Definition of Done**

- [ ] All of the required items are completed.

- [ ] Approval by 1 mentor.

**Estimation**
   5 minutes.

**Note**
This issue will be assigned from September 1

[2020-08-30 12:51] yashasvimisra2798 opened #781 "In the Set Up and Run section write on how to set up for Linux and Windows separately."
**Description**
As a contributor, I need you to update the setup and run section and add two different sections on how to setup and run the project in  Windows and Linux respectively.

**Acceptance Criteria**

- [ ] Update [Required]

**Definition of Done**

- [ ] All of the required items are completed.

- [ ]  Approval by 1 mentor.

**Estimation**
    1 hr

**Note**
This issue will be assigned f

[2020-08-30 12:53] yashasvimisra2798 opened #782 "In the documentation add a section displaying versions of the frameworks and extensions use."
**Description**
In the Readme of the repository, in the documentation section add the versions of the frameworks and extensions used.

**Acceptance Criteria**

- [ ]  Update [Required]

**Definition of Done**

- [ ] All of the required items are completed.

- [ ] Approval by 2 mentors.

**Estimation**
   1 hr

**Note**
This issue will be assigned from September 1, 2020.

[2020-08-30 12:54] yashasvimisra2798 opened #783 "Migrate Backend Documentation from Google Docs to a either a separate github.io or gitbook.io space."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-08-30 12:55] yashasvimisra2798 opened #784 "Fix the links for "Run tests" under "Setup and Run" in the Table of Contents of the Readme."
**Description**
The "Table of Contents" section in the Readme has the "Run Tests" link not working. It shows error 404.
As a contributor I want you to fix this issue.

**Acceptance Criteria**

- [ ] Update required

**Definition of Done**

- [ ] All of the required items are completed.

- [ ] Approval by 1 mentor.

**Estimation**
   atmost 30 minutes

**Note**
This issue will be assigned  Septembe

[2020-08-30 13:01] yashasvimisra2798 opened #785 "Come up with a possible solution for building a Mentor Mentee Recommendation and write a technical article on it."
**Description**
As a contributor I want you to come up with a possible solution of Mentee Recommendation to a Mentor. Please be very clear in your approach on what algorithm you are using and show it's proper application on how this task can be done here.

Design the solution submit as a markdown file under the “docs” folder.

**Acceptance Criteria**

- [ ] Update [Required]

- [ ] Submit as a mar

[2020-08-30 13:02] yashasvimisra2798 opened #786 "A blog talking and/or teaching about Flask-SQAlchemy and how the Mentorship Backend uses it with example user models."
**Description**
As a contributor, I need you to come up with a blog or a file in .md teaching about Flask-SQAlchemy and how it is used in this project. An explanatory report will be appreciated not only teaching from the basics but also describing it's full usage here.

**Acceptance Criteria**

- [ ] Update required

- [ ] Submit as a markdown file

**Definition of Done**

- [ ] All of the require

[2020-08-30 13:04] yashasvimisra2798 opened #787 "Fix the formats under Models section of the API Frontend"
**Description**
![Capture2](https://user-images.githubusercontent.com/54177363/91689447-c49aa880-eb81-11ea-93cf-3861f0d8f550.PNG)
 You can see that Models has a format different from others. As a contributor I want you to fix the format of the Models section.

**Acceptance Criteria**

- [ ] Update [Required]

**Definition of Done**

- [ ] Approval from 1 mentor.

- [ ] All of the required items ar

[2020-08-30 13:05] yashasvimisra2798 opened #788 "Prettify the formats for all descriptions of JSON Responses under each endpoint in the API Frontend."
**Description**
As a contributor I want you to prettify the JSON responses which come under the endpoints in the API Frontend.

![Capture](https://user-images.githubusercontent.com/54177363/91688920-ba2bdf00-eb80-11ea-8b54-87d979383d92.PNG)

**Acceptance Criteria**

- [ ] Check for the prettified representation of JSON responses and then implement it here.

- [ ] update required

**Definition of D

[2020-08-30 13:08] vj-codes commented on #781
@yashasvimisra2798 Please follow the issue template , and then this issue will be approved/reviewed.Thanks!

[2020-08-30 13:09] vj-codes commented on #778
Closing since duplicate of #730

[2020-08-30 13:10] #778 closed, assigned to nobody

[2020-08-30 13:10] vj-codes commented on #779
@yashasvimisra2798 please follow the issue template and then the issue will be approved/reviewed.Thanks!

[2020-08-30 13:11] vj-codes commented on #780
@yashasvimisra2798 please follow the issue template and then the issue will be approved/reviewed.Thanks!

[2020-08-30 13:11] vj-codes commented on #782
@yashasvimisra2798 please follow the issue template and then the issue will be approved/reviewed.Thanks!

[2020-08-30 13:13] vj-codes commented on #783
The wiki is being transferred to Docusaurus #748 #747.Closing this issue.

[2020-08-30 13:13] #783 closed, assigned to nobody

[2020-08-30 13:13] vj-codes commented on #784
@yashasvimisra2798 please follow the issue template and then the issue will be approved/reviewed.Thanks!

[2020-08-30 13:14] vj-codes commented on #785
@yashasvimisra2798 please follow the issue template and then the issue will be approved/reviewed.Thanks!

[2020-08-30 13:14] vj-codes commented on #787
@yashasvimisra2798 please follow the issue template and then the issue will be approved/reviewed.Thanks!

[2020-08-30 13:15] vj-codes commented on #788
@yashasvimisra2798 please follow the issue template and then the issue will be approved/reviewed.Thanks!

[2020-08-30 14:57] SanketDG commented on #773
How these 3rd-party services work, nobody knows or their documentation about the tools they use isn't well documented. I'd be in favour of using tools that are first principle in nature, for example, `pep8`, `black`, `flake8` etc, and then integrating them with github actions

[2020-08-30 18:10] SanketDG opened #789 "Integrate pre-commit"
**Is your feature request related to a problem? Please describe.**
As a developer, I want other developers sending PRs to this project follow basic conventions used in this project

There are a couple of ways that such conventions can be enforced, but the most preferrred way is to have
pre-commit hooks that run in git before code is committed.

**Describe the solution you'd like**
- [ ] Research `

[2020-08-30 19:28] ksraj123 commented on #767
I would like to work on this for Open Source Hack. Thanks

[2020-08-30 19:30] ksraj123 commented on #774
I would like to work on this for open source hack. Thanks

[2020-08-31 00:27] mtreacy002 opened #790 "Bug: Remove password hash from being returned on GET /user response"
**Describe the bug**
Currently user's password hash is returned on GET /user in the `full_user_api_model`. It should not be returned to frorntend UI since it is a sensitive information.

**To Reproduce**

Steps to reproduce the behavior:

1. Login
2. send GET /user request
3. See pasword hash returned as part of user details

**Expected behavior**
The user data returned should not include password

[2020-08-31 00:29] mtreacy002 commented on #790
Update @anitab-org/bridgeintech-maintainers and @anitab-org/coding-team. This is a cross-project issue that also affecting BridgeInTech backend. This issue is open to anyone to work on as I am currently still tidying up BridgeInTech repositories.

[2020-08-31 02:47] anupriya-goyal commented on #739
Hi,
Thanks @SanketDG. I tried the fixes given at this link. Unfortunately, they didn't work. Actually I tried to see by installing the cffi package. In the log I saw it is already installed but with different version and when it is trying to install the cffi version that is given in requirement.txt it is throwing an error of setup.py file not able to install that.
I am not able to spend more time

[2020-08-31 03:21] visthruth21 commented on #754
Hi , I would like to work on this issue can you suggest me ways to get started?

[2020-08-31 04:48] rutujadhanawade commented on #780
I would like to work on this. Please assign this to me on 1st September.

[2020-08-31 05:36] yashasvimisra2798 commented on #780
@rutujadhanawade please comment on September 1 so that I can assign the issue to you

[2020-08-31 06:32] visthruth21 commented on #780
Hi , I would like to work on this issue , can you suggest me ways to get started

[2020-08-31 08:08] pbgurav commented on #776
Updated as per template

[2020-08-31 17:38] bhumikasharma29 commented on #782
I would like to work on this. I am a first time contributor please guide me.

[2020-08-31 18:23] bhumikasharma29 commented on #779
What all should this registration page include?

[2020-08-31 18:30] niyati-n commented on #780
@yashasvimisra2798 @vj-codes
Please assign this issue to me.

[2020-08-31 18:30] bhumikasharma29 commented on #782
Please assign this to me for OSH.

[2020-08-31 18:30] saideepesh000 commented on #738
#OSH, can I work on this.

[2020-08-31 18:30] bhumikasharma29 commented on #780
Please assign this to me for OSH.

[2020-08-31 18:30] yash2189 commented on #767
can I work on this @gaurivn ?

[2020-08-31 18:30] yash2189 commented on #753
can I work on this @gaurivn ?

[2020-08-31 18:30] blackcrabb commented on #780
@yashasvimisra2798 please assign it to me

[2020-08-31 18:30] SHITIZ-AGGARWAL commented on #764
Hello @PrashanthPuneriya  since OSH has begun ,i would like to work on this
I am new to open source so please guide me
Really excited to work with the organisation

[2020-08-31 18:30] SHITIZ-AGGARWAL commented on #766
Hello @gaurivn ,since OSH has begun i would like to work on this issue,
I am new to Open Source so please guide
Really excited to work with the organisation

[2020-08-31 18:30] SHITIZ-AGGARWAL commented on #768
Hello @gaurivn ,since OSH has begun i would like to work on this issue,
I am new to Open Source so please guide
Really excited to work with the organisation

[2020-08-31 18:31] saideepesh000 commented on #738
#OSH, can I work on this.

[2020-08-31 18:31] vaibhavarora102 commented on #747
Hi @gaurivn , can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:31] ashwinijha6 commented on #773
@Shivansh2407  I would like to work on this issue as an OSH participant

[2020-08-31 18:31] khushishikhu commented on #758
may i work in this issue for OSH?

[2020-08-31 18:31] ashwinijha6 commented on #721
@faznan3nazer  I would like to work on this issue as an OSH participant

[2020-08-31 18:32] vaibhavarora102 commented on #733
Hi, can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:33] vaibhavarora102 commented on #758
Hi, can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:33] vaibhavarora102 commented on #748
Hi, can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:33] Abjcodes commented on #746
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] Abjcodes commented on #664
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] Abjcodes commented on #780
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] Abjcodes commented on #752
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] BALaka-18 commented on #789
Hi @SanketDG , I would like to work on this issue.

[2020-08-31 18:37] Abjcodes commented on #784
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:37] vj-codes commented on #235
@anna4j  @gaurivn @PrashanthPuneriya I would like to work on this

[2020-08-31 18:37] Hyper-Matrix commented on #752
I would like to work on this issue as a part of OSH. Can you assign me this issue? I have already placed a PR regarding the same.

[2020-08-31 18:37] Abjcodes commented on #782
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:37] Abjcodes commented on #781
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:38] Hyper-Matrix commented on #565
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:38] vj-codes commented on #769
@PrashanthPuneriya @anna4j @gaurivn I would like to work on this.

[2020-08-31 18:39] Abjcodes commented on #772
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:41] bhumikasharma29 commented on #772
I would like to work on this issue. Please assign it to me.

[2020-08-31 18:41] Abjcodes commented on #764
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:41] Abjcodes commented on #754
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:43] Abjcodes commented on #748
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:45] pavani-17 commented on #738
Can I be assigned as the program starts today?

[2020-08-31 18:45] Abjcodes commented on #597
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:45] Abjcodes commented on #235
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:46] Hyper-Matrix commented on #780
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:46] Hyper-Matrix commented on #772
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:46] alapan-sau commented on #746
I am already assigned to it. I was waiting for the OSH to begin. I will send the PR by tomorrow.

[2020-08-31 18:46] Abjcodes commented on #789
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:47] Hyper-Matrix commented on #754
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:49] bhumikasharma29 commented on #757
I am a first time contributor. Please guide me and assign this issue to me.

[2020-08-31 18:51] ashwinijha6 commented on #786
@yashasvimisra2798 I would like to work on this issue as an OSH participant

[2020-08-31 18:53] atharwa-24 commented on #772
Would like to work on this one~ OSH

[2020-08-31 18:53] vj-codes commented on #753
@gaurivn I would like to work on this

[2020-08-31 18:53] Meenalsolanki220397 commented on #779
what are the mandatory labels for this form ?

[2020-08-31 18:54] faznan3nazer commented on #597
I would like to work on this issue.. Can you please assign this to me for Open-Source Hack?

[2020-08-31 18:58] ashwinijha6 commented on #721
@anna4j  & @isabelcosta  could u pls assign me this issue

[2020-08-31 19:00] ksraj123 commented on #774
I would like to work on this as a part of opensource hack. Commenting again as its 1 sep now so please assign this issue. Thanks

[2020-08-31 19:01] ksraj123 commented on #788
I would like to work on this as a part of opensource hack. Commenting as its 1 sep now so please assign this issue. Thanks

[2020-08-31 19:04] ksraj123 commented on #770
I would like to work on this as a part of opensource hack if no one else is working on it already. Commenting as its 1 sep now so please assign this issue. Thanks

[2020-08-31 19:06] anna4j commented on #721
Sure assigning you! @ashwinijha6

[2020-08-31 19:06] ksraj123 commented on #766
I would like to work on this as a part of opensource hack if no one else is working on it already. Commenting as its 1 sep now so please assign this issue. Thanks

[2020-08-31 19:06] ksraj123 commented on #787
I would like to work on this as a part of opensource hack. Commenting as its 1 sep now so please assign this issue. Thanks

[2020-08-31 19:08] titiksha01 commented on #770
Hi, I would like to work on this issue. I was told to comment on 1st September. Thank you...

[2020-08-31 19:09] ksraj123 commented on #781
I would like to work on this as a part of opensource hack if no one else is working on it already. Commenting as its 1 sep now so please assign this issue. Thanks

[2020-08-31 19:14] anna4j commented on #235
Go ahead :)

[2020-08-31 19:21] vanditkhurana commented on #780
I would like to work on this issue as a part of OSH. Please assign me this issue. I will be highly thankful.

[2020-08-31 19:43] gitpurva commented on #774
I would like to work on it. Can you assign me this issue.

[2020-08-31 19:46] niyati-n commented on #780
@vj-codes please assign it to me as it is a 5 minutes task, i know i am already assigned one .

[2020-08-31 19:47] vanditkhurana commented on #728
I would like to work on this. Please assign me this issue.

[2020-08-31 19:52] SHITIZ-AGGARWAL commented on #768
Thanks for giving me this opportunity
I created a basic template please tell if any changes required
_____________________________________

<p>Hi {{ user_name }},</p>
<br>
<p>Welcome to Mentorship System!</p>
<br>
<p>Thanks for signing up for Mentorship System account , We're thrilled to have you!</p>
<p>To get started, please click the link below to verify that we've got your correct email addres

[2020-08-31 19:52] gitpurva commented on #787
I would like to work on this . Can you assign me this issue?

[2020-08-31 19:55] gitpurva commented on #786
I would like to work on this issue. Can you assign me this issue?

[2020-08-31 19:56] gitpurva commented on #785
I would like to work on this. Can you assign me this issue?

[2020-08-31 19:57] anna4j commented on #728
Done @vanditkhurana go ahead :)

[2020-08-31 20:03] vj-codes commented on #775
@pbgurav please follow the issue template. After that your issue will be approved/reviewed.Thanks!

[2020-08-31 20:05] gitpurva commented on #726
I would like to work on this . Can you assign me this issue?

[2020-08-31 20:05] alapan-sau commented on #746
<img width="1440" alt="Screenshot 2020-09-01 at 1 29 21 AM" src="https://user-images.githubusercontent.com/59991742/91762198-e1bb8f80-ebf2-11ea-9b47-29924434591e.png">
<img width="1440" alt="Screenshot 2020-09-01 at 1 27 40 AM" src="https://user-images.githubusercontent.com/59991742/91762391-ed0ebb00-ebf2-11ea-9bcf-c0a619f2a2c7.png">

Hey, After updating Werkzeug==0.15.3 to Werkzeug==1.0.1 the run

[2020-08-31 20:10] gitpurva commented on #761
I would like to work on this. Can you assign me this issue?

[2020-08-31 20:11] vj-codes commented on #780
@blackcrabb This is a `first timers only ` issue and you're already working on other issue thus no longer eligible.

[2020-08-31 20:13] vj-codes commented on #780
@rutujadhanawade assigning you
Happy documenting!

[2020-08-31 20:22] vj-codes commented on #726
Assigning you @gitpurva
Happy coding!

[2020-08-31 20:25] alapan-sau commented on #341
Can this issue be assigned to me for OSH ?

[2020-08-31 20:32] alapan-sau commented on #596
As OSH is open today, May I work on this issue?

[2020-08-31 20:34] titiksha01 commented on #788
Hello, I would like to work on this issue as a part of Open Source Hack.

[2020-08-31 20:38] titiksha01 commented on #785
Hello, I would like to work on this issue. Can i be assigned this?

[2020-08-31 20:46] titiksha01 commented on #616
@faznan3nazer Hello, As OSH has begin, i would like to work on this issue. Can this be assigned to me? I am new to open source so please guide me.

[2020-08-31 21:26] annu12340 commented on #786
I am interested to work on this issue. Could you please assign it to me

[2020-08-31 23:15] gaurivn commented on #565
@Hyper-Matrix, this issue is not intended for OSH, and as per the discussion here, I don't think it's available (as of now). I suggest to look out for issues labeled Open Source Hack.

[2020-08-31 23:27] gaurivn commented on #753
@yash2189, you've already been assigned issue #767, once you send a PR for that, you can be assigned other available issues.

[2020-08-31 23:28] gaurivn commented on #753
Sure, assigning you

[2020-08-31 23:32] gaurivn commented on #596
Hi @alapan-sau, you've already been assigned issue #746, once you're done with sending a PR for the same, you can work on available issues.

[2020-08-31 23:34] gaurivn commented on #747
Sure, assigned

[2020-08-31 23:38] gaurivn commented on #770
Assigning

[2020-08-31 23:38] gaurivn commented on #770
Sure, assigning

[2020-08-31 23:47] gaurivn commented on #748
@vaibhavarora102, @Abjcodes, you both have been assigned one other OSH issue each. Pls send a PR for those, once that is done, you can claim available issues.

[2020-08-31 23:52] gaurivn commented on #766
Sure assigning you both, @SHITIZ-AGGARWAL, @ksraj123

[2020-08-31 23:52] gaurivn commented on #769
Here you go

[2020-09-01 04:05] yogeshr59 commented on #728
@anna4j I have created a PR. Please Review.

[2020-09-01 04:45] titiksha01 commented on #770
@gaurivn Thank you for the opportunity

[2020-09-01 04:47] Hyper-Matrix commented on #752
Hey can I be assigned?

[2020-09-01 04:53] yashasvimisra2798 commented on #786
Since it was on first come first serve basis, @ashwinijha6 has been assigned the issue

[2020-09-01 05:04] yashasvimisra2798 commented on #782
@bhumikasharma29 I have assigned you the issue, as you can see that the Readme file does not contain the versions of frameworks used. I want you to add those version in front of their names. For further guidance you can join the zulip chat.
All the best for your first contribution.

[2020-09-01 05:09] sanchibansal340 commented on #772
@Hyper-Matrix I am assigning this to you.

[2020-09-01 05:13] bhumikasharma29 commented on #782
Thank you @yashasvimisra2798 .

[2020-09-01 05:28] Abjcodes commented on #784
I have submitted a pull request. Kindly review it.

[2020-09-01 05:31] Aditiwebd commented on #756
I want to work on this issue.Please assign it to me -OSH

[2020-09-01 05:36] priyanshuone6 commented on #764
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 05:42] priyanshuone6 commented on #754
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 05:46] PrashanthPuneriya commented on #764
@SHITIZ-AGGARWAL Assigning you! Happy coding :)

[2020-09-01 05:47] priyanshuone6 commented on #774
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 05:48] Aditiwebd commented on #756
I want to work on this issue.Please assign it to me for OSH

[2020-09-01 05:49] PrashanthPuneriya commented on #764
@Abjcodes @priyanshuone6 Sorry! We assign on the basis of First-Come-First-Serve. If one fails to deliver a valid PR then others will be assigned this issue. Meanwhile checkout other issues :)

[2020-09-01 05:53] PrashanthPuneriya commented on #752
@Abjcodes This issue is only for first-timers. You have created #800. So, I can't assign you this issue.

[2020-09-01 05:56] PrashanthPuneriya commented on #752
@Hyper-Matrix You shouldn't create a PR before the issue has been assigned to you. Please read the community-guidelines. I am assigning you this issue and considering your PR only for this time as you are new to this project. Please don't repeat it again :)

[2020-09-01 05:57] SHITIZ-AGGARWAL commented on #764
@PrashanthPuneriya  thanks a lot for the opportunity

[2020-09-01 06:00] Aditiwebd commented on #755
I want to work on this issue..Please assign it to me.

[2020-09-01 06:00] Hyper-Matrix commented on #752
Thank you so much am sorry for the same..

[2020-09-01 06:02] vaibhavarora102 commented on #748
I had sent an PR now kindly assign me this

[2020-09-01 06:09] priyanshuone6 commented on #742
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 06:10] PrashanthPuneriya commented on #774
Assigning you this issue @ksraj123 :)

[2020-09-01 06:12] priyanshuone6 commented on #736
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 06:13] PrashanthPuneriya commented on #774
@gitpurva @priyanshuone6 We assign issues on the basis of First-Come-First-Serve. Hope you understand :)
@gitpurva Also, you have been assigned to #726 So, you can no longer claim this issue since it's first-timers only.

[2020-09-01 06:15] priyanshuone6 commented on #733
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 06:16] PrashanthPuneriya commented on #736
Assigning you @priyanshuone6. Happy coding :)

[2020-09-01 06:19] PrashanthPuneriya commented on #742
@priyanshuone6 You have been assigned to #736 issue. You can't claim this issue unless you create a PR for the prevs assigned issue.

[2020-09-01 06:25] Abjcodes commented on #748
I had already made one PR. Is it possible to assign this issue to me now?

[2020-09-01 06:28] priyanshuone6 commented on #736
What should be the username, password in POST/login to get token?

[2020-09-01 06:30] bhumikasharma29 commented on #782
Please review this. @yashasvimisra2798

[2020-09-01 06:34] Shivansh2407 commented on #736
Hi @priyanshuone6, you can register, then use the credentials for login everytime you need the token for access.

[2020-09-01 06:43] gaurivn commented on #748
For #747, no

[2020-09-01 06:46] gaurivn commented on #748
You haven't sent a PR for #781 right

[2020-09-01 06:47] PrashanthPuneriya commented on #774
@ksraj123 Please don't hijack all the issues. Work on one issue then claim other. Unassigning you from this issue @ksraj123. Which issue do you like to work on? #774 #787 #788

[2020-09-01 06:48] titiksha01 commented on #770
#801
@gaurivn Please review this.

[2020-09-01 06:49] PrashanthPuneriya commented on #770
@ksraj123 Unassigning you from this issue. Since, you have been assigned to multiple issues and also since, @titiksha01 created a PR for it :)

[2020-09-01 06:52] BALaka-18 commented on #742
Hey @PrashanthPuneriya if no one's been assigned, could I work on this issue ?

[2020-09-01 07:00] PrashanthPuneriya commented on #766
Unassigning you @ksraj123 Since, you have been assigned to other issues

[2020-09-01 07:03] PrashanthPuneriya commented on #733
Assigning you this issue @vaibhavarora102  :)

[2020-09-01 07:07] PrashanthPuneriya commented on #742
Sure @BALaka-18 !

[2020-09-01 07:10] vj-codes commented on #644
Closing as discussed in comments.

[2020-09-01 07:10] #644 closed, assigned to PrashanthPuneriya

[2020-09-01 07:12] vaibhavarora102 commented on #733
thanks
@PrashanthPuneriya

[2020-09-01 07:21] SHITIZ-AGGARWAL commented on #766
sorry, I mentioned the wrong issue in my commit
and thanks for assigning this issue ,I will start working on this

[2020-09-01 07:27] vaibhavarora102 commented on #748
1 had done for #733 and #1028

[2020-09-01 07:33] gaurivn commented on #766
It's fine, no issues, you're assigned this issue, feel free to work on it and send a PR. Do go through [contributing guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md) for sending a PR.

[2020-09-01 07:34] vaibhavarora102 commented on #733
hi @PrashanthPuneriya
i got some error from bot can you pls tell that what i had did wrong as i am bit new to open source
thanks

[2020-09-01 07:53] PrashanthPuneriya commented on #746
@alapan-sau Hey, nice catch @alapan-sau! I googled on this issue and came across [this issue](https://github.com/jarus/flask-testing/issues/143). Can you learn more about this and conclude?
Apparently, Werkzeug 0.15.3 gives `type_ignores` issue and 1.0.1 gives `cached_property` issue. As mentioned in the link above they told 0.16.1 works fine and it is working for me. Can you also please test it?

[2020-09-01 07:55] abhinav72610 commented on #779
@yashasvimisra2798 Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-01 07:58] abhinav72610 commented on #790
@mtreacy002 Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-01 08:00] SanketDG commented on #789
@BALaka-18 I have assigned you, feel free to start working on this.

[2020-09-01 08:01] PrashanthPuneriya commented on #790
Sure @abhinav72610 ! Happy coding :)

[2020-09-01 08:02] yash2189 commented on #767
@gaurivn  could you please tell me what is the term TBD mentioned under PUT /user in the Quality Assurance Test case?

Also should I test PUT /user/change password API as well?

[2020-09-01 08:08] SanketDG commented on #789
This issue is open again since @BALaka-18 is assigned to some other issue

[2020-09-01 08:09] Abjcodes commented on #781
I have submitted a PR. Kindly review it.

[2020-09-01 08:10] Abjcodes commented on #748
I have submitted PR for #781 by now.

[2020-09-01 08:15] Abjcodes commented on #789
Is it possible to assign me this issue?

[2020-09-01 08:16] priyanshuone6 commented on #774
Can I work on it?

[2020-09-01 08:23] PrashanthPuneriya commented on #774
This is a first-timers-issue @priyanshuone6. You have already created a PR for #736. Check other issues which aren't first-timer labelled.

[2020-09-01 08:34] priyanshuone6 commented on #773
Hey can you assign this issue to me?

[2020-09-01 08:40] pbgurav commented on #775
Is your feature request related to a problem? Please describe.
In many countries though English is used as a general purpose language for communication, it will help users if they are able to communicate in their preferred language of communication.

Describe the solution you'd like.....
User can specify one or more languages for communication with the order of their preference.Based on this attri

[2020-09-01 08:41] pbgurav commented on #775
Done

[2020-09-01 08:51] faznan3nazer commented on #721
I would like to work on this issue.. Can you please assign this to me for Open-Source Hack?

[2020-09-01 08:52] faznan3nazer commented on #616
I would like to work on this issue... Can you please assign this to me for Open-Source Hack?

[2020-09-01 08:53] vj-codes commented on #775
@pbgurav Thanks for updating but I need to close this as there's another issue dealing with the same point created before yours.

[2020-09-01 08:54] vj-codes commented on #775
Closing since duplicate of #336

[2020-09-01 08:54] #775 closed, assigned to nobody

[2020-09-01 08:54] faznan3nazer commented on #596
I would like to work on this issue... Can you please assign this to me for Open-Source Hack?

[2020-09-01 08:57] rak108 commented on #763
Hi! I would like to do this, could you please assign this task to me?

[2020-09-01 09:05] pbgurav commented on #777
Is your feature request related to a problem? Please describe.

Consider a situation where a User is not able to find a Mentor from the search list.

Describe the solution you'd like...
In this case the system can run a background service which can do a match making for users who currently dont have mentors by checking the available mentors from the data.
This service can send notifications to the

[2020-09-01 09:06] pbgurav commented on #777
Done

[2020-09-01 09:11] anna4j commented on #721
Aren't you assigned to an issue on Android repo already @faznan3nazer

[2020-09-01 09:14] SanketDG commented on #789
@Abjcodes You are already assigned to multiple issues

[2020-09-01 09:15] SHITIZ-AGGARWAL commented on #768
@gaurivn Thanks for giving me this opportunity
I created a basic template please tell if any changes required
* should I add email address for account related problems ,if yes can you please provide me the email address *
_____________________________________

<p>Hi {{ user_name }},</p>
<br>
<p>Welcome to Mentorship System!</p>
<br>
<p>Thanks for signing up for Mentorship System account , We're th

[2020-09-01 09:42] paritoshsinghrahar commented on #763
Sure.

[2020-09-01 09:46] paritoshsinghrahar commented on #763
@rak108 I have assigned you. I hope you have set up the environment and read [community guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).

Happy Coding.  :smiley:

[2020-09-01 09:47] shreyagupta30 commented on #789
Hi @SanketDG, can I work on this?

[2020-09-01 09:53] Poobalan1210 commented on #755
can you assign me on this issue as part of OSH

[2020-09-01 09:57] shubhank-saxena commented on #685
@isabelcosta is this up for grabs? I would definitely like to give it a try !

[2020-09-01 09:57] paritoshsinghrahar commented on #755
@faznan3nazer This is for first-timers only. @Poobalan1210 Sorry it's on the FCFS basis.

@Aditiwebd I have assigned you. I hope you have set up the environment and read [community guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).

Happy Coding.  :smiley:

[2020-09-01 09:59] shubhank-saxena commented on #773
Hey @SanketDG I would like to take this up if it's available! I have an experience of working with `black` and `flake8`

[2020-09-01 10:02] aditya2499 commented on #774
Can I work on it?

[2020-09-01 10:05] paritoshsinghrahar commented on #756
@pavani-17 @Aditiwebd You both have been currently assigned other issues. Check back when you are done with that.

[2020-09-01 10:12] Shivansh2407 commented on #773
Hi Shubhank, This issue will be assigned to @ashwinijha6 as he first commented to claim, Also this issue needs a discussion before implementation, because we need to have a clear cut idea of which action/service are we going to implement. We'll be glad to get your inputs too .
@SanketDG @isabelcosta Please give your inputs as well.

[2020-09-01 10:12] paritoshsinghrahar commented on #754
@Abjcodes You have been assigned to two issues.
@Hyper-Matrix @priyanshuone6 You have been assigned to an issue.
#### This is a first-timers only issue.

@utkzas @swaraj961 @blackcrabb Since, we decided to not assign issues based on any comments before September 1 to make it fair for everyone. Please do tell me if you are interested, now.

Remember it's FCFS (First Come First Serve) starting Septe

[2020-09-01 10:14] yash2189 commented on #767
@gaurivn  Please review my PR related to the same, thanks.

[2020-09-01 10:14] paritoshsinghrahar commented on #761
@gitpurva You both have been assigned other issues. Check back when you are done with that.

[2020-09-01 10:15] yash2189 commented on #753
I have created a PR for the same. Please review it @gaurivn

[2020-09-01 10:17] pavani-17 commented on #756
I already sent a PR.... It is being reviewed

[2020-09-01 10:17] yash2189 commented on #763
Can I work on this @paritoshsinghrahar ?

[2020-09-01 10:17] paritoshsinghrahar commented on #757
@bhumikasharma29 You both have been currently assigned other issues. This is a first-timers only.

@dowenrei Since, we decided to not assign issues based on any comments before September 1 to make it fair for everyone. Please do tell me if you are interested, now.
#### Remember it's FCFS (First Come First Serve) starting September 1st.

[2020-09-01 10:19] swaraj961 commented on #754
I've been assigned a issue already I'm working on it Thanks

[2020-09-01 10:19] paritoshsinghrahar commented on #758
@khushishikhu I have assigned you. I hope you have set up the environment and read [community guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).

Happy Coding.  :smiley:

@vaibhavarora102 Sorry it's First Come First Serve.

[2020-09-01 10:20] dowenrei commented on #757
@paritoshsinghrahar Yes, I'm still interested. Thank you.

[2020-09-01 10:23] dowenrei commented on #771
Hi @rpattath, is this issue taken for OSH? If not I would be happy to take that.

[2020-09-01 10:25] yash2189 commented on #528
Can I try working on this  as a first timer , I'm currently setting up the application.

[2020-09-01 10:25] paritoshsinghrahar commented on #760
@Ashokrayal I have assigned you. I hope you have set up the environment and read [community guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).

Happy Coding.  :smiley:

[2020-09-01 10:26] paritoshsinghrahar commented on #759
@Ashokrayal Another issue has been assigned to you. Please complete that and check back.

[2020-09-01 10:27] yash2189 commented on #343
Can I try working on this @isabelcosta @vj-codes ?

[2020-09-01 10:30] BALaka-18 commented on #742
@PrashanthPuneriya I have made a PR (#808). Kindly review it once.
Thanks.

[2020-09-01 10:31] Shivansh2407 commented on #343
Yes @yash2189, go ahead 👍

[2020-09-01 10:33] paritoshsinghrahar commented on #762
@anishghimire603 Yes it's for First-Timers only. These sessions help you clear doubts.
But I can guide you. You need to set up the environment refer: https://github.com/anitab-org/mentorship-backend -->README.
Then read [community guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).
If still have doubts ping me here.

@utkzas @anishghimire603 Since, w

[2020-09-01 10:34] rak108 commented on #763
Thanks @paritoshsinghrahar ! When it comes to the issue at hand, I've put the links one after another in a similar format as the example given.
As in,
Clients:
Android: WWW
Flutter: XXX
ios: YYY

Is this fine?

[2020-09-01 10:37] paritoshsinghrahar commented on #756
@pavani-17 Ok. I'll assign this to you. Happy Coding.  :smiley:

[2020-09-01 10:39] paritoshsinghrahar commented on #757
@dowenrei  I have assigned you. I hope you have set up the environment and read [community guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).

Happy Coding.  :smiley:

[2020-09-01 10:57] ankitwarbhe commented on #754
@paritoshsinghrahar  Can you assign this issue to me?

[2020-09-01 11:00] vj-codes commented on #528
@yash2189 you are assigned#343 and this a first timers only issue , so no longer eligible for you. Please comment on other available issues.

[2020-09-01 11:05] yash2189 commented on #766
@gaurivn  can I take this up now since I created a PR for #767 .

[2020-09-01 11:18] rak108 commented on #763
@paritoshsinghrahar

[2020-09-01 12:00] 96RadhikaJadhav commented on #784
I would like to work on this issue as a part of OSH. Could you please assign it to me.

[2020-09-01 12:01] paritoshsinghrahar commented on #763
Ideally, instead of explicitly putting links to the repository. Try making hyperlinks.

Android: https://github.com/anitab-org/mentorship-android

try:
[Android](https://github.com/anitab-org/mentorship-android)

And put it under one topic. It's more readable.

[2020-09-01 12:01] paritoshsinghrahar commented on #763
Sorry, it has already been assigned.

[2020-09-01 12:03] paritoshsinghrahar commented on #754
@ankitwarbhe Sure!  I have assigned you. I hope you have set up the environment and read [community guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).

Happy Coding.  :smiley:

[2020-09-01 12:17] 96RadhikaJadhav commented on #782
I would like to work on this issue as a part OSH. Could you please assign it to me?
I'm a first time contributor.

[2020-09-01 12:25] rak108 commented on #763
okay i'll try doing this and get back to you.

[2020-09-01 12:27] 96RadhikaJadhav commented on #781
I would like to work on this issue as a part of OSH. Im a first time contributor. Could you please assign this issue to me?

[2020-09-01 12:45] 96RadhikaJadhav commented on #780
Please assign it to me as a part of OSH. Thanks!!

[2020-09-01 12:53] 96RadhikaJadhav commented on #772
I would like to work on this issue as a part of OSH. Could you please assign me this issue? I'm a first time contributor.

[2020-09-01 12:53] PrashanthPuneriya commented on #774
Sure @aditya2499. Assigning you this issue :)

[2020-09-01 12:56] PrashanthPuneriya commented on #685
Sure @shubhank-saxena :) Assigning you this issue. Happy coding!

[2020-09-01 13:03] PrashanthPuneriya commented on #738
Hey everyone! This issue needs approval as this is a large issue and can create several files and break the project. Can you please review this issue @isabelcosta @SanketDG ?

[2020-09-01 13:07] 96RadhikaJadhav commented on #752
I would like to work on this issue as a part of OSH. Could you please assign me this issue? I'm a first time contributor.

[2020-09-01 13:10] PrashanthPuneriya commented on #752
Hey @96RadhikaJadhav! A PR has been created for this issue and will be merged most probably. Can you please look into other issues and work on them?

[2020-09-01 13:11] PrashanthPuneriya commented on #664
Sure @Abjcodes ! But, can you wait for a while until #713 gets merged? As of now this issue stands valid but, we need to test again after merging the mentioned PR and see for other new issues.

[2020-09-01 13:16] Aditiwebd commented on #755
Thank you :smile:

[2020-09-01 13:21] rpattath commented on #771
I have assigned this to @divyanshugit
@dowenrei let me know if you do not find any other issue to work. I will assign this issue to you as well.

[2020-09-01 13:25] anishghimire603 commented on #762
@paritoshsinghrahar assign this to me.

[2020-09-01 13:27] paritoshsinghrahar commented on #762
@anishghimire603 yes! For sure!

Please setup up the dev environment and read community guidelines before proceeding.

[2020-09-01 13:49] rak108 commented on #763
@paritoshsinghrahar hey,
I did this, shall I do this for all the other links as well, such as main repo link, wiki link too?

[2020-09-01 13:55] paritoshsinghrahar commented on #763
Umm, yes, and no.
The explanation is necessary like:

For additional information go to wiki guide: [wiki](https://github.com/anitab-org/mentorship-backend/wiki)

#### Something like above. @rak108

[2020-09-01 13:55] AparnaJuhi commented on #781
This is the first  time I am participating in any Open source. And I will be grateful if you assign me this issue!!

[2020-09-01 14:31] Kunal1198 commented on #528
Hi, can I work on this?

[2020-09-01 14:36] anishghimire603 commented on #762
@paritoshsinghrahar haha sorry to ask is my task related to #763 and where can I find quality assurance tables?

[2020-09-01 14:38] paritoshsinghrahar commented on #762
You could add the link to the quality assurance test cases found [here](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/quality-assurance-test-cases.md). So that contributors know about test cases each feature failed or passed.

@anishghimire603 it's mentioned in Issue description.
--> https://github.com/anitab-org/mentorship-backend/blob/develop/docs/quality-assurance-test-case

[2020-09-01 14:43] paritoshsinghrahar commented on #762
It's similar to an extent. @anishghimire603

[2020-09-01 14:45] yashasvimisra2798 commented on #781
Currently, we are assigning each issue to one person only. @96RadhikaJadhav @AparnaJuhi I hope you understand :)

[2020-09-01 14:46] anishghimire603 commented on #762
below this like this right??
For more information about the project here's a link to our wiki guide: https://github.com/anitab-org/mentorship-backend/wiki
The link to the quality assurance test cases found <a href="https://github.com/anitab-org/mentorship-backend/blob/develop/docs/quality-assurance-test-cases.md">here</a>.

[2020-09-01 14:48] yashasvimisra2798 commented on #782
@bhumikasharma29 yes I will review it and get back to you

[2020-09-01 14:49] madhhuurrii commented on #528
Hii , can i work on this issue?

[2020-09-01 14:49] yashasvimisra2798 commented on #782
@96RadhikaJadhav we are assigning 1 issue per person right now.

[2020-09-01 14:58] ankitwarbhe commented on #754
Thank you @paritoshsinghrahar for assigning the issue looking forward to work on it.

[2020-09-01 15:13] rak108 commented on #763
Okay cool thanks! I've created a pull request, Kindly check the same.

[2020-09-01 15:33] vj-codes commented on #528
@Kunal1198 assigning you
Happy documenting!

[2020-09-01 15:36] anishghimire603 commented on #763
@rak108 your and my task looks similar can you help me on #762 I have to Add link to quality assurance tables to Swagger UI docs.

[2020-09-01 15:37] yash2189 commented on #343
Hello I created a new user and tested the `GET /users/<user_id>`API It is showing 200
(https://github.com/yash2189/mentorship-backend/blob/develop/snap_1.PNG)

[2020-09-01 16:24] anishghimire603 commented on #762
@paritoshsinghrahar how to create virtual environment to run the app? in windows

[2020-09-01 17:16] aditya2499 commented on #774
@PrashanthPuneriya I have open a PR #813 .

[2020-09-01 17:40] #764 closed, assigned to SHITIZ-AGGARWAL

[2020-09-01 19:13] atharwa-24 commented on #772
if the issue is not assigned yet i will like to get assigned!

[2020-09-01 21:26] isabelcosta commented on #613
@UdokaVrede what detail you feel is missing? This is about adding a new message to the responses displayed on swagger UI which is accessible through http://localhost:5000 when you run the app or here https://mentorship-backend-temp.herokuapp.com/ Is this clearer?

[2020-09-01 21:29] livrbecca commented on #612
Can i be assigned to this please?

[2020-09-01 22:15] gaurivn commented on #748
@vaibhavarora102, you had not sent PR for #747 that I assigned you the previous day.

[2020-09-01 22:17] gaurivn commented on #748
Okay assigning you @Abjcodes

[2020-09-01 22:22] gaurivn commented on #596
Sure @faznan3nazer, here you go

[2020-09-01 22:25] titiksha01 commented on #761
@paritoshsinghrahar Hello, I want to work on this issue as a part of OSH, Can this be assigned to me?

[2020-09-02 03:19] vaibhavarora102 commented on #758
no problem

[2020-09-02 03:23] HeroicHitesh commented on #597
I would like to work on this issue under OSH. Please assign me this issue when it's free.

[2020-09-02 03:24] HeroicHitesh commented on #784
I would like to work on this issue under OSH. Please assign me this issue when it's free.

[2020-09-02 03:26] HeroicHitesh commented on #747
I would like to work on this issue under OSH. Please assign me this issue when it's free.

[2020-09-02 04:17] anishghimire603 commented on #762
@paritoshsinghrahar do I need to delete the .env files which I have created for virtualenv? and I have created .bashrc files for virtualenvwrapper ? and then I need to push it?

[2020-09-02 05:30] Abjcodes commented on #748
@gaurivn Thank you for assigning me this issue. If you may, can you please elaborate what should be done because I am not able to understand context.

[2020-09-02 05:49] yash2189 commented on #343
@Shivansh2407 can you please have a look at this?

[2020-09-02 06:18] ankitwarbhe commented on #754
Hey, @paritoshsinghrahar  to add the codacy badge you need to add me to the organization!

Note :- Seems like there are some contributions to this repository not being analyzed because these users don't belong to an organization.

kindly go through the concern @isabelcosta  @m-murad

[2020-09-02 06:54] heyanurag commented on #772
Can I work on this issue? I am a first time contributor.

[2020-09-02 07:19] anishghimire603 commented on #762
@paritoshsinghrahar I have just opened a PR #818  is that okay have a look please.

[2020-09-02 07:44] rishika1802 commented on #761
Hello I want to work on this issue as a apart of OSH will I be guided ?

[2020-09-02 07:55] anishghimire603 commented on #772
@sanchibansal340  Will you assign me this issue please?

[2020-09-02 07:57] heyanurag commented on #772
I would still like to try this.

[2020-09-02 08:47] Anmollenka commented on #235
I will like to work on this issue as a part of OSH.Can you please assign this issue to me?Thank You.

[2020-09-02 08:49] Anmollenka commented on #341
I would like to work on this issue for OSH.Can you assign it to me??Thank You.

[2020-09-02 08:52] Anmollenka commented on #395
I would like to work on this issue as a part of OSH.Can you assign it to me?Thank You.

[2020-09-02 08:54] Anmollenka commented on #597
I would like to work on this issue under OSH.I am a first timer .Can you please assign this to me??Thank You.

[2020-09-02 08:55] Tushika25 commented on #780
Please assign it to me as a part of OSH!!!

[2020-09-02 08:56] Tushika25 commented on #772
I would like to work on this issue. Thank You!!!

[2020-09-02 09:07] Anmollenka commented on #528
@vj-codes  Can I work on this issue as a part of OSH?Thank You.

[2020-09-02 09:10] Anmollenka commented on #616
I would like to work on this issue as a part of OSH.Can you please assign it to me?Thank You

[2020-09-02 09:11] vj-codes commented on #528
@Anmollenka hey this issue is already assigned, please look out for other available issues and comment :)

[2020-09-02 09:43] Anmollenka commented on #528
@vj-codes what is the maximum time for solving each issue??

[2020-09-02 09:44] bhanvimenghani commented on #789
I have previously made an auto commit hook in git. I want to work on this issue. If no one is working on this , can you please assign it to me.

[2020-09-02 09:53] anna4j commented on #235
@Anmollenka this issue has already been assigned. The status available tag wasn't removed by mistake 😅
Please look for another issue :)

[2020-09-02 10:00] Anmollenka commented on #748
I would like to work on this issue.Can you please assign it to me whwn it is free??

[2020-09-02 10:04] Anmollenka commented on #747
I wolud like to work on this .Can you assign this to me when it's free??Thank You

[2020-09-02 10:26] Anmollenka commented on #773
I would like to work on this issue .Can you please assign thus to me when it is free??Thank You

[2020-09-02 10:28] Anmollenka commented on #756
I would like to work on this issue.Can you please assign it to me when it's free??Thank You

[2020-09-02 10:40] PrashanthPuneriya opened #820 "Remove the Python versions contradiction in README file"
## Description
As a contributor,
I need no contradictions in the README file,
so that I won't be doubtful of the dependencies.

## Mocks
![image](https://user-images.githubusercontent.com/42068010/91970892-f6547080-ed35-11ea-94f1-1b0f2e31edf6.png)
Both the images (above and below) contradicts with the statement `Python3` and `Python3.6`
![image](https://user-images.githubusercontent.com/42068010/9

[2020-09-02 10:45] Surajv311 commented on #820
Can I work on this issue ? @PrashanthPuneriya

[2020-09-02 10:47] Manav-03 commented on #759
Hi @paritoshsinghrahar,
I'd like to work on this issue for OSH, could you please assign it to me?

[2020-09-02 10:48] PrashanthPuneriya commented on #820
Hey @Surajv311! If you don't mind, I am thinking to assign this specific issue to the person who doesn't have any Open Source contributions but is interested to get into it. Can you please look into other issues? Please let me know, if you are okay with it? I won't mind assigning you this issue :)

[2020-09-02 10:57] vj-codes commented on #528
@Anmollenka the PR should be submitted before 30th September and if it's taking long there should be updates about your progress after every 3 days.

[2020-09-02 10:58] vj-codes commented on #528
@Anmollenka but just remember that this issue is already assigned to someone else :)

[2020-09-02 11:06] PrashanthPuneriya commented on #820
Sure @Surajv311 :)

[2020-09-02 11:59] kritikaparmar-programmer commented on #745
Hey @PrashanthPuneriya  I want to work on this issue as a part of OSH.. Please assign me

[2020-09-02 12:09] soumyjain14 commented on #820
How to start? I am new to open source, can anyone guide how to work? and what to do actually?

[2020-09-02 12:14] soumyjain14 commented on #235
HI, is there any task which can be assigned to me?

[2020-09-02 12:16] soumyjain14 commented on #664
Hi, I would like to work in the open source Hack, can someone assign any task to me?

[2020-09-02 12:21] saikirankv commented on #702
@isabelcosta  can you assign this to me?

[2020-09-02 12:31] jatinjain001 commented on #782
I would like to work on it.Could you assign it to me

[2020-09-02 12:45] jatinjain001 commented on #780
Please assign to me I am  new In open source contribution

[2020-09-02 13:03] Anmollenka commented on #528
@vj-codes Thanks for the answer.

[2020-09-02 13:13] rutujadhanawade commented on #780
#797  @vj-codes I have made a PR that will close this issue. Kindly review and merge it.

[2020-09-02 13:23] ashokrayal commented on #760
Thanks :)
I will work on this on this Saturday. I can work on two issues over weekend, if assigned.

[2020-09-02 13:36] yashasvimisra2798 commented on #785
@gitpurva any updates on your work?

[2020-09-02 13:40] yashasvimisra2798 commented on #786
@ashwinijha6 any updates on your work?

[2020-09-02 13:56] rak108 commented on #763
Hey! Kindly check out my latest PR for the same #817

[2020-09-02 13:56] rak108 commented on #763
did you get it?

[2020-09-02 14:03] yash2189 commented on #343
Unassigning from this please make it available for others.

[2020-09-02 14:06] Kunal1198 commented on #528
@vj-codes please review my PR.

[2020-09-02 14:17] PrashanthPuneriya commented on #820
Hey @soumyjain14 ! Setup the project locally by reading the README file. Once, you have done that look for first-timers-only labelled issues and start resolving it. Once you have resolved it create a Pull Request(PR) :tada:. You can then proceed further on your own :)

[2020-09-02 14:23] anishghimire603 commented on #763
yeah I opened my PR #818 thank you @rak108

[2020-09-02 14:25] abhinav72610 commented on #776
@pbgurav Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-02 14:30] PrashanthPuneriya commented on #745
Sure @kritikaparmar-programmer! Since, this is a feature request it needs approval from other contributors as well :)
@Techno-Disaster @isabelcosta @SanketDG @vj-codes Shall we proceed with this feature? As a reminder, earlier #644 issue was raised where most of the members confused the search functionality btw username and Name

[2020-09-02 14:47] vj-codes commented on #745
@PrashanthPuneriya I would say we shall proceed!

[2020-09-02 15:12] abhinav72610 commented on #779
@yashasvimisra2798 can you help me with all the fields the registration page should include??

[2020-09-02 15:12] vj-codes commented on #776
@abhinav72610 This isn't an OSH issue, please look at issues with the label `Open Source Hack`

[2020-09-02 15:13] vj-codes commented on #779
@yashasvimisra2798 @PrashanthPuneriya What is this issue about?I don't think mentorship-system deals with Gforms anywhere in app

[2020-09-02 15:33] abhinav72610 commented on #776
@vj-codest thanks for the suggestion i forgot to check the label ..

[2020-09-02 16:35] SanketDG commented on #745
@PrashanthPuneriya Looks fine by me, it's just that it should be explicity clear in the documentation that it searches by two fields.

[2020-09-02 16:37] SanketDG commented on #789
@bhanvimenghani You are assigned!

@shreyagupta30 You are already assigned to one issue in vms

[2020-09-02 16:42] sreelekha901 commented on #780
Can you please assign this issue to me?

[2020-09-02 16:47] sreelekha901 commented on #820
Can I work on this issue?

[2020-09-02 17:17] soumyjain14 commented on #820
@PrashanthPuneriya  Thanks, can I work in this issue as well?

[2020-09-02 17:34] #578 closed, assigned to nickinack

[2020-09-02 17:36] BALaka-18 commented on #773
Hi @Shivansh2407, I don't see anyone assigned yet, so if this issue is available could I work on it ?

[2020-09-02 17:41] #780 closed, assigned to rutujadhanawade

[2020-09-02 17:48] RiaDhanani commented on #395
I would like to work on this issue. Can you assign it to me?

[2020-09-02 17:51] divyaaa123 commented on #820
@PrashanthPuneriya Can I work on this issue?

[2020-09-02 17:54] #755 closed, assigned to Aditiwebd

[2020-09-02 17:54] jatinjain001 commented on #784
I would like to work on this issue under OSH assign it to me

[2020-09-02 17:56] divyaaa123 commented on #784
Can I work on this issue?

[2020-09-02 17:57] #752 closed, assigned to Hyper-Matrix

[2020-09-02 18:04] chrpkorir commented on #820
I am new to open source, Can I work on this issue @PrashanthPuneriya

[2020-09-02 18:14] yash2189 commented on #767
Can you please review my PR @gaurivn ?#809

[2020-09-02 18:20] gaurivn commented on #767
Sure, will review, and get back to you in some time.

[2020-09-02 18:23] gaurivn commented on #766
This issue has been assigned and a PR has been sent so not for now

[2020-09-02 18:47] abhishekmishragithub commented on #296
Hello Folks,
This seems interesting. I can help in the migration REST API to GraphQL.
Would like to know, how urgent is this issue?
Migration might take a little longer as ita backend change.

[2020-09-02 19:52] arjungarg07 commented on #787
@yashasvimisra2798 Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-02 19:57] muskanvk opened #827 "Add License shield to documentation"
Add a license shield to documentation to improve readability

[2020-09-02 20:04] arjungarg07 commented on #754
@paritoshsinghrahar Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-02 20:15] arjungarg07 commented on #616
Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-02 20:16] arjungarg07 commented on #395
@isabelcosta Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-03 00:40] dowenrei commented on #771
@rpattath I will prefer to work on new issue and will try to find one. Ping me if there's any. Thanks

[2020-09-03 03:24] gitpurva commented on #785
Yes. The possible solution would be machine learning based algorithm which
is content based recommendation for building mentor mentee relationship. Is
it a good approach? Please guide me with the same. Thank you:)

On Wed, Sep 2, 2020, 7:06 PM Yashasvi Misra <notifications@github.com>
wrote:

[2020-09-03 05:02] sreelekha901 commented on #827
I want to work on it
Can you explain me this work in detail
I'm new to this

[2020-09-03 05:09] abhinav72610 commented on #790
@mtreacy002 @PrashanthPuneriya why this pr is not getting merged ,,Are there any merge conflicts ??

[2020-09-03 05:18] paritoshsinghrahar commented on #762
@anishghimire603 I reviewed it. It would be great if you can add description to what are quality assurance tables.

[2020-09-03 05:52] muskanvk commented on #827
Hello @sreelekha901 This issue has already been resolved, See the linked PR for reference.
However, you can explore more issues in the issues section.

[2020-09-03 06:54] Aditiwebd commented on #761
I want to work on this issue.Please assign it to me.

[2020-09-03 07:01] Aditiwebd commented on #786
I want to work on this issue please assign it to me for osh.

[2020-09-03 07:05] yogeshr59 commented on #728
Hey @anna4j @vj-codes @isabelcosta Shouldn't we change the signature of Systers Open Source to AnitaB Open Source in all 3 files of templates. If it is required please assign me and I'll create a PR.

[2020-09-03 07:09] sreelekha901 commented on #616
Can you assign this to me
I'm participating in OSH

[2020-09-03 07:10] vj-codes commented on #728
@raisinghanii yes but there are issues of redesigning the email templates for OSH

[2020-09-03 07:13] vj-codes commented on #790
@abhinav72610 the PR still needs to  be reviewed , tested and then it will be merged  mostly by the end of Sept. You may continue working on next issues for OSH.There's no condition of merging a PR and then proceeding for next issues :)

[2020-09-03 07:14] Bhavani-Somanchi commented on #820
@PrashanthPuneriya  I'm new to open source and I am participating in the Open Source Hack. Can I work on this issue?

[2020-09-03 07:17] vj-codes commented on #787
@ksraj123 any updates?

[2020-09-03 07:28] vj-codes commented on #827
@muskanvk  an issue is first approved , then assigned to a contributor and then a PR is sent.I will be closing the PR for now , will be re-opened later.
Also this issue and PR won't be counted for OSH.Please look at issues labelled as Open Source Hack:)

[2020-09-03 07:42] muskanvk commented on #827
Hii @vj-codes I am actually not looking out for OSH. I did this because I genuinely thought that there should be a license :)

[2020-09-03 07:45] muskanvk commented on #769
@vj-codes there is no update from someone you assigned this issue to. Since, I already have worked on this, can you please let me know from gaurivn if she has worked on it. If not, then please assign it to me

[2020-09-03 07:52] vj-codes commented on #761
@paritoshsinghrahar #719 is PR dealing with same issue.

[2020-09-03 07:54] vj-codes commented on #747
@vaibhavarora102 how's the PR going?

[2020-09-03 07:56] eternal-dreamer commented on #721
I would like to work on this issue .

[2020-09-03 08:00] vj-codes commented on #827
@muskanvk I'll just assign you this after checking if license badges are added on other repos of the org!

[2020-09-03 08:03] muskanvk commented on #769
My bad ! However I submitted a PR for this, it doesn't take much of time.
 It's already the 3rd day. You can also work on it :)
Can anyone else look into it apart from the person who just closed it ? The solution's been proposed and I think it wont be good if the same adds up as a PR to someone else.
The time bracket of 3 days is soon going to be over. :) @gaurivn

[2020-09-03 08:12] vaibhavarora102 commented on #748
Sry but I am not getting the way to use docusauras

[2020-09-03 08:12] abhinav72610 commented on #779
@vj-codes i too have the same doubt ..can you help me with current registration process ..Are we using flask-wtf forms or google forms or anything else for registration

[2020-09-03 08:19] gaurivn commented on #748
@vaibhavarora102, I didn't get you, like if you don't want to continue working on an issue please do comment under the respective issue and I'll unassign you and you can work on other issues.

[2020-09-03 08:19] vj-codes commented on #779
@abhinav72610 for registration of mentorship-system, you need to sign up in the apk on your device and just confirm from the email . Do you have the apk?
@yashasvimisra2798 what is this abt exactly ?
@PrashanthPuneriya any idea?

[2020-09-03 08:20] gaurivn commented on #748
I'll get back to you today, this issue is a continuation of #747

[2020-09-03 08:47] vj-codes commented on #769
@muskanvk different contributors comeup with different ideas for UI issues and I assure that yours won't be 'copied' by someone.
The task is pretty simple , comment first get assigned and then send a PR.
Also this issue is about **redesigning** and not just changing format of current template.

[2020-09-03 08:52] vaibhavarora102 commented on #748
okay thanks

[2020-09-03 08:53] vaibhavarora102 commented on #747
hi i am not getting the way to deal with docusaurus

[2020-09-03 08:57] gaurivn commented on #769
Hi @muskanvk, since this issue is already assigned, it is not available at the moment for others to work on, only the assignee's PR will be considered for the time being, all other PRs if any won't be considered / will be closed. Regarding the plagiarism, yes it will be checked for all OSH issues.

[2020-09-03 09:00] gaurivn commented on #747
Would you like to be unassigned from the issue?

[2020-09-03 09:01] vaibhavarora102 commented on #747
yes pls

[2020-09-03 09:07] AprameyaGupta commented on #702
@isabelcosta  I would like to contribute in this as a part of OSH. Can you assign this issue to me?

[2020-09-03 09:09] AprameyaGupta commented on #761
@paritoshsinghrahar I would like to contribute in this as a part of OSH. Can you assign this issue to me?

[2020-09-03 10:22] livrbecca commented on #612
Hi @isabelcosta, I’ve made the changes, also messaged you

[2020-09-03 10:44] paritoshsinghrahar commented on #756
@Anmollenka It has currently been assigned to someone.

@pavani-17 Please remember the contributing guidelines.

[2020-09-03 10:48] paritoshsinghrahar commented on #759
@Manav-03  I have assigned you. I hope you have set up the environment and read [community guidelines](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md).

Happy Coding.  :smiley:

[2020-09-03 10:49] faznan3nazer commented on #721
Yes... After completing that I would like to work on this issue...!

[2020-09-03 10:50] paritoshsinghrahar commented on #760
@Ashokrayal We need to make it fair for everyone and can't give more than 1 atm. So that everyone gets a chance. You can always work on more. Additionally, remember:

[2020-09-03 11:04] paritoshsinghrahar commented on #761
@vj-codes It's been discussed in the comments. It's been approved. This issue is to suggest more uniform issue. Therefore for context, this has been mentioned in Issue description itself.

It can be found here: https://github.com/anitab-org/mentorship-backend/pull/719#issuecomment-680843392

The proposal is only for suggestions/probable framework. Not involving coding.

[2020-09-03 11:12] vj-codes commented on #761
@paritoshsinghrahar If it's still available I would like to work on it:)

[2020-09-03 11:12] paritoshsinghrahar commented on #761
@rishika1802 Yes, you will be guided. I am assigning this issue to you. The whole idea is to help new contributors get started in Open Sorce programming.

First, you need to do the setup found here: https://github.com/anitab-org/mentorship-backend in README.
Then, you can proceed further. If this seems intimidating to you you can search for issues for `First Timers Only`.

Do tell me if you want t

[2020-09-03 11:20] paritoshsinghrahar commented on #761
@vj-codes I appreciate your enthusiasm but it's a First to Come First to get Served basis.
And same to others too. @Aditiwebd @AprameyaGupta @rishika1802.

[2020-09-03 11:22] yashasvimisra2798 commented on #785
@gitpurva yes your approach is right, but do you have any idea of how you are going to get the sample data and perform an analysis on it, hence drawing conclusions from it and putting it in an article?

[2020-09-03 11:23] paritoshsinghrahar commented on #761
@titiksha01
I am assigning this to you for now. Happy Coding.  :smiley:

[2020-09-03 11:23] paritoshsinghrahar commented on #761
@rishika1802 Yes, you will be guided. The whole point is to get new contributors to get started in Open Souce.

First, Install the setup from https://github.com/anitab-org/mentorship-backend README file.
If this seems intimidating you can switch to issues labeled `First Timers Only`. Happy Coding.  :smiley:

[2020-09-03 11:24] paritoshsinghrahar commented on #754
@arjungarg07 It's already assigned to someone.

[2020-09-03 11:27] Sanchit-Trivedi commented on #739
@SanketDG @PrashanthPuneriya @isabelcosta  as the previous assignee Anupriya is unable to work on the issue, I request you to assign me this issue as I would like to work on it as a part of OSH. Thanks

[2020-09-03 11:27] yashasvimisra2798 commented on #786
@ashwinijha6 any updates?

[2020-09-03 11:29] yashasvimisra2798 commented on #788
@ksraj123 any updates?

[2020-09-03 11:32] paritoshsinghrahar commented on #754
@ankitwarbhe Can you work with Travis for now. The image is only for reference**.
A PR with Travis badge would be perfectly acceptable. 2 Badges as in status of master and develop branch.

Not Travis and Codacy.

Yes, there will be contributors. Not everyone can be given write access. That's perfectly fine.

#### @ankitwarbhe  Please revert if any doubts.

[2020-09-03 11:42] PrashanthPuneriya commented on #769
We need to ask @vj-codes for an update. If @vj-codes is unable to deliver a valid PR then, we will consider assigning you and review your PR. Till then, your PR is not valid.
Please follow the community guidelines @muskanvk. Please feel free to grab other issues :)

[2020-09-03 11:50] PrashanthPuneriya commented on #779
@yashasvimisra2798 @vj-codes @abhinav72610
To my knowledge this issue is invalid. Even if we use google forms for registration (we don't) the issue should be raised in the frontend. This is the backend side of the project.

[2020-09-03 11:51] codesankalp commented on #773
I want to work on this issue. Also, I have previous experience to do this task @Shivansh2407 .
Thank You.

[2020-09-03 11:53] codesankalp commented on #745
@PrashanthPuneriya  I want to work on this issue.I am eagerly waiting to contribute to an issue.

[2020-09-03 11:55] codesankalp commented on #747
I can do this work. So please assign me this work @SanketDG @gaurivn

[2020-09-03 12:00] codesankalp commented on #738
@PrashanthPuneriya i want to work on this issue.

[2020-09-03 12:02] codesankalp commented on #664
@SanketDG @PrashanthPuneriya I want to work on this issue and I think I can fix this easily.

[2020-09-03 12:03] PrashanthPuneriya commented on #820
Hey everyone! Since, this issue is already assigned to @Surajv311 and a valid PR has been created I can't assign others this issue. There are lot of other issues please feel free to fix them :)

[2020-09-03 12:18] ashwinijha6 commented on #786
Sorry @yashasvimisra2798  I was working on an issue for the vms project could u give me some time pls?

[2020-09-03 12:19] codesankalp commented on #616
I want to work on this issue. I want to contribute  @darecoder

[2020-09-03 12:19] pavani-17 commented on #756
I have been working on it, I think I already got a solution. I will make a file soon.

[2020-09-03 12:25] vj-codes commented on #747
Assigning you @codesankalp
Happy documenting!

[2020-09-03 12:29] vj-codes commented on #769
@PrashanthPuneriya I made a PR already:)

[2020-09-03 12:43] darecoder commented on #616
@faznan3nazer as you are already been assigned to some of the issues, I'm assigning this to @Anmollenka.

[2020-09-03 12:45] vj-codes opened #830 "Update python badge in readme.md"
## Description
As a contributor,
I need no contradictions in the README file,
so that I won't be doubtful of the dependencies.
Update badge in readme from Python 3.6 to Python3 as it was decided in #820 to keep all versions same.

### Acceptance Criteria

- [ ] Update [Required]
- [ ]  Update Python 3.6 badge to Python 3 badge

### Definition of Done

- [ ] All of the required items are completed.

[2020-09-03 12:46] PrashanthPuneriya commented on #212
This issue has been fixed by #713. So, I am closing it :)

[2020-09-03 12:46] #212 closed, assigned to nobody

[2020-09-03 12:47] anishghimire603 commented on #830
@vj-codes assign this to me.

[2020-09-03 13:03] codesankalp commented on #830
@vj-codes  I want to solve this issue.

[2020-09-03 13:03] PrashanthPuneriya commented on #664
@SanketDG This issue is still valid. Earlier, I tested it without even running `pip related command`. My bad :laughing:

[2020-09-03 13:05] codesankalp commented on #341
@bartekpacia I have integrated many third party sites login like google, Facebook in many sites. So I want to work on this issue. Please assign this issue to me.

[2020-09-03 13:06] PrashanthPuneriya commented on #664
I am making this issue as first-timers-only since, it is quite simple to fix.
Sorry @Abjcodes, this means I can't assign you this issue since, you have already created a PR.

[2020-09-03 13:09] PrashanthPuneriya commented on #830
This is a first-timers-only issue @anishghimire603. Assigning @codesankalp :)

[2020-09-03 13:10] Abjcodes commented on #597
Can you assign this issue to me if its available? Thank You.

[2020-09-03 13:11] PrashanthPuneriya commented on #664
Assigning @soumyjain14 :)

[2020-09-03 13:18] Bhavani-Somanchi commented on #613
@faznan3nazer  @isabelcosta  Can I work on this issue?

[2020-09-03 13:32] Bhavani-Somanchi commented on #597
I would like to work on this issue as part of the Open Source Hack. Can you please assign it to me? Thank you!

[2020-09-03 13:34] codesankalp commented on #830
@vj-codes  please review my pull request and if you want any other change then let me know. Thanks.

[2020-09-03 13:34] Bhavani-Somanchi commented on #561
@isabelcosta  @vj-codes Can I work on this issue?

[2020-09-03 13:41] Bhavani-Somanchi commented on #603
@faznan3nazer  Can I work on this issue?

[2020-09-03 14:22] Manav-03 commented on #759
@paritoshsinghrahar Thank you, I'll get to it right away. :)

[2020-09-03 14:38] yashasvimisra2798 commented on #779
@vj-codes @abhinav72610 @PrashanthPuneriya My bad, I thought just like the other registrations for any activity in AnitaB.org there are google forms, here also some of them. So I thought of creating this issue.

[2020-09-03 14:43] yashasvimisra2798 commented on #787
@ksraj123 may I please have updates on this issue as well as #788

[2020-09-03 14:51] yashasvimisra2798 commented on #786
@ashwinijha6 how much time do you require to complete this issue?

[2020-09-03 15:04] vj-codes commented on #779
Closing since issue is no longer relevent.

[2020-09-03 15:04] #779 closed, assigned to abhinav72610

[2020-09-03 15:15] ashwinijha6 commented on #786
Atleast a day @yashasvimisra2798

[2020-09-03 15:24] yashasvimisra2798 commented on #786
Ok @ashwinijha6

[2020-09-03 16:14] ashwinijha6 commented on #786
Thanku @yashasvimisra2798

[2020-09-03 17:01] pallavisavant commented on #788
Is anyone working on this can i take this up

[2020-09-03 17:03] pallavisavant commented on #787
Can i take this issue and work on the same if not taken

[2020-09-03 17:04] pallavisavant commented on #786
can i work on issue,if not taken can you please assign it to me.

[2020-09-03 17:20] pallavisavant commented on #773
can you assign this to me,i have participated in osh and hasn't been assigned with any issues yet.

[2020-09-03 17:23] Shivansh2407 commented on #773
Hey everyone, this issue needs discussion, please let's first discuss the best option to be integrated and then I would be assigning the issue.

[2020-09-03 17:24] muskanvk commented on #595
Please assign this to me. I'd like to work on this issue !

[2020-09-03 17:25] pallavisavant commented on #771
if available can you pls assign it to me as i have no any other issues assigned yet

[2020-09-03 17:28] isabelcosta commented on #612
Can you create the Pull Request, please? So I can review your changes :) @livrbecca
Also, feel free to join our Zulip community here https://anitab-org.zulipchat.com/ 🤗

[2020-09-03 17:32] rpattath commented on #771
@dowenrei @pallavisavant would either of you be interested in working on this [issue](https://github.com/anitab-org/mentorship-android/issues/544)

[2020-09-03 17:34] pallavisavant commented on #771
i will go ahead pls assign it to me thanks

[2020-09-03 17:48] jatinjain001 commented on #830
I want to take it up please

[2020-09-03 18:14] SanketDG commented on #739
@anupriya-goyal No worries, that is understandable. Feel free to ask on Zulip about any issues you are facing.

[2020-09-03 18:23] vj-codes commented on #830
@jatinjain001 After commenting on a issue please wait until it's assigned to you and then send a PR.
This issue is already assigned , please go through other available issues and comment to claim them:)

[2020-09-03 18:24] jatinjain001 commented on #830
Okk

[2020-09-03 18:25] jatinjain001 commented on #820
I want to take it up.I am new in Open source contribution . Can you please assign it to me

[2020-09-03 18:31] soumyjain14 commented on #664
Hey thanks, @PrashanthPuneriya , Let me try this

[2020-09-03 18:40] codesankalp commented on #830
@vj-codes if my pull request is correct then, please review it and if any other changes are required then please inform me.
In this meantime can I solve more issues?

[2020-09-03 18:47] rpattath commented on #771
@pallavisavant awesome ! please comment on that issue.

[2020-09-03 18:51] yash2189 commented on #767
Thanks @gaurivn

[2020-09-03 19:30] vj-codes commented on #830
@codesankalp You can proceed to solve other ones , just remember the guidelines.And about the review , it will be done soon:)

[2020-09-03 19:57] isabelcosta commented on #561
Sure @Bhavani-Somanchi go ahead and get started!

[2020-09-03 20:44] #733 closed, assigned to vaibhavarora102

[2020-09-03 20:45] #820 closed, assigned to Surajv311

[2020-09-03 20:56] isabelcosta commented on #424
To anyone who is interested in contributing to this issue, this was almost completed in this PR #535 due to @lmcicat great work 🤗

[2020-09-03 21:28] isabelcosta commented on #613
@Bhavani-Somanchi I will leave this issue unassigned since I already assigned this https://github.com/anitab-org/mentorship-backend/issues/561 to you :)

[2020-09-03 21:48] isabelcosta commented on #738
@PrashanthPuneriya I think this is a very goood issue! Even though the task and comments are related to mentorship relation, it would make the Swagger UI much easier to inspect I think. Feel free to assign it @PrashanthPuneriya

[2020-09-03 21:51] isabelcosta commented on #296
@abhishekmishragithub I will close this issue as this is not really a priority nor a desired feature for the project at the moment :) Thank you for voicing your opinion though! 🙏

[2020-09-03 21:51] #296 closed, assigned to nobody

[2020-09-03 21:57] #742 closed, assigned to BALaka-18

[2020-09-04 05:03] abhishekmishragithub commented on #296
Okay. Thanks 😊

[2020-09-04 05:06] yashasvimisra2798 commented on #788
@ksraj123 you haven't been responding hence this issue is being assigned to @pallavisavant
@pallavisavant do keep me updated about your progress. All the best for your contribution :)

[2020-09-04 05:07] yashasvimisra2798 commented on #787
@arjungarg07 do keep me updated about your progress. All the best for your contribution :)

[2020-09-04 05:19] pallavisavant commented on #788
ok sure thank you

[2020-09-04 05:35] jatinjain001 commented on #770
I would like to work on it,Thank you

[2020-09-04 05:36] jatinjain001 commented on #769
I want to work on this,please assign me to this ,Thank you

[2020-09-04 05:37] jatinjain001 commented on #768
i would like to work on  it please assign to me

[2020-09-04 06:04] thesauravkarmakar commented on #526
@vkWeb Could you assign it to me? I want to try to solve this issue.

[2020-09-04 10:52] PrashanthPuneriya commented on #738
Does anyone want to work on this? I will assign this issue on the basis of First-Come-First-Serve.

[2020-09-04 10:55] PrashanthPuneriya commented on #745
Are you still available to work on this issue @kritikaparmar-programmer?

[2020-09-04 12:12] ashwinijha6 commented on #786
@yashasvimisra2798 should I make a .md file or use medium for blog writing ?

[2020-09-04 12:18] yashasvimisra2798 commented on #786
.md file @ashwinijha6

[2020-09-04 12:18] paritoshsinghrahar commented on #773
I think this conflicts with #754. @SanketDG @Shivansh2407

[2020-09-04 12:47] SanketDG commented on #773
The two look pretty distinct to me, #754 deals specifically with badges.

[2020-09-04 13:18] Abjcodes commented on #595
I would like to work on this issue. Can assign it to me if its available? Thank you.

[2020-09-04 13:54] pallavisavant commented on #788
@yashasvimisra2798 while setting environment variable for export DB_ENDPOINT=<database_endpoint> where will i find the .db file?? or how do i have to do this ,can you pls guide me on this thanks.

[2020-09-04 13:59] ankitwarbhe commented on #754
#829  Could you please guide further @paritoshsinghrahar @SanketDG  ?

[2020-09-04 14:18] Anmollenka commented on #616
#836

[2020-09-04 14:36] paritoshsinghrahar commented on #773
Oh ok. Great! 😄

[2020-09-04 15:16] Anmollenka commented on #616
@darecoder  I have opened one pull request but it is not passing 2 out of 3 cases.Should I close that one??

[2020-09-04 15:17] Anmollenka commented on #616
And also I am not able to understand why am I failing in that case can you please help me out.

[2020-09-04 15:18] darecoder commented on #616
@Anmollenka Didn't you link the PR to this issue?

[2020-09-04 15:24] PrashanthPuneriya commented on #746
@alapan-sau Its been three days. Any update on the PR? If you're not available to work on this issue then please inform so that I can assign this issue to others.

[2020-09-04 15:26] Anmollenka commented on #616
I first created draft pull request to check if it is passing all the cases.

[2020-09-04 15:27] Anmollenka commented on #616
Shall I add the review part and link it here???

[2020-09-04 15:29] vkWeb commented on #526
@thesauravkarmakar Thanks for your interest. Actually, I have been inactive on this project for a while. I am not aware how things are getting shaped up so I'll leave this decision to @isabelcosta.

[2020-09-04 15:29] alapan-sau commented on #746
I am working. .I was busy for last 2 days..Will send a PR soon. Hopefully by tommorow

[2020-09-04 15:30] darecoder commented on #616
@Anmollenka I just saw your PR, always try to give a meaningful title to your PR and add words like fixes, closes along with issue hash. You have mentioned fixes # 616, the space between # and issue no. wasn't required. I'll review the PR soon, till then explore some other issues:)

[2020-09-04 15:34] Anmollenka commented on #616
@darecoder Ok mam,I will always try to give a meaningful title to my PR henceforth.

[2020-09-04 15:35] Anmollenka commented on #616
Please review it and tell me if any changes are required.

[2020-09-04 16:08] faznan3nazer commented on #738
I would like to work on this issue... currently, I am assigned to  [issue](https://github.com/anitab-org/mentorship-android/issues/779) but I cannot create a PR, because of the required folder (docs/ui) is still not created by the repo admins. That is why I cannot create a PR for that, I am blocked there. Can I work on this issue?

[2020-09-04 16:14] pavani-17 commented on #756
What exactly should I write in the doc? Can someone please guide me on that?

[2020-09-04 16:22] rpattath commented on #771
@divyanshugit any updates ? Let me know if you are facing any issues or have any concerns.

[2020-09-04 16:25] PrashanthPuneriya commented on #746
No worries @alapan-sau! Make sure that you update the progress every 3 days.

[2020-09-04 16:36] paritoshsinghrahar commented on #756
@pavani-17 It can be code snippets, algorithms, pseudo-code, or an in-depth explanation of how you aim to provide the facility of push notifications. How it fits with the present backend code.

It's basically part of outreach/research. So that new contributors can work/code on the solution you design for the problem.

[2020-09-04 16:51] Rasikamurali commented on #785
Hello, I'd like to work on this. Would be thankful if any assistance is provided with the same.

[2020-09-04 16:54] Rasikamurali commented on #770
I would like to work on it!

[2020-09-04 17:20] titiksha01 commented on #770
@gaurivn @PrashanthPuneriya Pls Review my pr and let me know if any changes are required.  Thank You

[2020-09-04 17:28] ankitwarbhe commented on #754
I have closed the PR @paritoshsinghrahar and unassigned myself with the issue.

[2020-09-04 17:45] soumyjain14 commented on #664
sorry unable to find a clue :(
New to open source, don't know how to start

[2020-09-04 19:07] PrashanthPuneriya commented on #664
No worries @soumyjain14! Did you successfully set up the project? At which part are you clueless? Let me help you getting started 😃

[2020-09-04 19:10] PrashanthPuneriya commented on #664
If you have successfully set up the project locally and replicated the error then start by googling out the error and always read the prevs comments to get more hints :)

[2020-09-04 20:40] codesankalp commented on #745
@PrashanthPuneriya  I want to work on this issue.

[2020-09-04 20:54] titiksha01 commented on #761
@paritoshsinghrahar Thank you so much for this opportunity :)

[2020-09-04 22:59] isabelcosta commented on #230
@vaibhavarora102 @SanketDG Oh I remember this from GCI 🤔 Though right now I don't understand. I think this should be broken into multiple issues indeed! An issue for each sub-bullet of the acceptance criteria. cc @anitab-org/mentorship-backend-maintainers

[2020-09-04 23:19] gaurivn commented on #769
Hi @jatinjain001, this issue is already assigned and a PR has been sent for the same. Pls do check out for other issues, will assign.

[2020-09-04 23:47] isabelcosta commented on #526
@vkWeb thank you so much for coming back to update the community about this 🤗 I really appreciate it!
@thesauravkarmakar from what you understand, do you think this issue is valid? Have you tried to setup the project locally? I feel this is needed with new code that comes with new data models. I am not sure what you can do as a standalone fix.

[2020-09-04 23:50] isabelcosta commented on #284
@SanketDG nop. I have definitely not switch it off 🤔

[2020-09-05 00:27] isabelcosta commented on #471
@paritoshsinghrahar sure :) I am fine with it!

[2020-09-05 05:46] pallavisavant commented on #788
@yashasvimisra2798 i have set the environment variables in .env file ,what do i have to do with the database variables ,r these also supposed to be .env and what should the values be???

[2020-09-05 06:41] Sanchit-Trivedi commented on #739
@SanketDG I have made the required changes. Please review my Pull Request. As I am a first-time contributor and new to open source I request you to tell me if I have made any errors in putting the pull request regards to the format, commit message or the code itself. Thanks in advance.

[2020-09-05 06:52] Sanchit-Trivedi commented on #787
@yashasvimisra2798 Since arjungarg07 has dropped his assignment I would request you to assign me this issue as I want to take this up as a part of Open Source Hack

[2020-09-05 07:25] yashasvimisra2798 commented on #788
https://github.com/anitab-org/mentorship-backend/wiki/Using-Backend-Swagger-UI
Mentorship Backend utilises Swagger UI. This the Documentation for it. Start here to get an idea.

[2020-09-05 07:27] yashasvimisra2798 commented on #787
sure @Sanchit-Trivedi

[2020-09-05 08:53] PrashanthPuneriya commented on #738
@faznan3nazer What about #596 ?

[2020-09-05 10:00] Sanchit-Trivedi commented on #787
@yashasvimisra2798 After 3 hours of investigation I find that this is the way that SWAGGER UI renders models. Attaching the example that I found on their website [https://petstore.swagger.io/](https://petstore.swagger.io/). Flask Restx generates the required swagger.json and could not find a way to make changes to this. Please help out. Thanks

[2020-09-05 11:05] UdokaVrede commented on #613
@isabelcosta  yes I guess so

[2020-09-05 17:35] vaibhavarora102 commented on #726
hi i would like to work on this can i

[2020-09-05 17:40] vaibhavarora102 commented on #788
i would like to work on this

[2020-09-05 18:10] pallavisavant commented on #788
@vaibhavarora102 i am already working on this,as it was me contributing for the first time it took time to set up the environment after solving the issue i was facing.Thanks

[2020-09-05 18:32] vj-codes commented on #726
@gitpurva it's been 5 days and no update from your side , thus unassigning you from this issue.

[2020-09-05 18:33] vj-codes commented on #726
Assigning you @vaibhavarora102
Happy coding!

[2020-09-05 18:41] gitpurva commented on #726
@vj-codes I have already sent a PR solving the issue and it has passed all the unit test cases also. The PR is under review.

[2020-09-05 18:46] vj-codes commented on #726
@gitpurva sorry my bad , you haven't linked this issue in `fixes` part of your PR , show it didn't show up here .
Assigning you back 🎉

[2020-09-05 18:53] gitpurva commented on #726
@vj-codes Sorry about that. I did not know about the fixing part:(

[2020-09-05 19:35] pallavisavant commented on #788
@yashasvimisra2798 can you pls elaborate this in more detail for me...prettify the descriptions as in do you want me to change it or format it properly like all in small letter or how is it....Thanks

[2020-09-05 19:50] Mahnoor123-Fatima commented on #780
Can you assign this issue to me?

[2020-09-05 20:48] vj-codes commented on #738
@PrashanthPuneriya hey I would like to work on this

[2020-09-05 20:49] vj-codes commented on #738
@faznan3nazer As far as I know , contributors have to create the folder and then add the changes ,
this is being done in android and backend repo.

[2020-09-06 01:55] vaibhavarora102 commented on #788
No issues

[2020-09-06 07:07] 17sushmita commented on #754
Hi I'm new to this community and participating in OSH. @paritoshsinghrahar  Can you assign this issue to me? I'd like to work on it.

[2020-09-06 08:10] PrashanthPuneriya commented on #738
Assigning you @vj-codes :)

[2020-09-06 08:13] PrashanthPuneriya commented on #745
@codesankalp You are already assigned to #747. Do you want to work on this issue or the other?

[2020-09-06 08:50] codesankalp commented on #745
Yes I want to work on this issue because I want to contribute in code part also.

If it is possible then assign me this issue otherwise I will try to complete that issue first and then move on to this issue.
@PrashanthPuneriya

[2020-09-06 11:14] pallavisavant commented on #754
I have participated for OSH....if this is still available can i take up this one... as i haven't been assigned any under documentation...Thanks.

[2020-09-06 11:19] pallavisavant commented on #597
I have participated for OSH....if this is still available can i take up this one... as i haven't been assigned any under documentation...Thanks.

[2020-09-06 11:20] pallavisavant commented on #580
I have participated for OSH....if this is still available can i take up this one... as i haven't been assigned any under documentation...Thanks.

[2020-09-06 11:21] pallavisavant commented on #471
I have participated for OSH....if this is still available can i take up this one... as i haven't been assigned any under documentation...Thanks.

[2020-09-06 11:23] pallavisavant commented on #344
I have participated for OSH....if this is still available can i take up this one... as i haven't been assigned any under documentation...Thanks.

[2020-09-06 11:24] pallavisavant commented on #591
I have participated for OSH....if this is still available can i take up this one... as i haven't been assigned any under documentation...Thanks.

[2020-09-06 13:11] Shivansh2407 opened #840 "Beautify/Format Swagger.json"
**Is your feature request related to a problem? Please describe.**
The Swagger.json page seems to be a bit congested. In order to make it look better we can try to beautify the json file, and present it in tree view format.
You can take a look at the idea in the link : https://codebeautify.org/jsonviewer

**Additional context**
Please comment below to get the issue assigned to you. This is a part

[2020-09-06 13:36] kritikaparmar-programmer commented on #840
I want to work on this issue.. Please assign me..

[2020-09-06 13:38] Shivansh2407 commented on #840
Go ahead @kritikaparmar-programmer 👍

[2020-09-06 13:55] SanketDG commented on #591
@pallavisavant You are only allowed to logically work on only one issue during OSH.

[2020-09-06 13:57] pallavisavant commented on #591
oh i see okay thanks.

[2020-09-06 14:17] kritikaparmar-programmer commented on #840
![doc](https://user-images.githubusercontent.com/59971890/92327757-a1886100-f079-11ea-92c0-6e04ccdc2ca2.png)

Hey @Shivansh2407 , I looked for the Swagger.json file but it was deleted by someone 5 days ago..
Can you please take a look and correct me if I'm wrong..

[2020-09-06 14:36] isabelcosta commented on #613
@UdokaVrede so do you want me to assign this to you? let me know and I'll do it :)

[2020-09-06 14:41] vj-codes commented on #738
@PrashanthPuneriya since swagger.json is deleted , where am I supposed to make the changes?
Also do you want me to rearrange as well as split the files?

[2020-09-06 14:44] Shivansh2407 commented on #840
But I guess, it is available at the heroku app at the /swagger.json endpoint. You need to just beautify it and display the formatted json view on the same endpoint.

[2020-09-06 14:48] #781 closed, assigned to Abjcodes

[2020-09-06 15:14] PrashanthPuneriya commented on #738
@vj-codes To my knowledge `swagger.json` has nothing to do with this issue. Once you rearrange and split the code into different files the frontend for this project a.k.a swagger automatically changes.

Yes! It would be more convienient :)

[2020-09-06 15:17] PrashanthPuneriya commented on #745
I am more than happy to assign you this issue after you create a PR to #747 @codesankalp :) If I assign this issue right now then it means that you will be reserving this issue and others won't be able to take up this issue. I hope you understand.

[2020-09-06 15:19] alivabasa commented on #754
Can I take up this task for OSH?

[2020-09-06 15:26] alivabasa commented on #597
I want to take up this issue for OSH.

[2020-09-06 15:31] codesankalp commented on #745
Yes I will fix that issue soon.
And start working on this issue soon.
Thanks.

[2020-09-06 17:19] yash2189 commented on #767
@gaurivn I have some queries that I have asked on the PR #809. Will you please have a look at the same?
Thank you

[2020-09-06 19:59] aditya2499 commented on #745
Is it available? I would like to work over this.

[2020-09-07 03:56] thesauravkarmakar commented on #526
I don't understand that much. No, I didn't setup it locally. I am new to Open Source, so if you could help me regarding this issue, I would like to contribute.

[2020-09-07 06:40] pallavisavant commented on #788
hey @yashasvimisra2798 i wanted to know what shall i change under all description...if told ..i can quickly do the required changes and raise PR.

[2020-09-07 07:20] vj-codes commented on #789
How's the PR going? @bhanvimenghani

[2020-09-07 07:21] vj-codes commented on #786
@ashwinijha6 how's the PR going?

[2020-09-07 07:25] vj-codes commented on #233
@ashar-7 @isabelcosta closing since this issue cannot be reproduced by other new contributors

[2020-09-07 07:25] #233 closed, assigned to nobody

[2020-09-07 07:30] vj-codes commented on #632
@PrashanthPuneriya is this an OSH issue?

[2020-09-07 07:32] vj-codes commented on #721
@ashwinijha6 how's the PR going?

[2020-09-07 07:34] vj-codes commented on #606
@faznan3nazer how's the PR going?

[2020-09-07 07:38] vj-codes commented on #596
@faznan3nazer making it available as you are already assigned #606

[2020-09-07 07:39] vj-codes commented on #760
@Ashokrayal how's the PR going?

[2020-09-07 07:40] vj-codes commented on #759
@Manav-03 how's the PR going?

[2020-09-07 07:42] vj-codes commented on #754
Assigning you @17sushmita
Happy documenting!

[2020-09-07 07:46] ashokrayal commented on #760
Hi.
I had issues in setup. Now it looks good. Will work on it in the evening. Thanks

[2020-09-07 07:46] gitpurva commented on #785
@yashasvimisra2798 The sample data would be collected from the mentorship database where we can find the preferences of mentors as well as mentees. The "tf-IDF" algorithm would be performed on it which would help us in scoring the preferences and further, we will make use of the "cosine similarity" algorithm which would help us in measuring the similarity between the  preferences vector and thus r

[2020-09-07 07:50] Manav-03 commented on #759
@vj-codes I had some trouble setting the environment up but I'm working on it right now :)

[2020-09-07 08:08] codesankalp commented on #747
@vj-codes @PrashanthPuneriya
should i remove all the old files from docs ?
I have solved this issue by using tinysauraus.

[2020-09-07 08:17] PrashanthPuneriya commented on #632
No! I don't think so @vj-codes

[2020-09-07 08:23] ashwinijha6 commented on #786
@vj-codes working on it

[2020-09-07 08:26] vj-codes commented on #759
@Manav-03 if the errors are solved, share them here or on zulip, we could help you then:)

[2020-09-07 08:34] PrashanthPuneriya commented on #747
@codesankalp I think we shouldn't remove anything from docs/...
We don't have access to remove wiki and the wiki has many docs linking to docs/.. folder files. It is better if we remove the docs/.. only if we remove wiki. So, let it be @codesankalp

[2020-09-07 08:39] PrashanthPuneriya commented on #664
Are you still working on this @soumyjain14 ? Or should I assign someone else?

[2020-09-07 08:41] PrashanthPuneriya commented on #746
Are you still working on this issue @alapan-sau ? Or should I assign someone else?

[2020-09-07 09:13] codesankalp commented on #747
@PrashanthPuneriya Please review my pull request. Thanks.

[2020-09-07 09:20] alapan-sau commented on #746
No no..I read the issues on Werkzeug. I got the solution is using 0.16...But i was trying to figure out any work around for using the latest version.

[2020-09-07 09:26] Manav-03 commented on #759
@vj-codes I set up the environment and installed the requirements. However, when I tried to run 'run.py' it gave me some errors about not having the module pysqlite. I tried to install pysqlite but it didn't work as python 3 does not support pysqlite, it said that that I should install pysqlite3 instead, which I did, but it hasn't helped.

[2020-09-07 09:29] vj-codes commented on #759
@Manav-03 please can  you provide screenshot of - error and your  .env file

[2020-09-07 10:00] Manav-03 commented on #759
@vj-codes
![image](https://user-images.githubusercontent.com/69794758/92372920-3db67480-f11b-11ea-897d-132463742f22.png) - error
![image](https://user-images.githubusercontent.com/69794758/92375635-02b64000-f11f-11ea-8692-e7b8f9ec4f35.png) - .env

[2020-09-07 10:14] vj-codes commented on #759
@Manav-03 secret_key should be different from security_password_salt , either update any one to `12345`
Then , mail_default_sender should be an actual email like` myname@gmail.com`
If you are using gmail above then , mail_server is `smtp.mail.com` , if using something else search and adapt the mail_server accordingly
app_mail_username should be username used in above mail address like in this case

[2020-09-07 10:17] vj-codes commented on #759
@Manav-03 remove the current virtual environment and name it as `venv `only coz the code uses venv and may cause more errors

[2020-09-07 10:22] UdokaVrede commented on #613
yeah sure

[2020-09-07 10:30] yash2189 commented on #767
@gaurivn can you please have a look at my doubt I've mentioned on the PR #809

[2020-09-07 10:31] Manav-03 commented on #759
@vj-codes
![image](https://user-images.githubusercontent.com/69794758/92378349-4dd25200-f123-11ea-8be6-e0d8d81f40ff.png)

I made these changed to .env and the problem still persists. Should I delete the virtual environment I created and create another one with the name venv?

[2020-09-07 10:32] ashwinijha6 commented on #786
@yashasvimisra2798 I had some doubts related to this could we discuss on zulip?

[2020-09-07 10:33] vj-codes commented on #759
@Manav-03 I would say yes
Also do this command
 pip install python-dotenv before python run.py

[2020-09-07 10:39] ashwinijha6 commented on #786
I see u are not subscribed to the #mentorship-system stream

[2020-09-07 10:41] pavani-17 commented on #740
Hey! I was making some changes and I am not sure if I messed up my previous PR. I am really sorry for the inconvenience, but could you please let me know if the previous PR is fine. TIA

[2020-09-07 10:48] 17sushmita commented on #754
Thank You @vj-codes  for assigning this to me.

[2020-09-07 12:13] 17sushmita commented on #754
@vj-codes I've created the PR. Please review it.

[2020-09-07 14:14] kritikaparmar-programmer commented on #840
Hey @Shivansh2407 , I setted up the project locally and when I run it I found the file on the webpage and even I know how to beautify it but I am having confusion on where and how to edit the file that in the project like how to display the formatted json view on the webpage.
Can you please help me with this..