[2020-09-07 14:36] faznan3nazer commented on #606
Can you please grant me 2 more days to create PR for this issue?
I would like to work on this issue as a part of OSH. Can you please add OSH label for this issue?

[2020-09-07 14:55] ashwinijha6 commented on #721
@anna4j I'm getting the error
![mentorship](https://user-images.githubusercontent.com/45794450/92399616-348fcc80-f148-11ea-984d-15eed60313b7.JPG)

[2020-09-07 14:59] Shivansh2407 commented on #840
Hi @kritikaparmar-programmer , you can create a template for the same and display it in the /swagger.json endpoint.

[2020-09-07 15:01] ashwinijha6 commented on #721
An appropriate error message should be shown under the responses so what should be I message like do u mean to say
HTTPStatus.OK.description gives the message **Request fulfilled, document follows**
So this should be the case with each of the Http status or I'm getting it wrong?

[2020-09-07 15:08] ashwinijha6 commented on #721
Does it refer the ERROR:NOT FOUND?

[2020-09-07 15:25] paritoshsinghrahar commented on #754
Closing this due to [following](https://github.com/anitab-org/mentorship-backend/pull/829#pullrequestreview-482125680).

[2020-09-07 15:25] #754 closed, assigned to 17sushmita

[2020-09-07 15:41] gaurivn commented on #767
@yash2189, no need to ping here, when you ping from the PR too, I'll see it... I'll get back to you in a while.

[2020-09-07 15:45] abhinav72610 commented on #777
@pbgurav  is this issue open as it has no labels if yes then i would to work on it

[2020-09-07 16:43] SanketDG commented on #840
The `swagger.json` endpoint is generated by `flask-restx`, I am not sure how much it can be overridden.

[2020-09-07 16:48] ashokrayal commented on #760
Hi @paritoshsinghrahar, @vj-codes

Issue is resolved. Need to add one test case but 40 testcases are failing.
All have similar error -
`sqlalchemy.exc.IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: users.email [SQL: 'INSERT INTO users (name, username, email, password_hash, registration_date, terms_and_conditions_checked, is_admin, is_email_verified, email_verification_date, cur

[2020-09-07 17:48] faznan3nazer commented on #613
I would like to work on this issue...can you please assign this to me

[2020-09-07 18:27] rpattath commented on #771
Removing @divyanshugit from this issue because of no response.

[2020-09-07 18:31] rpattath commented on #771
@dowenrei would you like to work on this issue?

[2020-09-07 18:33] dowenrei commented on #771
@rpattath yes sure!

[2020-09-07 21:31] bhanvimenghani commented on #789
@vj-codes Done with research and integration part. Just that should I add "Checking GitHub name and email set properly with a hook" or not as it would work only with my details.
Also this is the [documentation link ](https://docs.google.com/document/d/15VbXVfhfeCkKz0OQX0HyD2oP6Wj2d9BGWM3yvtI9Xhg/edit) for any kind of suggestions ,if I am doing it as required for the project or not...

[2020-09-07 21:38] divyanshugit commented on #771
@rpattath I was unable to give you any updates. Because of the electricity shutdown in my area, The shutdown was caused by storm. I will look on other issues.

[2020-09-07 21:53] titiksha01 commented on #761
@paritoshsinghrahar Just wanted to confirm if i have understood the problem and have been researching correctly. The report i need to submit should contain a solution for integrating 3rd party apps,an idea of how to do so, its feasibility and compatibility with the back-end and which 3rd party apps/ social platforms it can integrate?

[2020-09-08 01:14] pbgurav commented on #777
In My opinion this needs to be reviewed by a maintainer before it is
available for implementation

On Mon, 7 Sep, 2020, 9:15 PM Abhinav Kumar Singh, <notifications@github.com>
wrote:

[2020-09-08 05:39] abhinav72610 commented on #745
If this is availablei will want to work on this

[2020-09-08 05:47] gaurivn opened #845 "Perform manual testing and report PUT /user/change_password"
## Description

As a tester,
I need to test PUT /user/change_password,
so that I can provide a test report on it.

You should create a markdown file inside `/docs/manual_tests` with the following content:
- Scenario tested step by step with dummy data you used (e.g.: username and password)
- Report it as:
[code]
If you find a test that the expected result does not match the actual result then crea

[2020-09-08 05:51] yashasvimisra2798 commented on #785
@gitpurva it sounds cool. Create the document, showing your code and explaining your concepts.

[2020-09-08 05:54] yashasvimisra2798 commented on #786
Yes @ashwinijha6 I'll subscribe to it, however, you can tell me what problem you have here itself. You just have to see how Flask-SQLAlchemy has been used here and then write an article out of it.

[2020-09-08 05:54] khushishikhu commented on #746
@PrashanthPuneriya  may i take this issue

[2020-09-08 05:55] #787 closed, assigned to Sanchit-Trivedi

[2020-09-08 06:09] vj-codes commented on #789
@SanketDG ^^

[2020-09-08 06:12] vj-codes commented on #845
@gaurivn hey I would like to work on this

[2020-09-08 06:24] yashasvimisra2798 commented on #788
@pallavisavant the time I created this issue the JSON format here was not correct, you can see in the screenshot itself. However, on reviewing the project again this fault has been fixed.

[2020-09-08 06:26] #788 closed, assigned to pallavisavant

[2020-09-08 06:28] gaurivn commented on #845
@vj-codes, you're assigned issue #738 right, do open a PR for that and I'll assign you this one

[2020-09-08 07:09] pallavisavant commented on #613
if its still available i would like to work on this

[2020-09-08 07:15] ankit-saraf commented on #845
@vj-codes I would like to work on it.

[2020-09-08 07:16] ankit-saraf commented on #845
I had created the PR for my previous assigned issue.

[2020-09-08 07:18] PrashanthPuneriya commented on #745
Are you available to work on this issue @codesankalp ?

[2020-09-08 07:22] vj-codes commented on #845
@ankit-saraf assigning you:)
Setup up the repo locally or perform testing on the deployed link

[2020-09-08 07:24] ankit-saraf commented on #845
Thank you, Vaishnavi :)
I will try to complete it asap.

[2020-09-08 07:43] vj-codes commented on #738
@PrashanthPuneriya I still can't get it totally , like do I have to split in form of send_request.py , delete_request.py etc ?
What I thought about this issue was to edit [this](http://mentorship-backend-temp.herokuapp.com/swagger.json) and the UI will get categorised.
If you could  ellaborate a bit more , thanks!

[2020-09-08 07:56] SanketDG commented on #789
@bhanvimenghani Great, the documentation seems extensive. We did similar things in vms so you might want to take inspiration from there.

Here's what you have to do:

- Select a pre commit framework (I personally like https://github.com/pre-commit/pre-commit)
- Install all the required basic hooks along with black, flake8, isort.
- Add documentation for these hooks and how to integrate them.

[2020-09-08 07:59] codesankalp commented on #745
Yes I am available, I fixed the previous issue 🙂. You can check my pull request for that issue @PrashanthPuneriya .

You can assign me this issue.

[2020-09-08 08:00] PrashanthPuneriya commented on #738
This issue is not related to docs. It is related to coding. As far as I know you can't edit swagger.json it is automatically generated by swagger ui.

Currently all the logic related to comments, tasks, relations are under single file. So, I need you to split the code as follows or even better:-
![image](https://user-images.githubusercontent.com/42068010/92448619-7d8e6200-f1d6-11ea-86bc-e3fb28ae15

[2020-09-08 08:01] PrashanthPuneriya commented on #745
Assigning you @codesankalp! Happy coding :)

[2020-09-08 08:03] vj-codes commented on #738
okay so what ever code is related to tasks in mentorship_relation.py should be remvoved and shifted to tasks.py? @PrashanthPuneriya

[2020-09-08 08:04] PrashanthPuneriya commented on #738
Yes @vj-codes! You got it right. Not just tasks.py you also need to create comments.py and any other file which you think is reasonable to have its own file.

[2020-09-08 08:44] vj-codes commented on #738
Is this what is expected for mentorship relation? @PrashanthPuneriya
Also what should be the description of tasks and comments like mentorship has "operations related to... users "?

![image](https://user-images.githubusercontent.com/60894542/92453521-fdb7c600-f1dc-11ea-8078-121233c7627b.png)

[2020-09-08 09:03] PrashanthPuneriya commented on #738
@vj-codes Exactly!! Looks good :)

"Operations related to comments between users" is fine by me. What do you think?

[2020-09-08 09:05] gaurivn commented on #827
@muskanvk, please do edit the issue you created following any of these [issue templates](https://github.com/anitab-org/mentorship-backend/tree/develop/.github/ISSUE_TEMPLATE), and if you want to create a PR for the same, do leave a comment (under the issue) asking to be assigned if it gets approved and if it gets approved by one of the maintainers, you can send a PR.

[2020-09-08 09:22] PrashanthPuneriya opened #846 "Use HTTPStatus instead of hard coded status codes in resources/mentorship_relation.py file"
**Describe the bug**
[mentorship_relation](https://github.com/anitab-org/mentorship-backend/blob/develop/app/api/resources/mentorship_relation.py) file has **few routes** that uses hardcoded status codes instead of HTTPStatus.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://mentorship-backend-temp.herokuapp.com/
2. Click on `Mentorship Relation`
3. Scroll down to `/mentorship

[2020-09-08 10:24] vj-codes commented on #738
@PrashanthPuneriya @isabelcosta @SanketDG
After mentorship relation , I created a tasks.py file in resources but got an error that there's no tasks.py in models .
So, I created tasks.py in models and took the body from mentorship_relation.py dealing with tasks part .
After I tried to run it I get this
[code]
What to do next? or should I categorise tasks and comments below relations on swagger as t

[2020-09-08 12:00] paritoshsinghrahar commented on #761
@titiksha01  Yes, precisely.

[2020-09-08 12:03] paritoshsinghrahar commented on #760
@Ashokrayal Can you describe the errors in more detail? Also, like what kind of changes you made to reach, here.
First, make a PR, we can then resolve the test cases there. Where I'll be able to see changes in code.

[2020-09-08 12:04] paritoshsinghrahar commented on #471
@pallavisavant Sure. I am assigning this to you.

[2020-09-08 12:38] sujal111 commented on #830
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 12:40] pallavisavant commented on #763
if this is still available can i take up this issue??

[2020-09-08 12:41] pallavisavant commented on #762
if still available can i take up this issue..Thanks.

[2020-09-08 12:41] sujal111 commented on #786
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 12:42] sujal111 commented on #785
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 12:48] sujal111 commented on #772
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 12:50] sujal111 commented on #762
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 12:51] sujal111 commented on #757
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 12:54] sujal111 commented on #528
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 13:03] sujal111 commented on #235
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 13:13] sreelekha901 commented on #846
Can I work on this issue?

[2020-09-08 13:22] ashwinijha6 commented on #786
Actually before making a pull request I just wanted to know certain things
This will be the Structure of the .md file
1. Flask-SQLalchemy
2. SqlAlchemy
3. Requirements
4. Create a minimal application
5. Usage in mentorship-backend
Should I mention the API part?
Is this ok? Should I also explain the installation of flask & flask-sqlalchemy separately ?
Or should **pip install -r requirements.txt**

[2020-09-08 13:58] pallavisavant commented on #471
@paritoshsinghrahar i have the TC ready..i wanted to test them all...but like after me registering new user ,we get a verification mail post clicking gets the user account confirmed...now how do we get the token on registered email to enter it during email confirmation....Thanks.

[2020-09-08 14:04] abhinav72610 commented on #846
currently i have no issue assigned...i would like to work on this

[2020-09-08 14:19] rutujadhanawade commented on #846
I would like to work on this

[2020-09-08 16:35] jatinjain001 commented on #830
I am willing to work on this please assign it to me

[2020-09-08 16:35] jatinjain001 commented on #827
I want to work on it please assign it to me

[2020-09-08 16:36] jatinjain001 commented on #782
I haven't get any issue for solve I am new in OSH

[2020-09-08 16:52] ashokrayal commented on #760
thanks @paritoshsinghrahar 👍
I got it all sorted out. I am checking the location using contains. So It will work like below.
`location=delhi`

**results**
- delhi
- new delhi
- xyzdelhi
- delhiabc

[2020-09-08 17:07] ashokrayal commented on #771
Hi,

I am up for this issue. I have one assigned issue which is resolved and I have created PR which is in review state.

[2020-09-08 17:16] ashokrayal commented on #685
Hi @PrashanthPuneriya ,

There is no activity on this issue. If this is available, I would like to work on this issue. I have one assigned issue which is resolved and I have created PR which is in review state.

[2020-09-08 17:29] vj-codes commented on #827
@gaurivn do we really need a license badge on readme? The other repos don't have and honestly no contributors will look for the license to begin their contributions rather will be aligned towards lang used and community etc

[2020-09-08 17:32] vj-codes commented on #830
@jatinjain001 @sujal111 please don't hijack all issues that are already assigned
[Here's](https://github.com/anitab-org/mentorship-backend/issues?q=is%3Aopen+is%3Aissue+label%3A%22Status%3A+Available%22+label%3A%22Open+Source+Hack%22+no%3Aassignee) a list of some available issues for OSH.
Comment to claim , get assigned and then send a PR.Have a great start!

[2020-09-08 17:35] ashokrayal commented on #685
@shubhank-saxena, Please let me know if you are still working on it.

[2020-09-08 17:39] muskanvk commented on #827
@vj-codes I really think you should not be rude to everyone and at every time. @gaurivn has already communicated the issue to me. The reason I am saying this is, previously also while working on some other issue, you got yourself assigned that issue, closed and marked the issues at your free will. Please give new comers also some chance. If it's not needed, it is okay, and yes contributors look fo

[2020-09-08 17:39] #827 closed, assigned to nobody

[2020-09-08 17:46] vj-codes commented on #827
@muskanvk hey sorry if I seemed rude , was just following the community guidelines .The previous issue was assigned to me way before you created the PR without following the guidelines . I will be creating a few newcomer issues today for OSH , do comment on them I will make sure it's assigned to you .
And about not being welcoming , well others don't have any problem :)

[2020-09-08 17:49] vj-codes commented on #827
And if you really want to work on this re-open this and I'll create same issues for other repos too

[2020-09-08 17:51] shubhank-saxena commented on #685
Hey @Ashokrayal you can work on it.

[2020-09-08 18:06] ankit-saraf commented on #845
@vj-codes I have a doubt. This is the backend repo and is used by our ios and android app. So for performing the test, can I use the android app?

[2020-09-08 18:25] vj-codes commented on #845
@ankit-saraf no you can't test using app , there's a repo deployed link to test or the other option is to set repo locally

[2020-09-08 18:32] isabelcosta commented on #753
@vj-codes Images for PR, you can upload here, and then use the link given by github, instead of the link from the local file in report 🤗

`![image](https://user-images.githubusercontent.com/11148726/92514284-8b110f80-f209-11ea-9e54-7cc0034030a2.png)`

[2020-09-08 18:36] yash2189 commented on #846
Can I work on this?

[2020-09-08 18:38] ankit-saraf commented on #845
@vj-codes https://mentorship-backend-temp.herokuapp.com/  U are talking about this link?

[2020-09-08 18:40] SanketDG commented on #846
Assigning @sreelekha901 since she is not assigned to any issue and asked first.

[2020-09-08 18:52] pallavisavant commented on #481
I have participated in OSH can i take up this ,if its available.Thanks.

[2020-09-08 18:56] vj-codes commented on #845
yes here's how to use swagger https://github.com/anitab-org/mentorship-backend/wiki/Using-Backend-Swagger-UI

[2020-09-08 18:58] sujal111 commented on #830
🙂😑
Hmmm

On Tue, 8 Sep, 2020, 11:02 PM Vaishnavi Joshi, <notifications@github.com>
wrote:

[2020-09-08 18:58] ankit-saraf commented on #845
Thank You!

[2020-09-08 19:09] ankit-saraf commented on #845
I almost completed it. WIll create a pull request by evening.

[2020-09-08 19:16] SanketDG commented on #481
This issue is not part of OSH, but if you are interested enough and want to take a stab at this, we can add the label definitely.

[2020-09-08 19:16] rpattath commented on #771
@divyanshugit I am really sorry to hear that. Hope you find another issue soon.

@Ashokrayal please look for other issues that have Available label.

[2020-09-08 19:17] vj-codes commented on #845
Just make sure you don't add the screenshots/gifs in in form of binary files .

1.  Copy the image in a comment here , and when it is uploaded you will see a link
2.  Paste that link in your test_report.md file

This is a preferred way of uploading images

[2020-09-08 19:23] vj-codes commented on #772
@Hyper-Matrix how's the PR going? Do update after every 3 days incase it's taking long otherwise issue will be assigned to person next

[2020-09-08 19:25] pallavisavant commented on #759
Is this still available if yes then can i take this up ..Thanks.

[2020-09-08 19:29] pallavisavant commented on #721
If this is available i would like to work on this..Thanks.

[2020-09-08 19:30] codesankalp commented on #745
@PrashanthPuneriya Can you explain me more about this issue?
For example :- where to change the code?

[2020-09-08 19:35] pallavisavant commented on #702
If available i would like to take this up...Thanks.

[2020-09-08 19:41] pallavisavant commented on #596
can i work on this issue ...Thanks.

[2020-09-08 19:42] vj-codes commented on #596
Assigning you @pallavisavant
Happy coding!

[2020-09-08 19:49] yash2189 commented on #767
@gaurivn Please review my new PR #850

[2020-09-08 19:54] pallavisavant commented on #471
@paritoshsinghrahar this is my first PR...pls do review and let me know if any changes required....Thanks.

[2020-09-08 20:06] vj-codes commented on #721
@ashwinijha6 how about `404 : ' Please register as a user first to get a verification email '`

[2020-09-08 20:07] vj-codes commented on #721
@ashwinijha6 @faznan3nazer what do you say

[2020-09-08 20:09] ashwinijha6 commented on #721
ok ya I got it so that must be added to the responses section that is along with HttpStatus Not found or in place of that?

[2020-09-08 21:15] ashwinijha6 commented on #721
@vj-codes I have made the changes in #851
Should this message **USER_IS_NOT_REGISTERED_IN_THE_SYSTEM** be used as it is also used in the later part of the code ?
![use](https://user-images.githubusercontent.com/45794450/92528505-81f26380-f246-11ea-9d10-14a6bafc1231.JPG)

[2020-09-08 21:17] ashwinijha6 commented on #721
**USER_IS_NOT_REGISTERED_IN_THE_SYSTEM** as in messages.py is **You are not registered in the system**

[2020-09-08 21:18] vj-codes commented on #721
@ashwinijha6 honestly I have no idea, this issue still doesn't make much sense to me unlike all other issues where I was sure what was to be done
Maybe @PrashanthPuneriya @SanketDG could help

[2020-09-08 21:21] ashwinijha6 commented on #721
ok no issues @vj-codes thanx for the help I will ask @PrashanthPuneriya or @SanketDG

[2020-09-08 21:24] ashwinijha6 commented on #721
@SanketDG & @PrashanthPuneriya I had certain queries related to this issue as stated above & I have also sent a pull request #851 regarding this could u'll please review it & tell me the necessary changes to be made.

[2020-09-08 21:24] vj-codes commented on #721
@ashwinijha6 I'm not a OSH mentor, but backend and android repo project manager best is to ask from mentors:)
If I know what is to be done when you'll be working on next issues, I will definitely help

[2020-09-08 21:31] ashwinijha6 commented on #721
No problem @vj-codes u helped me a lot I have written to @SanketDG & @PrashanthPuneriya I'm sure I will get answers to my query
Looking forward to solving new issues & ur guidance.

[2020-09-08 21:34] pallavisavant commented on #596
@vj-codes I am facing one issue while reproducing this....we get the access token by giving username and password in login section rgt,and after that we are supposed to use this token for updating ...it shows invalid token wherever i am using it.Can anyone help ..Thanks.

[2020-09-08 22:17] yash2189 commented on #845
@gaurivn I have already included this in my PR #850

[2020-09-09 02:47] PrashanthPuneriya commented on #745
You need to find that on your own @codesankalp. The starting point would be to find the code for Searching by Names.

[2020-09-09 02:52] PrashanthPuneriya commented on #738
I need to invest a lot of time to help you on this @vj-codes. But, I am quite busy with my examinations and other stuff. I will try my best to help anyone fixing this issue whenver I am free. I hope you understand :)

[2020-09-09 05:33] ankit-saraf commented on #845
@vj-codes What I should do now?

[2020-09-09 05:41] vj-codes commented on #738
Making it available as I'm quite busy with school too

[2020-09-09 05:42] ankit-saraf commented on #845
@yash2189 I think you were not supposed to include it in your PR. That issue was related to PUT user/ API and not user/change_password

[2020-09-09 05:44] yash2189 commented on #845
@ankit-saraf apologies I just did all of that in a flow since I was going through the swagger. It was mentioned  PUT /user API so I thought it would include both.

[2020-09-09 05:53] vj-codes commented on #845
@yash2189 thank you for letting us know but the issue you were assigned was dealing  ONLY with
1) `Change username to a username already being used by another User` and
2) `Change username to a username  not  being used by another User`

Performing test report for change password deals with this issue which is currently assigned to @ankit-saraf
I understand you did it with the flow , it happens to

[2020-09-09 05:55] ankit-saraf commented on #845
@vj-codes Should I proceed with it?

[2020-09-09 05:55] vj-codes commented on #845
@ankit-saraf you may continue your work on this but make sure your tests are 100% original

[2020-09-09 05:56] ankit-saraf commented on #845
Yes definitely.

[2020-09-09 05:56] yash2189 commented on #845
@vj-codes I have mentioned it in my description I'll change  the commit message too

[2020-09-09 05:57] vj-codes commented on #845
@yash2189 great thanks a lot :)

[2020-09-09 06:18] vj-codes commented on #596
@pallavisavant  this my be mainly because you might have pasted the token directly while the syntax is ` Bearer <access_token>`
Just add the word Bearer before ur token no brackets and it works good OR you might have taken the token from Mentorship Relation /login instead of `Users/login`
I believe the 1st is the reason for error ,was able to produce it from my side
Do update if it still doesn't w

[2020-09-09 06:21] pallavisavant commented on #596
@vj-codes yes u r absolutely right...the first one was the cause....it got resolved...Thank you so much.😊

[2020-09-09 06:50] Manav-03 commented on #759
@pallavisavant The issue is assigned to me. I've had some issues on my system while working on it, due to which I've been slowed down. If I can't figure it out in a few more days I will unassign myself.

[2020-09-09 06:55] pallavisavant commented on #596
This isn't a issue logically....the username should be unique because we use username/email while login ,so while updating user profile if the username is something that already exists...then it should prompt that "username exists already use a different one".
@vj-codes correct me if i am wrong....Thanks.

[2020-09-09 06:56] pallavisavant commented on #759
@Manav-03 ok no issues....Thanks.

[2020-09-09 07:19] pallavisavant commented on #738
@PrashanthPuneriya was just looking into this....i can see that we already have 3 respective files each for mentorship_relation,tasks and tasks_comment and code has been precisely distributed also across these 3 files....if u can check...idk if am right but we already have this in existing project....Thanks.

[2020-09-09 07:20] pallavisavant commented on #481
@SanketDG yes i would like to try...lemme see i will do some more research and get back here...Thanks.

[2020-09-09 07:38] vj-codes commented on #596
@pallavisavant this issue isn't about the updated username being different from current one , this is about both are **same**
If I have a username as` Iam_tester` and I update it to `Iam_tester ` on swagger  , what is expected is a message like
**no fields have been updated** but what I get is something like username already exists (which is true but our aim was to tell user that current and and w

[2020-09-09 07:39] vj-codes commented on #596
@pallavisavant does it solve your query?If not do lemme know

[2020-09-09 07:40] vj-codes commented on #759
@Manav-03 what do you see on your localhost now?

[2020-09-09 07:46] Manav-03 commented on #759
@vj-codes Ever since I removed the environment that I first created to make another one with the appropriate name my terminal is not even recognizing 'Python', I tried to add it to the PATH variable but I'm still facing issues. I'll figure out the issues in my system ASAP and get back to it.

[2020-09-09 07:48] pallavisavant commented on #596
@vj-codes yeah got it that means you still want the error to be shown when user uses same username but the error message has to be something like "no filelds have been updated"...Thanks.

[2020-09-09 08:01] pallavisavant commented on #596
@vj-codes ok i am  assuming that on detecting same username...it will give no error but run successfully and prompt message as "no fields have been updated".....one doubt i had was what if user uses same username but changes other details like eg :location then it should update the location rgt though username is same....Thanks.

[2020-09-09 08:07] mtreacy002 commented on #596
@pallavisavant and @vj-codes . If I'm not mistaken, this issue was raised since atm user cannot update their details without changing their username. This should not be the case because of 2 reasons:
1. it's normal for users to update details every now and then, and they shouldn't be asked to change username just for this purpose.
2. If they have to change their username every time they are updati

[2020-09-09 08:35] vj-codes commented on #596
@mtreacy002 hey firstly I attended your demo live it was great:)
And your point above does make sense and just noticed that updating username has been removed android apk too
But what I think is username is public to everyone so I would say the option should be available , example
when I had first created the acc in dec last year didn't think of a proper username and I was studying chemistry so wr

[2020-09-09 08:38] vj-codes commented on #596
@mtreacy002 do you also mean to say that updating username should be removed from swagger

[2020-09-09 08:45] mtreacy002 commented on #596
Thanks, @vj-codes for your for attending my demo 😁😉.

I agree with you that, changing username can be also allowed along with updating other details, however it should not be made compulsory (so, user can keep it as it is if they want to).
More importantly, if we are to allow the change of username as part of details update, there should be a logic to prevent multiple user data get recorded in the

[2020-09-09 08:54] yash2189 commented on #346
@SanketDG   Is this available as a part of OSH?

[2020-09-09 08:54] vj-codes commented on #596
@mtreacy002 now got it , thanks for explaining again .
So should I close this issue  which is marked for OSH? or wait until Isabel or other maintainers reply
And if there are more regarding the same can I tag you there for your opinion?

[2020-09-09 09:00] yash2189 commented on #845
@vj-codes I have done the required changes please check #850

[2020-09-09 09:06] mtreacy002 commented on #596
For OSH purposes, I reckon we should keep it simple. For now we can say that the goal/task is to allow user to update details without having to change username. Later outside OSH, we can open a new issue to allow user to change username with additional logic put in place so that no multiple record of that user is allowed. This task (putting logic to prevent multiple records of same user) is a bit

[2020-09-09 09:13] pallavisavant commented on #596
@mtreacy002 if this is finalized..then we can do it this way like even if the username entered by user is already existing it will update the other details if i got this correct...Thanks.

[2020-09-09 09:18] mtreacy002 commented on #596
that is exactly what I have in mind, @pallavisavant. 😉. @vj-codes , what do you think?

[2020-09-09 09:24] vj-codes commented on #596
Yes sure @mtreacy002 @pallavisavant

[2020-09-09 11:29] ankit-saraf commented on #845
@vj-codes Do you have any idea why some image links are working while some are not.
![error](https://user-images.githubusercontent.com/64194946/92592891-e00e5d80-f2bd-11ea-9b79-69509906a57e.png)

[2020-09-09 12:01] yashasvimisra2798 commented on #786
@ashwinijha6 you can carry on with this. I think it would be better if you kind of give a brief introduction of flask-sqlalchemy and give the link of some article where the installation is explained. Then you can carry on with the rest of the things.

[2020-09-09 12:03] mtreacy002 commented on #596
@pallavisavant and @vj-codes, I have to say, I've just realised that I was wrong about one thing. After double checking the code I realised that the current update doesn't create a new record. So we don't have to worry that current logic as it is would create multiple records if user update their details using different username, it won't. The bug in the current logic is only because it makes it c

[2020-09-09 12:03] PrashanthPuneriya commented on #738
Yes we do have separate files for api/dao but not for api/resources and api/models @pallavisavant

[2020-09-09 12:06] PrashanthPuneriya commented on #685
Assigning @Ashokrayal :)

[2020-09-09 12:20] ankit-saraf commented on #845
@vj-codes I created a PR. Please review. I also want to discuss an issue regarding the documentation with you. I want to open an issue for that. So pls tell me where we can discuss it.

[2020-09-09 12:32] sharur7 opened #856 "Updating Readme.md"
## Description
As a contributor,
I need no contradictions in the README file,
so that I won't be doubtful of the dependencies.
**Adding GitHub badge for forks and star.**
**Adding a license badge.**

## Mocks
mentorship-android already have these badges in README.md<br>
![Capture](https://user-images.githubusercontent.com/57194200/92597180-a68d2080-f2c4-11ea-9964-70f86fd7181e.PNG)

## Acceptance C

[2020-09-09 13:47] vj-codes commented on #845
@ankit-saraf the PR will be reviewed later tonight /tomr
Anyone can open issues  ,so  feel free to create it .But make sure there is no issue about the same already and it isn't about adding badges in readme .
You can discuss it here or on zulip

[2020-09-09 13:53] vj-codes commented on #856
@Akanksha1212  You were there for yesterday's sync session right? the other badges that Isabel had mentioned are already present here . So should this be open or not?
cc: @Techno-Disaster

[2020-09-09 15:31] guruc-134 commented on #856
I'm new to opensource contribution and  would like to take up this issue and work on it.
Thank You

[2020-09-09 15:41] guruc-134 commented on #830
@vj-codes  I'm new to open source contributions i would like work on it
please assign it to me

[2020-09-09 15:51] SanketDG commented on #346
@yash2189 It sure can be, do you know what needs to be done in this issue? This could very much be changed to have a UI mock first and then coding it.

[2020-09-09 15:52] ashwinijha6 commented on #786
@yashasvimisra2798  I was thinking of including this code in the md file & explaining it but I'm getting an error can u help me out with it

Code
![1](https://user-images.githubusercontent.com/45794450/92622068-3f7e6480-f2e2-11ea-8c25-ddba832efd43.JPG)

Error (404 The requested url was not found on the server)
![2](https://user-images.githubusercontent.com/45794450/92622140-58871580-f2e2-11ea-89d2

[2020-09-09 15:56] ashwinijha6 commented on #786
I guess it's an error with **sqlite:///tmp/test.db** what do u think?

[2020-09-09 16:15] yash2189 commented on #346
I can try creating a mockup of the page using Figma and then code accordingly after it has been reviewed by you :)

[2020-09-09 16:39] ashokrayal commented on #685
Hi @PrashanthPuneriya, @isabelcosta,

Can you please review this piece of code? I have not written testcases yet as I am not sure if this is right way to do it.
[link](https://github.com/Ashokrayal/mentorship-backend/commit/7a6bcfff482765f4e2c9723b67cc9e68d674f6af)

Thanks

[2020-09-09 16:46] paritoshsinghrahar commented on #763
It's done. @pallavisavant

[2020-09-09 16:47] paritoshsinghrahar commented on #762
@sujal111 @pallavisavant it's done.

[2020-09-09 16:47] paritoshsinghrahar commented on #757
@sujal111 it's done.

[2020-09-09 16:49] paritoshsinghrahar commented on #471
@pallavisavant Sure. You can continue on to other issues.

[2020-09-09 16:50] paritoshsinghrahar commented on #760
Oh okay. Your PR will be reviewed. You can move on to other issues. @Ashokrayal

[2020-09-09 17:44] ankit-saraf commented on #845
@vj-codes
mentorship-backend/docs/quality-assurance-test-cases.md
In [Change Password](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/quality-assurance-test-cases.md#change-password) section I think we should have one more test.

|  When the current password is wrong  | Fail |

Though it is obvious I think we should get it documented.

[2020-09-09 17:58] vj-codes commented on #845
@ankit-saraf yes indeed. Was this the documentation issue you were speaking about?
Adding a test case will be the QA team's decision though

[2020-09-09 17:59] vj-codes commented on #845
@rpattath your thoughts?

[2020-09-09 20:07] sanchibansal340 commented on #772
@atharwa-24 Would you like to work on this issue?

[2020-09-09 22:33] #845 closed, assigned to ankit-saraf

[2020-09-09 22:50] isabelcosta commented on #856
@sharur7 thank you for proposing an improvement for this project 🤗 However, as @vj-codes said, in yesterday's meeting we agreed that these specific badges are not necessary. This is because you can see this in the GitHub interface when you visit the project's page.

bottom right, you see the license and top right you see the stars and forks. So I will close this issue for now :)

![image](https://

[2020-09-09 22:50] #856 closed, assigned to nobody

[2020-09-09 23:12] rpattath commented on #771
@dowenrei if you have created a PR make sure you use the correct formatting for the issue. If the PR is formatted correctly we will see a message like below on this issue.
![Screenshot from 2020-09-09 19-10-45](https://user-images.githubusercontent.com/26095715/92663820-55832980-f2d0-11ea-879e-afc448df3aad.png)

[2020-09-10 03:04] rutujadhanawade commented on #772
I would like to work on this issue.

[2020-09-10 06:20] sreelekha901 commented on #846
I need some help to proceed with this issue

[2020-09-10 07:38] PrashanthPuneriya commented on #846
What do you need help with @sreelekha901 ?

[2020-09-10 07:45] PrashanthPuneriya commented on #745
Any progress @codesankalp ?

[2020-09-10 08:10] codesankalp commented on #745
Working currently.

[2020-09-10 08:11] PrashanthPuneriya commented on #685
@Ashokrayal I don't have much idea about Flask-RestX but, I added a review(note:- I may be wrong). Also, I think it is better if you create a PR even though if the work isn't completed and ask for further clarifications.

[2020-09-10 10:39] sharur7 opened #859 "Updating Description in Readme.md"
## Description
As a contributor,
I need no contradictions in the README file,
so that I won't be doubtful of the dependencies.
Adding a description for Future-ideas for the project.

## Mocks
I came up with this description.<br>
![Capture2](https://user-images.githubusercontent.com/57194200/92718595-a30a9f80-f37f-11ea-84b3-cfd93a731545.PNG)

## Acceptance Criteria
### Update [Required]
- [ ] Addin

[2020-09-10 12:19] aditya2499 commented on #738
I would like to work over this

[2020-09-10 13:29] dadheech-vartika commented on #772
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-09-10 13:51] sanchibansal340 commented on #772
@96RadhikaJadhav would you like to work on this issue?

[2020-09-10 14:32] atharwa-24 commented on #772
I would like to work @sanchibansal340

[2020-09-10 14:33] atharwa-24 commented on #772
if its not assigned to anyone yet

[2020-09-10 14:33] sanchibansal340 commented on #772
Okay I am assigning it to you @atharwa-24

[2020-09-10 16:39] codesankalp commented on #745
@PrashanthPuneriya @SanketDG
Please Review this pull request.

[2020-09-10 18:14] ashwinijha6 commented on #786
I got the error it must be //// instead of ///

[2020-09-10 18:49] aditya2499 commented on #424
@isabelcosta I would like to work on it.

[2020-09-10 19:40] bhanvimenghani commented on #789
@SanketDG I have installed these hooks and updated the [doc. ](https://docs.google.com/document/d/15VbXVfhfeCkKz0OQX0HyD2oP6Wj2d9BGWM3yvtI9Xhg/edit#)can you see if there is something else required or should I make a pr?

[2020-09-10 19:42] vj-codes commented on #859
@sharur7 thank you for creating this issue .Currently only issues which are labelled as Open Source Hack are open for OSH.
Your issue will be reviewed and validated in the mentorship session by mentors/maintainers and you will then be updated accordingly.
Please look at [ these available issues ](https://github.com/anitab-org/mentorship-backend/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%

[2020-09-10 19:45] SanketDG commented on #789
Just make a PR @bhanvimenghani and then let's iterate from there

[2020-09-10 22:40] isabelcosta commented on #424
@aditya2499 sure go ahead :)

[2020-09-10 22:48] isabelcosta commented on #702
@saikirankv would you still like to contribute to this? Let me know and I can assign to you.

@AprameyaGupta @pallavisavant I am going off "first come first served", if I get no response I'll assign to one of you.

Be mindful that this issue is not labeled with OSH, so it's not part of it as of now.

[2020-09-11 02:22] saikirankv commented on #702
Yes, I'm interested in this.

[2020-09-11 04:36] pallavisavant commented on #702
Yes I want to take this up... thanks

[2020-09-11 04:55] abhinav72610 commented on #761
@paritoshsinghrahar letme know if i can work on this with permission of @titiksha01

[2020-09-11 04:58] Anmollenka commented on #597
@isabelcosta @vj-codes @gaurivn Can you please give me this issue to solve as I have already solved an issue of this type and hence can be able to solve this one.Thank You.

[2020-09-11 05:08] pallavisavant commented on #738
oh okay got it.....if this is still available i would like to work on this....Thanks.

[2020-09-11 05:25] titiksha01 commented on #761
@paritoshsinghrahar I am researching more about it currently. I had really hectic week, will submit the pr with documentation in 3-4 days...

[2020-09-11 06:33] Anmollenka commented on #613
@vj-codes and @isabelcosta I would like to work on this issue.Can you I work on this issue if it is available?Thank You.

[2020-09-11 06:37] pallavisavant commented on #788
@yashasvimisra2798 i feel its the same still....if i can do any required changes still can i pls....as i have participated in OSH i finished working on all category except UI and i am not finding any of the UI issue available...this is making me ineligible for OSH.
![Screenshot (108)](https://user-images.githubusercontent.com/43921225/92876118-5e3a4380-f427-11ea-83ef-c630c45e93f9.png)

[2020-09-11 06:40] vj-codes commented on #613
@Anmollenka  hey, this is a first timers issue and you have created #838 thus no more eligible
Please go through other available issues and comment on any one to start working. Thanks:)

[2020-09-11 06:44] Anmollenka commented on #613
@vj-codes can I work on issue #597 as it is not a first timer issue.Thank you?

[2020-09-11 06:48] vj-codes commented on #597
Assigning you @Anmollenka
Happy coding!

[2020-09-11 06:52] PrashanthPuneriya commented on #738
Assigning you :)

[2020-09-11 06:54] vj-codes commented on #761
@titiksha01 If it's taking long , please do update after every 3 days as per the community guidelines

[2020-09-11 06:57] vj-codes commented on #761
@paritoshsinghrahar For this issue , there can be multiple solutions for integrating apps, some might come up with a shorter and simple one and some might have a longer one
So I would suggest assigning 3ppl max for this issue and whatever PR is best will be implemented later.What say?

[2020-09-11 06:58] vj-codes commented on #761
then it can be assigned to @abhinav72610 after your confirmation since you created the issue

[2020-09-11 07:01] vj-codes commented on #702
Assigning you @saikirankv
Happy coding!

[2020-09-11 07:12] pallavisavant commented on #761
If available I would also like to take this up ....thanks.

[2020-09-11 07:14] Anmollenka commented on #597
@vj-codes What would be the authorization acess token??

[2020-09-11 07:19] pallavisavant commented on #481
I would like to work on this as part of OSH...pls assign it to me ....Thanks.

[2020-09-11 07:47] vj-codes commented on #597
@Anmollenka in `User/login` you have to enter username and password of your mentorship system acc and then after clicking on execute the access token will be generated . Copy that token and paste in `User/update`

[2020-09-11 07:52] Anmollenka commented on #597
Thank you @vj-codes

[2020-09-11 07:52] Anmollenka commented on #597
Another doubt what is the category of this issue??

[2020-09-11 07:58] vj-codes commented on #597
I would say the main category is coding

[2020-09-11 12:08] khushishikhu commented on #761
may i take this issue

[2020-09-11 12:14] khushishikhu commented on #756
may i work on this issue

[2020-09-11 13:32] priyanshuone6 commented on #341
Hey, can you please assign this issue to me

[2020-09-11 14:40] codesankalp commented on #152
Is this issue available now to work?
I want to work on this issue.

[2020-09-11 14:48] dowenrei commented on #771
@rpattath fixed. Is the PR looks okay?

[2020-09-11 14:50] Anmollenka commented on #738
I am interested to work on this if it is available.Thank You

[2020-09-11 14:52] Anmollenka commented on #785
@yashasvimisra2798   I would like to work on this issue when it is available .Thank You.

[2020-09-11 14:56] Anmollenka commented on #840
@Shivansh2407 Can I work on this issue?Thank You.

[2020-09-11 15:00] faznan3nazer commented on #606
When I tried to set up the project locally...I am getting some error... That is why I couldn't create PR for this issue...
![Screenshot (347)](https://user-images.githubusercontent.com/50888936/92940547-e2fb8080-f46c-11ea-919c-4634080f9014.png)

[2020-09-11 15:22] vj-codes commented on #606
@faznan3nazer can you share your .env file?

[2020-09-11 15:32] Shivansh2407 commented on #840
@Anmollenka this issue is assigned to @kritikaparmar-programmer . You can check out other issues as well.

[2020-09-11 15:33] Anmollenka commented on #840
I would like to work on this when it is free.

[2020-09-11 16:11] Aaishpra commented on #717
@isabelcosta @mayburgos  can i take this up if no one is currently working on it?

[2020-09-12 06:28] PrashanthPuneriya commented on #664
@pallavisavant @Anmollenka Do anyone of you want to work on this issue? It's a first-timer-only issue.

[2020-09-12 06:46] pallavisavant commented on #664
Yes i would like to work...lemme take this up

[2020-09-12 07:03] PrashanthPuneriya commented on #664
Assigning you @pallavisavant :)

[2020-09-12 07:07] faznan3nazer commented on #606
cat .env
FLASK_ENVIRONMENT_CONFIG = local
SECRET_KEY = fazna123
SECURITY_PASSWORD_SALT = 7907
MAIL_DEFAULT_SENDER = xxxxx@gmail.com
MAIL_SERVER = smtp.gmail.com
APP_MAIL_USERNAME = xxxxx@gmail.com
APP_MAIL_PASSWORD = xxxxxxxx
(venv)

[2020-09-12 07:07] PrashanthPuneriya commented on #664
Oh sorry @pallavisavant I can't assign you. This is a first-timer issue. My bad I didn't checked thoroughly. I will mention you whenver I see a suitable issue.

[2020-09-12 07:13] vj-codes commented on #606
APP_mail_username is the part before '@' in your gmail id , in this case it'll be` xxxxx`
And add MOCK_EMAIL = `True`
@faznan3nazer and see if there's any change

[2020-09-12 07:17] pallavisavant commented on #664
@PrashanthPuneriya oh okay ya thanks...👍

[2020-09-12 08:40] Anmollenka commented on #664
@PrashanthPuneriya Can you please inform me if there any issues with outreach as the label.I am searching them but I am not able to find it.Thank You.

[2020-09-12 08:59] faznan3nazer commented on #606
Actually I used the same...my mail id...but haven't added MOCK_EMAIL...Let me try this one...

[2020-09-12 09:33] faznan3nazer commented on #606
@vj-codes I am getting the same error.

[2020-09-12 11:28] aditya2499 commented on #424
@isabelcosta What should be the default behavior if the values of attributes are not specified in the request?
And if false is passed, a list of all users should be returned or only those users whose attribute value is set to false in the database?

[2020-09-12 11:53] ashokrayal commented on #685
Hi @PrashanthPuneriya ,

I have fixed the issue and raised the PR.

Thanks.

[2020-09-12 12:17] yash2189 commented on #346
@SanketDG I have created a mockup in figma should I share the link of the same?

[2020-09-12 12:25] ashokrayal commented on #497
Hi @StergiosSozos , @isabelcosta,
Is this issue still open? I think we should close it.

[2020-09-12 12:25] ashokrayal commented on #603
Hi @faznan3nazer ,
Can you assigned this to me? I have no current issue in progress.
Thanks

[2020-09-12 12:28] ashokrayal commented on #376
Hi @PrashanthPuneriya, @daksha-aeer ,

Can you assigned this to me? I have no current issue in progress.

Thanks

[2020-09-12 12:35] ashokrayal commented on #759
Hi @Manav-03 ,

Are you still working on it?

[2020-09-12 12:41] ashokrayal commented on #403
Hi @vj-codes,

Can you please assign this issue to me?
I have worked on it in past. I also submitted a PR #509 . But the issue got assigned to someone else in between.

[2020-09-12 13:39] Manav-03 commented on #759
Hi @Ashokrayal,

I've been facing a lot of issues with my system, I'll just un-assign myself.

[2020-09-12 13:46] ashokrayal commented on #759
@Manav-03 it's ok, If you want to take more time. I just wanted to know if you are still working on it.

I will be happy be help you in your issues.

[2020-09-12 13:48] ashokrayal commented on #759
I also step up the project on my system recently.
I just created new environment and .env file.
I also commented requirements.txt file line 21-24 (docker related dependencies) and worked.

[2020-09-12 13:53] Manav-03 commented on #759
@Ashokrayal I've tried all of that but the issue just seems to be something with my system and it's taking me a lot of time to figure it out. I think it's best if I try to figure that out instead of keeping this issue unavailable for people who could actually work on it. I'll take up another issue once I've sorted the issues with my system out :)

[2020-09-12 14:00] SanketDG commented on #346
@yash2189 Sure absolutely!

[2020-09-12 16:53] yash2189 commented on #346
@SanketDG  Please check this [Figma](https://www.figma.com/file/97H3GWpFWBiCbZWJOYTw1C/Email_verification?node-id=0%3A1)  link for the mockup :)
I have added icons in footer that redirects to respective social media links for communication.
Do suggest changes if any.

[2020-09-12 18:09] ashokrayal commented on #759
Hi @vj-codes / @paritoshsinghrahar ,

I would like to work on this issue. I have no issues in progress. I already asked the same on 29th Aug.

Thanks

[2020-09-12 18:32] SanketDG commented on #346
This looks really good @yash2189

I apologize for sort of derailing you here, but I should have mentioned that there are existing issues #768 #769 #770 that you can take as inspiration.

We may want to stick to some standard designs as mentioned in those issues, feel free to just start coding if it's simple enough :slightly_smiling_face:

Pinging @isabelcosta for some pointers.

[2020-09-12 18:43] yash2189 commented on #346
So if I make a PR for the same will it be accepted @SanketDG ?
Should I start coding the same design if it's complies to the branding guidelines?
Where should I add the CSS file for this particular issue?

[2020-09-12 19:23] SanketDG commented on #346
Yes ofcourse, if it complies though.

In the same place as the html, that's fine.

[2020-09-12 19:56] vj-codes commented on #759
Assigning you @Ashokrayal
Happy coding!

[2020-09-12 20:41] yugantarjain opened #866 "bug: A user is able to send multiple relation requests to the same member"
**Describe the bug**
A user is able to send multiple relation requests to the same member. Ideally, if a request has already been sent to a member, the backend should return that as a message for a duplicate request to the same member.

**To Reproduce**
Steps to reproduce the behavior:

1. Use send request API on the same user multiple times
2. See all of them succeeding (and also in sent relation

[2020-09-12 22:23] #830 closed, assigned to codesankalp

[2020-09-12 22:28] #746 closed, assigned to alapan-sau

[2020-09-12 23:14] isabelcosta commented on #346
+1 to @SanketDG

[2020-09-12 23:16] isabelcosta commented on #152
@anna4j @codesankalp this issue is already completed, we are blocked by infrastructure needs such as AWS.

[2020-09-12 23:20] isabelcosta commented on #717
@Aaishpra this issue is being worked on by @mayburgos for now.
Can you please look up other issues? We'll make sure to have more issues available

[2020-09-12 23:29] #471 closed, assigned to pallavisavant

[2020-09-13 03:32] ashokrayal commented on #759
thanks @vj-codes.

[2020-09-13 08:31] pbgurav opened #867 "Skill fluency attribute for user skill"
**Is your feature request related to a problem?

Currently there is no way to know the fluency of a mentor in a particular skill and hence not easy to to decide whether he is the right mentor for myself
**Describe the solution you'd like

There should be a facility for the user to set his skill fluency for a skill which can be a self rating value in the range of 1 to 10. this will help other users

[2020-09-13 08:42] radhikasethi2011 commented on #580
I wish to work on this issue. Please assign it to me.

[2020-09-13 08:45] radhikasethi2011 commented on #149
I wish to work on this issue. Please assign it to me.

[2020-09-13 08:57] robotjellyzone commented on #580
Hi, you can take up only those issues which are labeled as **open source hack**. So, do refer those :)

[2020-09-13 08:59] PriyanshuAgarwal27 commented on #728
I wish to work on this issue. Please assign it to me.

[2020-09-13 09:24] Sakshi-30 commented on #785
I wish to work on this issue. Please assign it to me.

[2020-09-13 10:02] pallavisavant commented on #596
@vj-codes pls do review and let me know if it requires any changes to be made.....Thanks.

[2020-09-13 10:12] PriyanshuAgarwal27 commented on #784
I would like to work on this issue. Can you assign me this issue?

[2020-09-13 10:18] PriyanshuAgarwal27 commented on #768
I would like to work on this issue. Can you assign me this issue?

[2020-09-13 13:25] PrashanthPuneriya commented on #376
Go ahead! @Ashokrayal

[2020-09-13 14:03] priyanshuone6 commented on #840
Hey, can you please assign this issue to me when it's free

[2020-09-13 14:05] abhinav72610 commented on #866
if this is open i would like to work on it

[2020-09-14 14:44] titiksha01 commented on #761
@paritoshsinghrahar I researched about it and came across multiple solutions. I wanted to ask that the process i describe in my report should be specific to heruko app right?
Also, like if for social media handles I find another approach apart from the one i had been primarily researching about so i can include that as well in the report?

[2020-09-14 15:17] ashwinijha6 commented on #786
@yashasvimisra2798  should I also mention the different sqlalchemy database uri being used for the different configurations?

[2020-09-14 15:20] yashasvimisra2798 commented on #786
Just, write briefly about them

[2020-09-14 15:21] ashwinijha6 commented on #786
ok

[2020-09-14 15:22] ashwinijha6 commented on #786
application = create_app(get_env_config()) @yashasvimisra2798 what does this mean this is for the flask app configuration right?

[2020-09-14 20:21] devkapilbansal commented on #664
@PrashanthPuneriya I want to work on this issue

[2020-09-15 04:08] titiksha01 commented on #770
@gaurivn @SanketDG  Pls confirm this if i am supposed to edit the HTML file or just design the UI and submit png as pr or both.? Thank you...

[2020-09-15 12:08] yashasvimisra2798 commented on #786
Yes

[2020-09-15 13:14] gaurivn opened #870 "Perform manual testing and report GET /user/confirm_email/{token} API"
## Description

As a tester,
I need to test GET /user/confirm_email/{token} API,
so that I can provide a test report on it.

You should create a markdown file inside `/docs/manual_tests` with the following content:
- Scenario tested step by step with dummy data you used (e.g.: username and password)
- Report it as:
[code]
If you find a test that the expected result does not match the actual result

[2020-09-15 14:55] PrashanthPuneriya commented on #664
Sure @KapilBansal320. Assigning you :)

[2020-09-15 15:19] vj-codes commented on #870
@gaurivn hey I would like to work on this

[2020-09-15 15:31] vj-codes commented on #403
@Ashokrayal hello you made have your first contribution to this repo through #848 and since this is a` first timers only issue`, you are no longer eligible

@isabelcosta  what is the priority of this issue, should I add the OSH label for newcomers to work in this?
And if not for OSH , can @Ashokrayal be assigned since no one else is claiming.Thanks!

[2020-09-15 15:55] gaurivn commented on #870
Here you go

[2020-09-15 17:24] #680 closed, assigned to isabelcosta

[2020-09-15 19:09] isabelcosta commented on #403
This is an important feature. If @Ashokrayal is available and interested in working on this then it's okay to assign it to them, in case @Ashokrayal is not already assigned to an issue

[2020-09-15 19:14] isabelcosta commented on #149
@radhikasethi2011 I think this is a quite broad issue, can you select a file or module where doc strings are missing and you can contribute to? You can then create an issue for it to work on it.

[2020-09-15 19:19] #762 closed, assigned to anishghimire603

[2020-09-15 19:31] ashokrayal commented on #403
Hi @vj-codes,
I am available. Please assign it to me :)

[2020-09-15 19:35] vj-codes commented on #403
Assigning you @Ashokrayal
Happy coding!

[2020-09-15 23:07] paritoshsinghrahar commented on #761
Umm, I hope you know Heroku app you talk about only is an online version of the backend REST APIs framework.
It can be set up on the local system. But yes it's how the backend works. It needs to be related/focused to that.

Yes.  You can.

[2020-09-15 23:11] paritoshsinghrahar commented on #761
@vj-codes I don't have any problem at all. It's just that the person who is assigned gets discouraged to contribute. Especially new contributors. So given its targetted for OSH, I wouldn't but any other issues I'll be fine with.

[2020-09-15 23:30] paritoshsinghrahar commented on #756
@khushishikhu It's already been assigned.

[2020-09-16 00:26] paritoshsinghrahar opened #871 "docs: Create Quality Assurance table for 'Returns all admin users' API"
## Description

As a developer,
I need to know what are the test cases for a certain API,
so that I can write new unit tests.

As a tester,
I need to know what are the test cases for a certain API,
so that I can perform manual tests on the API.

The task is to come up and add a quality assurance table for "Returns all admin users" API to the docs in the /docs folder.

## Mocks
As done under [docs/

[2020-09-16 00:50] paritoshsinghrahar opened #872 "Deprecate 'slack_username' field in Mentorship System API"
## Description
As a member of the app,
I need be able to find members on Zulip Chat,
so that I can talk to the member.

Currently, it's labelled as field `slack_username`. We have moved to Zulip. I want you to depreciate the field as it serves no purpose anymore across all instances of the REST API.

## Mocks
![image](https://user-images.githubusercontent.com/46970368/93279027-d6b45200-f7e3-11ea-9

[2020-09-16 00:52] paritoshsinghrahar commented on #872
@isabelcosta Is the issue fine. Or does it need more changes?

[2020-09-16 01:57] priyanshuone6 commented on #872
Hey, can you please assign this issue to me

[2020-09-16 04:28] rubyruins commented on #872
I would like to work on this!

[2020-09-16 04:33] rubyruins commented on #871
I would like to work on this but I've never made test cases for an API before, I will need some guidance!

[2020-09-16 05:54] khushishikhu commented on #871
may i take this issue

[2020-09-16 13:04] devkapilbansal commented on #664
Hi, @PrashanthPuneriya I tested it on Python 3.8.2 on Ubuntu 20.04 and it seems to work perfectly for me.
**TLDR**
Here are some images confirming the same
![s1](https://user-images.githubusercontent.com/42766576/93340859-09ddfc00-f84b-11ea-802e-88af5fd6ce50.png)
![s2](https://user-images.githubusercontent.com/42766576/93340861-09ddfc00-f84b-11ea-9380-fca1765b592b.png)
![s3](https://user-images.gi

[2020-09-16 17:50] paritoshsinghrahar commented on #871
@khushishikhu Sure, I am assigning it to you,

[2020-09-16 17:59] paritoshsinghrahar commented on #872
@priyanshuone6 I'll assign it to you if you are eager.
But do remember it's `Status: On Hold` because the scope of the issue may change. And you may need to change the whole code.
It still needs approval from a Team Lead. If you aren't interested, then please inform.

[2020-09-16 18:00] paritoshsinghrahar commented on #872
@SanketDG How do you feel about the scope of the Issue. Any additions or subtractions?

[2020-09-16 18:06] SHITIZ-AGGARWAL commented on #871
Can I also work on this issue??

[2020-09-16 19:16] rpattath commented on #606
@faznan3nazer any updates?

[2020-09-16 19:22] faznan3nazer commented on #606
@rpattath  I will complete it by Tomorrow...

[2020-09-16 20:32] vj-codes commented on #870
@gaurivn I kinda have a doubt - in this screen shot is the part after
 `https://mentorship-backend-temp.herokuapp.com/user/confirm_email/` the token sent to user ? or the token is something else
![image](https://user-images.githubusercontent.com/60894542/93389105-4deff180-f889-11ea-8b47-ffa0d201bee8.png)

[2020-09-17 04:50] PrashanthPuneriya commented on #664
Hey @KapilBansal320 I just tested it again by recreating the environment and I am still getting the same error.
![image](https://user-images.githubusercontent.com/42068010/93421217-5f0f2180-f8ce-11ea-9853-608d4035c278.png)

[2020-09-17 05:03] ashwinijha6 commented on #786
@yashasvimisra2798  I have added the documentation #874 pls review it but my previous commits to mentorship-backend related to some other issue also got commited along with it. What can be done?

[2020-09-17 05:11] yashasvimisra2798 commented on #785
@gitpurva do u plan to submit a PR or not?

[2020-09-17 05:38] ashwinijha6 commented on #786
@yashasvimisra2798  actually I checked out a branch from the previous branch I was working on

[2020-09-17 06:02] devkapilbansal commented on #664
@PrashanthPuneriya Okay can you provide me with the OS you are using also the version of Python too

[2020-09-17 06:06] gitpurva commented on #785
I will submit it today by 6pm.

On Thu, Sep 17, 2020, 10:41 AM Yashasvi Misra <notifications@github.com>
wrote:

[2020-09-17 06:52] gaurivn commented on #748
@Abjcodes, how's the progress on this issue

[2020-09-17 07:13] gaurivn opened #875 "Perform manual testing and report POST /user/resend_email API"
## Description

As a tester,
I need to test POST /user/resend_email API,
so that I can provide a test report on it.

You should create a markdown file inside `/docs/manual_tests` with the following content:
- Scenario tested step by step with dummy data you used (e.g.: username and password)
- Report it as:
[code]
If you find a test that the expected result does not match the actual result then cr

[2020-09-17 07:18] gaurivn opened #876 "Perform manual testing and report POST /user/refresh API"
## Description

As a tester,
I need to test POST /user/refresh API,
so that I can provide a test report on it.

You should create a markdown file inside `/docs/manual_tests` with the following content:
- Scenario tested step by step with dummy data you used (e.g.: username and password)
- Report it as:
[code]
If you find a test that the expected result does not match the actual result then create

[2020-09-17 08:29] ankit-saraf commented on #341
@bartekpacia Please assign it to me.

[2020-09-17 08:33] bartekpacia commented on #341
I don't have permission.

[2020-09-17 08:34] ankit-saraf commented on #341
@vj-codes Please assign it to me or we can raise a fresh issue regarding this.

[2020-09-17 08:35] ankit-saraf commented on #341
Oh! No problem

[2020-09-17 08:40] ankit-saraf commented on #761
@paritoshsinghrahar I would like to work on it if available

[2020-09-17 08:41] rubyruins commented on #876
I would like to work on this, could you please explain a bit more?

[2020-09-17 09:15] vj-codes commented on #341
@anna4j since you have labelled it as OSH issue , is this available? Also how is #761 different from this?

[2020-09-17 09:16] vj-codes commented on #341
@bartekpacia is this the only issue that you didn't work on during GCI just kidding 😆

[2020-09-17 09:35] bartekpacia commented on #341
Hahah @vj-codes. I had many ideas but not enough time

[2020-09-17 09:43] vj-codes commented on #870
@mtreacy002 any idea ^^^

[2020-09-17 11:01] PrashanthPuneriya commented on #664
@KapilBansal320
OS -> Ubuntu 20.04
Python 3.8.2
pip 20.0.2

[2020-09-17 12:49] sreelekha901 commented on #875
I'am interested to work on this

[2020-09-17 13:08] gaurivn commented on #875
Assigned @sreelekha901

[2020-09-17 14:43] Anmollenka commented on #785
@yashasvimisra2798 I would like to work on this when available.Thank You.

[2020-09-17 14:46] yashasvimisra2798 commented on #785
@Anmollenka assigned to you, go ahead.

[2020-09-17 15:18] SanketDG commented on #872
Looks good to me, why not just rename to `zulip_username`.

Deprecation in reality is actually a great idea, but I feel we can easily have a breaking change here to rename.

[2020-09-17 19:33] devkapilbansal commented on #664
@PrashanthPuneriya please review pull request #877

[2020-09-17 20:34] arkumari2000 commented on #876
I would like to work on this issue. Can I do this? @gaurivn

[2020-09-17 20:46] arkumari2000 commented on #761
Can I work on this issue if it's available @paritoshsinghrahar ?

[2020-09-17 22:21] titiksha01 commented on #761
@paritoshsinghrahar Please review my pr and suggest the necessary changes. This is my first pr for research so please guide me if I am going in the right direction in my research?

[2020-09-18 04:57] Anmollenka commented on #785
Working on it @yashasvimisra2798 .

[2020-09-18 07:19] Anmollenka commented on #785
@yashasvimisra2798 Do I have to  write the ml algorithm taking the sample dataset of the mentors and mentees from the mentorship database or I have to explain the whole backend part of the application which involves deploying the ml model?

[2020-09-18 10:31] PrashanthPuneriya opened #881 "Audit the dependencies and fix/upgrade/remove them."
## Description
As a developer,
I need no unrequired dependencies, conflicts in the dependencies e.g. #713 ,
so that any upgrades to the dependencies doesn't break the project.

## Acceptance Criteria
### Update [Required]
- [x] Remove unrequired dependencies
- [x] Fix the dependency issues

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimat

[2020-09-18 10:34] PrashanthPuneriya commented on #881
@SanketDG What category does this issue comes under? Also, can you suggest any changes to describe the issue more?

[2020-09-18 12:49] PrashanthPuneriya commented on #738
@aditya2499 Any update?

[2020-09-18 13:41] NarimaneHennouni commented on #876
Hi, can I try to solve this issue too?

[2020-09-18 14:21] gaurivn commented on #876
Hi @rubyruins,  please refer to the links in the issue, you'll have to test the API on the backend locally and report on the same.

[2020-09-18 14:24] gaurivn commented on #876
@arkumari2000, @NarimaneHennouni, issues are assigned on an FCFS basis...since this issue is assigned, can not assign again for time being as of now.
In case this issue becomes available in the future, will surely assign you.

[2020-09-18 16:16] yashasvimisra2798 commented on #785
@Anmollenka you can take a sample dataset which you randomly generate on your own, you need to give the proof of concept in that article, so that does not require you to have the original dataset, you can do using randomly generated data as well.

[2020-09-18 16:27] Anmollenka commented on #785
OK

[2020-09-18 17:34] vj-codes commented on #870
Removing my assignment as it was discussed on zulip hat this api is not something that a user can manually test .The token is generated internally . If you  @gaurivn can clarify more about this issue , I will like to work on this later.Thanks!

[2020-09-18 18:00] vj-codes commented on #702
@saikirankv how's the PR going?

[2020-09-18 18:01] aditya2499 commented on #738
@PrashanthPuneriya  I am in the midway. I got my university mid sem exams and may not be able to continue to work for some days. If you say I can unassign myself and open this issue for another contributors.

[2020-09-18 18:01] vj-codes commented on #673
Unassigning @GobindB due to inactivity

[2020-09-18 18:04] vj-codes commented on #661
@DartingMelody unassigning you due to inactivity

[2020-09-18 18:06] vj-codes commented on #615
@vermastuti hey are you still working on this issue?

[2020-09-18 18:10] vermastuti commented on #615
Yes I'm working on it. Wanted some help on this to move forward.

On Fri, Sep 18, 2020, 11:36 PM Vaishnavi Joshi <notifications@github.com>
wrote:

[2020-09-18 18:10] vj-codes commented on #403
@Ashokrayal how's the PR going?

[2020-09-18 18:11] vermastuti commented on #615
@vj-codes yes, wanted some help on setting up the project in my machine. I have setup the GitHub repo but some issue is coming up.

[2020-09-18 18:15] vj-codes commented on #615
@vermastuti can you explain the issues here or on zulip , then I  or someone else can help you setting the repo successfully:)

[2020-09-18 18:18] vj-codes commented on #738
@PrashanthPuneriya if it's available later I would like to work on this again! I understood my mistake later but by that time it was assigned to another contributor.
I would like to give another try here:)

[2020-09-18 18:41] aditya2499 commented on #424
@isabelcosta  I have made a pull request. Have a review

[2020-09-18 20:11] rubyruins commented on #876
@gaurivn, thank you. I will try to set it up locally and let you know if I need any help with the same!

[2020-09-19 00:59] ashokrayal commented on #403
Hi @vj-codes,
I will submit the PR today.
Thanks :)

[2020-09-19 02:55] GuruCharan-13 commented on #881
I would like to work on this issue
please assign it to me
thank you

[2020-09-19 03:07] priyanshuone6 commented on #872
So should I depreciate slack_username or should I rename it to zulip_username?

[2020-09-19 03:35] saikirankv commented on #702
Worked on it, some setup issue will raise PR today.

[2020-09-19 05:40] PrashanthPuneriya commented on #738
No worries! I will be happy to assign you if others fail to deliver a PR until then I think it's better to make this issue available to others.

[2020-09-19 05:40] PrashanthPuneriya commented on #738
Assigning you @vj-codes :)

[2020-09-19 05:47] PrashanthPuneriya commented on #881
Sure @GuruCharan-13. Assigning you :)

[2020-09-19 06:24] SanketDG commented on #881
This looks good, everything is clear enough.

[2020-09-19 06:51] Abjcodes commented on #748
@gaurivn I didn't get any feedback till now. Can you elaborate this issue because I am finding it hard to understand the context.

[2020-09-19 08:09] SanketDG commented on #748
From what I understand,

it's basically to improve whatever's there and also figure out a deployment solution for the site.

[2020-09-19 12:27] saikirankv commented on #702
@vj-codes I have made the necessary changes, but the coverage report is failing.

The decorator email_verification_required is causing the issue, do we need that email_verification decorator for get_user, can we keep it a login.
Please review my PR, if that decorator is necessary I'll do another commit.

[2020-09-19 14:59] Anmollenka commented on #597
@vj-codes I followed the steps just as you said.

[2020-09-19 15:00] Anmollenka commented on #597
But still I am getting invalid token error.

[2020-09-19 15:02] vj-codes commented on #597
@Anmollenka the syntax  is `Bearer <token>`
You might have not added the word bearer in the text input before your token. Try this out it , if it doesn't work do update your error and I could help :)

[2020-09-19 15:13] Anmollenka commented on #597
@vj-codes I am still receiving the same error.

[2020-09-19 15:15] Anmollenka commented on #597
Shall I attach the screenshot of the access token and the error??

[2020-09-19 15:45] vj-codes commented on #597
Ya that would help , you can share it here or on zulip @Anmollenka

[2020-09-19 20:20] vj-codes commented on #866
@yugantarjain @isabelcosta this issue is valid on swagger but this works perfectly fine on android apk .
A toast message as `You have already sent a similar request to username ` appears and prevents user from sending multiple requests to same member.
![image](https://user-images.githubusercontent.com/60894542/93688449-986caa80-fae3-11ea-9bd5-c00bef59f221.png)

[2020-09-20 06:43] PrashanthPuneriya commented on #881
@SanketDG What would be the suitable category? OSH participants needs the category label.

[2020-09-20 07:19] sreelekha901 commented on #875
Env setup is done
Working from today

[2020-09-20 11:13] saikirankv commented on #702
@vj-codes  I have raised PR, please review.

[2020-09-20 11:28] saikirankv commented on #661
@vj-codes @isabelcosta I'm interested to take this issue, but I have a few queries regarding this.

as per comments, I came to know that it's not reproducible in local. How to check the logs? Is there any test env for checking this issue?

[2020-09-20 13:04] rubyruins commented on #876
@gaurivn, I actually had a doubt - do I need to clone the repo and run it on my machine, or do I test the API in the browser itself on this link https://mentorship-backend-temp.herokuapp.com/?

[2020-09-20 16:19] gaurivn commented on #876
@rubyruins, most preferred to run it and test locally.

[2020-09-20 16:24] alivabasa commented on #784
I would like to work on this. Can you please assign this to me?

[2020-09-20 16:26] alivabasa commented on #782
I would like to work on this. Can you please assign it to me?

[2020-09-21 01:44] paritoshsinghrahar commented on #872
We will go with renaming it then to  `zulip_username`. @priyanshuone6

[2020-09-21 01:46] paritoshsinghrahar commented on #871
@SHITIZ-AGGARWAL Thanks for asking but I guess it's pretty much done.

[2020-09-21 01:58] priyanshuone6 commented on #872
@paritoshsinghrahar Do I have to rename it to zulip_username in the whole repo?

[2020-09-21 03:04] paritoshsinghrahar commented on #872
@priyanshuone6 You can start by focusing here: https://mentorship-backend-temp.herokuapp.com/ for now.

[2020-09-21 08:24] priyanshuone6 commented on #603
Hey, can you please assign this issue to me

[2020-09-21 11:42] rubyruins commented on #876
@gaurivn, alright, thanks! I apologize for not having started working on this yet due to college tests, but I will start working on it today :)

[2020-09-21 11:42] khushishikhu commented on #871
@paritoshsinghrahar  please review this PR

[2020-09-21 14:12] sharur7 commented on #859
@vj-codes is this issue still not valid for OSH?

[2020-09-21 15:49] priyanshuone6 commented on #603
Hey can you please assign this issue to me

[2020-09-21 17:20] Anmollenka commented on #785
@yashasvimisra2798 Shall I write the whole program on the recommendation system taking a sample dataset in python and put it in the docs folder??

[2020-09-21 21:31] #784 closed, assigned to Abjcodes

[2020-09-22 05:20] devkapilbansal commented on #881
@GuruCharan-13 are you still working on this?

[2020-09-22 06:50] sanjibansg commented on #881
I would like to work on this. Do assign if available.

[2020-09-22 07:14] sanjibansg commented on #785
I would  like to work on this. Do assign if available. @yashasvimisra2798

[2020-09-22 07:17] Anmollenka commented on #785
@kahanikaar I am working on this issue.

[2020-09-22 07:20] PrashanthPuneriya commented on #881
@GuruCharan-13

[2020-09-22 07:21] devkapilbansal commented on #881
@PrashanthPuneriya if @GuruCharan-13 is not then I would like to work on this.

[2020-09-22 07:21] PrashanthPuneriya commented on #738
@vj-codes Any progress?

[2020-09-22 07:23] PrashanthPuneriya commented on #881
Yeah sure @KapilBansal320. Let's wait for sometime till @GuruCharan-13 responds. If he doesn't respond then I will assign you this issue :)

[2020-09-22 07:41] vj-codes commented on #738
@PrashanthPuneriya yes I had some doubts , will ask Isabel in today's mentorship session

[2020-09-22 07:58] yashasvimisra2798 commented on #785
@Anmollenka yes you can explain it with the code. That will be really nice.

[2020-09-22 08:00] vj-codes commented on #603
Assigning you @priyanshuone6
Happy coding!

[2020-09-22 08:38] GuruCharan-13 commented on #881
i am extremely sorry I could not complete this we had an event in our college
assign it to any one else

[2020-09-22 09:24] PrashanthPuneriya commented on #881
Happy coding @KapilBansal320 :)

[2020-09-22 14:02] rubyruins commented on #876
@gaurivn, I am almost done testing but have 2 doubts, could you please help me out?

1. As per the guidelines (at least 1 positive and 1 negative test case), I have tested cases 1, 2 and 4 from the docs (2 failing, 1 successful.) However, I've been having some trouble testing the 3rd case - Refresh token in the Authorization field is expired. As per the docs, the token expires after a week. Should

[2020-09-22 15:24] alivabasa commented on #613
Hi, I would like to work on this issue, if available.

[2020-09-22 15:42] Abjcodes commented on #748
@gaurivn @SanketDG Can you check the status of #747? I can only complete this when #747 is closed.

[2020-09-22 17:00] codesankalp commented on #870
@gaurivn I would like to work on this issue.

[2020-09-22 18:36] isabelcosta commented on #870
My clarification from Zulip:

@**Maya Treacy - GSoC20 Student - Volunteer** I think this can still be tests. Even though we know this is not directly used by frontend, someone could still try to use the API is wrong ways (I am imagining a hacker scenario for example), we don't want someone to manage to use the API and temper with data. for example the code could have a bug and allow for POST reque

[2020-09-22 18:36] isabelcosta commented on #870
@codesankalp since @vj-codes is working on other issues, I will assign this one to you :)
Happy Coding!

[2020-09-22 18:53] isabelcosta commented on #776
@pbgurav thank you for suggesting enhancements to this app.
However, this does not seem as a priority for an MVP that we are trying to work towards. So the idea would be, the first batch of people using this, such as Beta testers, they would require an email. And for example, everyone on Zulip has an email, for now, the email is mostly to login and confirm email. The email notifications are nice t

[2020-09-22 18:53] #776 closed, assigned to nobody

[2020-09-22 20:14] isabelcosta commented on #866
@vj-codes I did not remember that was done on Android 🤔
Do you happen to know how this being done on Android?

Also, I would argue the idea of people sending different mentorship requests, for example, I could propose to the same mentor, mentorship on public speaking, or mentorship on blogging 🤔

But I would like to know what could be a resolution for this.

cc @yugantarjain

[2020-09-22 23:23] devkapilbansal commented on #871
@paritoshsinghrahar it would be better to remove available status if the issue is assigned.

[2020-09-22 23:36] devkapilbansal commented on #881
@PrashanthPuneriya @SanketDG please review pull request #889

[2020-09-23 08:55] codesankalp commented on #726
@gitpurva
If you are not able to link then you can unassign you from this issue.
and i will make a linked pull request.
@PrashanthPuneriya you can assign me this issue.

[2020-09-23 08:56] codesankalp commented on #726
It's been a long i.e. 18days and the pull request is not linked.
That's why i want to work on this issue.

[2020-09-23 09:02] codesankalp commented on #870
Thanks, @isabelcosta for assigning me this issue I will soon make a pr related to testing this API.

[2020-09-23 09:43] PrashanthPuneriya commented on #726
Not linking the PR doesn't mean that the work hasn't been done. @gitpurva has almost completed the work. I was busy with my exams so I had forgotten this issue and I apologize for that @codesankalp :)

[2020-09-23 10:00] devkapilbansal commented on #881
@SanketDG @PrashanthPuneriya I don't think that this was related to coding. May be category should be **research** here.

[2020-09-23 10:25] PrashanthPuneriya commented on #881
@SanketDG Is the outreach/research label appropriate for this issue?

[2020-09-23 11:25] codesankalp commented on #870
@isabelcosta @gaurivn
you can review this pull request. Thanks :smiley:

[2020-09-23 11:33] codesankalp commented on #726
No problem @PrashanthPuneriya . I commented because the assignee didn't respond since 18 days. :smile:

[2020-09-23 13:52] yugantarjain commented on #866
I think duplicate requests shall not be allowed. To seek mentorship on different things from the same person, a user can say that in notes...

[2020-09-23 14:32] SanketDG commented on #881
I added the coding label and I think that's fair enough. Feel free to change anything though.

[2020-09-23 16:55] sreelekha901 commented on #875
still working on it
will update the progress soon

[2020-09-23 19:34] devkapilbansal commented on #875
Is this issue available?? If yes, @gaurivn @SanketDG @PrashanthPuneriya @isabelcosta  please assign me for this

[2020-09-24 03:42] ashokrayal commented on #376
Hi @PrashanthPuneriya,

The issue is not as simple as it looks. It can have many breaking changes and it will require complete API testing and it's also not that important. Someone very experienced on this project should pick this one or we can even ignore it.

[2020-09-24 03:48] ashokrayal commented on #866
Hi @yugantarjain,  @vj-codes ,

Can I pick this one, if it still requires a fix on the backend?

[2020-09-24 03:58] khushishikhu commented on #738
may i work on this issue?

[2020-09-24 04:03] khushishikhu commented on #840
may i work on this issue

[2020-09-24 05:53] codesankalp commented on #870
### Details of what i did in the test.
* Test 1 : Verification token entered is one sent on user's registered email within 24 hrs

     _Screenshot/gif_:

     ![test_1](https://user-images.githubusercontent.com/56037184/94105745-91cd9280-fe57-11ea-90e7-6e514cb3ada2.png)

     _Expected Result_: SUCCESS (message: You have confirmed your account. Thanks!)

     _Actual Result_: SUCCESS (message: Yo

[2020-09-24 13:14] vermastuti commented on #615
I have setup the repo successfully. Also, I found that "Mentee ID field is missing." error message is already added in the app/api/resources/mentorship_relation.py/SendRequest function. Could anyone test if the issue still persists? Also, if possible, please provide authorization access token to test the issue.

[2020-09-24 13:23] vermastuti commented on #760
Hi, Is this issue resolved or still available?

[2020-09-24 13:47] SanketDG commented on #840
Anyone who wants to work on this issue, please provide a little roadmap of what you want to achieve, I think this issue has a large scope of what can be done, and even can be done as its own mini project.

[2020-09-24 13:51] vermastuti commented on #673
Hi, I would like to take up this issue.

[2020-09-24 14:00] Abjcodes commented on #748
@gaurivn @SanketDG Any updates?

[2020-09-24 14:28] vermastuti commented on #661
Hi, I would like to take up this issue if not assigned already.

[2020-09-24 16:24] SanketDG commented on #748
I am sorry, that PR will get attention when the other reviewers will get to it.

You can look at other issues meanwhile.

Also, you can create your working branch from #841 and add commits from there, so when that PR is finally merged, you will only have to rebase your PR.

[2020-09-24 17:01] khushishikhu commented on #840
@SanketDG  can you please give me a reference of how tree-view format looks like

[2020-09-24 17:16] khushishikhu commented on #840
@SanketDG do we need to format json file also in tree view format, like this in screenshot
![s](https://user-images.githubusercontent.com/65439761/94180825-384b7f00-febc-11ea-94d9-1d5955e6f3a8.PNG)

[2020-09-24 18:27] rubyruins commented on #876
@gaurivn, I have opened a PR for the issue! Kindly review it.

[2020-09-24 22:38] isabelcosta commented on #876
@rubyruins those are great questions :)

1. You don't have to wait to long, there is a way to test is in shorter time. You would have to run the project locally and change the line of code that defines the 1 week, and switch to something like 30 seconds or 1 min. Basically change to something you can easily use it and get the error you want.

2. Feel free to add that to the PR :) its a good additi

[2020-09-25 05:44] rubyruins commented on #876
@isabelcosta, sure! I will try setting it up locally and update the PR soon. Thanks a lot for your suggestions :)

[2020-09-25 06:53] SanketDG commented on #840
@khushishikhu Yes. Not strictly, but I am guessing @Shivansh2407 has more views on this.

[2020-09-25 07:27] khushishikhu commented on #840
@Shivansh2407 please give me your views about the json file sholud look like this in screenshot and also which do have to beautify?

[2020-09-25 10:24] dependabot-preview[bot] opened #892 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/anitab-org) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/anitab-org/update-logs/48598197).

[2020-09-25 12:38] PrashanthPuneriya commented on #875
@sreelekha901 Please update the progress.

[2020-09-25 12:55] PrashanthPuneriya commented on #738
@vj-codes How's the PR going on? Can you please update the progress?

[2020-09-25 12:57] vj-codes commented on #738
@PrashanthPuneriya I commited the changes yest , made the PR right now

[2020-09-25 13:38] sreelekha901 commented on #875
I'm facing problems in env setup in my new system
Wont mind if issue is assigned to others

[2020-09-25 16:15] Shivansh2407 commented on #840
Yes @khushishikhu , The screenshot you've attached is what I wanted the swagger.json to look like. But the main thing here is that we need to change/update the endpoint with this tree view to make it more readable, i.e. /swagger.json . For this you need to figure out on how it can be done as the endpoint is generated by flask-restx. If you need any help do let us know 👍

[2020-09-25 17:24] Anmollenka commented on #785
@yashasvimisra2798 I am not getting any perfect dataset to explain my approach . Can I frame my own dataframe and do some calculations over it to show my approach??

[2020-09-25 17:32] ashwinijha6 commented on #786
@SanketDG & @yashasvimisra2798 I have created another pull request #894 for the issue #786
I have closed the previous pull request since I messed up with the branches
I have made the changes suggested by @SanketDG.
Pls review my pull request.

[2020-09-25 17:50] vermastuti commented on #615
@isabelcosta @SanketDG @vj-codes I have made the changes and raised a PR. Please review the PR and let me know if there are any more changes to this.

[2020-09-25 17:58] vermastuti commented on #375
Is this available or already fixed?

[2020-09-25 18:07] vermastuti commented on #278
Is this issue resolved?

[2020-09-25 18:10] vermastuti commented on #141
Is this issue resolved?

[2020-09-25 19:47] devkapilbansal commented on #875
Okay, as both of my pull requests are complete now(or may need little modifications, if needed, I want to work on this. @PrashanthPuneriya please assign this to me

[2020-09-25 19:50] devkapilbansal commented on #881
@PrashanthPuneriya, in my opinion, it has nothing to do with coding. Rest issue label may not matter

[2020-09-25 19:57] khushishikhu commented on #840
@Shivansh2407 i guess we need to make changes in the files like [https://github.com/anitab-org/mentorship-backend/blob/develop/app/api/resources/admin.py](this) for making swagger.json looks in a tree view format. plese let me know i am thinking right.

[2020-09-25 20:23] SHITIZ-AGGARWAL commented on #766
@gaurivn I was having some problems in my previous PR branch, please can you review the new one ,sorry for the delay

[2020-09-26 02:51] #892 closed, assigned to nobody

[2020-09-26 04:54] ashokrayal commented on #760
no @vermastuti  it's not. PR is under review :)

[2020-09-26 05:20] ashokrayal commented on #760
Hi @paritoshsinghrahar , @vj-codes,
Can someone review this PR?

[2020-09-26 05:30] PrashanthPuneriya commented on #875
Sure @devkapilbansal! Assigned you :)

[2020-09-26 06:56] khushishikhu commented on #840
@Shivansh2407 can you please give me some reference i can look for on how to make swagger.json in tree view format.
As i am completely new to this

[2020-09-26 07:10] Shivansh2407 commented on #840
Yeah Sure @khushishikhu , Please have a look at the links/resources :
https://ourcodeworld.com/articles/read/753/creating-collapsible-tree-structures-from-json-into-html-in-javascript
https://www.cssscript.com/json-data-tree-view/
Assigning this issue to @khushishikhu , unassigning @kritikaparmar-programmer due to inactivity 👍

[2020-09-26 07:23] PrashanthPuneriya commented on #881
What does this mean? I didn't get you.

[2020-09-26 07:36] devkapilbansal commented on #881
As this issue is already solved now.

[2020-09-26 09:57] isabelcosta commented on #141
@vermastuti no its not, I see not tests in admin folder calling the Admin Assignment API. Tests of this kind usually begin with `test_api_*`.
Are you interested in working on this?

[2020-09-26 11:08] devkapilbansal commented on #875
@gaurivn  @isabelcosta  Please review pull request #897

[2020-09-26 11:32] devkapilbansal commented on #881
@SanketDG @PrashanthPuneriya please review pull request #889

[2020-09-26 11:37] codesankalp commented on #881
Yes, this issue is related to research.

[2020-09-26 13:27] vermastuti commented on #141
Yeah, I would like to work on this.

[2020-09-26 13:54] PrashanthPuneriya opened #898 "Make mentioned changes in resources files to follow the same convention"
## Description
As a contributor,
I need consistent style followed in resources file,
so that I don't get confused that whether some part of the code is missing or not.

## Mocks
https://github.com/anitab-org/mentorship-backend/blob/6fe6929fed2007ed43242f36c44f9bcca1d79979/app/api/resources/user.py#L171-L182
Here the route is below the responses which breaks the convention.
https://github.com/anita

[2020-09-26 16:40] gitpurva commented on #898
Can I take up this issue?

[2020-09-26 16:45] PrashanthPuneriya commented on #898
Sure @gitpurva

[2020-09-26 17:36] khushishikhu commented on #840
![Capture](https://user-images.githubusercontent.com/65439761/94346731-44664680-004c-11eb-92d4-eb44be489b50.PNG)
@Shivansh2407 does it needs to be like this as i have just rendered the JSON data into HTML in javascript in the form of tree view. right now i have made changes in some of its part. just to make sure if i am doing right
please have a look

[2020-09-26 17:43] khushishikhu commented on #871
@paritoshsinghrahar  please review my PR

[2020-09-26 19:05] rubyruins commented on #876
@isabelcosta, all done :) please review the PR and let me know if any more changes are needed!

[2020-09-27 17:56] rpattath opened #899 "Create Meetings between members or two users in a relation. Possibly integration with Google Calendar"
**Is your feature request related to a problem? Please describe.**
Create Meetings between members or two users in a relation. Possibly integration with Google Calendar

**Describe the solution you'd like**
Research about MVP feature for scheduling meetings between mentor and mentee: what database entities would we need; how would the workflow be; future integrations (not mvp) with 3rd parties tha

[2020-09-27 19:35] ashwinijha6 commented on #773
@Shivansh2407 what about this issue is it still on hold?

[2020-09-27 20:41] vj-codes commented on #866
@isabelcosta request is prevented if end date is same , but if the date is updated as +- to previous request this  issue occurs.
Even I would go for one request per user, maybe there can be tasks about diff topics like speaking and blogging in one

[2020-09-27 20:44] vj-codes commented on #597
@Anmollenka any updates?

[2020-09-27 20:45] vj-codes commented on #481
@pallavisavant any updates?

[2020-09-28 02:58] Anmollenka commented on #597
@vj-codes I have worked on the issue but I am unable to create the ouput in the local database.The main problem is that it is showing the username or password is wrong and I am unable to register as a new user it is showing some forbidden error.
I will try once again today and ask on Zulip if I face any issue.Thank You.

[2020-09-28 06:38] pallavisavant commented on #481
I have unassigned myself,pls feel free to assign it to anyone else,sorry for inconvenience I had got busy with my college work:)

[2020-09-28 09:54] sanjibansg commented on #899
I would like to work on this issue. Do assign. @rpattath

[2020-09-28 10:06] ravi5175 commented on #613
@vj-codes @isabelcosta @SanketDG @PrashanthPuneriya please assign me this issue, i have completed my previous one

[2020-09-28 10:07] sanjibansg commented on #768
Do  assign the issue  to me if available.

[2020-09-28 10:07] sanjibansg commented on #782
Do assign the issue to me if available.

[2020-09-28 10:16] sanjibansg commented on #481
Do assign the issue to me if available. @vj-codes

[2020-09-28 10:25] vj-codes commented on #481
Assigning you @kahanikaar
Happy researching!

[2020-09-28 10:38] vj-codes commented on #613
@ravi5175 this is a `first timers only` issue thus you aren't eligible to be assigned .
Please look out for other available issues :)

[2020-09-28 12:44] rpattath commented on #899
@kahanikaar are you currently assigned to any issues for which you haven't created a PR yet?

[2020-09-28 14:25] PrashanthPuneriya commented on #898
Any progress @gitpurva?

[2020-09-28 14:27] gitpurva commented on #898
I will submit the PR by tomorrow.

On Mon, Sep 28, 2020, 7:55 PM Prashanth Puneriya <notifications@github.com>
wrote:

[2020-09-28 16:55] alivabasa commented on #597
I want to work on this, if it's available.

[2020-09-28 17:05] justdvnsh commented on #899
@rpattath I'd like to work on this. I have submitted all my pending PR's. Currently, I have no pending PR !

[2020-09-28 17:51] alivabasa commented on #606
Can I be assigned this issue? I don't have any documentation issue so far.

[2020-09-28 18:23] alivabasa commented on #580
I want to work on this. Can i be assigned?

[2020-09-28 20:44] devkapilbansal commented on #770
@SanketDG @titiksha01 why there are two pull requests for same issue?

[2020-09-28 20:47] devkapilbansal commented on #768
@PrashanthPuneriya @SanketDG @vj-codes can this issue be assigned to multiple persons? If yes, do assign this to me

[2020-09-28 20:50] epicadk opened #903 "Bug: Valid Refresh Tokens despite user changing password"
**Describe the bug**

Refresh Tokens are still valid even after the user changes  passwords.
**To Reproduce**

Steps to reproduce the behavior:

1. Login and save the refresh token you get.
2. Change password
3. Scroll down to Refresh endpoint and use the old Refresh token.
4. See error

**Expected behavior**

Refresh Tokens should not be valid after a user changes passwords.

**Additional context

[2020-09-28 21:03] titiksha01 commented on #770
I was supposed to close the previous one. I have done it now.

[2020-09-28 21:59] justdvnsh commented on #899
@rpattath Unassigning myself. Took this issue by mistake. Thought it was in mentorship-android

[2020-09-29 04:08] paritoshsinghrahar opened #904 "blog: OSH Experience"
## Description

I want you to write a blog about the OSH experience from a newcomer's point of view for the backend repo. So that it tells your experience about open source and also may serve as an intro to backend repo for prospective contributors.

Write a blog on Medium and share the link in a document called `outreach-work.md` in the “/docs” folder of mentorship-backend. So you need to create

[2020-09-29 04:11] paritoshsinghrahar commented on #904
I'll allow multiple contributors given they have worked on enough issues. *
Also, while asking to be assigned, please give a brief intro/summary (1-2 lines) to your blog.

#### *Subject to the discussion.

[2020-09-29 04:51] Anmollenka commented on #785
@yashasvimisra2798 Can you please review my pr and say if any changes are required.Thank You

[2020-09-29 04:55] yashasvimisra2798 commented on #785
Yes @Anmollenka I'll review it.

[2020-09-29 06:29] gitpurva commented on #899
@rpattath Can I take up this issue? I have submitted all my PR's .

[2020-09-29 06:47] saikirankv commented on #376
@PrashanthPuneriya @SanketDG  I would like to work on this. Can you assign this to me?

[2020-09-29 06:49] PrashanthPuneriya commented on #376
Assigned you @saikirankv

[2020-09-29 12:26] devkapilbansal commented on #904
@paritoshsinghrahar Do we need to use medium only for blog post or any blogging site will serve the purpose?

[2020-09-29 12:41] rpattath commented on #899
@gitpurva Are you assigned to any issues for which you haven't created a PR yet?

[2020-09-29 14:06] PrashanthPuneriya commented on #768
A PR has been already created. So, I don't think this issue is available anymore

[2020-09-29 15:07] alivabasa commented on #580
Is this issue under OSH??@PrashanthPuneriya

[2020-09-29 16:21] PrashanthPuneriya commented on #580
No, it is not @alivabasa

[2020-09-29 16:36] SHITIZ-AGGARWAL commented on #904
@paritoshsinghrahar I would love to work on this issue since OSH helped me to make my first ever open source contribution and many more

[2020-09-29 17:31] alivabasa commented on #580
Ok. I got an issue under OSH. After its completion, i will do this.

[2020-09-29 17:56] PrashanthPuneriya commented on #580
Okay @alivabasa. I will make this issue available to everyone till then.

[2020-09-29 18:14] #763 closed, assigned to rak108

[2020-09-29 18:17] #876 closed, assigned to rubyruins

[2020-09-29 19:09] alivabasa commented on #580
Yes..,sure.

[2020-09-29 20:30] vj-codes commented on #904
Assigning you both @devkapilbansal @SHITIZ-AGGARWAL
Happy documenting !

[2020-09-29 20:32] vj-codes commented on #904
@devkapilbansal medium only as stated in the issue and mention AnitaB.org as a publication while publishing the blog/article (called: story on medium).

[2020-09-29 20:58] decon-harsh commented on #904
I would love to share my experience , Can you assign me too?

My blog will focus mainly about the early problems i faced and the rise in my confidence after the first PR. I would love to mention how easy is to work in OSH when maintainers are giving their best to help you.

[2020-09-30 01:57] paritoshsinghrahar commented on #904
Yes, AnitaB.org has a publication there. I'll still check with the team.

[2020-09-30 01:59] paritoshsinghrahar commented on #904
@decon-harsh I am assigning this to you as well. Happy writing!! 😄

[2020-09-30 04:19] decon-harsh commented on #904
Sorry , I didn't see it. Is it specifically for the mentorship back-end repo? I had worked on vms!

[2020-09-30 07:22] Anmollenka commented on #904
@paritoshsinghrahar Can I work on this???

[2020-09-30 08:05] PrashanthPuneriya commented on #785
Why have you closed this issue? @yashasvimisra2798

[2020-09-30 08:09] Anmollenka commented on #785
@PrashanthPuneriya Can you please review my pr for this issue.Thank You

[2020-09-30 08:25] PrashanthPuneriya commented on #785
I don't have any technical-background to review this PR and understand it. So, my PR would be incorrect and mislead others @Anmollenka

[2020-09-30 08:30] Anmollenka commented on #785
Okk.

[2020-09-30 10:38] devkapilbansal commented on #904
Hi, @paritoshsinghrahar @isabelcosta @PrashanthPuneriya @SanketDG  when I try to add to publications it shows no publication available even after I follow AnitaB.org

[2020-09-30 11:57] SHITIZ-AGGARWAL commented on #904
yes

[2020-09-30 12:04] devkapilbansal commented on #904
Please check and let me know.

[2020-09-30 13:12] PrashanthPuneriya commented on #904
Pinging @isabelcosta @mtreacy002. Can you please guide them since you have already written few blogs?

[2020-09-30 13:24] SanketDG commented on #904
Hey. please feel free to post on your own Medium (I'd say [avoid using Medium](https://florimond.dev/blog/articles/2019/05/why-i-dont-write-on-medium/) but it's your choice at the end of the day!) or your own blog. No need to wait for the org publication.

[2020-09-30 16:32] ashwinijha6 commented on #904
@paritoshsinghrahar I would like to work on this issue could u assign it to me I have written one for vms but as I have made 2 pull requests for the backend issue I would like to share my experience working on backend issues as well.

[2020-09-30 18:29] paritoshsinghrahar commented on #904
@devkapilbansal @ashwinijha6 @decon-harsh
https://medium.com/anitab-org-open-source

did you try this?

[2020-09-30 18:31] decon-harsh commented on #904
@paritoshsinghrahar I guess to add publication one must have editor or owner level permissions.

[2020-09-30 18:31] ashwinijha6 commented on #904
@paritoshsinghrahar I have just mentioned this at the bottom of my blog

[2020-09-30 18:32] devkapilbansal commented on #904
Yes, I tried to too @paritoshsinghrahar

[2020-09-30 18:36] paritoshsinghrahar commented on #904
@decon-harsh Yes, but one can request for publication. It will help the article discovered in a better manner. And anyway blogging your experience on your page helps too.

@ashwinijha6 @devkapilbansal Oh, ok. Great.

[2020-09-30 18:37] decon-harsh commented on #904
How can I?

[2020-09-30 18:41] ashwinijha6 commented on #904
@paritoshsinghrahar just had a question mentioning the publication & tagging them to your story are the same thing right?

[2020-09-30 18:53] paritoshsinghrahar commented on #904
@decon-harsh https://help.medium.com/hc/en-us/articles/214035868-Leave-a-note
Actually, that happened in a vice-versa manner with me. When a publication left a note on my article. I see one cannot private message the other way round.

#### I'll change the Issue description to not add as a publication.

[2020-09-30 18:53] paritoshsinghrahar commented on #904
@ashwinijha6 It's fine.

[2020-10-01 14:21] faznan3nazer commented on #613
@isabelcosta  Hey...I would like to work on this issue..can you please assign this to me?

[2020-10-01 14:25] faznan3nazer commented on #563
Hey...I would like to work on this issue..can you please assign me this?

[2020-10-01 14:31] faznan3nazer commented on #721
Is this issue still available? can I claim this issue?

[2020-10-01 14:34] faznan3nazer commented on #616
Is this issue still available? can I claim this ?

[2020-10-02 18:58] pallavisavant commented on #613
if this is available can i claim this???

[2020-10-04 09:35] khushishikhu commented on #840
hey @Shivansh2407  i guess i think that this issue has been resolved, because now i have checked swagger.json file it is showing me in tree format

[2020-10-04 17:59] faznan3nazer commented on #899
can I work on this issue?

[2020-10-05 19:53] vj-codes commented on #613
@faznan3nazer @pallavisavant sorry this is a first timers only issue ,please go through other available issues:)

[2020-10-05 20:03] vj-codes commented on #899
@gitpurva any updates?

[2020-10-05 20:05] rpattath opened #910 "Create a user journey test from sending a mentorship request and the request is rejected."
## Description
I need to test a specific user path,
so that I can make sure a specific path can be executed usefully in a deterministic way.

This test should be located in a specific folder for separation concerns, it could be called tests/user_journey.
Next, I'll define a very broad scenario, but simple enough for you to start.

## Scenario: User A (mentor) and User B (mentee)

  1. User B (ment

[2020-10-05 20:13] rpattath opened #911 "Create a user journey test from sending a mentorship request and the user deletes the request."
## Description

I need to test a specific user path,
so that I can make sure a specific path can be executed usefully in a deterministic way.

This test should be located in a specific folder for separation concerns, it could be called tests/user_journey.
Next, I'll define a very broad scenario, but simple enough for you to start.

https://github.com/anitab-org/mentorship-backend/blob/develop/test

[2020-10-06 04:56] gitpurva commented on #899
I have my college mid term exam .. So I will update within two to three
days:)

On Tue, Oct 6, 2020, 1:33 AM Vaishnavi Joshi <notifications@github.com>
wrote:

[2020-10-06 08:58] vvkpd commented on #580
Hey, I would like to work on this card, could you please assign to me.
Thanks

[2020-10-08 22:55] amritada commented on #616
Can I claim this issue if it is still available?

[2020-10-08 23:06] amritada commented on #613
Hi I am a first time open source contributor. Can you please assign this issue to me if it is still available?

[2020-10-11 11:45] isabelcosta commented on #673
@vermastuti I will assign you if you are still interested, please let me know if you are no longer interested :)

[2020-10-11 12:27] isabelcosta commented on #613
@amritada I will assign this to you :) happy coding!

[2020-10-11 17:18] yash2189 commented on #910
Hello! I would like to work on this .... I have a question.Do I need to test the app as well ?

[2020-10-13 12:05] yash2189 commented on #910
@rpattath can you please clear my query and if possible assign me this issue?

[2020-10-13 16:31] rpattath commented on #910
@yash2189 you need to automate only this workflow (sending a mentorship request and the request is rejected) on the backend. https://github.com/anitab-org/mentorship-backend/blob/develop/tests/user_journey/test_happy_path_1.py is a sample but here only the positive scenario has been covered. You will have to automate tests that fail, for example rejecting a request that does not exist.

[2020-10-13 18:05] yash2189 commented on #910
@rpattath For that do I need to setup the environment on my local machine?

[2020-10-14 17:04] dixitaniket commented on #881
If possible can this issue be assigned to me if this is still open .

[2020-10-14 17:06] devkapilbansal commented on #881
@dixitaniket there is already a pull request open that is ready to be merged
Search for other issues

[2020-10-15 12:03] faznan3nazer commented on #911
@rpattath  Hey... I would like to work on this...can I claim this?

[2020-10-15 20:02] #904 closed, assigned to devkapilbansal, ashwinijha6, SHITIZ-AGGARWAL, decon-harsh

[2020-10-16 13:34] sankha555 commented on #899
Hello @rpattath , if there isn't anyone else working on this issue, can it be assigned to me. I would love to give it a shot with the ideation and possible development. Thanks!

[2020-10-16 20:08] justdvnsh commented on #395
@vj-codes I'd like to take this issue up !!

[2020-10-16 20:09] justdvnsh commented on #343
@vj-codes I'd like to take this issue up. Can I be assigned to this issue ?

[2020-10-16 20:33] vj-codes commented on #395
@justdvnsh are you contributing for the first time to this repo? If yes ,then  only I can assign you

[2020-10-16 20:34] vj-codes commented on #343
@justdvnsh are you contributing for the first time to this repo? If yes ,then only I can assign you
Also chose one between this or #395

[2020-10-16 20:44] justdvnsh commented on #343
@vj-codes Yeah. I contribute regularly to mentorship-android however, this is my first time in this repo.
And firstly I'd like to take up this issue then #395

[2020-10-16 20:45] justdvnsh commented on #395
@vj-codes Yeah. This is my first time in this repo.

[2020-10-16 21:17] vj-codes commented on #343
Assigning you @justdvnsh
Happy coding!

[2020-10-16 21:29] justdvnsh commented on #343
@vj-codes Thanks !

[2020-10-16 23:27] justdvnsh commented on #343
Hi. @vj-codes @rpattath . I think this is not an issue. i do not see anywhere where status code of 201 is being returned. Status code of ```HTTPStatus.OK``` is being returned which is status code 200. Even in the tests the checks are fine.

![Screenshot from 2020-10-17 04-54-14](https://user-images.githubusercontent.com/29144058/96322019-1f566980-1035-11eb-9136-53e6bc80671c.png)

![Screenshot from

[2020-10-17 19:03] vermastuti commented on #673
Thanks @isabelcosta for assigning me. Do I have to get database for this issue?

[2020-10-18 11:53] mtreacy002 commented on #343
@justdvnsh , @vj-codes and @rpattath . I think this issue should've been closed when I opened the issue #623 which got fixed by PR #637. I must've overlooked this issue since at the time issue #623 was opened, MS was refactoring all hard-coded HTTP error code to HTTPStatus, hence, this issue was no longer valid (as it is using hard-coded error code). I'll close this issue now. Thank you @justdvnsh

[2020-10-18 11:53] #343 closed, assigned to justdvnsh

[2020-10-18 11:57] justdvnsh commented on #343
@mtreacy002 Yeah. That's what I was saying. Anyway, thanks !

[2020-10-18 17:39] isabelcosta commented on #673
@vermastuti 🤔  it may help to see the data you have when you test this API. You will have it once you run the backend locally using `local` in environment variables. This will create a sqlite database for you :)

[2020-10-21 08:27] UdokaVrede commented on #736
I am Udokaku Ugochukwu, a python developer, technical writer and Free open
source contributor from Nigeria. I am currently learning Data Science. I am
enthusiastic about introducing more women and underrepresented people into
tech and open source contributions. For Anita organization, I would like to
be part of the mentoring committee, as this would be a platform to bringing
more women into techno

[2020-10-21 09:43] faznan3nazer commented on #911
@rpattath I am still working on this issue...will open PR in 2 days

[2020-10-22 00:12] #606 closed, assigned to faznan3nazer

[2020-10-22 21:23] #615 closed, assigned to vermastuti

[2020-10-24 23:46] isabelcosta commented on #616
@faznan3nazer @amritada I asked for a change on the PR sent by @Anmollenka . If we get no answers soon, I can re assign this :)

[2020-10-24 23:49] #875 closed, assigned to devkapilbansal

[2020-10-25 00:09] #664 closed, assigned to devkapilbansal

[2020-10-25 00:15] #743 closed, assigned to priyanshurohilla

[2020-10-25 00:33] #790 closed, assigned to abhinav72610

[2020-10-25 00:44] isabelcosta commented on #141
@vermastuti I am sorry for the delay in the response. I just assign it to you, if you are not interested in the issue, let me know and I'll make it available again :)

[2020-10-25 19:48] abhinav72610 commented on #911
@faznan3nazer  if you are not working on this can i work on this

[2020-10-27 18:31] shankybnl commented on #910
@yash2189  Are you still working on this request? In case not, I would be happy to add the mentioned workflow. I am a first timer in this repo.

cc @rpattath

[2020-10-27 18:45] yash2189 commented on #910
@rpattath Sorry for the late response .... I was assigned few other issues hence I couldn't do this issue. Can you please make this issue available for others?
If possible can you assign this issue to @shankybnl ?

[2020-10-27 19:12] shankybnl commented on #910
Thank you @yash2189 for the quick response. @rpattath Could you please assign it to me?

[2020-10-27 19:49] epicadk opened #918 "Password accepting empty spaces."
**Describe the bug**

On the register endpoint the password accepts empty spaces. Where as on the Change password it does not.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'register endpoint'
2. Click on 'create a new user with spaces in their password'
3. Scroll down to 'change password and try to change password to another password containing spaces'
4. See error saying no space

[2020-10-27 23:12] jyotiph commented on #580
I can work on this issue. Can someone assign to me.

[2020-10-27 23:55] #721 closed, assigned to ashwinijha6

[2020-10-28 16:47] shankybnl commented on #910
Sorry for the multiple messages @rpattath and @isabelcosta I have set up the mentorship-backend repo on my local machine. In case this issue is still available, can you please assign it to me? I can try to finish it as part of Hacktoberfest.

[2020-11-02 08:15] beingrudraksh commented on #918
May I work on this issue?

[2020-11-02 11:02] epicadk commented on #918
Try asking on zulip as no one has approved the issue yet

[2020-11-03 10:27] devkapilbansal commented on #597
@Anmollenka are you still working on this? It's being a long time and this issue has no pull request linked to it

[2020-11-03 10:28] devkapilbansal commented on #481
@kahanikaar what's the status of this issue??

[2020-11-03 14:38] Anmollenka commented on #597
@devkapilbansal I am still uanble to create the output in the local database.It will be okay if someone else is assigned.

[2020-11-03 16:04] devkapilbansal commented on #597
Okay @faznan3nazer I will look into this issue

[2020-11-04 00:52] #767 closed, assigned to yash2189

[2020-11-05 19:05] #612 closed, assigned to livrbecca

[2020-11-08 20:14] #561 closed, assigned to Bhavani-Somanchi

[2020-11-09 08:02] devkapilbansal commented on #918
This issue seems valid for me, either password field should not accept spaces or change password should accept it too.

![ss](https://user-images.githubusercontent.com/42766576/98514676-d9856d80-228f-11eb-83b5-fd51f5cf041a.png)

Thanks @epicadk for opening this.
@vj-codes @PrashanthPuneriya what do you think?

[2020-11-09 13:14] vj-codes commented on #918
Valid issue ✔️
@epicadk or @beingrudraksh anyone interested in fixing this ?

[2020-11-09 14:14] epicadk commented on #918
Don't we need to decide what needs to be done first?

[2020-11-09 15:28] devkapilbansal commented on #918
Yes, @epicadk password field shouldn't accept spaces

[2020-11-10 05:49] epicadk commented on #918
Okay. @vj-codes please assign @beingrudraksh

[2020-11-11 10:19] devkapilbansal commented on #903
I don't know whether it is the case. Will verify today. Thanks @epicadk for opening this

[2020-11-11 20:31] devkapilbansal commented on #846
@PrashanthPuneriya can you please update the issue title and description to fix all hard coded status codes instead of mentorship_relation file

[2020-11-11 21:34] 17sushmita commented on #918
If the issue is available Can I work on it?

[2020-11-12 00:06] #881 closed, assigned to devkapilbansal

[2020-11-13 09:40] devkapilbansal opened #923 "Use HTTP Status Codes instead of hard coded status codes"
**Describe the bug**

Some routes have hard coded status codes instead of HTTP Status
**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://mentorship-backend-temp.herokuapp.com/
2. Click on `User`
3. Scroll down to /user (Returns details of current user)
4. See error

**Expected behavior**
HTTPStatus.XYZ should have been displayed instad of raw status codes

**Screenshots**
![error

[2020-11-13 09:40] devkapilbansal commented on #923
Related to #846

[2020-11-13 09:41] devkapilbansal commented on #923
@vj-codes @rpattath please update the labels

[2020-11-13 10:51] 17sushmita commented on #923
Can I work on this issue?

[2020-11-15 08:14] devkapilbansal commented on #773
@paritoshsinghrahar @SanketDG @Shivansh2407 is this issue still relevant?

[2020-11-15 08:16] devkapilbansal commented on #597
@PrashanthPuneriya assign this to me

[2020-11-15 08:18] devkapilbansal commented on #481
@vj-codes I think that this issue is available now as the assignee is not responding. Please update the labels accordingly.

[2020-11-15 21:08] devkapilbansal opened #927 "Responses does not list username is invalid"
**Describe the bug**

Here username is invalid is returned but not documented in the responses.

https://github.com/anitab-org/mentorship-backend/blob/0cf4d9de952edac8569adfaa9c08ae7defdf5a26/app/api/validations/user.py#L123-L126
![ss](https://user-images.githubusercontent.com/42766576/99196751-6494c500-27b4-11eb-9ea2-d31a8b8184ad.png)

**To Reproduce**

Steps to reproduce the behavior:

1. Go to

[2020-11-16 12:04] devkapilbansal commented on #927
@PrashanthPuneriya add appropriate labels

[2020-11-16 18:24] 17sushmita commented on #927
Can I work on this?

[2020-11-17 15:11] vj-codes commented on #481
Removing your assignment @kahanikaar due to inactivity .

[2020-11-19 01:16] #774 closed, assigned to aditya2499

[2020-11-19 04:47] msklarek commented on #927
Can I work on this?

[2020-11-19 23:53] #870 closed, assigned to codesankalp

[2020-11-23 02:09] #923 closed, assigned to 17sushmita

[2020-11-24 18:43] rpattath commented on #918
@17sushmita are you still interested in working on this issue?

[2020-11-24 18:51] 17sushmita commented on #918
Yes I'd like to work on this

[2020-11-24 18:59] isabelcosta commented on #903
@devkapilbansal if you can verify this, it would be amazing.

@epicadk can you please add more information to the ticket, for example how to reproduce this bug you found, so that whoever works on it, can have an example to follow. Also if you have any idea of a potential solution, even if its not the one being implemented, please put it in the alternatives :)

[2020-11-24 18:59] rpattath commented on #918
@17sushmita all your's ! Good luck :tada:

[2020-11-24 19:10] epicadk commented on #903
@isabelcosta done . @devkapilbansal I have added steps to reproduce the issues please let me know if I should elaborate any further.

[2020-11-24 23:19] isabelcosta commented on #927
@msklarek I can assign it to you, since #918 is assigned to @17sushmita already :)

[2020-11-25 05:13] epicadk opened #929 "QA: Manual test and report or create test for sql injections on a local instance of the API"
**Warning**
This issue involves SQL injections. SQL injections should be performed on your local instance of the API and not the main API itself. If you do need to use the main API please make sure you have the necessary permission from one of the maintainers (@isabelcosta).

**Is your feature request related to a problem? Please describe.**

Currently there are no tests for SQL injections.

**Des

[2020-11-26 18:46] #701 closed, assigned to SanketDG

[2020-11-26 23:37] msklarek commented on #927
Hello, just wanted to post an update that I am starting to work on this issue.

[2020-11-27 02:42] msklarek commented on #927
The information in the bug does not seem to be correct. Below is my observation:

The bug mentions that the /user(updates user profile) does not document the error responses which can be sent by the method [validate_user_registration_request_data](https://github.com/anitab-org/mentorship-backend/blob/1643e7e3f987aa418fb6477646fe685871eec8bf/app/api/validations/user.py#L33)

Although it should be n

[2020-11-27 14:45] devkapilbansal commented on #927
@msklarek just updated the comment. I saw that I link different lines above

[2020-11-29 18:23] devkapilbansal opened #931 "Internal Server Error while registering"
**Describe the bug**
While creating a new user, I got internal server error due to some constraint violations

**To Reproduce**
Not able to reproduce

**Expected behavior**
It should give error message instead of server error
**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu 20.0.4
 - Browser [e.g. chrome, safari] Chromium

[2020-11-29 18:24] devkapilbansal commented on #931
Here is the traceback in backend that I got:-

**TLDR**

[code]

[2020-11-29 18:35] devkapilbansal commented on #903
Valid Issue :heavy_check_mark:

Thanks @epicadk to point out this security bug

Tested locally and able to get new access token using old refresh token that should not happen

**TLDR**

- Changing Password Screenshot
![change_password](https://user-images.githubusercontent.com/42766576/100550380-a71fcc80-329f-11eb-86b5-2a68593dc158.png)

- Successful Refresh
![successful_refresh](https://user-imag

[2020-11-29 18:36] devkapilbansal commented on #903
Also, I noticed that in the refresh endpoint it should mention refresh token instead of access token here

![refresher](https://user-images.githubusercontent.com/42766576/100550405-ca4a7c00-329f-11eb-8b32-e7a9c098bb98.png)

Therefore, opening an issue for this too

[2020-11-29 18:36] devkapilbansal commented on #903
@isabelcosta @vj-codes @rpattath please label this issue

[2020-11-29 18:42] devkapilbansal opened #932 "Refresh Endpoint should mention Refresh token instead of access token"
**Describe the bug**

In refresh endpoint (to get new access token), it is mentioned to use in the `Authorization` field's input description, an access token, but it should mention refresh token.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'Users' Section
2. Scroll down to refresh endpoint
3. See access token mentioned there instead of refresh token

**Expected behavior**

API en

[2020-11-29 18:43] devkapilbansal commented on #931
It would be great if someone can try and reproduce this error

[2020-11-29 20:06] isabelcosta commented on #903
thank you for such a thorough test and showing the output here 🙌 @devkapilbansal

[2020-11-29 20:07] isabelcosta commented on #903
@devkapilbansal can you link up the issue here, in case you already created it?

[2020-11-29 20:12] devkapilbansal commented on #903
The issue is #932

[2020-11-30 04:17] msklarek commented on #927
https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/Questions/near/218050274

[2020-11-30 13:26] epicadk opened #933 "Feature/bug: Decreasing the expiry time for access tokens."
**Is your feature request related to a problem? Please describe.**

The access tokens have an expiry set to one week.

**Describe the solution you'd like**

Reduce the time to somewhere around 10 mins.

**Additional context**

This will ensure that even in the case where an access token is compromised it may be used only for a short period of time before it expires.

[2020-11-30 23:57] devkapilbansal commented on #933
@epicadk probably expiry time is increased here only for testing purpose.

[2020-12-01 00:18] devkapilbansal commented on #141
@vermastuti Are you still interested in this issue??

[2020-12-01 00:20] devkapilbansal commented on #142
@vj-codes please make this issue available again

[2020-12-01 03:51] epicadk commented on #933
I spoke to @isabelcosta and that's not the case.

[2020-12-03 05:03] msklarek commented on #927
Update: I will be working further on this tomorrow. Thanks.

[2020-12-05 18:00] epicadk opened #934 "Feat : Fix delete endpoint"
**Is your feature request related to a problem? Please describe.**

Currently User data like relations is not delete when a user deletes their account.

**Describe the solution you'd like**

User data should be deleted when they delete their account or can be replaced with some value that suggests the account was deleted.

**Additional context**

Alter tables

[2020-12-06 00:03] msklarek commented on #927
Update: Opened a PR. Please help review.

[2020-12-07 04:43] JadeHayes commented on #932
Hello 👋 , if this issue is still available I'd love to work on this.

[2020-12-10 00:45] marianayap commented on #934
Hello! Do you want the the whole user information to be deleted or just some information in specific and if that's the case which information should be deleted?

[2020-12-10 18:35] epicadk commented on #934
I think everything should be deleted.

[2020-12-12 21:09] #918 closed, assigned to 17sushmita

[2020-12-12 21:19] #597 closed, assigned to devkapilbansal

[2020-12-13 19:27] devkapilbansal commented on #932
@JadeHayes You can ping someone on [zulip](https://anitab-org.zulipchat.com/) to assign this issue to you.

[2020-12-14 16:55] marianayap commented on #934
@sanchibansal340 Hello! I'll like to work on this issue

[2020-12-14 20:23] tichnas commented on #932
Hi @devkapilbansal I'd love to work on this issue, can I please be assigned?
Thanks :)

[2020-12-15 06:36] vj-codes commented on #932
@JadeHayes hey would you still like to work on this ?
@tichnas If there's no reply I'll assign it to you :)

[2020-12-16 02:32] marianayap commented on #934
@isabelcosta Hello! I'm currently working on this issue, but I have some questions to continue. I enrolled in Zulip, but I don't have a clear in which channel to ask about this issue and tokens.

[2020-12-16 02:53] marianayap commented on #933
@isabelcosta @epicadk Hello! is someone working in this bug?

[2020-12-16 18:24] vj-codes commented on #932
Assigning you @tichnas
Happy coding!

[2020-12-16 18:32] tichnas commented on #932
Thanks @vj-codes for assigning me the issue.
I have a potential solution which I've pushed to my fork. Can you please take a look to make sure what I did is correct? Or should I open a PR directly?

[2020-12-16 18:48] devkapilbansal commented on #932
@tichnas I was just looking to your fork. I will check if it is fine today. Although it would be better if you open a Work in Progress PR so that others may know about the work and can give their useful review

[2020-12-16 19:33] tichnas commented on #932
@devkapilbansal I've opened a draft PR.

Can you please guide me on what exactly `Update Swagger documentation and the exported file at /docs folder` means? I've updated the swagger but have no idea about exporting it.

Thanks

[2020-12-16 19:42] devkapilbansal commented on #932
@tichnas the `docs` folder contains some `manual_tests` too which needs to be updated.
In this [file](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/manual_tests/user_refresh_token.md) you can see that the screenshots too mention `access token` instead of refresh token which is incorrect, and you need to update that images too

[2020-12-16 19:52] tichnas commented on #932
@devkapilbansal Ok, thanks for the nice explanation. I'll update the screenshots asap and will let you know.

[2020-12-16 23:14] isabelcosta commented on #931
@devkapilbansal it would be interesting to know the conditions in which you got this. Like, which data you used to register a user 🤔 like POST data (without revealing anything you think should be private).Thank you for reporting this anyways, even if you can't reproduce, someone can still look into this 🙌

[2020-12-16 23:16] #744 closed, assigned to Nibba2018

[2020-12-17 14:03] tichnas commented on #927
@msklarek Are you working on the merge conflicts in your PR?
If not, can I please work on this issue? @isabelcosta

[2020-12-17 18:09] tichnas commented on #903
@isabelcosta @devkapilbansal Can I please get assigned as no one is working on this issue?
Thanks

[2020-12-17 18:10] devkapilbansal commented on #903
@tichnas consider asking it on zulip. You can work on this as soon as you are assigned to it

[2020-12-17 18:51] gaurivn commented on #903
Assigned @tichnas

[2020-12-17 18:54] tichnas commented on #903
Thanks a lot @gaurivn

[2020-12-17 19:12] gaurivn commented on #903
You're welcome

[2020-12-17 21:36] gaurivn commented on #934
Hi @marianayap, you can ask questions pertaining to mentorship-backend [here](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/mentorship-backend).

[2020-12-17 21:39] gaurivn commented on #934
This issue is not yet approved and made available, for now, pls look for issues labeled available.

[2020-12-17 21:40] marianayap commented on #934
Thank you!

[2020-12-21 19:14] isabelcosta commented on #395
@Anmollenka @RiaDhanani are you still interested in contributing to this issue?
If no response in 3 days, @justdvnsh you can send a PR to this if you still want.
cc @vj-codes

[2020-12-21 19:38] isabelcosta commented on #528
@sujal111 are you interested in this issue still? we can assign this to you, if you are interested
cc @vj-codes

[2020-12-21 19:41] sujal111 commented on #528
No,m not interested

On Tue, 22 Dec, 2020, 1:08 AM Isabel Costa, <notifications@github.com>
wrote:

[2020-12-21 19:43] isabelcosta commented on #528
That's ok, thank you for your response @sujal111

[2020-12-21 19:45] sujal111 commented on #528
You're welcome!

On Tue, 22 Dec, 2020, 1:14 AM Isabel Costa, <notifications@github.com>
wrote:

[2020-12-21 19:56] #745 closed, assigned to codesankalp

[2020-12-21 20:01] #613 closed, assigned to amritada

[2020-12-22 04:15] RiaDhanani commented on #395
@isabelcosta Yes. I just wanted to understand in a little more detail what the issue was about.

[2020-12-22 07:14] Aaishpra commented on #846
@PrashanthPuneriya @isabelcosta can I take this up?

[2020-12-22 09:09] #526 closed, assigned to nobody

[2020-12-22 12:14] devkapilbansal commented on #846
I don't think that this issue is valid anymore. Can you please reproduce it first @Aaishpra ?

[2020-12-22 12:56] isabelcosta commented on #846
Just a comment, actually, the value being shown on Swagger UI should be in number format: so 200 instead of `HTTPStatus.OK`. In the code it should use the `HTTPStatus` enum, but it should show the real number in the Swagger UI. I think this issue is not about that, but it is instead about if is there numbers hardcoded in the code (instead of enums). so this should still be checked how @devkapilban

[2020-12-22 14:24] isabelcosta commented on #395
@RiaDhanani no problem, so the idea is to return along with user data, the user creation timestamp, which is part of the `UserModel`.
Here's an example of the user response data from `GET /users` API:

![image](https://user-images.githubusercontent.com/11148726/102898449-6d3a8400-4461-11eb-9773-5b515c5c4f05.png)

Does it make sense?

[2020-12-22 14:26] Aaishpra commented on #846
@devkapilbansal you are right this issue is not valid anymore, I reproduced it in the Heroku app and the status codes are displayed correctly for mentorship relations, #924 already solved it.

[2020-12-22 14:41] Aaishpra commented on #598
@isabelcosta @devkapilbansal I don't see any updates on the PR by the current assignee so, can I work on this?

[2020-12-22 15:34] Aaishpra commented on #846
@isabelcosta @devkapilbansal shall I open the issue and work on it  according to as @isabelcosta suggested.

[2020-12-22 16:18] devkapilbansal commented on #598
@Aaishpra please wait for some more time for the assignee to respond. As the PR is complete and needs some minor merge conflicts only

[2020-12-22 16:20] Aaishpra commented on #598
No problem, The pr is already 5 months old that's why i asked.

@rashikaqureshi can you solve the conflicts.

[2020-12-22 16:23] devkapilbansal commented on #598
I tag the assignee again. If the assignee doesn't respond within two-three days then this issue can be assigned to you

[2020-12-22 19:42] isabelcosta commented on #846
Ok so if this is not valid anymore I will close this @devkapilbansal @Aaishpra

@Aaishpra yes, you can create the issue for it and work on it :) Try to create an issue for a module of the code. For example, you can create an issue to do what I mentioned for Admin API or Mentorship Relation API or User API. So that the file changes in the code review are "small" and easier to review. Makes sense?

[2020-12-22 19:43] #846 closed, assigned to nobody

[2020-12-23 02:16] madhhuurrii commented on #528
@isabelcosta @vj-codes Can I take this issue?

[2020-12-23 06:20] Aaishpra commented on #846
Thanks, @isabelcosta  got your point will create an issue for the mentorship_relation Api first and work on it and after that we can  create more for the remaining APIs.

[2020-12-23 06:31] Aaishpra opened #939 "Bug:Use HTTPStatus code values instead of enum representation, in mentorship_relation API in Swagger UI"
**Describe the bug**

The values shown on Swagger UI of mentorship_relation API should be in number format instead of Enum Representations of Status Codes. For example 200 instead of HTTPStatus.OK.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://mentorship-backend-temp.herokuapp.com/
2. Scroll down to ```mentorship_relation```
3. See enum representation.
4.
![image](https://u

[2020-12-23 06:33] Aaishpra commented on #939
@isabelcosta can you have a look at the issue and assign this to me?
Thanks.

[2020-12-23 12:42] isabelcosta commented on #939
Sounds good, I will assign it to you @Aaishpra

[2020-12-23 12:44] Aaishpra commented on #939
Thanks, will start working on this as soon as i setup the project 😄

[2020-12-23 12:45] isabelcosta commented on #939
To enhance your issue, I added a screenshot of how it shows up now with enum representation

[2020-12-23 12:53] isabelcosta commented on #528
sure @madhhuurrii :) assigning it to you

[2020-12-23 13:05] Aaishpra commented on #939
Thanks a lot 😊

[2020-12-24 09:10] Aaishpra commented on #939
@isabelcosta @devkapilbansal @vj-codes I have some doubts, regarding how to proceed further in this issue. Since the swagger.json file was deleted by #804, I managed to find two links to find the swagger.json [this](http://mentorship-backend-temp.herokuapp.com/swagger.json) and after setting up the project locally [this](http://127.0.0.1:5000/swagger.json) after that I tried to save the swagger.js

[2020-12-24 09:20] Aaishpra commented on #939
Another thing, after some research I found [this](https://editor.swagger.io/) editor and copied the swagger.json there, editing here I can see the changes. But  I am still, not sure if this is the correct way to edit a swagger.
Or how can I save and push my changes after I finish editing in that editor?

[2020-12-24 09:46] devkapilbansal commented on #939
@Aaishpra you should look into mentorship.py file
There you can see that it is returning HTTPStatus.Ok but it should return something like `HTTPStatus.OK.value`. To get better idea look into the existing PRs on hard coded status codes
Some of them are #924 #860

[2020-12-24 09:53] Aaishpra commented on #939
Ohh now i get it, so we have to make changes in mentorship_relation.py file only.
Not in the swagger.json

[2020-12-24 10:01] devkapilbansal commented on #939
Yes, you need to make changes in UI only
Cc:- @isabelcosta

[2020-12-24 12:03] Aaishpra commented on #939
@devkapilbansal @isabelcosta i changed all the ```HTTPStatus.x``` to ```HTTPStatus.x.value``` in mentorship_relation.py and I think this has worked correctly
![image](https://user-images.githubusercontent.com/66299533/103087557-df4fcc00-460d-11eb-911e-ac1826f4fdc4.png)
Shall I submit PR if this looks right to you people?

[2020-12-25 13:28] madhhuurrii commented on #528
Hii!! @isabelcosta Please review my PR :)

[2020-12-26 18:08] diananova commented on #395
If @RiaDhanani doesn't respond, I can work on this!

[2020-12-26 23:47] diananova commented on #736
Hi I'd love to work on this!

[2020-12-27 08:12] vj-codes commented on #395
@RiaDhanani hey are you interested to work on this ? Otherwise the issue will be assigned to the contributor who claimed in next:)

[2020-12-27 14:34] devkapilbansal opened #944 "Tests Failing on latest version of PyJWT"
**Describe the bug**

PyJWT was updated approx a week ago which results in failing tests on the pull requests.

**To Reproduce**

Steps to reproduce the behavior:

1. Setup the project as per instructions
2. Run Tests to ensure all tests passed

**Expected behavior**

All tests should pass as expected

[2020-12-27 14:36] devkapilbansal commented on #944
<details>
<summary>Here is the traceback of one test:</summary>
ERROR: test_second_user_cannot_be_admin (users.test_database_model.TestAdminUserModel)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/kapil/Development/ANITA-B/mentorship-backend/venv/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1243, in _execute_

[2020-12-27 14:36] devkapilbansal commented on #944
Errors in #935 and #838 due to this issue

[2020-12-27 14:37] devkapilbansal commented on #944
@vj-codes @isabelcosta @PrashanthPuneriya please assign this issue to me

[2020-12-27 14:40] diananova commented on #944
I solved this issue in #943 by updating the version of Flask-JWT in requirements.txt

[2020-12-27 14:44] devkapilbansal commented on #944
@diananova good to see that you solve this issue. But this issue is no where related to the issue assigned to you. So, you can make a new PR for this change once this issue is approved

[2020-12-27 14:55] devkapilbansal commented on #840
@vj-codes @rpattath as `swagger.json` file has been removed now. Is the issue and linked PR valid?

[2020-12-27 14:59] vj-codes commented on #395
@diananova hey welcome to the community!
According to the community guidelines a contributor cannot create an PR for an issue until that specific issue is assigned to you.
I will be closing the PR for now but if @RiaDhanani doesn't respond within a day or two this issue will be assigned to you and the PR you've created will be reopened .
How's that? If you have any more questions do update;)

[2020-12-27 15:02] vj-codes commented on #840
@devkapilbansal although the file is deleted, the swagger.json endpoint is still there on the heroku link . If there is a need to beautiful that endpoint, a new issue cn be created and these could be closed. What say?

[2020-12-27 15:03] diananova commented on #395
@vj-codes oh sorry! Sounds great, thank you 😊

[2020-12-27 15:13] vj-codes commented on #944
Assigning you @devkapilbansal
Happy coding!

[2020-12-27 17:25] devkapilbansal commented on #939
@Aaishpra please open issues for other files too

[2020-12-27 21:25] isabelcosta commented on #939
@Aaishpra it looks nice :)
if you could do what @devkapilbansal said as well, that would be great 🙌

[2020-12-27 21:32] isabelcosta commented on #944
@devkapilbansal thank you for creating this issue and providing information about the issues it caused and the stack trace. this is super well documented 👏

[2020-12-27 21:35] #944 closed, assigned to devkapilbansal

[2020-12-27 23:25] diananova commented on #437
I think this issue was fixed in pr #489 (as mentioned in #456).

[2020-12-28 05:07] Aaishpra commented on #939
Sure, I will open the issues for user and admin api @devkapilbansal @isabelcosta

[2020-12-28 05:07] Aaishpra commented on #939
Thanks.

[2020-12-28 05:22] Aaishpra opened #946 "Use HTTPStatus code values instead of enum representation, in Admins API in Swagger UI"
**Describe the bug**

The values shown on Swagger UI of Admins API should be in number format instead of Enum Representations of Status Codes. For example 200 instead of HTTPStatus.OK.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://mentorship-backend-temp.herokuapp.com/
2. Click on Admins API
3. See enum representation
![image](https://user-images.githubusercontent.com/66299

[2020-12-28 05:29] Aaishpra opened #947 "Use HTTPStatus code values instead of enum representation, in Users API in Swagger UI"
**Describe the bug**

The values shown on Swagger UI of Users API should be in number format instead of Enum Representations of Status Codes. For example 200 instead of HTTPStatus.OK.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://mentorship-backend-temp.herokuapp.com/
2. Scroll down to Users API
3. See enum representation.
![image](https://user-images.githubusercontent.com/

[2020-12-28 16:30] surbhigoel191 opened #948 "Heroku app broken links"
## Description
To fix the broken link to wiki guide in the Heroku app and remove repeated lines.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
15 minutes

[2020-12-28 16:48] vj-codes commented on #948
Assigning you @surbhigoel191
Happy coding!

[2020-12-28 19:44] surbhigoel191 commented on #947
Kindly assign this issue to me.

[2020-12-28 19:59] isabelcosta commented on #947
Hi @surbhigoel191 sure :)

[2020-12-28 20:00] isabelcosta commented on #947
@surbhigoel191 I will unassign until you solve the other issue you were assigned to :) #948

[2020-12-29 15:21] vj-codes commented on #395
Assigning you @diananova
Happy coding!

[2020-12-29 21:07] #395 closed, assigned to diananova

[2020-12-29 21:15] #932 closed, assigned to tichnas

[2020-12-29 21:30] #948 closed, assigned to surbhigoel191

[2020-12-30 13:04] vj-codes commented on #911
@faznan3nazer hey how's the PR going? Any updates?

[2020-12-30 13:05] vj-codes commented on #899
@gitpurva how's the PR going? Any updates?

[2020-12-30 13:06] vj-codes commented on #910
@shankybnl hey are you still interested to work on this issue?

[2020-12-30 17:08] surbhigoel191 opened #954 "Update Readme.md with the instructions for running unittests"
## Description
Mention commands for running the python unittests (missing '-v' tag as of now) along with installing and creating codecov report in the terminal.

## Acceptance Criteria
### Update [Required]
- [ ] Correct commands for all the tasks.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10 minutes

[2020-12-30 17:13] faznan3nazer commented on #911
@vj-codes  I am working on this issue and will create PR in this week.

[2020-12-31 07:53] aakankshaagr commented on #946
Heyy @isabelcosta @Aaishpra Can you assign this issue to me? I would like to work on this issue. I have seen similar issues and I am confident l can  solve it.

[2020-12-31 19:14] devkapilbansal commented on #840
@vj-codes as far as I know, that endpoint is created by the `flask-restx` itself and it may be not be that easy too.
@SanketDG already had a discussion on it here :arrow_down:
https://github.com/anitab-org/mentorship-backend/pull/847#issuecomment-691432446

[2020-12-31 19:23] devkapilbansal commented on #598
@Aaishpra please tag the team on [zulip](https://anitab-org.zulipchat.com/) and asked for this issue. This issue will be assigned to you then.
Cc:- @vj-codes

[2020-12-31 19:25] devkapilbansal commented on #933
@marianayap consider asking it on [zulip](https://anitab-org.zulipchat.com/)

[2020-12-31 20:32] vj-codes commented on #840
@devkapilbansal it's best to close the PR and issue then:)

[2020-12-31 20:32] #840 closed, assigned to khushishikhu

[2020-12-31 20:40] vj-codes commented on #598
@Aaishpra hey I will be closing the linked PR due to inactivity and the issue will be available again , however it's a `first timers only` issue and unfortunately you can't be assigned to this .
Do comment on any other issue you would like to work on:)
cc: @devkapilbansal

[2021-01-01 06:05] ghost opened #955 "create CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
It maybe difficult for beginners to figure out what to do so a clear guide will certainly be helpful.

**Describe the solution you'd like**
Add CONTRIBUTING.md describing  clearly what to do to contribute to open source.

**Describe alternatives you've considered**
The file can be like https://github.com/Tejas1510/Athavani/blob/mas

[2021-01-01 13:25] Aaishpra commented on #598
Sure, No problem

[2021-01-01 16:52] diananova commented on #955
I think it already exists. Here: https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md. There's also a section Contributing in the README.

[2021-01-01 18:16] ghost commented on #955
Ok sorry i missed it i am closing this issue.

[2021-01-01 18:16] #955 closed, assigned to nobody

[2021-01-03 09:15] Aaishpra commented on #595
Hey, @vj-codes can I get assigned here.

[2021-01-03 11:17] Aaishpra commented on #946
You can ask on zulip someone might assign you.
As for me I don't have the authority to assign issues here.

[2021-01-03 11:49] vj-codes commented on #595
Assigning you @Aaishpra
Happy coding!

[2021-01-03 12:25] vj-codes commented on #946
Assigning you @aakankshaagr and welcome to the community!
Happy coding!

[2021-01-03 12:56] aakankshaagr commented on #946
Thank you @Aaishpra for guidance.

I can see these changes on my local server
Changes in (/admin​/new) section of admin
![task3](https://user-images.githubusercontent.com/71868375/103478823-54ca5200-4def-11eb-8f29-8086a9abc28c.jpg)

Changes in (/admin​/remove) section of admin
![task2](https://user-images.githubusercontent.com/71868375/103478839-6ca1d600-4def-11eb-8876-d912cd4f5a56.jpg)

@isabelco

[2021-01-03 13:34] vj-codes commented on #946
@aakankshaagr you can submit a PR for review

[2021-01-03 13:45] Aaishpra commented on #595
Thanks for the quick response @vj-codes

[2021-01-03 17:04] surbhigoel191 commented on #739
@vj-codes May I work on this issue? :)

[2021-01-03 17:46] vj-codes commented on #739
@surbhigoel191 this issue is not available , it's assigned to another contributor and a PR has been created too.
You can go through issue with the label `Status: Available` and comment :)

[2021-01-04 10:15] lavanaythakral commented on #946
Hi, Is this still open?

[2021-01-04 13:25] tichnas opened #957 "Use HTTPStatus instead of hard-coded values in tests/users"
## Description
As a developer,
I need to avoid using hard-coded values wherever possible,
so that I can make code more readable and scalable.

## Acceptance Criteria
### Update [Required]
- [ ] Use `HTTPStatus` instead of hard-coded response status codes (like in the API) in `tests/users`
 ## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimati

[2021-01-04 13:26] tichnas commented on #957
@isabelcosta Please review/accept this issue. Thanks

[2021-01-04 15:27] Aaishpra commented on #946
Looks nice to me 😄@aakankshaagr Just remember not to add .value in the code with return statement as the codecov test fails because of it. You can Checkout the discussion [here](https://github.com/anitab-org/mentorship-backend/pull/952#discussion_r549875920)

[2021-01-04 15:31] Aaishpra commented on #946
@lavanaythakral the issue has already been assigned to @aakankshaagr. You can check out  other issues :)

[2021-01-04 17:36] surbhigoel191 opened #958 "Actual response message & Status code and that stated in the Responses section don't match"
**Describe the bug**

While creating user, if the username/password are too short (let's say 2 characters), the actual response will show different min. limit from min. limit stated in the Responses section and Conflict status code while it is documented as Bad_Request. And in case the name is short, that error is not even listed in the Responses but shown in the actual response.

**To Reproduce**

[2021-01-04 18:17] surbhigoel191 commented on #598
I would like to work on this issue.

[2021-01-04 19:57] isabelcosta commented on #957
@tichnas could you please follow one of the issue templates provided https://github.com/anitab-org/mentorship-backend/tree/develop/.github/ISSUE_TEMPLATE?
I would recommend the user-story one.

[2021-01-05 05:34] tichnas commented on #957
@isabelcosta Sorry for the inconvenience, I was confused between which template to use.
I've updated the description, can you please check it once again? Thanks

[2021-01-05 08:11] vj-codes commented on #954
@surbhigoel191 the command for running unittests is already present in readme and works good , can you share a resource as to why `-v tag` should be added in command ?

[2021-01-05 10:32] surbhigoel191 commented on #954
On adding -v tag it will be clearly visible which function of which file is running and giving the error. I found it useful so thought of adding it :)

[2021-01-05 12:46] NenadPantelic commented on #653
@mtreacy002  Is this still active? I could work on this :smile:

[2021-01-05 18:05] shankybnl commented on #910
@vj-codes Sorry for the late reply. I won't be able to work on it right now.

[2021-01-05 18:32] sankha555 commented on #958
Hello @surbhigoel191,
I think I have found out the code fragment due to which this inconsistency is arising and would like to fix it. Can you please assign this issue to me?

Also, the running the server on "local" mode doesn't produce exactly this page (eg. there is not HTTPStatus.CONFLICT and their corresponding messages in the description in responses, it only has the code status like 200 and 4

[2021-01-05 18:36] sankha555 commented on #957
@isabelcosta @tichnas can I please work on this issue?  I can make a patch replacing all the hardcoded error codes with their corresponding HTTPStatus.response values if you could please assign it to me. Thanks!

[2021-01-05 20:37] tichnas commented on #957
Hi @sankha555, thanks for your interest in the issue. I think this issue is simple, so why not keep it as the first-time issue to help newcomers get started? What do you suggest @isabelcosta?

[2021-01-06 03:59] mtreacy002 commented on #653
@nandini45, can you let us know if you're still working on this issue or is it ok if @NenadPantelic pick it up now?

[2021-01-06 06:45] nandini45 commented on #653
I am not working.
Sorry for the inconvenience
U can assign it to nenand

On 6 Jan 2021 9:29 a.m., "Maya Treacy" <notifications@github.com> wrote:

[2021-01-06 07:34] vj-codes commented on #653
Assigning you @NenadPantelic
Happy coding!

[2021-01-06 07:37] vj-codes commented on #958
@surbhigoel191 thank you for creating this issue , however this is a duplicate of issue #653 so I will be closing it now to avoid conflicts .
@sankha555 you can go through other available issues for your contributions :)

[2021-01-06 07:37] #958 closed, assigned to nobody

[2021-01-06 12:39] madhhuurrii commented on #528
Hii @isabelcosta I have done appropriate changes Please review them

[2021-01-07 00:02] isabelcosta commented on #957
@tichnas this could be done in small PRs to avoid enormous PRs. So we could do this issue about one of the tests folders. For example, one issue could be about doing this for `tests/tasks` folder, and another issue for `tests/users`.

Could you make this issue about one of the folders please (by editing title and description)? Then If you can feel free to create the other issues or ask ion Zulip a

[2021-01-07 00:24] #947 closed, assigned to surbhigoel191

[2021-01-07 05:26] vj-codes commented on #957
@isabelcosta yes I agree :)
@tichnas please spilt this issue with either tasks or users subpart and let us know if you are availableto create the other similarly or not

[2021-01-07 07:54] NenadPantelic commented on #653
@mtreacy002 @vjcodes Hi, I made a PR regarding this issue. Can you please review it? Thanks :slightly_smiling_face:

[2021-01-07 20:41] anushka17agarwal commented on #946
Is this issue still open? I'd like to contribute to this.

[2021-01-08 04:38] Aaishpra commented on #946
@isabelcosta the issue has already been solved by #956 but not closed (as the assignee did not mention the issue number in the PR correctly, so the PR has been merged but this issue is still open).

So, please close this, as it's creating confusion for newcomers.

[2021-01-08 04:39] Aaishpra commented on #946
This issue has been solved already, you can look for other issues.
Thanks

[2021-01-08 05:19] vj-codes commented on #946
Closing the issue as PR has been merged as mentioned above.
Thank you @Aaishpra for creating this issue xD 🚀

[2021-01-08 05:19] #946 closed, assigned to aakankshaagr

[2021-01-08 06:23] vj-codes commented on #931
@devkapilbansal hey is this issue resolved ?You have used duplicate key value and probably an error by psycopg2 .
Can you try keeping all values unique ? If it still throws the same error do share the data as suggested above

[2021-01-08 06:26] vj-codes commented on #859
Closing since the current description in readme is accurate and to the point .

[2021-01-08 06:26] #859 closed, assigned to nobody

[2021-01-08 06:37] devkapilbansal commented on #931
Yes, @vj-codes I used duplicate keys but instead of a 400( bad request), it gives me internal server error. Also, data as asked by @isabelcosta is already there in the last line of error. My main concern was that it can leak potential information to end user.
Also, as I am not able to retrace it and it may be due to the dependencies issues that has been solved now. It is safe to close it.

[2021-01-08 06:37] #931 closed, assigned to nobody

[2021-01-08 11:55] NenadPantelic commented on #598
HI @isabelcosta , @vj-codes :wave:. I would like to take on this?

[2021-01-08 12:04] vj-codes commented on #598
@surbhigoel191 @NenadPantelic this is a `first timers only issue` and both of you have already made your first contributions so unfortunately this can't be assigned to you .
Do go through other issues and comment :)

[2021-01-09 10:33] sankha555 commented on #910
@vj-codes Shall I take this up?

[2021-01-09 10:57] vj-codes commented on #910
Assigning you @sankha555
Happy coding!

[2021-01-10 08:45] sankha555 commented on #910
@vj-codes @rpattath Made a PR containing the user journey. Kindly take a look at it and let me know your reviews about it. Thanks!

P.S. I encountered one importing error while making the patch. I took ideas from this [journey](https://github.com/anitab-org/mentorship-backend/blob/develop/tests/user_journey/test_happy_path_1.py ) and made the same imports with the addition of the ```http``` librar

[2021-01-10 14:58] sankha555 commented on #899
@vj-codes can I take this up if there hasn't been much activity on it yet and can assign it to me? I can make a PR with the following roadmap:

1. Create a short md file showing what models I'll make, and related endpoints
2. Integration of Google calendar API with our API
3. After showing this initial ideation, I can also take up the task of implementing the idea if the idea seems good and integr

[2021-01-10 18:47] vj-codes commented on #899
Assigning you @sankha555
Happy documenting!

[2021-01-10 18:48] vj-codes commented on #899
@gitpurva removing your assignment due to inactivity.

[2021-01-10 21:25] NenadPantelic commented on #738
@vj-codes @PrashanthPuneriya Can I take this?

[2021-01-11 04:54] vj-codes commented on #738
Assigning you @NenadPantelic
Happy refactoring!

[2021-01-11 17:05] NenadPantelic commented on #738
Thanks @vj-codes :slightly_smiling_face:

[2021-01-11 18:17] surbhigoel191 commented on #571
I would like to work on this issue! @isabelcosta @mtreacy002

[2021-01-12 05:23] sankha555 opened #965 "docs: Update environment variables declarations in documentation"
**Describe the bug**

As a developer,
I would like to be able to install and repository on my local system. Using any development configuration other than "local", requires one to add a few more environment variables. One of them, the declaration of "MOCK_EMAIL" has a slight misprint, due to which newcomers might face problems in settings up the repo. The issue is that there is whitespace between

[2021-01-12 05:24] sankha555 commented on #965
@isabelcosta @vj-codes What do you think about this issue? If you think that this needs to be fixed, I would go ahead and create a PR to address the same. Eagerly awaiting your reviews. Thanks!

[2021-01-12 05:38] sankha555 commented on #911
@vj-codes Shall I take up this issue if you think I can be assigned? I have created a similar patch before for a rejection journey too and will be able to make this is in a jiffy. Awaiting your thoughts, thanks!

[2021-01-12 18:49] faznan3nazer commented on #911
@vj-codes This is my first try at coding PR... I am still figuring out to run this... so I just want to let you know that I am still working on this issue and I will update my status every two days...

[2021-01-12 18:59] vj-codes commented on #911
@faznan3nazer hey no problem take your time:)
If you need any help do message on zulip 😃
@sankha555 this issue is not available , do go through other available issues 🚀

[2021-01-12 20:19] vj-codes commented on #965
@sankha555 hey nice catch here !
Was able to reproduce it on my side, another observation is that `set` which is used on Windows OS allows spaces ,but export doesn't and thus issue is valid :)
Since this is a relatively easy fix let's keep this open for newcomers only.
Thank you for creating the issue🎉
![image](https://user-images.githubusercontent.com/60894542/104367749-41329000-5541-11eb-927d-e8

[2021-01-13 04:48] sankha555 commented on #965
Sure @vj-codes , this will be a good issue to get newcomers started. Thanks for your motivating words! 😄

[2021-01-13 18:56] vj-codes opened #966 "Use HTTPStatus instead of hardcoded values in tests/admin"
## Description
As a developer,
I need to avoid using hard-coded values wherever possible,
so that I can make code more readable and scalable.

## Acceptance Criteria
### Update [Required]
- [ ]  Use HTTPStatus instead of hard-coded response status codes (like in the API) in` tests/admin`

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimatio

[2021-01-13 19:01] vj-codes opened #967 "Use HTTPStatus instead of hard-coded values in tests/mentorship_relation"
## Description
As a developer,
I need to avoid using hard-coded values wherever possible,
so that I can make code more readable and scalable.

## Acceptance Criteria
### Update [Required]
- [ ] Use HTTPStatus instead of hard-coded response status codes (like in the API) in `tests/mentorship_relation`

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2021-01-13 19:03] vj-codes opened #968 "Use HTTPStatus instead of hardcoded values in tests/task_comments"
## Description
As a developer,
I need to avoid using hard-coded values wherever possible,
so that I can make code more readable and scalable.

## Acceptance Criteria
### Update [Required]
- [ ] Use HTTPStatus instead of hard-coded response status codes (like in the API) in `tests/task_comments`

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Es

[2021-01-13 19:06] vj-codes opened #969 "Use HTTPStatus instead of hardcoded values in tests/tasks and tests/user_journey"
## Description
As a developer,
I need to avoid using hard-coded values wherever possible,
so that I can make code more readable and scalable.

## Acceptance Criteria
### Update [Required]
- [ ] Use HTTPStatus instead of hard-coded response status codes (like in the API) in `tests/tasks` and `tests/user_journey`

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by

[2021-01-13 19:09] vj-codes commented on #957
@tichnas hey since there was no update , the issues for other folder are created , can you please edit the description of this issue to `test/users` folder ?
Thank you for creating the issue :)

[2021-01-13 20:39] chinmaym07 commented on #966
Hey @vj-codes can I try this issue .?

[2021-01-13 20:50] chinmaym07 commented on #966
Hey @vj-codes can I try this issue .?
[code]
I think I need to change these values  .?

[2021-01-14 05:33] jalajcodes commented on #967
@vj-codes Hi there! Can you assign it to me?

[2021-01-14 07:24] vj-codes commented on #967
Assigning you @jalajcodes
Happy coding!

[2021-01-14 07:25] vj-codes commented on #966
Assigning you @chinmaym07
Happy coding !
And yes you need to change those values:)

[2021-01-14 08:21] cypherean commented on #968
Hello!
Can I take this issue?

[2021-01-14 11:46] vj-codes commented on #968
Assigning you @cypherean
Happy coding!

[2021-01-14 19:06] tichnas commented on #957
@vj-codes Sorry, I got very busy in the last week and could not take out time.

[2021-01-15 11:36] battuAshita commented on #598
Hi @isabelcosta @vj-codes I would like to work on this issue.
Can this issue be assigned to me?

[2021-01-15 12:11] battuAshita commented on #965
Hi @sankha555 I would like to work on this.
Do we have to check how this works on MacOS and Version 10.14.5 Mojave also?

[2021-01-15 12:44] chinmaym07 commented on #969
Hey @vj-codes as this issue is available . Can I work upon this .?

[2021-01-15 13:29] sankha555 commented on #965
@battuAshita hey thanks for your interest! However, I can't assign the issue to you as I am not authorized to do so. You can tag the maintainers for the same!

Yes, this change will mostly be required in ubuntu and macOS systems. The change should be same across all versions of macOS, so a change in any of the version should work fine :smile:. Do ask here if you need any further help!

[2021-01-15 13:30] sankha555 commented on #969
@vj-codes, may I take this up if it's open for contribution?

[2021-01-15 13:31] Ayush23Dash opened #973 "Add Bridge in Tech in Readme as a front end project using this api"
## Description
As a visitor,
I need to know that this API is also used by Bridge in Tech,
apart from mentorship apps.

## Mocks

![Mentorship](https://user-images.githubusercontent.com/40827680/104732865-d57c3d00-5763-11eb-872a-64c9f8402b37.png)

### Update [Required]
- [ ] Update Readme

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimatio

[2021-01-15 13:54] Ayush23Dash commented on #973
@vj-codes , can you please check it out, I was setting up Bridge in Tech, and I found it to be a genuine concern. Moreover I would like to send a PR for this as my first PR in the org.

[2021-01-15 14:12] battuAshita commented on #965
Thank you @sankha555. Sure, will ask in case of further help.

[2021-01-15 14:13] battuAshita commented on #965
Hi @vj-codes I would like to work on this. Can this issue be assigned to me?

[2021-01-15 14:55] vj-codes commented on #965
Assigning you @battuAshita
Happy documenting!
Do remember to follow our commit message style guide :)

[2021-01-15 14:57] vj-codes commented on #969
Assigning you @sankha555
Happy documenting!

[2021-01-15 15:02] vj-codes commented on #973
@Ayush23Dash hey thank you for creating the issue :tada
However, the frontend mentioned in readme are the ones using all APIs , in short this is the backend of Android iOS and flutter of mentorship system app.
Bridge in tech partially uses the API, so I don't think it will be appropriate to mention it in frontend section also considering it is not completely implemented yet.
What do you think?

[2021-01-15 15:15] Ayush23Dash commented on #973
@vj-codes I get what you are trying to say, but when I was setting up Bridge in Tech, and I came to this repository , I was a bit confused on whether I am on the correct repo or not.
If you say, instead of adding it directly beneath the mobile applications, we could add a new line that says ,that it is being partially used by BIT also. I think this could make a better experience for new guys setti

[2021-01-15 16:35] battuAshita commented on #965
@vj-codes I have raised a PR #974. Please review.

[2021-01-16 22:33] devkapilbansal commented on #598
@battuAshita this issue is for *First TImers Only` and since you have already made a PR. You can't work on this issue. Go through other issues

[2021-01-17 09:35] battuAshita commented on #598
Ok:)

[2021-01-17 11:14] vj-codes commented on #973
Closing the issue as discussed in BIT open session.

[2021-01-17 11:14] #973 closed, assigned to nobody

[2021-01-17 12:13] NenadPantelic commented on #738
Hi @PrashanthPuneriya @isabelcosta  @vj-codes. I have opened a PR. Please, take a look and review it. Thanks :blush:

[2021-01-17 12:43] NenadPantelic commented on #702
@mtreacy002  @vj-codes  What's going on with this?

[2021-01-17 12:47] NenadPantelic commented on #420
@isabelcosta Is this active and available?

[2021-01-17 14:10] isabelcosta commented on #420
@NenadPantelic could you take a look at the latest PR and help us review the PR https://github.com/anitab-org/mentorship-backend/pull/488. I haven't had time to take a look at it, we can assess what changes need to be done and if some are needed and the contributor is not available we can close it and make this available again

[2021-01-17 16:46] #653 closed, assigned to NenadPantelic

[2021-01-17 17:21] aakankshaagr commented on #957
@vj-codes  Can I take this issue?

[2021-01-17 17:41] devkapilbansal commented on #736
@isabelcosta @vj-codes  please mark this issue as available

[2021-01-17 17:43] vj-codes commented on #957
Assigning you @aakankshaagr
Happy documenting!

[2021-01-17 21:16] NenadPantelic commented on #760
@paritoshsinghrahar  @isabelcosta @vj-codes @SanketDG Is this active and available for work?

[2021-01-17 23:34] #965 closed, assigned to battuAshita

[2021-01-18 11:21] NenadPantelic commented on #420
Sure @isabelcosta, I will take a look.

[2021-01-18 22:01] #633 closed, assigned to gaurivn

[2021-01-19 09:10] epicadk opened #978 "Bug : Threshold is initialized inside the for loop"
**Describe the bug**

Threshold is initialized multiple times.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://github.com/anitab-org/mentorship-backend/blob/fffb4c39027b042f392d4edf0bb462e522cb7320/app/schedulers/delete_unverified_users_cron_job.py#L24

**Expected behavior**

Threshold can be initialized outside the for loop.

**Additional context**

It would improve the perf

[2021-01-19 09:13] epicadk commented on #978
Can I work on this.

[2021-01-19 09:38] epicadk commented on #580
Can I work on this?

[2021-01-19 10:09] gaurivn commented on #580
Here you go @epicadk

[2021-01-21 12:12] Ayush23Dash opened #981 "Problem in Readme Setup instructions for bash instructions"
**Describe the bug**

The setup instructions in the readme file for Git bash users has an error.

**To Reproduce**
The steps to activate the virtual environment for Git Bash users says:
`source /venv/Scripts/activate`

**Expected behavior**
The given command should activate the virtual environment, however it doesn't do so.

**Screenshots**
![mentorshipReadmeError](https://user-images.githubuserco

[2021-01-21 12:14] Ayush23Dash commented on #981
@vj-codes , can I submit a PR to resolve this?

[2021-01-23 23:52] techno-disaster commented on #981
Looks like we missed a dot there. Assigning it to you @Ayush23Dash

[2021-01-24 02:59] #772 closed, assigned to atharwa-24

[2021-01-24 03:10] isabelcosta commented on #571
@surbhigoel191 have you confirmed that this bug is a bug. I seem to remember this as being a bug solved by https://github.com/anitab-org/mentorship-backend/pull/541. i may be confusing, but if you could check first if this is still valid that would be great :)

[2021-01-24 03:12] #616 closed, assigned to Anmollenka

[2021-01-24 10:56] NenadPantelic commented on #403
HI @isabelcosta, can I take this one. Also, I have a suggestion, I put that in one of the comments of the PR that's closely related to this. I suggested more universal search functionality - multiparams search, by verification state, location, name, skills, etc. Of course, that can be created as a completely new issue with subtasks. Here's the link of that comment: https://github.com/anitab-org/me

[2021-01-24 11:55] NenadPantelic commented on #418
@isabelcosta  What's going on with this issue?

[2021-01-24 14:52] isabelcosta commented on #418
@NenadPantelic could you look into this PR https://github.com/anitab-org/mentorship-backend/pull/545, as far as i know, we need to review that PR and help the contributor.

@EfthymiaKostaki do you still have this doubt https://github.com/anitab-org/mentorship-backend/issues/418#issuecomment-614586772?

[2021-01-24 15:00] #939 closed, assigned to Aaishpra

[2021-01-26 16:33] epicadk commented on #580
Hey I agree with @isabelcosta so unassigning myself. Please consider closing this issue or putting it on hold.

[2021-01-26 17:58] devkapilbansal commented on #580
@epicadk @isabelcosta we should handle this error on our end and then show a error message of ours.

[2021-01-26 18:12] epicadk commented on #580
I think this one does the job just fine. It's short and informative.

[2021-01-26 21:29] isabelcosta commented on #580
I am actually unsure about what to do with this. It does not show undocumented, I guess we can leave it as it is 🤔 we don't use this yet on the frontend, handling how the server responds if the input field is not what it should be.

[2021-01-26 21:48] devkapilbansal commented on #580
@isabelcosta may be we should document it (customising the error message) or we can give default as False in the field if it is empty.

[2021-01-27 18:49] #595 closed, assigned to Aaishpra

[2021-01-28 18:43] devkapilbansal commented on #603
@vj-codes @isabelcosta  this issue is already resolved in #959 when testing and fixing APIs as per this comment https://github.com/anitab-org/mentorship-backend/pull/959#issuecomment-756008533. Kindly close this issue and linked pull request.

[2021-01-28 19:34] devkapilbansal opened #987 "Tests: Cover all test cases in task.py file"
## Description
Cover all missing tests in `app/api/dao/tasks.py` file
## Test Cases
These two test cases are missing:-
`Mentorship Relation Does not exist` for Delete Task
`Mentorship Relation Does not exist` for Complete Task

## Definition of Done
- [ ] At least one test case tested.
- [x] Approval by 1 mentor.

## Estimation
2 hours

[2021-01-28 19:35] devkapilbansal commented on #987
@vj-codes @isabelcosta kindly assign this issue to me

[2021-01-28 20:13] devkapilbansal opened #989 "Tests: Cover all tests in task_comments.py"
## Description
Some tests are missing in `app/api`dao/task_comments.py` file. Cover those to ensure any new change will not break existing changes.

## Test Cases
The test cases that should be cover are:-
- Unaccepted stale relation
https://github.com/anitab-org/mentorship-backend/blob/2917a910ab34dd5b6f800e4eac08e8fa5ba3fa0f/app/api/dao/task_comment.py#L21

- Task comment does not exist

https://

[2021-01-28 20:13] devkapilbansal commented on #989
@isabelcosta please label this issue. Also, it would be better if this issue is made `first-timers-only` :thinking:

[2021-01-28 20:16] devkapilbansal opened #990 "Tests: Add missing tests in Mentorship Relation"
## Description
Some tests are missing in `app/api/dao/mentorship_relation.py` file. Cover those to ensure any new change will not break existing changes.

## Test Cases
The test cases that should be cover are:-
- Same id for relation
https://github.com/anitab-org/mentorship-backend/blob/2917a910ab34dd5b6f800e4eac08e8fa5ba3fa0f/app/api/dao/mentorship_relation.py#L50

- Incorrect End Time
https://gi

[2021-01-29 00:33] vj-codes commented on #603
@devkapilbansal I still don't see a response under 400 responses in update user profile,can you please elaborate ?
#959 is for register endpoint , this is for update user endpoint.

[2021-01-29 00:38] isabelcosta commented on #989
Sounds good @devkapilbansal ! Thank you for thinking of `first timers only` issues 🙌 💯

[2021-01-29 01:00] #981 closed, assigned to Ayush23Dash

[2021-01-29 01:03] #968 closed, assigned to cypherean

[2021-01-29 01:15] #967 closed, assigned to jalajcodes

[2021-01-29 01:50] vj-codes commented on #957
@aakankshaagr any updates?

[2021-01-29 08:07] Carlos1729 commented on #989
I would Like to work on this issue

[2021-01-29 09:20] jalajcodes commented on #990
Are you working on it? If not, I'll take it. 😄

[2021-01-29 09:49] devkapilbansal commented on #990
Are you a first timer?? If yes, ask this issue on zulip as this issue will be assigned to a `first-timer-only`

[2021-01-29 10:57] devkapilbansal commented on #990
@isabelcosta @vj-codes please label this `first-timers-only` issue too

[2021-01-29 11:04] ashwinijha6 commented on #989
Hey @devkapilbansal could I take up this issue.

[2021-01-29 12:50] jalajcodes commented on #990
No I ain't and agreed, its a good issue for first timers.

[2021-01-29 17:35] aakankshaagr commented on #957
@vj-codes  Sorry, I got very busy in  the last week due to health issues and  couldn't take out time. I am almost done. I will  submit it by tomorrow for sure

[2021-01-29 18:52] vj-codes commented on #957
@aakankshaagr hey no problem , just remember to update your progress after every 3 days if it's taking long:)

[2021-01-30 13:00] aakankshaagr commented on #957
I can see these changes on my local server.
@vj-codes @tichnas  I think this has worked correctly. Shall I submit PR if this is correct??
changes in POST/login (Login [user)

![tas2](https://user-images.githubusercontent.com/71868375/106356903-db0f8080-6328-11eb-9741-1665552797dd.jpg)

![task2](https://user-images.githubusercontent.com/71868375/106356893-cd59fb00-6328-11eb-8e61-cbda65c1af27.jpg)

[2021-01-30 14:40] aakankshaagr commented on #990
I have generated 2 PRs  and I am still trying to understand codebase so I don't know if I come under first timers or not. I found this issue different from earlier issues I have worked on as they were very similar and this one is different and within my ability to solve. So, I really wanted to work on this issue. @vj-codes Can I work on it ?

[2021-02-01 17:39] vj-codes commented on #989
Assigning you @GenRok1729
Happy coding !
@ashwinijha6 you cannot be assigned as this a `first timers` only issue :)

[2021-02-01 17:41] vj-codes commented on #990
@aakankshaagr hey no you cannot , this is for those who've never contributed to the repo before :)

[2021-02-01 17:42] vj-codes commented on #957
@aakankshaagr you can create a PR , that'll be the best way to review instead of creating a new thread in comments !

[2021-02-01 17:43] vj-codes commented on #954
@devkapilbansal what do you think about the validity of this issue ? 👀

[2021-02-01 17:50] vj-codes commented on #150
Closing since backend has https support and is no longer deployed on elastic beanstalk server

[2021-02-01 17:50] #150 closed, assigned to nobody

[2021-02-01 23:30] #966 closed, assigned to chinmaym07

[2021-02-01 23:30] #969 closed, assigned to sankha555

[2021-02-01 23:39] #927 closed, assigned to msklarek

[2021-02-02 11:58] devkapilbansal commented on #954
@surbhigoel191 why should we know which function is running? If any test gives error then it is printed on console. Adding `-v` is irrelevant and it just increase noise. I would rather prefer to decrease the output printed.

[2021-02-02 13:10] decon-harsh commented on #866
@vj-codes so if you say i would like to fix this.

[2021-02-02 16:16] vj-codes commented on #954
@surbhigoel191 as discussed above by all , this issue is not really needed right now and will be closed .
Thank you for creating the issue :)

[2021-02-02 16:16] #954 closed, assigned to nobody

[2021-02-02 18:07] aakankshaagr commented on #957
There is an error in  **`tests\mentorship_relation\test_dao_creation.py`** which I got while running `python -m unittest discover tests` command.
I don't know why tests are failing and I don't know how to solve that. @vj-codes can you please guide me how to solve this problem?

[2021-02-02 18:14] aakankshaagr commented on #957
I don't know how but all tests are passed now and I guess even that error in `tests\mentorship_relation\test_dao_creation.py` isn't there now.

[2021-02-02 18:56] devkapilbansal opened #993 "Remove tests directory from test coverage"
**Describe the bug**

At present, each directory and file is included in code coverage but tests directory should not be included there
https://github.com/anitab-org/mentorship-backend/blob/8f1906eb284cc7774cc7325a4fa519afa8a45f2a/.github/workflows/main.yml#L34

**Expected behavior**

Test directory should be excluded from the coverage

**Screenshots**

![qwe](https://user-images.githubusercontent

[2021-02-03 15:12] vj-codes commented on #866
Assigning you @decon-harsh
Happy coding!

[2021-02-03 16:08] LucasSD commented on #740
Hi everyone! Is it ok if I work on this issue please?

[2021-02-03 21:40] devkapilbansal commented on #740
@LucasSD try asking it on [zulip](https://anitab-org.zulipchat.com/)

[2021-02-03 22:25] LucasSD commented on #740
@devkapilbansal thank you. I've mentioned it in the newcomers stream.

[2021-02-04 09:44] NenadPantelic commented on #740
@devkapilbansal @isabelcosta I think that the PR #976 already contains this and also cause of refactoring, this issue has no effect.

[2021-02-04 09:45] ashwinijha6 commented on #989
ok @vj-codes

[2021-02-04 09:49] ashwinijha6 commented on #993
Hey @devkapilbansal Can I take this up?
Also could you just let me know why the test directory should be excluded from the coverage?

[2021-02-04 12:31] devkapilbansal commented on #993
Hi, @ashwinijha6 coverage is only calculated for the source code. Here all directories are included in report and hence sometimes gives wrong result when calculating coverage for the whole project.

[2021-02-05 08:50] ashwinijha6 commented on #993
ok I got your point @devkapilbansal

[2021-02-05 16:25] decon-harsh commented on #911
@vj-codes If this is available I would love to give this a try.

[2021-02-05 18:33] surbhigoel191 commented on #571
Sorry for the late reply.
Yes, you are right, it has been resolved. We can close this issue now.

[2021-02-06 15:06] #738 closed, assigned to NenadPantelic

[2021-02-06 15:08] isabelcosta commented on #571
Closing this issue, since it's not reproducible.

[2021-02-06 15:08] #571 closed, assigned to nobody

[2021-02-06 15:21] isabelcosta commented on #740
@LucasSD I have taken a look and it was sort of fixed with the refactor.
File: https://github.com/anitab-org/mentorship-backend/blob/develop/app/api/resources/mentorship_relation.py

However, I see this line [#L57](https://github.com/anitab-org/mentorship-backend/blob/develop/app/api/resources/mentorship_relation.py#L57), where f string is defined 2 times in the same line, perhaps that could be on

[2021-02-06 15:23] isabelcosta commented on #993
I assume you don't want to work on this because you didn't mention it @devkapilbansal :)

Will assign to @ashwinijha6

[2021-02-06 15:31] devkapilbansal commented on #993
Yes, it is an issue. Therefore anyone can work on it

[2021-02-07 09:13] Sanika1999 commented on #990
Hi @vj-codes I haven't contributed to this repo before can I work on this?

[2021-02-07 14:24] LucasSD commented on #740
@isabelcosta yes please assign to me and I'll make that small change and check through the file for anything else. Thanks

[2021-02-07 17:31] isabelcosta commented on #740
@LucasSD I just assigned this to you :)

[2021-02-07 17:43] LucasSD commented on #740
@isabelcosta Thank you, I'll get this done next week

[2021-02-07 20:55] Sanika1999 commented on #990
Can someone guide me on how to get started with this. (I just realised I haven't worked on this before )

[2021-02-08 19:58] devkapilbansal commented on #989
@GenRok1729 are you working on this??

[2021-02-08 20:02] devkapilbansal commented on #990
Sure @Sanika1999
https://github.com/anitab-org/mentorship-backend/blob/2917a910ab34dd5b6f800e4eac08e8fa5ba3fa0f/app/api/dao/mentorship_relation.py#L50
For the case mentioned above, you will have to create a test in [mentorship test file](https://github.com/anitab-org/mentorship-backend/blob/develop/tests/mentorship_relation/test_dao_creation.py) and ensure it passed.

For help you can look at #988

[2021-02-09 06:55] Sanika1999 commented on #990
Thank you so much @devkapilbansal

[2021-02-09 16:01] LucasSD commented on #740
@isabelcosta I've made a couple of small changes as requested. Would it be worthwhile changing the below to f-strings too?

https://github.com/LucasSD/mentorship-backend/blob/5386228ecf17602fc196f62e17b7c3284acd1705/app/api/resources/mentorship_relation.py#L109-L117

[2021-02-09 16:05] devkapilbansal commented on #740
No, @LucasSD f-strings are required only when there is a variable with strings.

P.S. :- Giving an extra blank line between text and link will show the preview of line too

[2021-02-09 16:11] LucasSD commented on #740
@devkapilbansal No worries, I'll create the pull request later. Thank you for the tip!

[2021-02-09 19:58] isabelcosta commented on #933
Ok, so thank you @epicadk and @vj-codes for your input at the Mentorship System sync up session! I now understand why this is an issue :) I will make it available then.

[2021-02-09 20:42] isabelcosta commented on #933
@marianayap no one is working on this and this was now validated, do you still want to work on this?

[2021-02-09 21:17] isabelcosta opened #996 "Write on README how to create and run db migration script"
## Description

As a developer,
I need steps to create an Alembic migration script,
so that I can know how to create migration script and upgrade database schema version.

Write couple steps concisely on README to explain how to create and run migration script

**tip:** If you are inexperienced with alembic migrations, it might be worth it to try this out your self, by changing a property in a dat

[2021-02-10 00:09] isabelcosta commented on #740
@devkapilbansal thank you for helping here 😄 Kapil is correct here @LucasSD :)
Looking forward to seeing your pull request :)

[2021-02-10 03:24] epicadk commented on #933
I think we can also add first timers only.

[2021-02-11 08:29] ashwinijha6 commented on #993
@devkapilbansal I think the code coverage is not being calculated for the tests directory because when I run **coverage report** in the mentorship-backend directory it does not show me taking the tests directory into consideration but only app config & run
& then my venv files for which I got a total of 34%
![codecov](https://user-images.githubusercontent.com/45794450/107614965-53ebd200-6c71-11eb-

[2021-02-11 08:32] ashwinijha6 commented on #993
Could u pls check with this also just let me know do u want to exclude the test directory from codecov ui then I'll have to make changes in codecov.yml

[2021-02-11 11:06] devkapilbansal commented on #993
You have done something wrong for generating report. It is using venv too

[2021-02-11 15:43] ashwinijha6 commented on #993
ok I'll try without the venv & let u know

[2021-02-12 04:47] Sanika1999 commented on #990
![image](https://user-images.githubusercontent.com/51399803/107731171-45f28b80-6d1b-11eb-9651-1f692e58122e.png)
Update - Created Test case for MENTOR_ID_SAME_AS_MENTEE_ID and tested it. Still working on the remaining test cases.

[2021-02-12 19:18] epicadk commented on #903
@isabelcosta an update working on the doc right now as discussed in the Mentorship system open session. Sorry it's taking so long.

[2021-02-13 18:56] isabelcosta commented on #903
Thank you for the update! That's ok @epicadk :)

[2021-02-14 14:02] decon-harsh commented on #911
pinging again @vj-codes

[2021-02-14 14:09] vj-codes commented on #911
@decon-harsh sure you can, the issue should be made available due to inactivity but I don't have access to assign you at this moment .
@isabelcosta @aditmehta9 can you please assign @decon-harsh ?

[2021-02-14 15:20] isabelcosta commented on #911
@faznan3nazer do you still want to work on this issue?

[2021-02-14 15:26] ashwinijha6 commented on #993
@devkapilbansal could you help me with a screenshot of your coverage report.

[2021-02-14 15:49] ashwinijha6 commented on #993
![test](https://user-images.githubusercontent.com/45794450/107881356-063dc680-6f0a-11eb-9eea-3c1880bf912d.JPG)
I got the correct coverage report I don't know how it was taking in the venv before

[2021-02-14 21:19] vj-codes opened #998 "Remove .elasticbeanstalk folder from the code"
**Is your feature request related to a problem? Please describe.**
Since the backend is now deployed on heroku , any references or files related to elastic beanstalk should be removed from the code

**Describe the solution you'd like**
Remove the folder and the config.yml file inside it.

[2021-02-14 21:20] vj-codes commented on #998
@isabelcosta hey this can be a good first timers issue, what say?

[2021-02-14 21:23] isabelcosta commented on #998
Yes :) I honestly do not know if we are using AWS any time soon. I will add the labels. thank you so much!

[2021-02-15 09:24] vj-codes commented on #990
@Sanika1999 hey any updates with your progress?

[2021-02-15 09:25] vj-codes commented on #989
@GenRok1729 hey any updates?

[2021-02-15 09:40] Sanika1999 commented on #990
@vj-codes will complete this today or max tomorrow. Sorry took a bit long.

[2021-02-15 19:03] #740 closed, assigned to LucasSD

[2021-02-15 20:35] devkapilbansal commented on #989
@vj-codes may be @GenRok1729 is not interested in this anymore. You should make this issue available again

[2021-02-15 23:48] isabelcosta commented on #989
Thank you @devkapilbansal @vj-codes for helping to triage this issue 🙌🏾 You are soooo helpful 💯

[2021-02-16 12:28] Debanitrkl commented on #998
@isabelcosta I have just started exploring  this org and would like to take this issue and contribute

[2021-02-16 17:23] epicadk opened #1002 "Bump Flask jwt extended version to 4.0.2"
**Is your feature request related to a problem? Please describe.**

Some of the functions have changed in flask jwt extended version 4.0.2.
#999

**Describe the solution you'd like**

Bump jwt extended version to 4.0.2 and make corresponding changes to the codebase.

**Additional context**

docs for flask jwt extended ->  https://flask-jwt-extended.readthedocs.io/en/stable/

[2021-02-16 17:29] vj-codes commented on #998
Assigning you @Debanitrkl
Happy coding!

[2021-02-16 18:15] #934 closed, assigned to nobody

[2021-02-16 18:22] isabelcosta commented on #1002
related with https://github.com/anitab-org/mentorship-backend/pull/999

[2021-02-16 18:33] epicadk commented on #1002
@isabelcosta can I work on this?

[2021-02-17 09:25] PratibhaShrivastav commented on #989
Hi! I would like to work on this issue

[2021-02-17 09:30] devkapilbansal commented on #989
Sure @PratibhaShrivastav assigning you

[2021-02-18 03:58] epicadk opened #1006 "Feature: Setting a rate limit on the endpoints using flask limiter"
**Is your feature request related to a problem? Please describe.**

Heroku Does offer DDoS mitigation however, according to [this](https://help.heroku.com/HCCDCDYY/does-heroku-offer-ddos-denial-of-service-mitigation) post they strongly recommend using a rate limiter library.

**Describe the solution you'd like**

Rate limit the endpoints of the api using [flask limiter](https://flask-limiter.readt

[2021-02-18 04:07] epicadk commented on #1006
Can I work on this?

[2021-02-18 06:33] epicadk commented on #1006
Marking this as status on hold because it needs to be approved by @isabelcosta .

[2021-02-18 08:36] vj-codes commented on #993
@ashwinijha6 any updates?

[2021-02-18 08:40] vj-codes commented on #911
Unassigning @faznan3nazer due to inactivity and there was no response to the above message nor any progress was updated here.
@decon-harsh are you interested to work on this?

[2021-02-18 09:35] epicadk commented on #911
@decon-harsh would you like to work on this issue?

[2021-02-18 09:54] decon-harsh commented on #911
@vj-codes @epicadk Yes i would love to work on this , However i am bit preoccupied with my personal works . How about i send the PR in two days ? Will that work.

[2021-02-18 09:58] epicadk commented on #911
@decon-harsh Sure two days works :).
Assigning you. Happy testing!

[2021-02-18 19:53] PratibhaShrivastav commented on #989
Hi @devkapilbansal, looks like the tests for ``Task comment does not exist`` are already present. I have added tests for ``Unaccepted stale relation`` and created a PR

[2021-02-18 19:58] #957 closed, assigned to aakankshaagr

[2021-02-18 20:47] devkapilbansal commented on #603
Closing this as it was a duplicate of #574

CC: @isabelcosta

[2021-02-18 20:47] #603 closed, assigned to nobody

[2021-02-18 20:49] devkapilbansal commented on #603
@vj-codes it was solve in another issue but I mentioned #959 because there the message was corrected by @NenadPantelic stating `USERNAME_HAS_INVALID_LENGTH` rather than `USERNAME_FIELD_IS_EMPTY`

[2021-02-18 20:51] devkapilbansal commented on #603
@vj-codes here is the line
https://github.com/anitab-org/mentorship-backend/blob/f3c23604767e8952bc2a66579366310607883a4c/app/api/resources/user.py#L307

https://github.com/anitab-org/mentorship-backend/blob/f3c23604767e8952bc2a66579366310607883a4c/app/messages.py#L57-L59

[2021-02-18 20:58] vj-codes commented on #603
@devkapilbansal thank you got it:)

[2021-02-18 21:02] devkapilbansal commented on #748
`On hold` until #747 is completed and merged

[2021-02-18 21:05] devkapilbansal commented on #756
Removing `Status: Available` as there is already `Work in Progress` PR

[2021-02-18 23:16] #998 closed, assigned to Debanitrkl

[2021-02-18 23:34] #728 closed, assigned to vanditkhurana

[2021-02-19 02:51] Debanitrkl commented on #933
@epicadk could I work on this issue

[2021-02-19 02:57] devkapilbansal commented on #933
@Debanitrkl you already made a pull request. As this issue is `first timers only` we can't assign this issue to you. However you can look for other issues.

[2021-02-19 04:21] ashwinijha6 commented on #993
Yes @vj-codes I'm working on it will try to make a pull request by tmr

[2021-02-19 13:44] PratibhaShrivastav commented on #771
@rpattath @vj-codes  If still available, can I take up this issue ?

[2021-02-20 08:58] epicadk opened #1009 "Feature : Remove expiry as a response in refresh and login endpoints."
**Is your feature request related to a problem? Please describe.**

 The access_expiry and refresh_expiry aren't fields that are required on the front end as they can be accessed by decoding the token.

**Describe the solution you'd like**

Remove them as responses from the refresh and login endpoints.

**Additional context**

They are not being used in the android app as of now.

[2021-02-20 12:50] epicadk commented on #596
Can I work on this ? @vj-codes

[2021-02-20 18:36] vj-codes commented on #596
Assigning you @epicadk
Happy coding!

[2021-02-20 18:41] vj-codes commented on #141
Making the issue available due to inactivty.

[2021-02-20 18:58] vj-codes commented on #173
Clsoing as we don't use travis and black is integrated

[2021-02-20 18:58] #173 closed, assigned to nobody

[2021-02-20 18:59] vj-codes commented on #178
Closing as the codebase is refactored by black

[2021-02-20 18:59] #178 closed, assigned to nobody

[2021-02-20 19:03] vj-codes commented on #261
Closing as the code is refactored using black

[2021-02-20 19:03] #261 closed, assigned to nobody

[2021-02-20 19:05] vj-codes commented on #187
Closing since we use black and it's gh action now

[2021-02-20 19:05] #187 closed, assigned to nobody

[2021-02-20 19:07] vj-codes commented on #199
Closing since backend uses python 3.6+  and the issue occurs below that level

[2021-02-20 19:07] #199 closed, assigned to nobody

[2021-02-20 19:11] vj-codes commented on #223
@isabelcosta @devkapilbansal do we need this still ?

[2021-02-20 19:13] vj-codes commented on #230
Clsoing as readme has these parts included now

[2021-02-20 19:13] #230 closed, assigned to nobody

[2021-02-20 19:17] #262 closed, assigned to nobody

[2021-02-20 19:18] vj-codes commented on #281
Closing as python_dotenv works as explected no errors

[2021-02-20 19:18] #281 closed, assigned to nobody

[2021-02-20 19:21] vj-codes commented on #290
CLosing as no warnings are generated now and dependabot is integrated

[2021-02-20 19:21] #290 closed, assigned to nobody

[2021-02-20 19:27] vj-codes commented on #336
Putting on hold refernce [#550](https://github.com/anitab-org/mentorship-android/pull/550)

[2021-02-20 19:29] vj-codes commented on #344
Closing as PR #405 fixed this and there was no response for improvements to be added

[2021-02-20 19:29] #344 closed, assigned to nobody

[2021-02-20 19:31] vj-codes commented on #346
Closing as it's same as #768

[2021-02-20 19:31] #346 closed, assigned to nobody

[2021-02-20 19:44] devkapilbansal opened #1010 "refactor: Remove `.value` from the HTTPStatus in tests directory"
## Description
The test directory contains several instances where `.value` is added to HTTPStatus unnecessarily. One of the instance is:-
https://github.com/anitab-org/mentorship-backend/blob/df8e4a4a3c167f01750ded0c4a89fc5a3ab0b32d/tests/task_comments/test_api_delete_task_comment.py#L38

Here, `.value` can be removed as both enum and int representations of status codes are equal when asserted.

[2021-02-20 19:52] devkapilbansal commented on #359
@epicadk can you please look check this issue. It is somewhat related to JWT and you know better about the topic :smile:

[2021-02-20 20:04] Sanika1999 commented on #990
Update- I am still working on this, I am still stuck on the 2nd test case for assigning time in the past, something keeps breaking. I have reached out about this on zulip and got some solutions will work on it and update again.

[2021-02-20 20:13] epicadk commented on #359
Wouldn't make sense to store the access tokens because then the api wouldn't remain stateless. We can store the refresh tokens in the database however that would require additional storage as compared to the alternative that is using the user's hashed password to sign the tokens and the if refresh tokens is compromised have the user change their password.

[2021-02-20 20:38] devkapilbansal commented on #359
I also agrees with the points mentioned above.
@isabelcosta consider reopening if needed.

[2021-02-20 20:38] #359 closed, assigned to sih99

[2021-02-20 20:54] devkapilbansal commented on #22
@isabelcosta this issue is closed by a PR from mentorship-android. Does similar types of checks exist on this repository too? If not this issue can be reopened and checks can be applied.

[2021-02-20 21:32] devkapilbansal commented on #990
@Sanika1999 if you face difficulties, you can open a draft PR and keep working on it. This way other contributors will be able to help you too

[2021-02-20 21:36] devkapilbansal commented on #195
Closing as it is a duplicate of #596

[2021-02-20 21:36] #195 closed, assigned to nobody

[2021-02-21 03:36] Ishaandham19 commented on #1010
I would like to work on this issue

[2021-02-21 04:44] epicadk commented on #1010
@devkapilbansal since this is maintenance and not a new feature I think it can be assigned.

[2021-02-21 04:45] epicadk commented on #1010
@Ishaandham19 assigning you. Happy coding.

[2021-02-21 05:13] Ishaandham19 commented on #1010
Since this is my first commit, I want to get some feedback on the process I will take to solve this issue
1) Fork -> clone -> branch -> "change code" - > push -> pull request
 2) For the "change code": I would be going through all the .py files in the "tests" directory and changing instances of .value added to HTTPStatus in the assertEqual method

[2021-02-21 05:13] Aaishpra commented on #285
@isabelcosta @daksha-aeer @vj-codes I loved this idea, and I too think it won't take much time to be executed and any simple web app (created using HTML, CSS, javascript) can be very beneficial for newcomers for setting up the application and will reduce the setup time and complexity for others too.

[2021-02-21 05:23] epicadk commented on #1010
Yes somewhat like that. Although you missed a few steps. You can go through the Readme for the setup process.
If you do face any problems feel free to ask here or on Zulip. : )

[2021-02-21 09:39] NenadPantelic commented on #771
@vj-codes Can I take it? :slightly_smiling_face:

[2021-02-21 09:52] epicadk commented on #771
@NenadPantelic Assigning you. Happy Coding : ) .

[2021-02-21 11:48] vj-codes commented on #724
Closing as flutter and ios have been added currently

[2021-02-21 11:48] #724 closed, assigned to 19-pragya

[2021-02-21 11:56] vj-codes commented on #760
Putting on hold as the best approach is not decided yet

[2021-02-21 12:40] NenadPantelic commented on #771
Thanks @epicadk :slightly_smiling_face:

[2021-02-21 14:08] epicadk commented on #596
Should I also handle race conditions? @isabelcosta @faznan3nazer

[2021-02-21 19:54] #702 closed, assigned to saikirankv

[2021-02-21 20:06] isabelcosta commented on #285
@Aaishpra I think it could be more helpful to improve the README including these steps:

If we do something like this, then it would be useful not just for this project but for all of our project and should be done in a more generic way. In this way should be separate from this project.

I think this is a nice idea with good intentions, but I would prefer having more clear instructions on README,

[2021-02-21 20:07] #285 closed, assigned to nobody

[2021-02-21 20:09] isabelcosta commented on #596
@epicadk which race conditions?

[2021-02-21 20:14] epicadk commented on #596
Currently , we first check if the username is available or not and then proceed to updating it . However this isn't how it should be implemented because what happens when two users try to register with the same username and almost the same time? It would lead to an unexpected error. So we shouldn't query the database to check if the username if available or not but rather just update the username

[2021-02-21 20:18] isabelcosta commented on #990
++1 to what @devkapilbansal said!
@Sanika1999 feel free to create the draft PR and we can suggest improvements on it

[2021-02-21 20:19] Sanika1999 commented on #990
Sure @isabelcosta and @devkapilbansal  will do that. Thanks

[2021-02-21 20:24] epicadk commented on #596
@isabelcosta I can't seem to find the link to the resource where I read about this but I can try to explain here. So consider 2 users user1 and user2. Suppose both of them want to ( in this case) change their existing username to the new same username. So what'll happen is first user1's request will check if the username is already taken and it will find that the username does not exist in the dat

[2021-02-21 20:33] epicadk commented on #596
I'm sorry that probably doesn't explain it well enough maybe I can try in the mentorship open session.

[2021-02-21 22:09] isabelcosta commented on #596
No problem @epicadk we'll discuss in the meeting :)

[2021-02-21 22:31] bartekpacia commented on #278
I did it long time ago in #292, but can't bring that branch up to date with master right now

[2021-02-21 23:17] isabelcosta commented on #22
@devkapilbansal in this repository there are no security checks on the password, currently.
This isn't a huge priority, that is why I haven't done anything about this yet 🤔

[2021-02-22 05:49] b-thebest commented on #1009
Hello sir,
Could I take up this issue. I have experience of working with REST APIs and would like to start contributing using this issue.
Thank you

[2021-02-22 07:01] epicadk commented on #1009
Hello @b-thebest , welcome to the organisation. This issue still needs to be approved by @isabelcosta .You can try pinging her on zulip In the mean time you can start working on issue that have a label status available . Goodluck : )

[2021-02-22 07:04] Aaishpra commented on #285
Got it thanks for the explanation @isabelcosta  :hugs: , I too agree now that maintaining another application, which isn't adding anything else than setting up the .env variable for the project is not very beneficial and time-consuming for the project (considering we already have a lot of issues to manage here and another project means new issues and new bugs/feature), although I think the current

[2021-02-22 07:19] kartikeysaran commented on #933
I would like to work on this issue

[2021-02-22 07:29] epicadk commented on #933
@kartikeysaran just to make sure. Is this your first contribution on this repository?

[2021-02-22 07:56] kartikeysaran commented on #933
Not made any contributions yet in this repo

[2021-02-22 07:57] devkapilbansal commented on #933
@kartikeysaran assigning you. 👍

[2021-02-22 11:44] b-thebest commented on #1009
@epicadk I don't use Zulip and also don't have idea about that software. How can I reach her

[2021-02-22 12:09] epicadk commented on #1009
@b-thebest You can use the website for zulip as well. It is mentioned in the contact section of the readme. https://github.com/anitab-org/mentorship-backend#contact. If you still can't sign up you can wait till she responds here but it may take a little while longer.

[2021-02-22 22:35] isabelcosta opened #1013 "Remove .github/ISSUE_TEMPLATE folder"
## Description

As a org admin / maintainer,
I need to maintain 1 version of issue templates used in the organization,
so that I can avoid duplicating work and having different versions of the templates, when we want to use the same ones across all projects.

Because the issue templates are now on https://github.com/anitab-org/.github, we don't need to have issue templates present in the repositor

[2021-02-22 22:59] isabelcosta commented on #285
Cool @aadityamp01 ! I am happy you agree, but I want you to know that if you did not I would welcome your input 🤗

[2021-02-22 23:39] isabelcosta commented on #1006
@epicadk this sounds amazing. This is the kind of thing I only learned this year, so I really appreciate you coming with these "out of the box" ideas 🤗 I will approve this. Could you link the library in the description of the issue and add a little more information if you have more.

[2021-02-23 06:55] sahil9001 opened #1014 "Add single Authorization Token field to avoid copy pasting everytime in the requests | CROSS PROJECT ISSUE"
**Is your feature request related to a problem? Please describe.**
Refer conversation here : https://github.com/anitab-org/bridge-in-tech-backend/issues/196

Currently every request requires to enter the Authorisation Token every time, instead what we can do is add a single field for Authorisation so we don't have to enter it every time.

**Describe the solution you'd like**
Currently in every req

[2021-02-23 06:55] sahil9001 commented on #1014
@mtreacy002 @epicadk

[2021-02-23 20:21] isabelcosta commented on #297
Thank you @NenadPantelic for bringing this to our attention and @devkapilbansal for confirming it! as you said on Zulip, these are the issues related:

- https://github.com/anitab-org/mentorship-backend/issues/403
- https://github.com/anitab-org/mentorship-backend/issues/420
- https://github.com/anitab-org/mentorship-backend/issues/759
- https://github.com/anitab-org/mentorship-backend/issues/760